<aj-wrapper #wrapper class="no-padding" id="simu-wrapper" title="Simulateur" [actionTemplate]="actions"
  [alignLeft]="true" [documentation]="documentation" (pageSelected)="reloadPage()" [actionsLeftTemplate]="actionsLeft">
  <div class="progress-bar" *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <!-- SIMULATEUR STD & BLANC - CHOIX PERIODE -->
  <div class="date-bar-container" [ngClass]="{'white-border': whiteSimulator === true}">
    <div class="categories-switch" [ngClass]="{'disable': categorySelected===null}">
      <div *ngIf="canViewMagistrat" class="magistrats {{disabled}}"
        [ngClass]="{'selected': categorySelected === 'MAGISTRAT',  alone: !canViewGreffier}"
        (click)="$event.stopPropagation(); changeCategorySelected('MAGISTRAT'); ">
        <input type="radio" [checked]="categorySelected === 'MAGISTRAT'" />
        <p>Siège</p>
      </div>
      <div *ngIf="canViewGreffier" class="fonctionnaires {{disabled}}"
        [ngClass]="{'selected': categorySelected === 'GREFFE', alone: !canViewMagistrat}" class="fonctionnaires"
        (click)="$event.stopPropagation(); changeCategorySelected('GREFFE')">
        <input type="radio" [ngClass]="{'pink': categorySelected === 'GREFFE'}"
          [checked]="categorySelected === 'GREFFE'" />
        <p>Greffe</p>
      </div>
    </div>

    <aj-period-selector #periodSelector [whiteSimulator]="whiteSimulator"></aj-period-selector>
  </div>

  <!-- SIMULATEUR BLANC - SITUATION DEBUT + PROJETE-->
  <aj-editable-situation *ngIf="dateStop!==null && dateStop!==undefined" [@fadeInOut] [category]="categorySelected"
    [endDateToDisplay]="stopRealValue"></aj-editable-situation>

  <!-- SIMULATEUR BLANC - AJUSTEMENT-->
  <div class="actual-situation actual-situation-white color-white white-actual-situation-height"
    *ngIf="dateStop!==null  && whiteSimulator && displayWhiteElements" [@fadeInOut]>
    <div class="container">
      <div class="line-title white-title">
        <p>
          Modifier<br />
          des paramètres
        </p>
      </div>
      <!-- POPUP PARAM LOCK-->
      <aj-popup class="popup" *ngIf="toSimulate===true && whiteSimulator ===true " [closeIcon]="true"
        (onClose)="toSimulate = false" [removeShadow]="'noShadow'">
        <div id="circle">
          <img src="/assets/icons/calculatrice.svg" />
        </div>
        <p>Je souhaite lancer la simulation...</p>
        <div class="choices">
          <div class="choice"
            (click)="selectParamToLock(0,[totalInWhite, totalOutWhite, lastStockWhite, etpMagWhite,etpFonWhite, realCoverageWhite, realDTESInMonthsWhite, magRealTimePerCaseWhite])">
            à {{getLockedParamLabel(0)}}
            <br />constant{{getLockedParamLabel(0)!=='entrées
            mensuelles'&&getLockedParamLabel(0)!=='sorties mensuelles'?'':'es'}}
          </div>
          <div class="choice"
            (click)="selectParamToLock(1,[totalInWhite, totalOutWhite, lastStockWhite, etpMagWhite,etpFonWhite, realCoverageWhite, realDTESInMonthsWhite, magRealTimePerCaseWhite])">
            à {{getLockedParamLabel(1)}}
            <br />constant{{getLockedParamLabel(1)!=='entrées
            mensuelles'&&getLockedParamLabel(1)!=='sorties mensuelles'?'':'es'}}
          </div>
        </div>
      </aj-popup>

      <!-- POPUP AJUSTEMENT-->
      <aj-popup *ngIf="openPopup===true" [actions]="[
      { id: 'modify', content: 'Ajuster', fill: true }
      ]" [closeIcon]="true" (onClose)="openPopup = false" [removeShadow]="'noShadow'"
        (keypress)="onKeypressEvent($event,volume.value,buttonSelected,[totalInWhite, totalOutWhite, lastStockWhite, etpMagWhite, realCoverageWhite,realDTESInMonthsWhite,magRealTimePerCaseWhite])"
        (selectedAction)="setParamsToAjust(volume.value,buttonSelected,[totalInWhite, totalOutWhite, lastStockWhite, etpMagWhite, realCoverageWhite,realDTESInMonthsWhite,magRealTimePerCaseWhite])">
        <div id="circle">
          <img src="/assets/icons/stock.svg" />
        </div>
        <p>Ajustement {{getText('title')}}</p>

        <div class="rectangle">
          <div class="title"
            *ngIf="buttonSelected.id !== 'etpMag' && buttonSelected.id !== 'etpFon' &&buttonSelected.id !== 'totalOut' && buttonSelected.id !== 'totalIn'&& buttonSelected.id !== 'magRealTimePerCase'">
            Atteindre au {{stopRealValue}} <br />
            {{getText('firstInput')}} :
          </div>
          <div class="title"
            *ngIf="buttonSelected.id === 'etpMag' || buttonSelected.id === 'etpFon' ||buttonSelected.id === 'totalOut'|| buttonSelected.id === 'totalIn'|| buttonSelected.id === 'magRealTimePerCase'">
            Appliquer sur la période {{startRealValue? "du":"d'"}}
            {{startRealValue||"aujourd'hui"}} au {{stopRealValue}} {{
            buttonSelected.id==='etpFon' ? "un volume moyen d'ETPT greffe":
            buttonSelected.id==='etpMag' ? "un volume moyen d'ETPT magistrat":
            buttonSelected.id === 'totalOut'?"un volume moyen de sorties
            mensuelles": buttonSelected.id === 'totalIn'? "un volume moyen
            d'entrées mensuelles":"un temps moyen par dossier"}} de :
          </div>
          <input [class.displayNone]="buttonSelected.id === 'magRealTimePerCase'" type="number"
            (oninput)="onUpdateValueToAjust($event)" (focusin)="resetPercentage = true"
            (focusout)="resetPercentage = false" value="{{valueSaved(1)}}" #volume />
          <app-time-selector *ngIf="buttonSelected.id === 'magRealTimePerCase'" [value]="parseFloat(volume.value)"
            [category]="'MAGISTRATS'" (valueChange)="valueChange(volume,$event)" (focusin)="resetPercentage = true"
            (focusout)="resetPercentage = false" [defaultValue]="parseFloat(volume.value)||-1"></app-time-selector>
        </div>

        <div class="rectangle" *ngIf="getNbOfParams()===2 ||buttonSelected.id === 'magRealTimePerCase'">
          <div class="title">
            Définir {{getText('secondInput')}} :<br />
            <span>(en % par rapport à la situation {{startRealValue? 'au' : "d'"}}
              {{startRealValue||"aujourd'hui"}})</span>
          </div>
          <aj-input-percentage (focusin)="volume.value = ''"
            [float]="buttonSelected.id === 'magRealTimePerCase'?true:false"
            [referenceValue]="getReferenceValue(getFieldValue(buttonSelected.id,firstSituationData),buttonSelected.id === 'magRealTimePerCase'?true:false)"
            [reset]="resetPercentage" [defaultValue]="valueSaved(2)" (valueChange)="onUpdateValueToAjust($event)">
          </aj-input-percentage>
        </div>

        <div class="rectangle" *ngIf="buttonSelected.id === 'etpMag'||buttonSelected.id === 'etpFon'">
          <div class="title">
            Définir une variation de :<br />
            <span>(en etp par rapport à la situation <br /> {{startRealValue? 'au' : "d'"}}
              {{startRealValue||"aujourd'hui"}})</span>
          </div>
          <aj-input-addition (focusin)="volume.value = ''"
            [referenceValue]="getReferenceValue(getFieldValue(buttonSelected.id,firstSituationData),false,true)"
            [reset]="resetPercentage" [defaultValue]="valueSaved(3)" (valueChange)="onUpdateValueToAjust($event)">
          </aj-input-addition>
        </div>

      </aj-popup>

      <!-- TOOLTIP DE MODIFICATION -->
      <div class="line-item"
        [ngClass]="{'blue-bg': !whiteSimulator, 'pink-bg':  !whiteSimulator && categorySelected === 'GREFFE'}">
        <input class="ajusted-button white-button" id="totalIn" [class.filled]="totalInWhite.value!=='Ajuster'"
          (click)="openPopupWithParams(totalInWhite)" value="Ajuster" readonly="readonly" #totalInWhite />
        <div class="modified-label" #tooltip="matTooltip" [matTooltip]="getTooltipText()" matTooltipShowDelay="0"
          matTooltipHideDelay="0"
          *ngIf="paramsToAjust.param1.label===totalInWhite.id  || paramsToAjust.param2.label===totalInWhite.id"
          [@fadeInOut]>
          {{percentageModifiedInputTextStr(totalInWhite.id,getFieldValue('totalIn',firstSituationData))}}

          <div class="triangle"></div>
        </div>
      </div>
      <div class="line-item">
        <input class="ajusted-button white-button" id="totalOut" [class.filled]="totalOutWhite.value!=='Ajuster'"
          (click)="openPopupWithParams(totalOutWhite)" value="Ajuster" readonly="readonly" #totalOutWhite />
        <div class="modified-label" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
          [matTooltipClass]="{'tooltip-orange':true}" matTooltipPosition="left" matTooltipShowDelay="0"
          matTooltipHideDelay="0"
          *ngIf="paramsToAjust.param1.label===totalOutWhite.id  || paramsToAjust.param2.label===totalOutWhite.id"
          [@fadeInOut]>
          {{percentageModifiedInputTextStr(totalOutWhite.id,getFieldValue('totalOut',firstSituationData))}}
          <div class="triangle"></div>
        </div>
      </div>
      <div class="line-item"
        [ngClass]="{'blue-bg': !whiteSimulator, 'pink-bg':  !whiteSimulator && categorySelected === 'GREFFE'}">
        <input class="ajusted-button white-button" id="lastStock" [class.filled]="lastStockWhite.value!=='Ajuster'"
          (click)="openPopupWithParams(lastStockWhite)" value="Ajuster" readonly="readonly" #lastStockWhite />
        <div class="modified-label" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
          [matTooltipClass]="{'tooltip-orange':true}" matTooltipPosition="left" matTooltipShowDelay="0"
          matTooltipHideDelay="0"
          *ngIf="paramsToAjust.param1.label===lastStockWhite.id  || paramsToAjust.param2.label===lastStockWhite.id"
          [@fadeInOut]>
          {{percentageModifiedInputTextStr(lastStockWhite.id,getFieldValue('lastStock',firstSituationData))}}

          <div class="triangle"></div>
        </div>
      </div>
      <div [ngClass]="{'hide-by-category': !canViewMagistrat || categorySelected !== 'MAGISTRAT'}" class="line-item">
        <input class="ajusted-button white-button" id="etpMag" [class.filled]="etpMagWhite.value!=='Ajuster'"
          (click)="openPopupWithParams(etpMagWhite)" value="Ajuster" readonly="readonly"
          [ngClass]="{disable: categorySelected !== 'MAGISTRAT'}" #etpMagWhite />
        <div class="modified-label" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
          [matTooltipClass]="{'tooltip-orange':true}" matTooltipPosition="left" matTooltipShowDelay="0"
          matTooltipHideDelay="0"
          *ngIf="paramsToAjust.param1.label===etpMagWhite.id  || paramsToAjust.param2.label===etpMagWhite.id"
          [@fadeInOut]>
          {{percentageModifiedInputTextStr(etpMagWhite.id,getFieldValue('etpMag',firstSituationData),false,true)}}

          <div class="triangle"></div>
        </div>
      </div>
      <div [ngClass]="{'hide-by-category': !canViewGreffier ||categorySelected !== 'GREFFE'}" class="line-item">
        <input class="ajusted-button white-button" id="etpFon" [class.filled]="etpFonWhite.value!=='Ajuster'"
          (click)="openPopupWithParams(etpFonWhite)" value="Ajuster" readonly="readonly"
          [ngClass]="{disable: categorySelected !== 'GREFFE'}" #etpFonWhite />
        <div class="modified-label" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
          [matTooltipClass]="{'tooltip-orange':true}" matTooltipPosition="left" matTooltipShowDelay="0"
          matTooltipHideDelay="0"
          *ngIf="paramsToAjust.param1.label===etpFonWhite.id  || paramsToAjust.param2.label===etpFonWhite.id"
          [@fadeInOut]>
          {{percentageModifiedInputTextStr(etpFonWhite.id,getFieldValue('etpFon',firstSituationData),false,true)}}
          <div class="triangle"></div>
        </div>
      </div>
      <div [ngClass]="{'hide-by-category': !canViewContractuel||whiteSimulator}" class="line-item">
        <input class="ajusted-button white-button disable" id="etpCont" [class.filled]="etpContWhite.value!=='Ajuster'"
          (click)="openPopupWithParams(etpContWhite)" value="Ajuster" readonly="readonly" #etpContWhite />
        <div class="modified-label" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
          [matTooltipClass]="{'tooltip-orange':true}" matTooltipPosition="left" matTooltipShowDelay="0"
          matTooltipHideDelay="0"
          *ngIf="paramsToAjust.param1.label===etpContWhite.id  || paramsToAjust.param2.label===etpContWhite.id"
          [@fadeInOut]>
          {{percentageModifiedInputTextStr(etpContWhite.id,getFieldValue('etpCont',firstSituationData))}}

          <div class="triangle"></div>
        </div>
      </div>
      <div class="line-item"
        [ngClass]="{'blue-bg': !whiteSimulator, 'pink-bg': !whiteSimulator && categorySelected === 'GREFFE'}">
        <input class="ajusted-button white-button" id="realCoverage"
          [class.filled]="realCoverageWhite.value!=='Ajuster'" (click)="openPopupWithParams(realCoverageWhite)"
          value="Ajuster" readonly="readonly" #realCoverageWhite />
        <div class="modified-label" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
          [matTooltipClass]="{'tooltip-orange':true}" matTooltipPosition="left" matTooltipShowDelay="0"
          matTooltipHideDelay="0"
          *ngIf="paramsToAjust.param1.label===realCoverageWhite.id  || paramsToAjust.param2.label===realCoverageWhite.id"
          [@fadeInOut]>
          {{percentageModifiedInputTextStr(realCoverageWhite.id,getFieldValue('realCoverage',firstSituationData),true)}}
          <div class="triangle"></div>
        </div>
      </div>
      <div class="line-item">
        <input class="ajusted-button white-button" id="realDTESInMonths"
          [class.filled]="realDTESInMonthsWhite.value!=='Ajuster'" (click)="openPopupWithParams(realDTESInMonthsWhite)"
          value="Ajuster" readonly="readonly" #realDTESInMonthsWhite />
        <div class="modified-label" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
          [matTooltipClass]="{'tooltip-orange':true}" matTooltipPosition="left" matTooltipShowDelay="0"
          matTooltipHideDelay="0"
          *ngIf="paramsToAjust.param1.label===realDTESInMonthsWhite.id  || paramsToAjust.param2.label===realDTESInMonthsWhite.id"
          [@fadeInOut]>
          {{percentageModifiedInputTextStr(realDTESInMonthsWhite.id,getFieldValue('realDTESInMonths',firstSituationData))}}

          <div class="triangle"></div>
        </div>
      </div>
      <div class="line-item"
        [ngClass]="{'blue-bg': !whiteSimulator, 'pink-bg': !whiteSimulator && categorySelected === 'GREFFE'}">
        <input class="ajusted-button white-button" id="magRealTimePerCase"
          [class.filled]="magRealTimePerCaseWhite.value!=='Ajuster'"
          (click)="openPopupWithParams(magRealTimePerCaseWhite)" value="Ajuster" readonly="readonly"
          #magRealTimePerCaseWhite />
        <div class="modified-label" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
          [matTooltipClass]="{'tooltip-orange':true}" matTooltipPosition="left" matTooltipShowDelay="0"
          matTooltipHideDelay="0"
          *ngIf="paramsToAjust.param1.label===magRealTimePerCaseWhite.id  || paramsToAjust.param2.label===magRealTimePerCaseWhite.id"
          [@fadeInOut]>
          {{percentageModifiedInputTextStr(magRealTimePerCaseWhite.id,getFieldValue('magRealTimePerCase',firstSituationData,true))}}
          <div class="triangle"></div>
        </div>
      </div>
      <div class="line-item" [style]="!whiteSimulator?'flex: 0.855 !important;': 'flex: 1.5 !important;'"></div>
    </div>

    <div class="white-date-selector white-action-container" *ngIf="displayWhiteElements">
      <div class="init-button"
        (click)="toDisplaySimulation ? onUserActionClick(action.reinit, [totalInWhite, totalOutWhite, lastStockWhite, categorySelected === 'MAGISTRAT' ?etpMagWhite:etpFonWhite, realCoverageWhite, realDTESInMonthsWhite, magRealTimePerCaseWhite]) : initParams([totalInWhite, totalOutWhite, lastStockWhite, categorySelected === 'MAGISTRAT' ?etpMagWhite:etpFonWhite, realCoverageWhite, realDTESInMonthsWhite, magRealTimePerCaseWhite])">
        <p class="title">Réinitialiser les ajustements</p>
      </div>
      <div class="simulate-button {{simulateButton}}">
        <p class="title"
          (click)="simulate([totalInWhite, totalOutWhite, lastStockWhite, categorySelected === 'MAGISTRAT' ?etpMagWhite:etpFonWhite, realCoverageWhite, realDTESInMonthsWhite, magRealTimePerCaseWhite])">
          Simuler
        </p>
      </div>
    </div>
  </div>

  <!-- ALL SIMULATORS - TITRE Résultat de simulation + HEADER situation simulée -->
  <div class="simulation-bottom" *ngIf="toDisplaySimulation && hasNoNullValue(firstSituationData)">
    <div class="header-simulation">
      <p class="simulation-title">
        Résultat de la simulation

        <span *ngIf="paramsToLock.param1.label!==''">à {{getLockedResultedParams(0)}}
          constant{{getLockedResultedParams(0)!=='entrées mensuelles'&&
          getLockedResultedParams(0)!=='sorties mensuelles'?'':'es'}}</span>

        <span *ngIf=" paramsToLock.param2.label!==''">
          et à {{getLockedResultedParams(1)}}
          constant{{getLockedResultedParams(1)!=='entrées mensuelles'&&
          getLockedResultedParams(1)!=='sorties mensuelles'?'':'es'}}</span>
        :
      </p>
      <div id="export-button-1" class="export-button" [class.enable]="toDisplaySimulation" (click)="print()">
        <mat-icon class="shape">save</mat-icon>
        <p class="title">Exporter en PDF</p>
      </div>
    </div>
    <div class="simulation-table">
      <div class="items">
        <div class="item blue-bg"
          [ngClass]="{'pink-bg': categorySelected === 'GREFFE' && !whiteSimulator,'no-bg':whiteSimulator}">
          <p>Entrées mensuelles</p>
        </div>
        <div class="item">
          <p>Sorties mensuelles</p>
        </div>
        <div class="item blue-bg"
          [ngClass]="{'pink-bg': categorySelected === 'GREFFE' && !whiteSimulator,'no-bg':whiteSimulator}">
          <p>Stock</p>
        </div>
        <div *ngIf="canViewMagistrat && categorySelected === 'MAGISTRAT'" class="item">
          <p>ETPT siège</p>
        </div>
        <div *ngIf="canViewGreffier && categorySelected === 'GREFFE'" class="item blue-bg"
          [ngClass]="{'no-bg':whiteSimulator}">
          <p>ETPT greffe</p>
        </div>
        <div *ngIf="canViewContractuel" class="item" [ngClass]="{'display-none': whiteSimulator}">
          <p>ETPT EAM</p>
        </div>
        <div class="item blue-bg"
          [ngClass]="{'pink-bg': categorySelected === 'GREFFE' && !whiteSimulator,'no-bg':whiteSimulator }">
          <p>Taux de couverture</p>
        </div>
        <div class="item">
          <p>DTES</p>
        </div>
        <div class="item blue-bg"
          [ngClass]="{'pink-bg': categorySelected === 'GREFFE' && !whiteSimulator,'no-bg':whiteSimulator }">
          <p>Temps moyen / dossier</p>
        </div>
      </div>
    </div>

    <!-- ALL SIMULATOR - Situation simulée -->
    <div class="simulation-situation" *ngIf="toDisplaySimulation && hasNoNullValue(firstSituationData)" [@fadeInOut]>
      <div class="line-title">
        <p>
          Situation simulée<br />
          au {{stopRealValue}}
        </p>
      </div>
      <div class="item-container">
        <div class="line-item" #tooltip="matTooltip"
          [matTooltip]="'Valeur exacte d\'entrées utilisée dans les calculs : '+ trunc('totalIn',simulatedSationData,false,true)"
          matTooltipPosition="left" matTooltipShowDelay="0" matTooltipHideDelay="0">
          <input [value]="getFieldValue('totalIn',simulatedSationData)" disabled />
          <div class="modified-label simulated" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            [matTooltipClass]="{'tooltip-orange':true}" matTooltipPosition="left" matTooltipShowDelay="0"
            matTooltipHideDelay="0"
            *ngIf="paramsToAjust.param1.label==='totalIn'  || paramsToAjust.param2.label==='totalIn'" [@fadeInOut]>
            {{percentageModifiedInputTextStr('totalIn',getFieldValue('totalIn',firstSituationData))}}

            <div class="triangle simulated"></div>
          </div>
          <div class="modified-label simulated blue" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            matTooltipPosition="left" matTooltipShowDelay="0" matTooltipHideDelay="0"
            [matTooltipClass]="{'tooltip-gray':true}"
            *ngIf="!(paramsToAjust.param1.label==='totalIn'  || paramsToAjust.param2.label==='totalIn') && getFieldValue('totalIn',simulatedSationData)!==getFieldValue('totalIn',firstSituationData)"
            [@fadeInOut]>
            {{ratioStr(getFieldValue('totalIn',simulatedSationData),getFieldValue('totalIn',firstSituationData))}}

            <div class="triangle simulated blue"></div>
          </div>
        </div>
        <div class="line-item">
          <input [value]="getFieldValue('totalOut',simulatedSationData)" disabled />
          <div class="modified-label simulated" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            [matTooltipClass]="{'tooltip-orange':true}" matTooltipPosition="left" matTooltipShowDelay="0"
            matTooltipHideDelay="0"
            *ngIf="paramsToAjust.param1.label==='totalOut'  || paramsToAjust.param2.label==='totalOut'" [@fadeInOut]>
            {{percentageModifiedInputTextStr('totalOut',getFieldValue('totalOut',firstSituationData))}}

            <div class="triangle simulated"></div>
          </div>
          <div class="modified-label simulated blue" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            [matTooltipClass]="{'tooltip-gray':true}" matTooltipPosition="left" matTooltipShowDelay="0"
            matTooltipHideDelay="0"
            *ngIf="!(paramsToAjust.param1.label==='totalOut'  || paramsToAjust.param2.label==='totalOut') && getFieldValue('totalOut',simulatedSationData)!==getFieldValue('totalOut',firstSituationData)"
            [@fadeInOut]>
            {{ratioStr(getFieldValue('totalOut',simulatedSationData),getFieldValue('totalOut',firstSituationData))}}

            <div class="triangle simulated blue"></div>
          </div>
        </div>
        <div class="line-item">
          <input [value]="getFieldValue('lastStock',simulatedSationData)" disabled />
          <div class="modified-label simulated" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            [matTooltipClass]="{'tooltip-orange':true}" matTooltipPosition="left" matTooltipShowDelay="0"
            matTooltipHideDelay="0"
            *ngIf="paramsToAjust.param1.label==='lastStock'  || paramsToAjust.param2.label==='lastStock'" [@fadeInOut]>
            {{percentageModifiedInputTextStr('lastStock',getFieldValue('lastStock',firstSituationData))}}

            <div class="triangle simulated"></div>
          </div>
          <div class="modified-label simulated blue" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            [matTooltipClass]="{'tooltip-gray':true}" matTooltipPosition="left" matTooltipShowDelay="0"
            matTooltipHideDelay="0"
            *ngIf="!(paramsToAjust.param1.label==='lastStock'  || paramsToAjust.param2.label==='lastStock') && getFieldValue('lastStock',simulatedSationData)!==getFieldValue('lastStock',firstSituationData)"
            [@fadeInOut]>
            {{ratioStr(getFieldValue('lastStock',simulatedSationData),getFieldValue('lastStock',firstSituationData))}}

            <div class="triangle simulated blue"></div>
          </div>
        </div>
        <div *ngIf="canViewMagistrat && categorySelected==='MAGISTRAT'" class="line-item">
          <input [value]="getFieldValue('etpMag',simulatedSationData)" disabled />
          <div class="modified-label simulated" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            [matTooltipClass]="{'tooltip-orange':true}" matTooltipPosition="left" matTooltipShowDelay="0"
            matTooltipHideDelay="0"
            *ngIf="paramsToAjust.param1.label==='etpMag'  || paramsToAjust.param2.label==='etpMag'" [@fadeInOut]>
            {{percentageModifiedInputTextStr('etpMag',getFieldValue('etpMag',firstSituationData),false,true)}}

            <div class="triangle simulated"></div>
          </div>
          <div class="modified-label simulated blue" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            [matTooltipClass]="{'tooltip-gray':true}" matTooltipPosition="left" matTooltipShowDelay="0"
            matTooltipHideDelay="0"
            *ngIf="!(paramsToAjust.param1.label==='etpMag'  || paramsToAjust.param2.label==='etpMag') && getFieldValue('etpMag',simulatedSationData)!==getFieldValue('etpMag',firstSituationData)"
            [@fadeInOut]>
            {{ratioStr(getFieldValue('etpMag',simulatedSationData),getFieldValue('etpMag',firstSituationData))}}

            <div class="triangle simulated blue"></div>
          </div>
        </div>
        <div *ngIf="canViewGreffier && categorySelected==='GREFFE'" class="line-item">
          <input [value]="getFieldValue('etpFon',simulatedSationData)" disabled />
          <div class="modified-label simulated" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            [matTooltipClass]="{'tooltip-orange':true}" matTooltipPosition="left" matTooltipShowDelay="0"
            matTooltipHideDelay="0"
            *ngIf="paramsToAjust.param1.label==='etpFon'  || paramsToAjust.param2.label==='etpFon'" [@fadeInOut]>
            {{percentageModifiedInputTextStr('etpFon',getFieldValue('etpFon',firstSituationData),false,true)}}

            <div class="triangle simulated"></div>
          </div>
          <div class="modified-label simulated blue" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            [matTooltipClass]="{'tooltip-gray':true}" matTooltipPosition="left" matTooltipShowDelay="0"
            matTooltipHideDelay="0"
            *ngIf="!(paramsToAjust.param1.label==='etpFon'  || paramsToAjust.param2.label==='etpFon') && getFieldValue('etpFon',simulatedSationData)!==getFieldValue('etpFon',firstSituationData) && whiteSimulator===false"
            [@fadeInOut]>
            {{ratioStr(getFieldValue('etpFon',simulatedSationData),getFieldValue('etpFon',firstSituationData))}}

            <div class="triangle simulated blue"></div>
          </div>
        </div>

        <div *ngIf="canViewContractuel" [style.visibility]="'hidden'" class="line-item"
          [ngClass]="{'display-none': whiteSimulator }">
          <input [value]="getFieldValue('etpCont',projectedSituationData)" disabled />
          <div class="modified-label simulated" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            [matTooltipClass]="{'tooltip-orange':true}" matTooltipPosition="left" matTooltipShowDelay="0"
            matTooltipHideDelay="0"
            *ngIf="paramsToAjust.param1.label==='etpCont'  || paramsToAjust.param2.label==='etpCont'" [@fadeInOut]>
            {{percentageModifiedInputTextStr('etpCont',getFieldValue('etpCont',firstSituationData))}}

            <div class="triangle simulated"></div>
          </div>
          <div class="modified-label simulated blue" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            [matTooltipClass]="{'tooltip-gray':true}" matTooltipPosition="left" matTooltipShowDelay="0"
            matTooltipHideDelay="0"
            *ngIf="!(paramsToAjust.param1.label==='etpCont'  || paramsToAjust.param2.label==='etpCont') && getFieldValue('etpCont',projectedSituationData)!==getFieldValue('etpCont',firstSituationData) && whiteSimulator===false"
            [@fadeInOut]>
            {{ratioStr(getFieldValue('etpCont',projectedSituationData),getFieldValue('etpCont',firstSituationData))}}
            <div class="triangle simulated blue"></div>
          </div>
        </div>

        <div class="line-item">
          <input [value]="getFieldValue('realCoverage',simulatedSationData)" disabled />
          <div class="modified-label simulated" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            [matTooltipClass]="{'tooltip-orange':true}" matTooltipPosition="left" matTooltipShowDelay="0"
            matTooltipHideDelay="0"
            *ngIf="paramsToAjust.param1.label==='realCoverage'  || paramsToAjust.param2.label==='realCoverage'"
            [@fadeInOut]>
            {{percentageModifiedInputTextStr('realCoverage',getFieldValue('realCoverage',firstSituationData),true)}}

            <div class="triangle simulated"></div>
          </div>
          <div class="modified-label simulated blue" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            [matTooltipClass]="{'tooltip-gray':true}" matTooltipPosition="left" matTooltipShowDelay="0"
            matTooltipHideDelay="0"
            *ngIf="!(paramsToAjust.param1.label==='realCoverage'  || paramsToAjust.param2.label==='realCoverage') && getFieldValue('realCoverage',simulatedSationData)!==getFieldValue('realCoverage',firstSituationData)"
            [@fadeInOut]>
            {{calculCoverage(parseFloat(getFieldValue('realCoverage',simulatedSationData)),parseFloat(getFieldValue('realCoverage',firstSituationData)))>=
            0 ? '+' +
            calculCoverage(parseFloat(getFieldValue('realCoverage',simulatedSationData)),parseFloat(getFieldValue('realCoverage',firstSituationData)))
            :
            calculCoverage(parseFloat(getFieldValue('realCoverage',simulatedSationData)),parseFloat(getFieldValue('realCoverage',firstSituationData)))
            }}pts

            <div class="triangle simulated blue"></div>
          </div>
        </div>
        <div class="line-item">
          <input [value]="getFieldValue('realDTESInMonths',simulatedSationData)" disabled />
          <div class="modified-label simulated" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            [matTooltipClass]="{'tooltip-orange':true}" matTooltipPosition="left" matTooltipShowDelay="0"
            matTooltipHideDelay="0"
            *ngIf="paramsToAjust.param1.label==='realDTESInMonths'  || paramsToAjust.param2.label==='realDTESInMonths'"
            [@fadeInOut]>
            {{percentageModifiedInputTextStr('realDTESInMonths',getFieldValue('realDTESInMonths',firstSituationData))}}

            <div class="triangle simulated"></div>
          </div>
          <div class="modified-label simulated blue" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            [matTooltipClass]="{'tooltip-gray':true}" matTooltipPosition="left" matTooltipShowDelay="0"
            matTooltipHideDelay="0"
            *ngIf="!(paramsToAjust.param1.label==='realDTESInMonths'  || paramsToAjust.param2.label==='realDTESInMonths') && getFieldValue('realDTESInMonths',simulatedSationData)!==getFieldValue('realDTESInMonths',firstSituationData)"
            [@fadeInOut]>
            {{ratioStr(getFieldValue('realDTESInMonths',simulatedSationData),getFieldValue('realDTESInMonths',firstSituationData))}}

            <div class="triangle simulated blue"></div>
          </div>
        </div>
        <div class="line-item">
          <input [value]="getFieldValue('magRealTimePerCase',simulatedSationData)" disabled />
          <div class="modified-label simulated" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            [matTooltipClass]="{'tooltip-orange':true}" matTooltipPosition="left" matTooltipShowDelay="0"
            matTooltipHideDelay="0"
            *ngIf="paramsToAjust.param1.label==='magRealTimePerCase'  || paramsToAjust.param2.label==='magRealTimePerCase'"
            [@fadeInOut]>
            {{percentageModifiedInputTextStr('magRealTimePerCase',getFieldValue('magRealTimePerCase',firstSituationData,true))}}

            <div class="triangle simulated"></div>
          </div>
          <div class="modified-label simulated blue" #tooltip="matTooltip" [matTooltip]="getTooltipText()"
            [matTooltipClass]="{'tooltip-gray':true}" matTooltipPosition="left" matTooltipShowDelay="0"
            matTooltipHideDelay="0"
            *ngIf="!(paramsToAjust.param1.label==='magRealTimePerCase'  || paramsToAjust.param2.label==='magRealTimePerCase') && getFieldValue('magRealTimePerCase',simulatedSationData)!==getFieldValue('magRealTimePerCase',firstSituationData)"
            [@fadeInOut]>
            {{ratioStr(getFieldValue('magRealTimePerCase',simulatedSationData,true,true),getFieldValue('magRealTimePerCase',firstSituationData,true,true))}}
            <div class="triangle simulated blue"></div>
          </div>
        </div>
      </div>
    </div>

    <aj-dtes-chart></aj-dtes-chart>
    <aj-etp-chart [whiteSimulator]="true" [categorySelected]="categorySelected||'MAGISTRAT'"
      [canViewMagistrat]="categorySelected==='MAGISTRAT'" [canViewGreffier]="categorySelected!=='MAGISTRAT'"
      [canViewContractuel]="false"></aj-etp-chart>
    <aj-in-out-chart></aj-in-out-chart>

    <!-- WIDGETS -->
    <div class="widgets">
      <aj-loaders-widget [dateStart]="startRealValue" [dateStop]="stopRealValue" [print]="onPrint"
        [valueAt]="getFieldValue('realDTESInMonths',firstSituationData)"
        [valueProjected]="getFieldValue('realDTESInMonths',projectedSituationData)"
        [valueSimulated]="getFieldValue('realDTESInMonths',simulatedSationData)"></aj-loaders-widget>
      <aj-figures-widget [dateStart]="startRealValue" [dateStop]="stopRealValue" [print]="onPrint"
        [valueAt]="getFieldValue('magRealTimePerCase',firstSituationData)"
        [valueProjected]="getFieldValue('magRealTimePerCase',projectedSituationData)"
        [valueSimulated]="getFieldValue('magRealTimePerCase',simulatedSationData)"></aj-figures-widget>
      <aj-dial-widget [dateStart]="startRealValue" [dateStop]="stopRealValue" [print]="onPrint"
        [valueProjected]="getFieldValue('realCoverage',projectedSituationData)"
        [valueSimulated]="getFieldValue('realCoverage',simulatedSationData)"></aj-dial-widget>
    </div>
    <div class="comment-row">
      <div class="space"></div>
      <div class="comment">
        <div class="header-comment">
          <p><b>Notes et commentaires</b><br /></p>
        </div>
        <textarea id="comment-area" #commentaireSimulateur placeholder="Commentaire"
          (keyup)="setComment($event)"></textarea>
        <div id="comment-area-copy">{{commentaire}}</div>
      </div>
      <div class="space"></div>
    </div>
    <div class="button-row">
      <div id="export-button" class="export-button bottom" [class.enable]="toDisplaySimulation" (click)="print()">
        <mat-icon class="shape">save</mat-icon>
        <p class="title">Exporter cette simulation en PDF</p>
      </div>
    </div>
  </div>

  <aj-popup *ngIf="printPopup" class="small" [closeIcon]="true"
    (onClose)="printPopup = false;nextState = null;onResetUserAction()" title="Conserver cette simulation ?"
    [actions]="popupActionToUse" (selectedAction)="onPopupDetailAction($event)" [removeShadow]="'noShadow'">
    <div>
      <p class="content">
        Les simulations ne sont pas enregistrées dans A-JUST : si vous souhaitez
        conserver cette projection, exportez-la en PDF afin de l'enregistrer sur
        votre ordinateur.
      </p>
    </div>
  </aj-popup>
</aj-wrapper>

<ng-template #actionsLeft>
  <aj-back-button *ngIf="canViewSimulator && !userService.isCa()" (click)="onReturn()" class="back-button-menu" />
  <aj-back-button *ngIf="userService.isCa()" (click)="onReturn()" class="back-button-menu" />

</ng-template>

<ng-template #actions>
  <p contenteditable id="editable-sim-name" class="editable-sim-name"
    data-placeholder="Indiquez le titre de votre simulation " (keypress)="keyPress($event)"></p>

  <div id="print-title" class="display-none">
    <img src="/assets/icons/logos/white-192x192@1x.svg" class="logo-ajust" width="80px" height="66px" />
    <p class="title">{{printTitle}}</p>
  </div>

  <div id="main-init" class="reset-button {{disabled}}"
    (click)="toDisplaySimulation ? onUserActionClick(this.action.reinitAll) : resetParams()">
    <p class="title">Tout réinitialiser</p>
  </div>
</ng-template>

<aj-intro-js *ngIf="loaded" [steps]="introStepsWhiteSimulator" typeId="simulator" [playEachTime]="true"></aj-intro-js>