<aj-wrapper title="Outils">
  <div class="progress-bar" *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="title">
    <p>Extracteur de données A-JUST</p>
  </div>
  <div class="exportateur-container">
    <aj-date-select
      title="Pour la période du"
      [value]="dateStart"
      (valueChange)="selectDate('start',$event)"
      [max]="dateStop"
    >
    </aj-date-select>
    <aj-date-select
      title="À"
      [value]="dateStop"
      (valueChange)="selectDate('stop',$event)"
      [min]="dateStart"
    >
    </aj-date-select>

    <aj-select
      title="Catégorie"
      class="category-select"
      [defaultRealValue]="'Sélectionner la catégorie'"
      [value]="'Tous'"
      [datas]="categories"
      [multiple]="false"
      (valueChange)="updateCategory($event)"
    >
    </aj-select>

    <div
      id="export-excel-button"
      class="export-button {{classSelected}}"
      (click)="export()"
    >
      <p>Télécharger le fichier au format Excel</p>
    </div>
  </div>

  <aj-extractor-activity></aj-extractor-activity>
</aj-wrapper>
