@use "../../styles/utils.scss" as utils;

h1 {
  color: utils.$colors-primary;
  margin: 32px 0;
}

:host {
  position: relative;

  aj-extractor-activity {
    margin-top: 24px;
  }
}

#cacheButton {
  background-color: blue;
  color: white;
  display: inline;
  position: relative;
  width: 150px;
  text-align: center;
  height: 50px;
  align-self: center;
  justify-content: center;
}