@use '../../../styles/utils.scss' as utils;

:host {
  display: block;
  border-top: 2px solid utils.$colors-primary;
  padding: 40px 115px 15px 115px;
}

.link-footer {
  display: flex;

  img {
    height: 140px;
  }

  p {
    margin-bottom: 16px;
  }

  a {
    margin-right: 26px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: utils.$colors-cblack;
    white-space: nowrap;
  }
}

.panel-footer {
  border-top: 1px solid utils.$colors-bgTag;

  .pages {
    margin-top: 15px;

    a {
      color: utils.$colors-titleSelect;
      padding-right: 16px;
      margin-right: 16px;
      margin-bottom: 8px;
      border-right: 1px solid utils.$colors-lightBorder;
      text-decoration: none;
      font-size: 12px;
      height: 16px;
      line-height: 16px;
      white-space: nowrap;

      &:last-child {
        border-right: none;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .mentions {
    margin-top: 24px;
    color: utils.$colors-titleInput;
    font-size: 12px;

    a {
      color: utils.$colors-titleInput;
    }
  }
}