@use '../../../../styles/utils.scss' as utils;

:host {

  .panel-content {
    margin: 24px 48px 0 48px;

    &.editing {
      padding-top: 42px;
      background-color: white;
      border-radius: 8px;
      border: solid 1px utils.$colors-lightBorder;
      background-color: utils.$colors-white;
      border: solid 1px utils.$colors-primary;
      background-color: utils.$colors-white;
    }

    aj-text-editor {
      border-radius: 8px;
      border: solid 1px utils.$colors-lightBorder;
      background-color: utils.$colors-white;
    }
  }

  >div {
    padding-bottom: 24px;

    .properties {
      height: 40px;
      display: flex;
      align-items: center;
      padding: 0 16px;

      .number-circle {
        background-color: #ededed;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        padding: 3px 4.5px;
        text-align: center;
        font-size: 12px;
        color: #929292;
        margin-right: 8px;
      }

      label {
        font-size: 14px;
        font-weight: bold;
        color: #3a3a3a;
        bottom: 2px;
        position: relative;
        margin-right: 8px;
      }
    }

    .com-date {
      color: utils.$colors-titleSelect;
      font-size: 14px;
      padding: 0 16px;
    }
  }

  .footer-panel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 24px 8px 24px;

    >div {
      &.active {
        color: utils.$colors-grayRow;
        border-color: utils.$colors-grayRow;
        cursor: pointer;
        pointer-events: initial;

      }
    }

    .unsave {
      border: solid 1px utils.$colors-primary;
      color: utils.$colors-primary;
      margin-right: 16px;
      height: 32px;
      padding: 4px 12px;
      font-size: 14px;
      line-height: 24px;
      cursor: pointer;
      pointer-events: initial;
    }

    .save {
      color: white;
      background-color: utils.$colors-primary;
      height: 32px;
      padding: 4px 12px;
      font-size: 14px;
      line-height: 24px;
      cursor: pointer;

      &.disabled {
        pointer-events: none;
        opacity: 0.6;
      }
    }
  }

  .actions {
    font-size: 14px;
    color: utils.$colors-grayRow;

    .modify {
      margin-left: 48px;
      margin-right: 4px;
      line-height: 24px;
      display: inline-block;
      border-bottom: solid 1px utils.$colors-grayRow;
      cursor: pointer;
    }

    .delete {
      margin-left: 4px;
      line-height: 24px;
      display: inline-block;
      border-bottom: solid 1px utils.$colors-grayRow;
      cursor: pointer;
    }
  }
}