<div *ngIf="comment">
  <div class="properties">
    <div class="number-circle">{{comment.editor.initials}}</div>
    <label>{{comment.editor.firstName + ' ' +
      comment.editor.lastName}}</label>
    <p *ngIf="comment.createdAt" class="com-at">{{ compareCommentsDates()? 'Créé ':''}}{{
      compareCommentsDates()? formatDate(comment.createdAt):capitalize(formatDate(comment.createdAt)) }}</p>
  </div>
  <p *ngIf="comment.updatedAt && compareCommentsDates()" class="com-mod">
    (Modifié {{formatDate(comment.updatedAt)}})</p>

  <div class="panel-content"> <aj-text-editor #editor [value]="comment.comment || ''" class="no-main-style"
      placeholder="Écrivez un commentaire" [hideToolbar]="true" (focusField)="isEditing = $event"></aj-text-editor>
    <div class="footer-panel" *ngIf="comment.comment !== editor.value || isEditing">
      <div class="unsave" (click)="editor.setValue(comment.comment)">Annuler</div>
      <div class="save" (click)="onSave(editor.value)">Enregistrer</div>
    </div>
  </div>

  <div class="actions" *ngIf="!isEditing">
    <label class="modify" (click)="editor.focus()">Modifier</label><span class="dot">•</span><label class="delete"
      (click)="removeComment()">Supprimer</label>
  </div>
</div>