@use "../../../../styles/utils.scss";

:host {
    background-color: white;
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;

    .print-shadow {
        border: solid 1px rgb(207, 207, 207);
    }

    .print-shadow-bottom {
        border-bottom: solid 1px rgb(207, 207, 207);
    }

    .space-flex {
        flex: 1;
    }

    .title {
        height: 96px;
        padding: 24px 24px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        background-color: #fff;
        position: relative;
        z-index: 1;

        p {
            font-size: 16px;
            font-weight: bold;
            color: #3a3a3a;
        }

        label {
            font-size: 14px;
            line-height: 1.71;
            color: #929292;
        }
    }

    .button-container {
        flex: 1;
        background-color: #fff;
        position: relative;
        padding: 8px;
        align-items: center;
        height: 356px;
        display: flex;
        flex-direction: column;

        .buttons {
            position: relative;
            width: 337px;
            height: 40px;
            margin: 14px auto 0px auto;
            border-radius: 20px;
            background-color: #f6f6f6;
            padding: 4px;
            display: flex;

            .button {
                pointer-events: all;
                cursor: pointer;
                flex: 1;
                border-radius: 20px;
                line-height: 30px;
                text-align: center;
                font-size: 16px;
                color: #3a3a3a;

                &.selected {
                    background-color: #2d46e0;
                    color: white;
                }
            }
        }

    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 22px;
        background-color: white;
    }

}