@import '../../../styles/utils.scss';

:host {
  display: block;
  max-width: 894px;
  width: 95%;
}

.new-ventilation {
  border: solid 1px fColor(cgrayDefault);
  background-color: white;
  border-radius: 8px;

  > .header {
    padding: 0 40px;
    height: 68px;
    display: flex;
    align-items: center;
    background-color: fColor(cgrayDefault);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    p {
      font-weight: bold;
      font-size: 20px;
      color: fColor(cblackdark);
    }
  }

  > .administration {
    padding: 25px 40px 40px 40px;
    border-bottom: solid 1px fColor(cgrayDefault);

    > div {
      display: flex;

      > div {
        flex: 1;

        .label-aj {
          white-space: nowrap;
        }
      }
    }

    > p {
      font-weight: bold;
      color: fColor(titleSelect);
      margin-bottom: 16px;
    }
  }

  > .activities {
    padding: 16px 24px 24px 24px;
    border-bottom: solid 1px fColor(cgrayDefault);

    > p {
      font-weight: bold;
      color: fColor(cblack);
      margin-bottom: 16px;
      margin-left: 16px;
    }
  }

  > .date-start {
    padding: 13px 40px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px fColor(cgrayDefault);

    p {
      font-weight: bold;
      color: fColor(cblackdark);
    }

    aj-date-select {
      background-color: fColor(cgrayDefault);
      margin-left: 36px;
    }
  }

  > .indisponibilities {
    padding: 16px 24px 24px 24px;

    .indispo-header {
      display: flex;
      align-items: center;

      p {
        margin-left: 16px;
        font-weight: bold;
        color: fColor(cblackdark);
      }

      button {
        margin-left: 16px;
      }
    }

    .indispo-error {
      color: fColor(cred);
      font-weight: bold;
    }
  }

  > .actions {
    background-color: fColor(cgrayDefault);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    > button {
      margin: 0 8px;
    }
  }
}
