<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
  <div class="new-ventilation">
    @if (saveActions) {
    <div class="header">
      @if (isEdit) {
      <ng-template>
        <p>Modification de la situation</p>
        <div class="tags">
          @if (lastDateStart) {
          <p>
            A partir du
            {{ lastDateStart | date : 'dd' }}
            {{ getShortMonthString(lastDateStart) }}
            {{ lastDateStart.getFullYear() }}
          </p>
          }
          @if (
          dateStop &&
          lastDateStart &&
          lastDateStart.getTime() !== dateStop.getTime()
          ) {
          <p>
            Jusqu'au
            {{ dateStop | date : 'dd' }}
            {{ getShortMonthString(dateStop) }}
            {{ dateStop.getFullYear() }}
          </p>
          }
        </div>
      </ng-template>
      }
      @if (!isEdit) {
      <p>Renseigner une nouvelle situation</p>
      }
      <pre></pre>
      @if (isEdit || saveActions) {
      <div class="drop-down-container">
        <label id="drop-down" class="drop-down" (click)="toggleDropDown=!toggleDropDown"
          (blur)="toggleDropDown=!toggleDropDown">
          Feuille de temps
          <mat-icon _ngcontent-ng-c640964094="" role="img"
            class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true"
            data-mat-icon-type="font">{{toggleDropDown=== false ?"expand_more":"expand_less"}}</mat-icon>
        </label>
        <div class="drop-down-content" [ngStyle]="{'display' : toggleDropDown=== false ? 'none': 'flex'}">

          <a (click)="downloadEtpTemplate()" class="download">
            <img src="/assets/icons/download-line.svg" />
            Télécharger un modèle vierge
          </a>
          <label class="custom-file-upload">
            <input #file id="file-picker" type="file" class="input-file" accept=".xlsx"
              (change)="getFile($event,file)" />
            <img src="/assets/icons/upload-line.svg" />Importer une situation pré-renseignée
          </label>
        </div>
      </div>
      }
    </div>
    }
    <span class="middle">
      <div class="administration" id="admin">
        <div class="top">
          @if (!isEdit && !saveActions) {
          <div class="drop-down-container">
            <label id="drop-down2" class="drop-down" (click)="toggleDropDown=!toggleDropDown"
              (blur)="toggleDropDown=!toggleDropDown">
              Feuille de temps
              <mat-icon _ngcontent-ng-c640964094="" role="img"
                class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true"
                data-mat-icon-type="font">{{toggleDropDown=== false ?"expand_more":"expand_less"}}</mat-icon>
            </label>
            <div class="drop-down-content" id="timesheet"
              [ngStyle]="{'display' : toggleDropDown=== false ? 'none': 'flex'}">

              <a (click)="downloadEtpTemplate()" class="download">
                <img src="/assets/icons/download-line.svg" />
                Télécharger un modèle vierge
              </a>
              <label class="custom-file-upload">
                <input #file id="file-picker" type="file" class="input-file" accept=".xlsx"
                  (change)="getFile($event,file)" />
                <img src="/assets/icons/upload-line.svg" />Importer une situation pré-renseignée
              </label>
            </div>
          </div>
          }
          @if (displayImportLabels || humanResourceService.alertList().includes('fonction') ||
          humanResourceService.alertList().includes('category') || humanResourceService.alertList().includes('etp')) {
          <label class="import-confirmation"
            [ngStyle]="{'color' : form.get('categoryId')?.value === null ||  form.get('fonctionId')?.value === null || form.get('etp')?.value === null ? '#c3992a': '#18753c',
              'background-color' : form.get('categoryId')?.value === null ||  form.get('fonctionId')?.value === null || form.get('etp')?.value === null ? '#feebd0':'#b8fec9'}">
            <i class="ri-checkbox-circle-fill"></i>
            {{
            form.get('categoryId')?.value === null ||
            form.get('fonctionId')?.value === null || form.get('etp')?.value === null?
            'à compléter':'importé'
            }}
          </label>
          }
        </div>

        <div class="grid-triple">
          <div class="admin-element"
            [ngClass]="{'error': form.get('categoryId')?.value === null && displayImportLabels === true}"
            [ngClass]="{'error': humanResourceService.alertList().includes('category')}">
            <div class="label-aj">Catégorie :</div>
            <select formControlName="categoryId">
              @for (cat of categories; track cat) {
              <option [value]="cat.id">
                {{ cat.label }}
              </option>
              }
            </select>
            @if (humanResourceService.alertList().includes('category')) {
            <aj-alert-small alertMessage='Vous devez saisir une catégorie !' (onClose)="removeAlertItem('category')">
            </aj-alert-small>
            }
          </div>
          <div class="admin-element"
            [ngClass]="{'error': form.get('fonctionId')?.value === null && displayImportLabels === true}"
            [ngClass]="{'error': humanResourceService.alertList().includes('fonction')}">
            <div class="label-aj">Fonction :</div>
            <select formControlName="fonctionId" (change)="setFonc($event.target)">
              @for (fonc of fonctions; track fonc) {
              <option [value]="fonc.id">
                {{ fonc.label }}
              </option>
              }
            </select>
            @if (humanResourceService.alertList().includes('fonction')) {
            <aj-alert-small alertMessage='Vous devez saisir une fonction !' (onClose)="removeAlertItem('fonction')">
            </aj-alert-small>
            }
          </div>
          <div class="admin-element"
            [ngClass]="{'error': form.get('etp')?.value === null && displayImportLabels === true}"
            [ngClass]="{'error': humanResourceService.alertList().includes('etp')}" id="etpForm">
            <div class="label-aj">
              Temps de travail (en ETPT) :
            </div>
            <div class="calculatrice-button-container">
              @if (calculatriceIsActive) {
              <div class="open-calculatrice" (click)="openCalculatricePopup = true">
                Calculer l'ETPT
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path
                    d="M4 2H20C20.5523 2 21 2.44772 21 3V21C21 21.5523 20.5523 22 20 22H4C3.44772 22 3 21.5523 3 21V3C3 2.44772 3.44772 2 4 2ZM7 12V14H9V12H7ZM7 16V18H9V16H7ZM11 12V14H13V12H11ZM11 16V18H13V16H11ZM15 12V18H17V12H15ZM7 6V10H17V6H7Z">
                  </path>
                </svg>
              </div>
              }
              <input type="number" formControlName="etp" min="0" max="1" step="0.01" (ngModelChange)="etp = $event" />
            </div>
            @if (humanResourceService.alertList().includes('etp')) {
            <aj-alert-small alertMessage='Vous devez renseigner un temps de travail en ETPT (entre 0 et 1)'
              (onClose)="removeAlertItem('etp')">
            </aj-alert-small>
            }
          </div>
        </div>
      </div>

      @if (openCalculatricePopup) {
      <aj-popup [titleTemplate]="titleCalculateTemplate"
        [actions]="[{ id: 'convert', content: 'Convertir en ETPT', fill: true }]" [closeIcon]="true"
        (onClose)="openCalculatricePopup = false" class="fit-content padding-content-16" [removeShadow]="'noShadow'"
        (selectedAction)="convertirEtpt()">
        <ng-template #titleCalculateTemplate>
          <i class="ri-calculator-line"></i>
          <p class="header-popup">Calculer l'ETPT sur la base de :</p>
        </ng-template>
        <aj-calculatrice></aj-calculatrice>
      </aj-popup>
      }

      <div class="activities">
        <div class="top">
          <p>Répartition du temps disponible</p>
          <div class="flex-1"></div>

          @if (displayImportLabels) {
          <label class="import-confirmation" [ngStyle]="{'color' : sumPercentImported !==100?'#c3992a': '#18753c',
            'background-color' : sumPercentImported !==100?'#feebd0':'#b8fec9'}"><i
              class="ri-checkbox-circle-fill"></i>{{sumPercentImported !==100?'à
            compléter':'importé'}}</label>
          }
          <div class="ressources">
            <p>Ressources :</p>
            <a (click)="downloadAsset('nomencalture')" class="download">
              La nomenclature
              <mat-icon>launch</mat-icon>
            </a>
            <a (click)="downloadAsset('calculator')" class="download">
              Calculatrice de ventilations
              <mat-icon>download</mat-icon>
            </a>
          </div>
        </div>

        <panel-activities [category]="getCategoryLabel()" [activities]="activities" [etp]="etp" [selected]="true"
          [indexSituation]="indexSituation" (referentielChange)="onNewReferentiel($event)" #panelActivities
          [forceToShowContentieuxDetail]="forceToShowContentieuxDetail" [isEdited]="isEdit">
        </panel-activities>
      </div>
      <div class="bottom-container" id="bottom-container" #bottomContainerTarget>
        <div class="date-start"
          [ngClass]="{'error': form.get('activitiesStartDate')?.value === null && displayImportLabels}">
          <div class="header">
            @if (isEdit) {
            <p>Modification de la situation </p>
            }
            @if (!isEdit) {
            <p>Situation à prendre en compte </p>
            }
            <div class="flex-1"></div>
            @if (displayImportLabels || humanResourceService.alertList().includes('activitiesStartDate') ) {
            <label class="import-confirmation" [ngStyle]="{'color' : form.get('activitiesStartDate')?.value === null ?'#c3992a': '#18753c',
              'background-color' : form.get('activitiesStartDate')?.value === null ?'#feebd0':'#b8fec9'}">
              <i class="ri-checkbox-circle-fill"></i>
              {{
              form.get('activitiesStartDate')?.value === null ?
              'à compléter' : 'importé'
              }}
            </label>
            }
          </div>

          <div class="date-start-content"
            [ngClass]="{'error': humanResourceService.alertList().includes('activitiesStartDate') || (form.get('activitiesStartDate')?.value === null && displayImportLabels)}">
            <aj-date-select title="A compter du" [value]="form.get('activitiesStartDate')?.value"
              (valueChange)="form.get('activitiesStartDate')?.setValue($event)" [showToday]="false">
            </aj-date-select>
            @if (humanResourceService.alertList().includes('activitiesStartDate')) {
            <aj-alert-small alertMessage='Vous devez saisir une date de début de situation !'
              (onClose)="removeAlertItem('activitiesStartDate')" class="fix-width">
            </aj-alert-small>
            }
          </div>

        </div>
        <div class="indisponibilities">
          <div class="indispo-header">
            <p>Indisponibilités </p> <aj-help-button (click)="openHelpPanel('indispo')" class="help-icon"
              text="Qu'est-ce que c'est ?"></aj-help-button>
            <label>(facultatif)</label>
            <div class="flex-1"></div>
            <button class="outline blue small" (click)="addIndispiniblity.emit(null)">
              + Ajouter
            </button>
          </div>
          @if (indisponibilities.length) {
          <div class="indispo-content">
            @for (indisp of indisponibilitiesFiltered; track indisp) {
            <div class="cursor-pointer" (click)="addIndispiniblity.emit(indisp)">
              <div class="icon">
                <mat-icon>event_busy</mat-icon>
              </div>
              <div class="text">
                <p>
                  {{ indisp.contentieux ? indisp.contentieux.label : indisp.label }}
                  ({{ indisp.percent || 0 }}%)
                </p>
                <p>
                  @if (indisp.dateStart) {
                  <ng-template>du {{ indisp.dateStart | date : 'dd' }}
                    {{ getShortMonthString(indisp.dateStart) }}
                    {{ getFullYear(indisp.dateStart) }}</ng-template>
                  }
                  @if (indisp.dateStart && indisp.dateStop) {
                  <ng-template>
                    au
                  </ng-template>
                  }
                  @if (!indisp.dateStart && indisp.dateStop) {
                  <ng-template>
                    jusqu'au
                  </ng-template>
                  }
                  @if (indisp.dateStop) {
                  <ng-template>{{ indisp.dateStop | date : 'dd' }}
                    {{ getShortMonthString(indisp.dateStop) }}
                    {{ getFullYear(indisp.dateStop) }}</ng-template>
                  }
                </p>
              </div>
              <div class="action">
                <mat-icon>drive_file_rename_outline</mat-icon>
              </div>
            </div>
            }
          </div>
          }
          @if (indisponibilityError) {
          <div class="indispo-error">
            {{ indisponibilityError }}
          </div>
          }
        </div>
      </div>
    </span>
    @if (saveActions) {
    <div class="actions">
      <button class="outline blue strict-border" (click)="close.emit();displayImportLabels=false;sumPercentImported=0">
        Annuler
      </button>
      <button class="primary strict-border" (click)="onSave()">
        Enregistrer
      </button>
    </div>
    }
  </div>
</form>