@import '../../../styles/utils.scss';

:host {
  display: block;

  p {
    font-size: 14px;
    color: fColor(cblack);
    font-weight: bold;
    line-height: 24px;
  }

  &.existing-agent {
    max-width: 894px;
    width: 95%;

    form {
      .new-ventilation {
        display: flex;
        flex-direction: column;
        border: solid 1px fColor(cgrayDefault);
        background-color: fColor(popupLightBg);
        border-radius: 8px;
        gap: 8px !important;
      }

    }
  }

  aj-date-select {
    width: 145px;
  }

  aj-popup {
    width: 800px;

    i {
      height: 24px;
      width: 24px;
      font-size: 24px;
      margin-right: 8px;
      fill: fColor(primary);
    }

    p {
      font-size: 18px;
      font-weight: bold;
      color: fColor(cblack);
    }
  }

  // .error-to-complete {
  //   border: 1px solid #0063CB;
  //   background-color: #F5F5FE !important;
  // }

  // .error {
  //   background-color: #fef5e8 !important;
  //   border: solid 1px #f4be30 !important;
  // }

  .alert {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 105%;
    left: 0;
    z-index: 100;
    padding: 16px;
    border: 2px solid #CE0500;
    border-radius: 8px;
    background-color: white;
    color: #CE0500;
    width: 300px;
    font-size: 14px;
    line-height: 24px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 18, 0.16);

    .close-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      background-color: #FDDEDE;
    }
  }

}

.import-confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  border: solid 1px fColor(lightBorder);
  padding: 0 12px 3px 6px;
  font-size: 14px;
  color: #18753c;
  background-color: #b8fec9;
  margin-left: 12px;

  i {
    margin-right: 6px;
  }
}

input[type="file"] {
  display: none;
}

input[type="number"] {
  border-bottom: 2px solid black;
}

.drop-down {
  display: flex;
  border-radius: 4px;
  border: 1px solid fColor(lightBorder);
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 24px;

  mat-icon {
    position: relative;
    left: 2px;
    top: 4px;
    font-size: 18px;
    display: inline;
  }
}

.drop-down-container {
  position: relative;


  .drop-down-content {
    position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: end;
    right: 0px;
    top: 44px;
    border-radius: 4px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 100;

    .download {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      width: max-content;
      cursor: pointer;
      padding: 14px 16px 16px 16px;
      height: 40px;
    }

    .custom-file-upload {
      border-top: solid 1px lightgray;
      display: block;
      padding: 8px 16px 16px 16px;
      cursor: pointer;
      width: max-content;
      height: 40px;
      font-size: 14px;
    }

    img {
      width: 14px;
      position: relative;
      top: 3px;
      margin-right: 8px;
    }
  }
}



.new-ventilation {


  >.header {
    height: 68px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    background-color: fColor(bgSelect);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    border-bottom: solid 1px fColor(lightBorder);

    pre {
      flex: 1;
    }

    p {
      font-weight: bold;
      font-size: 20px;
      color: fColor(cblack) !important;
    }

    .tags {
      display: flex;
      justify-content: flex-end;

      p {
        font-size: 14px;
        padding: 4px 14px;
        border-radius: 29px;
        color: fColor(cgray);
        font-weight: normal;
        background-color: fColor(cgrayDefault);
        margin-right: 0;
        margin-left: 8px;
      }
    }
  }

  >.middle {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .administration {
      border-radius: 8px;
      border: solid 1px fColor(lightBorder);
      background-color: #fff;

      >div {
        display: flex;
        margin: 16px;

        >div {
          flex: 1;

          &.drop-down-container {
            flex: none;
          }

          .label-aj {
            white-space: nowrap;
          }
        }
      }

      >.top {
        padding: 8px;
        margin: initial;
        display: flex;
        justify-content: flex-end;

        >p {
          height: fit-content;
        }

      }

      .admin-element {
        position: relative;
        border-radius: 8px;
        padding: 4px 2px 6px 2px;

        &.error {
          background-color: #fef5e8;
          border: solid 1px #f4be30;
        }
      }
    }

    >.activities {
      border-radius: 8px;
      border: solid 1px fColor(lightBorder);
      background-color: #fff;


      >panel-activities {
        padding: 16px 16px;
      }

      >.top {
        border-bottom: 1px solid fColor(lightBorder);
        // height: 48px;
        margin: initial;
        padding: 4px 16px;
        display: flex;
        align-items: center;

        >p {
          height: fit-content;
          line-height: 24px;
        }

        >.ressources {
          display: flex;
          align-items: center;
          padding: 4px 8px;
          gap: 8px;

          >p {
            font-size: 12px;
          }

          >.download {
            padding: 0;
            display: inline-flex;
            align-items: center;
            gap: 4px;
            border-radius: 4px;
            background-color: #F5F5FE;
            padding: 4px 8px;
            font-size: 12px;
            font-weight: 700;
            cursor: pointer;

            mat-icon {
              position: relative;
              font-size: 14px;
              width: 14px;
              height: 14px;
            }
          }
        }


      }
    }
  }

  .bottom-container {
    display: flex;
    gap: 8px;

    >.date-start {
      position: relative;
      min-width: 400px;
      flex: 1;
      height: fit-content;
      border-radius: 8px;
      border: solid 1px fColor(lightBorder);
      background-color: #fff;

      .header {
        height: 48px;
        display: flex;
        align-items: center;
        padding: 8px 16px;
        gap: 10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: solid 1px fColor(lightBorder);
      }

      p {
        color: fColor(cblackdark);
      }

      .date-start-content {
        padding: 16px;
      }

      aj-date-select {
        width: 180px;
      }

      aj-alert-small {
        position: absolute;
        top: 35%;
        left: 30%;
      }

      >.error {
        background-color: #fef5e8;
        border: solid 1px #f4be30;
      }

      >.alert {
        top: 25%;
        left: 30%;
      }
    }

    >.indisponibilities {
      border-radius: 8px;
      border: solid 1px fColor(lightBorder);
      background-color: #fff;
      flex: 1;

      .indispo-content {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        >div {
          margin-right: 0;
        }
      }

      .indispo-header {
        height: 48px;
        display: flex;
        align-items: center;
        padding: 8px 16px;
        gap: 4px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: solid 1px fColor(lightBorder);


        p {
          color: fColor(cblack) !important;
        }

        label {
          font-size: 12px;
          color: #18753c;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 4px 8px;
          gap: 4px;
          border-radius: 4px;
          border: solid 1px fColor(lightBorder);
          background-color: #fff;
          color: fColor(cblackdark);
          font-size: 14px;
          font-weight: bold;
        }
      }

      .indispo-error {
        color: fColor(cred);
        font-weight: bold;
      }
    }
  }



  >.actions {
    background-color: fColor(cgrayDefault);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    >button {
      display: flex;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      line-height: 24px;
      height: 40px;
      font-size: 16px;
    }
  }
}

.help-icon {
  margin-left: 8px;
  margin-right: 8px;
  top: 2px;
}

.calculatrice-button-container {
  display: flex;

  .open-calculatrice {
    cursor: pointer;
    display: flex;
    width: 350px;
    height: 40px;
    margin-right: 6px;
    padding: 8px 12px 8px 16px;
    border: solid 1px fColor(cbluedark);
    text-align: center;
    color: fColor(cbluedark);
    align-items: center;
    justify-content: center;

    svg {
      fill: fColor(cbluedark);
      height: 18px;
      width: 18px;
      margin-left: 8px;
    }
  }
}