<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
  <div class="new-ventilation">
    <div *ngIf="saveActions" class="header">
      <ng-template [ngIf]="isEdit">
        <p>Modification de la situation</p>

        <div class="tags">
          <p *ngIf="lastDateStart">
            {{ lastDateStart | date : 'dd' }}
            {{ getShortMonthString(lastDateStart) }}
            {{ lastDateStart.getFullYear() }}
          </p>
          <p *ngIf="
              dateStop &&
              lastDateStart &&
              lastDateStart.getTime() !== dateStop.getTime()
            ">
            {{ dateStop | date : 'dd' }}
            {{ getShortMonthString(dateStop) }}
            {{ dateStop.getFullYear() }}
          </p>
        </div>
      </ng-template>
      <p *ngIf="!isEdit">Renseigner une nouvelle situation</p>
    </div>

    <div class="administration">
      <p>Situation administrative</p>
      <div class="grid-triple">
        <div>
          <div class="label-aj">Catégorie :</div>
          <select formControlName="categoryId">
            <option *ngFor="let cat of categories" [value]="cat.id">
              {{ cat.label }}
            </option>
          </select>
        </div>
        <div>
          <div class="label-aj">Fonction :</div>
          <select formControlName="fonctionId" (change)="setFonc($event.target)">
            <option *ngFor="let fonc of fonctions" [value]="fonc.id">
              {{ fonc.label }}
            </option>
          </select>
        </div>
        <div>
          <div class="label-aj">
            Temps de travail
            {{
            calculatriceIsActive
            ? "(en % d'un ETPT)"
            : "(en % d'un plein temps)"
            }}
            :
          </div>
          <div class="calculatrice-button-container">
            <div class="open-calculatrice" *ngIf="calculatriceIsActive" (click)="openCalculatricePopup = true">
              Calculer l'ETPT
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M4 2H20C20.5523 2 21 2.44772 21 3V21C21 21.5523 20.5523 22 20 22H4C3.44772 22 3 21.5523 3 21V3C3 2.44772 3.44772 2 4 2ZM7 12V14H9V12H7ZM7 16V18H9V16H7ZM11 12V14H13V12H11ZM11 16V18H13V16H11ZM15 12V18H17V12H15ZM7 6V10H17V6H7Z">
                </path>
              </svg>
            </div>
            <input type="number" formControlName="etp" min="0" max="100" (ngModelChange)="etp = $event / 100" />
          </div>
        </div>
      </div>
    </div>

    <aj-popup *ngIf="openCalculatricePopup" [actions]="[{ id: 'convert', content: 'Convertir en ETPT', fill: true }]"
      [closeIcon]="true" (onClose)="openCalculatricePopup = false" class="custom-height no-padding-content-x"
      [removeShadow]="'noShadow'" (selectedAction)="convertirEtpt()">
      <div class="circle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M4 2H20C20.5523 2 21 2.44772 21 3V21C21 21.5523 20.5523 22 20 22H4C3.44772 22 3 21.5523 3 21V3C3 2.44772 3.44772 2 4 2ZM7 12V14H9V12H7ZM7 16V18H9V16H7ZM11 12V14H13V12H11ZM11 16V18H13V16H11ZM15 12V18H17V12H15ZM7 6V10H17V6H7Z">
          </path>
        </svg>
      </div>
      <p class="header-popup">Calculer l'ETPT sur la base de :</p>
      <aj-calculatrice></aj-calculatrice>
    </aj-popup>

    <div class="activities">
      <p>Répartition du temps disponible</p>
      <panel-activities [activities]="activities" [etp]="etp" [selected]="true"
        (referentielChange)="onNewReferentiel($event)" #panelActivities
        [forceToShowContentieuxDetail]="forceToShowContentieuxDetail">
      </panel-activities>
    </div>

    <div class="date-start">
      <p *ngIf="isEdit">Modification de la situation au :</p>
      <p *ngIf="!isEdit">Situation à prendre en compte :</p>
      <aj-date-select title="A compter du" [value]="form.get('activitiesStartDate')?.value"
        (valueChange)="form.get('activitiesStartDate')?.setValue($event)" [showToday]="false">
      </aj-date-select>
      <div class="flex-1"></div>
    </div>

    <div class="indisponibilities">
      <div class="indispo-header">
        <p>Indisponibilités :</p>
        <button class="outline blue small" (click)="addIndispiniblity.emit(null)">
          Ajouter une indisponibilité
        </button>
        <aj-help-button (click)="openHelpPanel('indispo')" class="help-icon"
          text="Qu'est-ce que c'est ?"></aj-help-button>
        <div class="flex-1"></div>
      </div>
      <div class="indispo-content grid-triple" *ngIf="indisponibilities.length">
        <div *ngFor="let indisp of indisponibilities" class="cursor-pointer" (click)="addIndispiniblity.emit(indisp)">
          <div class="icon">
            <mat-icon>event_busy</mat-icon>
          </div>
          <div class="text">
            <p>
              {{ indisp.contentieux ? indisp.contentieux.label : indisp.label }}
              ({{ indisp.percent || 0 }}%)
            </p>
            <p>
              <ng-template [ngIf]="indisp.dateStart">du {{ indisp.dateStart | date : 'dd' }}
                {{ getShortMonthString(indisp.dateStart) }}
                {{ getFullYear(indisp.dateStart) }}</ng-template>
              <ng-template [ngIf]="indisp.dateStart && indisp.dateStop">
                au
              </ng-template>
              <ng-template [ngIf]="!indisp.dateStart && indisp.dateStop">
                jusqu'au
              </ng-template>
              <ng-template [ngIf]="indisp.dateStop">{{ indisp.dateStop | date : 'dd' }}
                {{ getShortMonthString(indisp.dateStop) }}
                {{ getFullYear(indisp.dateStop) }}</ng-template>
            </p>
          </div>
          <div class="action">
            <mat-icon>drive_file_rename_outline</mat-icon>
          </div>
        </div>
      </div>
      <div class="indispo-error" *ngIf="indisponibilityError">
        {{ indisponibilityError }}
      </div>
    </div>

    <div class="actions" *ngIf="saveActions">
      <button class="outline blue strict-border" (click)="close.emit()">
        Annuler
      </button>
      <button class="primary strict-border" (click)="onSave()">
        Enregistrer
      </button>
    </div>
  </div>
</form>