<div class="title">
  <p>Extracteur de données d'activité</p>
</div>
<div class="exportateur-container">
  <aj-date-select
    class="extend"
    title="Pour la période de"
    dateType="month"
    [value]="dateStart"
    (valueChange)="selectDate('start', $event)"
    [min]="minDate"
    [max]="dateStop || lastDataDate"
  ></aj-date-select>
  <aj-date-select
    class="extend"
    title="À"
    dateType="month"
    [value]="dateStop"
    (valueChange)="selectDate('stop', $event)"
    [min]="dateStart"
    [max]="lastDataDate"
  ></aj-date-select>

  <div id="export-excel-button" class="export-button {{ classSelected }}" (click)="exportActDate()">
    <mat-icon class="shape">save</mat-icon>
    <p>Télécharger le fichier au format Excel</p>
  </div>
</div>
