.mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.hide-visualisation {
  height: 0;
  display: block !important;

  .mat-mdc-select-trigger {
    height: 0;
  }

  .mat-mdc-select-value {
    display: none;
  }

  .mat-mdc-select-arrow-wrapper {
    display: none;
  }
}