@use "remixicon/fonts/remixicon.css";
@use "./utils.scss";
@use "./typography.scss";
@use "./form.scss";
@use "./material.scss";

html,
body {
	height: 100vh;
	padding: 0;
	margin: 0;
	background-color: white;
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-1 {
	flex: 1;
}

.grid-double {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 8px;
}

.grid-triple {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 8px;
}

.cursor-pointer {
	cursor: pointer;
}