@use "./fonts/marianne/Marianne.scss";

html,
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  font-family: "Marianne";
  margin: 0;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  color: fColor(cblack);
}

h2 {
  font-size: 32px;
  line-height: 40px;
  color: fColor(cblack);
}

h3 {
  font-size: 28px;
  line-height: 36px;
  color: fColor(cblack);
}

h4 {
  font-size: 24px;
  line-height: 32px;
  color: fColor(cblack);
}

h5 {
  font-size: 22px;
  line-height: 28px;
  color: fColor(cblack);
}

h6 {
  font-size: 20px;
  line-height: 28px;
  color: fColor(cblack);
}

p,
li {
  font-size: 16px;
  color: fColor(cblack);

  &.s {
    font-size: 14px;
  }

  &.xs {
    font-size: 11px;
  }
}