$colors-primary: #000091;
$colors-cblack: #1e1e1e;
$colors-cred: #ff5655;
$colors-creddark: #ce0500;
$colors-cpurpledark: #855080;
$colors-bgSelect: #f6f6f6;
$colors-borderSelect: #eeeeee;
$colors-darkModeBgMenu: #161616;
$colors-headerColor: #cecece;
$colors-titleSelect: #666666;