@import "../../styles/utils.scss";

:host {
  display: flex;
  align-items: center;

  .header-selection {
    font-weight: bold;
  }

  .blue-button {
    background-color: #000091;
    color: white;
  }

  .list {
    >p {
      cursor: pointer;

      &.selected {
        font-weight: bold;
      }
    }
  }
}

.left-margin {
  margin-left: 8px;
}