<aj-wrapper
  title="Temps moyens"
  class="content-margin-null"
  [subtitle]="subTitleDate"
  [subtitleName]="subTitleName"
  [actionTemplate]="actions"
  [isLoading]="isLoading"
>
  <div class="container">
    <div class="header-list">
      <div class="label month">Temps moyens / contentieux</div>
      <div class="column-item">
        <mat-button-toggle-group [value]="perUnity">
          <mat-button-toggle value="hour" (click)="changeUnity('hour')"
            >Temps moyen en heure
          </mat-button-toggle>
          <mat-button-toggle value="day" (click)="changeUnity('day')"
            >Nombre de dossiers par jour
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="content-list">
      <div *ngFor="let ref of referentiel" class="item-grouped">
        <div class="item">
          <div class="label">
            <p>{{ref.label}}</p>
            <button
              *ngIf="(ref.childrens || []).length"
              (click)="ref.showOptionGroup = !ref.showOptionGroup"
              mat-icon-button
            >
              <mat-icon
                >{{ ref.showOptionGroup ? 'expand_less' : 'expand_more'
                }}</mat-icon
              >
            </button>
          </div>
          <div class="column-item">
            <app-time-selector
              *ngIf="perUnity === 'hour'"
              [value]="ref.averageProcessingTime ? (perUnity === 'hour' ? ref.averageProcessingTime : fixDecimal(8 / ref.averageProcessingTime)) : 0"
              (valueChange)="onUpdateOptions(ref, $event)"
            ></app-time-selector>
            <input
              *ngIf="perUnity !== 'hour'"
              type="number"
              [ngModel]="ref.averageProcessingTime ? (perUnity === 'hour' ? ref.averageProcessingTime : fixDecimal(8 / ref.averageProcessingTime)) : ''"
              (ngModelChange)="onUpdateOptions(ref, $event)"
              min="0"
            />

            <p>
              {{perUnity === 'hour' ? '&nbsp; temps moyen en heure:minute' :
              'nombre de dossiers par jour'}}
            </p>
          </div>
        </div>
        <div class="group" [class.enable]="ref.showOptionGroup">
          <div
            class="group-item"
            *ngFor="let itemGroup of (ref.childrens || [])"
            [style.borderColor]="referentielMappingColor(ref.label)"
          >
            <div class="label">
              <p>{{itemGroup.label}}</p>
            </div>
            <div class="column-item">
              <app-time-selector
                *ngIf="perUnity === 'hour'"
                [value]="itemGroup.averageProcessingTime ? (perUnity === 'hour' ? itemGroup.averageProcessingTime : fixDecimal(8 / itemGroup.averageProcessingTime)) : 0"
                (valueChange)="onUpdateOptions(itemGroup, $event)"
              ></app-time-selector>
              <input
                *ngIf="perUnity !== 'hour'"
                type="number"
                [ngModel]="itemGroup.averageProcessingTime ? (perUnity === 'hour' ? itemGroup.averageProcessingTime : fixDecimal(8 / itemGroup.averageProcessingTime)) : ''"
                (ngModelChange)="onUpdateOptions(itemGroup, $event)"
                min="0"
              />

              <p>
                {{perUnity === 'hour' ? '&nbsp; temps moyen en heure:minute' :
                'nombre de dossiers par jour'}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngFor="let ref of referentiel"
    class="item-grouped"
    [class.maximize]="ref.showActivityGroup"
  >
    <div
      class="item"
      (click)="(ref.childrens || []).length ? ref.showActivityGroup = !ref.showActivityGroup : null"
      [class.selectable]="(ref.childrens || []).length"
    >
      <div class="label">
        <div
          class="color-border"
          [style.backgroundColor]="ref.showActivityGroup ? null : referentielMappingColor(ref.label)"
        ></div>
        <mat-icon *ngIf="(ref.childrens || []).length"
          >{{ ref.showActivityGroup ? 'expand_less' : 'expand_more' }}
        </mat-icon>
        <p>{{ref.label}}</p>
      </div>
      <div class="column-item">
        <div></div>
        <div></div>
      </div>
      <div class="column-item">
        <div></div>
      </div>
      <div class="column-item">
        <div></div>
      </div>
    </div>
    <div class="group">
      <div class="color-border">
        <div [style.backgroundColor]="referentielMappingColor(ref.label)"></div>
      </div>
      <div>
        <div class="group-item" *ngFor="let itemGroup of (ref.childrens || [])">
          <div class="label">
            <p>{{itemGroup.label}}</p>
          </div>
          <div class="column-item">
            <div>
              <input
                type="number"
                [ngModel]="itemGroup.originalIn"
                [attr.disabled]="true"
                placeholder="-"
              />
            </div>
            <div>
              <span> </span>
            </div>
          </div>
          <div class="column-item">
            <div>
              <input
                type="number"
                [ngModel]="itemGroup.originalOut"
                [attr.disabled]="true"
                placeholder="-"
              />
            </div>
            <div></div>
          </div>
          <div class="column-item">
            <div>
              <input
                type="number"
                [ngModel]="itemGroup.originalStock"
                [attr.disabled]="true"
                placeholder="-"
              />
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-1"></div>

  <div class="sticky-action-footer">
    <aj-options-backup-panel></aj-options-backup-panel>
  </div>
</aj-wrapper>

<ng-template #actions>
  <div class="flex-1"></div>

  <div class="categories-switch">
    <div
      class="magistrats"
      [ngClass]="{'selected': categorySelected === MAGISTRATS}"
      (click)="$event.stopPropagation(); changeCategorySelected(MAGISTRATS)"
    >
      <input type="radio" [checked]="categorySelected === MAGISTRATS" />
      <p>Magistrats</p>
    </div>
    <div
      class="fonctionnaires"
      [ngClass]="{'selected': categorySelected === FONCTIONNAIRES}"
      class="fonctionnaires"
      (click)="$event.stopPropagation(); changeCategorySelected(FONCTIONNAIRES)"
    >
      <input type="radio" [checked]="categorySelected === FONCTIONNAIRES" />
      <p>Fonctionnaires</p>
    </div>
  </div>
  <aj-select
    title="Mes temps moyens de comparaison"
    [value]="selectedIds"
    [datas]="formDatas"
    (valueChange)="onChangeBackup($event)"
    [multiple]="false"
    class="bg-white"
  >
  </aj-select>
</ng-template>
