<div class="input">
  @if (title !== 'Rechercher un agent') {
    <p class="title">
      {{ title }}
    </p>
  }
  <div class="input-container">
    <img src="/assets/icons/search-line.svg" />
    <input
      #inputElement
      [ngClass]="{ 'restrict-width': title === 'Rechercher un agent' }"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      (ngModelChange)="onChange()"
    />
  </div>
</div>
@if (icon) {
  <div class="button" (click)="onSearch()">
    <mat-icon>{{ icon }}</mat-icon>
  </div>
}
<ng-content></ng-content>
