@use "../../styles/utils.scss" as utils;

:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: utils.$colors-bgSelect;

	>div {
		text-align: center;

		a {
			display: block;
			margin-top: 16px;
		}
	}
}