@import "../../styles/utils.scss";

:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: fColor(cfarine);

	> div {
		text-align: center;

		a {
			display: block;
			margin-top: 16px;
		}
	}
}