.env
build/
.DS_Store
api/.nyc_output
api/coverage
api/S06_men_20220224-002021_RGC-CA_f05.csv
api/S06_men_20220224-002021_RGC-CA_f05.xml
front/.angular
front-admin/.angular
format-datas/outputs*
format-datas/inputs*
format-datas/assets/*.csv
node_modules
api/test/db/*
