@use '../../../styles/utils.scss' as utils;

:host {
  display: block;
  border-radius: 8px;
  border: solid 1px utils.$colors-lightBorder;
  background-color: utils.$colors-white;
}

.header-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: utils.$colors-bgSelect;
  border-bottom: solid 1px utils.$colors-lightBorder;
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  >p {
    color: utils.$colors-cblack;
    font-size: 16px;
    font-weight: bold;
  }
}

.left-panel {
  display: flex;
  gap: 10px;
  align-items: center;

  >p {
    font-size: 16px;
    color: utils.$colors-cblack;
    font-weight: bold;
  }

  >div {
    display: flex;
    align-items: center;

    >.tags {
      display: inline-flex;
      justify-content: flex-end;
      gap: 8px;

      p {
        font-size: 14px;
        color: utils.$colors-cbluedark;
        background-color: utils.$colors-cbluemiddle;
      }
    }
  }
}

.right-panel {
  display: flex;
  gap: 8px;
  align-items: center;

  button {
    border-width: 2px;
    font-weight: 400;
  }
}

.tags {
  flex: 1;

  p {
    display: flex;
    padding: 4px 12px;
    gap: 4px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 29px;
    background-color: utils.$colors-bgTag;
    color: utils.$colors-colorTag;
    white-space: nowrap;

    &.fonction {
      color: white;
      background-color: utils.$colors-cbluedark;
    }

    mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
      position: relative;
      top: 25%;
    }
  }
}

.ressources {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
  border-bottom: 1px solid #ddd;

  >p {
    font-size: 12px;
  }

  >.download {
    padding: 0;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    background-color: #F5F5FE;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;

    mat-icon {
      position: relative;
      font-size: 14px;
      width: 14px;
      height: 14px;
    }
  }
}

panel-activities {
  margin: 7px 16px 16px 16px;
}

.class-export-situation {
  margin-left: 8px;

  i {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
}