<div class="header-panel">
  <p>Répartition actuelle du temps disponible par activité</p>
  <div>
    <div class="tags">
      <p *ngIf="dateStart" class="date">
        <mat-icon>calendar_today</mat-icon>
        <ng-template [ngIf]="dateStart.getTime() !== getToday().getTime()">
          {{
          dateStart && dateStart.getTime() > getToday().getTime()
          ? 'À partir du'
          : 'Depuis le'
          }}
          {{ dateStart | date : 'dd' }} {{ getShortMonthString(dateStart) }}
          {{ dateStart.getFullYear() }}
        </ng-template>
        <ng-template [ngIf]="dateStart.getTime() === getToday().getTime()">
          {{
          dateStart && dateStart.getTime() > getToday().getTime()
          ? "À partir d'Aujourd'hui"
          : "Depuis Aujourd'hui"
          }}
        </ng-template>
      </p>
      <p *ngIf="dateStop" class="date">
        <mat-icon>calendar_today</mat-icon>
        <ng-template [ngIf]="dateStop.getTime() !== getToday().getTime()">Jusqu'au {{ dateStop | date : 'dd' }}
          {{ getShortMonthString(dateStop) }}
          {{ dateStop.getFullYear() }}
        </ng-template>
        <ng-template [ngIf]="dateStop.getTime() === getToday().getTime()">Jusqu'à Aujourd'hui
        </ng-template>
      </p>
      <div class="flex-1"></div>
      <ng-template [ngIf]="canEdit">
        <button class="primary light small outline no-print" (click)="editVentilation.emit(true)">
          Corriger
        </button>
        <button *ngIf="canRemoveSituation" (click)="onRemove.emit()" class="light small outline red no-print">
          Supprimer la situation
        </button>
      </ng-template>
    </div>
  </div>
</div>

<panel-activities [etp]="etp - indisponibility" [activities]="activities"
  [forceToShowContentieuxDetail]="forceToShowContentieuxDetail"></panel-activities>