<div class="details">
  <div class="activities-panel">
    <div>
      <p>Répartition actuelle du temps disponible par activité</p>
      <div class="tags">
        <p *ngIf="dateStart" class="date">
          <mat-icon>calendar_today</mat-icon>
          <ng-template [ngIf]="dateStart.getTime() !== getToday().getTime()">
            {{
            dateStart && dateStart.getTime() > getToday().getTime()
            ? 'À partir du'
            : 'Depuis le'
            }}
            {{ dateStart | date: 'dd' }} {{ getShortMonthString(dateStart) }}
            {{ dateStart.getFullYear() }}
          </ng-template>
          <ng-template [ngIf]="dateStart.getTime() === getToday().getTime()">
            {{
            dateStart && dateStart.getTime() > getToday().getTime()
            ? "À partir d'Aujourd'hui"
            : "Depuis Aujourd'hui"
            }}
          </ng-template>
        </p>
        <p *ngIf="dateStop" class="date">
          <mat-icon>calendar_today</mat-icon>
          <ng-template [ngIf]="dateStop.getTime() !== getToday().getTime()">Jusqu'au {{ dateStop | date: 'dd' }}
            {{ getShortMonthString(dateStop) }}
            {{ dateStop.getFullYear() }}
          </ng-template>
          <ng-template [ngIf]="dateStop.getTime() === getToday().getTime()">Jusqu'à Aujourd'hui
          </ng-template>
        </p>
      </div>
    </div>
    <panel-activities [etp]="etp - indisponibility" [activities]="activities"
      [forceToShowContentieuxDetail]="forceToShowContentieuxDetail"></panel-activities>
  </div>

  <div class="comment">
    <div class="header-comment">
      <mat-icon>message</mat-icon>
      <p>
        <b>Commentaire</b><br />
        <ng-template [ngIf]="commentUpdatedAt">Enregistré {{ formatDate(commentUpdatedAt) }}</ng-template>
      </p>
    </div>

    <textarea placeholder="Commentaire" [ngModel]="comment" (ngModelChange)="updateComment($event)"></textarea>
  </div>
</div>

<div class="actions-panel" *ngIf="canEdit">
  <button (click)="editVentilation.emit(true)" class="outline small primary">
    Corriger cette situation
  </button>
  <button *ngIf="canRemoveSituation" (click)="onRemove.emit()" class="outline small red">
    Supprimer la situation
  </button>
</div>