@import '../../styles/utils.scss';

:host {
  .logo {
    height: 178px;

    >img {
      height: 90px;
      margin-right: 27px;
    }
  }

  form {
    padding: 16px 26px 30px 26px;
    border: solid 1px #ddd;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  label {
    margin-bottom: 8px;
    display: block;
  }

  input {
    margin-bottom: 24px;
  }

  .actions {
    display: block;
    margin-top: 16px;
  }

  a {
    font-size: 14px;
    color: fColor(primary);
  }

  input[type=checkbox] {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-bottom: 0;
  }

  .remember-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    >div {
      display: flex;
      align-items: center;
    }
  }
}

.signup {
  margin-bottom: 24px;
  padding: 16px 24px;
  background-color: fColor(bgProgressBar);

  p:last-child {
    margin-top: 2px;
    margin-bottom: 14px;
  }

  b {
    font-size: 20px;
  }

  a {
    margin-top: 16px;
    display: block;
  }

  button {
    width: 100%;
    font-weight: bold;
    height: 48px;
    line-height: 42px;

    i {
      margin-right: 12px;
      position: relative;
      top: 0px;
    }
  }
}