<aj-wrapper-no-connected title="Simulateur de vol<br/>pour le pilotage<br/>de votre juridiciton">
  <div class="logo">
    <img src="/assets/icons/bloc-marque/bloc-marque-white@2x.svg" />
    <img src="/assets/icons/logos/white-192x192@1x.svg" />
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3>Se connecter</h3>
    <label>Email</label>
    <input class="ethics-ui" placeholder="Email" formControlName="email" type="email" />
    <label>Mot de passe</label>
    <input class="ethics-ui" placeholder="Mot de passe" formControlName="password" type="password" />
    <div class="remember-row">
      <div><input type="checkbox">
        <p>Se souvenir de moi</p>
      </div>
      <a routerLink="/mot-de-passe-oublie">Mot de passe oublié</a>
    </div>
    <input type="submit" class="big-button" value="Se connecter" />


    <div class="actions">
      <p><a routerLink="/signup">Inscription</a></p>
    </div>
  </form>
</aj-wrapper-no-connected>