@use '../../styles/utils.scss';

:host {

  .remember-me {
    display: flex;
    align-items: center;
    justify-content: center;

    label {
      flex: 1;
      margin: initial;
    }
  }

  .logo {
    height: 7em;

    >img {
      height: 90px;
      margin-right: 27px;
    }
  }

  form {
    padding: 1.5em;
    border: solid 1px #ddd;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  label {
    margin-bottom: 8px;
    display: block;
  }

  input {
    margin-bottom: 24px;
  }

  .actions {
    display: block;
    margin-top: 16px;
  }

  a {
    color: fColor(primary);
  }

  .remember-check {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-bottom: 0;
  }

  .remember-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    >div {
      display: flex;
      align-items: center;
    }
  }
}

.signup {
  margin-bottom: 24px;
  padding: 1.5em;
  background-color: fColor(bgProgressBar);

  p:last-child {
    margin-top: 2px;
    margin-bottom: 14px;
  }

  b {
    font-size: 20px;
  }

  a {
    margin-top: 16px;
    display: block;
  }

  button {
    width: 100%;
    font-size: 1.125em;
    font-weight: 500;
    height: 48px;
    line-height: 42px;

    i {
      margin-right: 12px;
      position: relative;
      top: 0px;
    }
  }
}

.sso-bt {
  display: flex;
  width: 100%;
  margin-top: 1em;
  font-size: 1.125em;

  &.disabled {
    opacity: 0.75;
    border-color: fColor(cblack);
    color: fColor(cblack);
  }

  img {
    align-self: stretch;
    margin-right: 16px;
  }
}

.or {
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background-color: fColor(lightBorder);
  }

  p {
    display: inline-block;
    margin: 0;
    padding: 8px;
    background-color: white;
    z-index: 1;
  }
}

.popin-code {
  p {
    margin-bottom: 16px;
  }

  input {
    margin-bottom: 0;
  }
}

.password-line {
  display: flex;

  div {
    &:last-child {
      display: flex;
      justify-content: flex-end;

      span {
        font-size: 14px;

        input {
          position: relative;
          top: 1px;
        }
      }
    }

    flex: 1;
  }
}