node_modules
.idea/
dist
.DS_Store
.env.local
.env
public/img/generators
IGNORE/
config/local*
src/models/TableOrders.js
uploads/
output.pdf
tmp
tmp-old
inputs/*
outputs/*
outputs-old
inputs copy/*
inputs-test
*.zip
