<p (click)="readOnly === false ? picker.open() : null" class="title">
  {{ realValue }}
</p>
<div class="space" (click)="readOnly === false ? picker.open() : null"></div>
<div class="icon" (click)="readOnly === false ? picker.open() : null">
  <mat-icon>{{ icon }}</mat-icon>
  <div class="triangle {{ side }}"></div>
</div>
<input
  matInput
  [ngModel]="value"
  [matDatepicker]="picker"
  (ngModelChange)="onDateChanged($event)"
  [min]="min"
  [max]="max"
  class="{{ side }}"
/>

<mat-datepicker #picker></mat-datepicker>
