@use "../../styles/utils.scss" as utils;

mat-datepicker-popup {
    position: absolute;
    right: 70px !important;
}

:host {

    &.start-white-sim {
        .icon {
            display: none;
        }

        pointer-events: none;
        cursor: auto;
        width: 110px;
        text-align: center;

        &::before {
            content: '';
            display: inline-block;
            height: 0;
            width: 0;
            border-top: 4px solid #ececfe;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            position: absolute;
            bottom: -4px;
            left: 20px;
        }
    }


    display: flex;
    position: relative;
    width: 200px;
    height: 42px;
    background-color: utils.$colors-bgReadETPDark;
    border-radius: 4px;
    cursor: pointer;

    &.read-only {
        cursor: inherit;
        opacity: 0.7;
    }

    p.title {
        color: #0063cb;
        white-space: nowrap;
        font-size: 14px;
        align-self: center;
        line-height: 1px;
        padding-left: 16px;
    }

    div.space {
        flex: 1;
    }

    div.icon {
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: utils.$colors-borderProgressBar;
        border: solid 1px utils.$colors-borderProgressBar;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;

        mat-icon {
            font-size: 16px;
            width: 16px;
            height: 16px;
            margin: 0px 16px;
            color: white;
        }

        .triangle {
            display: inline-block;
            height: 0;
            width: 0;
            border-top: 4px solid utils.$colors-bgSelect;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            position: absolute;
            left: 20px;
            bottom: -4px;

            &.right {
                left: 170px;
                border-top: 4px solid utils.$colors-borderProgressBar;

                &::before {
                    border-top: 4px solid utils.$colors-borderProgressBar;
                }
            }

            &::before {
                content: '';
                display: inline-block;
                height: 0;
                width: 0;
                border-top: 4px solid utils.$colors-bgSelect;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
                position: absolute;
                bottom: 2px;
                left: -4px;
            }
        }
    }

    input {
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        padding: 0;
        border: 0;
        bottom: -4px;

        &.right {
            right: 0px;
        }
    }

}