<aj-popup class="medium no-padding-content no-title border-radius" [ngClass]="{'overflow-visible': referentiel && referentiel.childrens && referentiel.childrens.length <= 4}">
  <div id="header-popin">
    <div class="left-section">
      <div class="title-popin">
        <p>Visualisation du détail des données d'activité du</p>
        <div>
          <h2>{{ referentiel?.label }}</h2>
          <i
            *ngIf="referentiel && referentiel.helpUrl"
            class="ri-lightbulb-flash-line cursor-pointer blue"
            (click)="onShowHelpPanel()"
          ></i>
        </div>
      </div>
      <aj-date-select
        title="Voir les données de"
        [value]="activityMonth"
        dateType="month"
        (valueChange)="selectMonth($event)"
      >
      </aj-date-select>
    </div>
    
    <div class="close-popin">
      <i class="ri-close-line" (click)="close()"></i>
    </div>
  </div>

  <div class="sub-header">
    <p>Nos ressources :</p>
    <a [href]="DATA_GITBOOK" target="_blank">Le databook</a>
    <a [href]="NOMENCLATURE_DOWNLOAD_URL" target="_blank">La nomenclature</a>
  </div>

  <div class="contentieux-header" [ngClass]="{'is-windows': isNotIOS()}">
    <div class="contentieux-title-header"><p>Contentieux</p></div>
    <div class="contentieux-title-header-entrees">
      <p>Entrées</p>
      <div>
        <p><span>Logiciel</span></p>
        <p><span>A-JUSTées</span></p>
      </div>
    </div>
    <div class="contentieux-title-header-sorties">
      <p>Sorties</p>
      <div>
        <p><span>Logiciel</span></p>
        <p><span>A-JUSTées</span></p>
      </div>
    </div>
    <div class="contentieux-title-header-stock">
      <p>Stock</p>
      <div>
        <p><span>Logiciel</span></p>
        <p><span>A-JUSTées</span></p>
      </div>
    </div>
  </div>

  <div class="contentieux-title" *ngIf="referentiel && hasValuesToShow" [ngClass]="{'is-windows': isNotIOS()}">
    <div class="contentieux-title-label">
      <p>Total au {{ referentielMappingName(referentiel.label) }}</p>
    </div>
    <div class="contentieux-title-label-entrees">
      <ng-container
        *ngTemplateOutlet="
          itemTemplate;
          context: {
            $implicit: referentiel,
            original: referentiel.originalIn,
            newValue: total.in,
            valueQuality: referentiel.valueQualityIn,
            type: 'entrees',
            updated: total.in !== null ? true : false,
          }
        "
      ></ng-container>
    </div>
    <div class="contentieux-title-label-sorties">
      <ng-container
        *ngTemplateOutlet="
          itemTemplate;
          context: {
            $implicit: referentiel,
            original: referentiel.originalOut,
            newValue: total.out,
            valueQuality: referentiel.valueQualityOut,
            type: 'sorties',
            updated: total.out !== null ? true : false
          }
        "
      ></ng-container>
    </div>
    <div class="contentieux-title-label-stock">
      <ng-container
        *ngTemplateOutlet="
          itemTemplate;
          context: {
            $implicit: referentiel,
            original: referentiel.originalStock,
            newValue: total.stock,
            valueQuality: referentiel.valueQualityStock,
            type: 'stock',
            updated: total.stock !== null ? true : false,
          }
        "
      ></ng-container>
    </div>
  </div>

  <div id="contentieux-list" [ngClass]="{
      'content-popin-scroll': referentiel && referentiel.childrens && referentiel.childrens.length > 4,
      'content-popin-no-scroll': referentiel && referentiel.childrens && referentiel.childrens.length <= 4,
     }"
    *ngIf="hasValuesToShow"
  >
    <div class="contentieux-item header-list" *ngFor="let item of referentiel?.childrens" [id]="'contentieux-' + item.id">
      <div class="contentieux-item-label">
        <p>{{ item.label }}</p>
      </div>
      <div class="contentieux-item-label-entrees">
        <ng-container
          *ngTemplateOutlet="
            itemTemplate;
            context: {
              $implicit: item,
              original: item.originalIn,
              newValue: item.in,
              valueQuality: item.valueQualityIn,
              type: 'entrees',
              updated: item.activityUpdated?.entrees ? item.activityUpdated?.entrees : null,
            }
          "
        ></ng-container>
      </div>
      <div class="contentieux-item-label-sorties">
        <ng-container
          *ngTemplateOutlet="
            itemTemplate;
            context: {
              $implicit: item,
              original: item.originalOut,
              newValue: item.out,
              valueQuality: item.valueQualityOut,
              type: 'sorties',
              updated: item.activityUpdated?.sorties ? item.activityUpdated?.sorties : null,
            }
          "
        ></ng-container>
      </div>
      <div class="contentieux-item-label-stock">
        <ng-container
          *ngTemplateOutlet="
            itemTemplate;
            context: {
              $implicit: item,
              original: item.originalStock,
              newValue: item.stock,
              valueQuality: item.valueQualityStock,
              type: 'stock',
              updated: item.activityUpdated?.stock ? item.activityUpdated?.stock : null,
            }
          "
        ></ng-container>
      </div>
    </div>
  </div>

  <div class="no-values" *ngIf="!hasValuesToShow">
    <p>Cet écran sera accessible dès l'import des données logiciel du mois.</p>
  </div>

  <div class="bottom-popin">
    <button class="small outline gray" (click)="close()">Annuler</button>
    <div class="flex-1"></div>
    <button
      class="small outline blue"
      (click)="selectMonth(getMonth(activityMonth, -1))"
    >
      Aller au mois précédent
    </button>
    <button
      class="small outline blue"
      (click)="selectMonth(getMonth(activityMonth, 1))"
    >
      Aller au mois suivant
    </button>
    <button class="small primary" (click)="onSave()">Enregistrer</button>
  </div>
</aj-popup>

<ng-template
  #itemTemplate
  let-items
  let-valueQuality="valueQuality"
  let-original="original"
  let-newValue="newValue"
  let-type="type"
  let-updated='updated'
>
  <div class="item-template">
    <div
      class="item-template-original"
      [ngClass]="{
        'to-confirm':
          valueQuality === VALUE_QUALITY_TO_COMPLETE && !hasValue(items, type),
        'grey-bg':
          valueQuality === VALUE_QUALITY_TO_COMPLETE && hasValue(items, type),   
        'is-not-setted':
          valueQuality === VALUE_QUALITY_TO_VERIFY && !hasValue(items, type),
        'is-not-setted-set':
          valueQuality === VALUE_QUALITY_TO_VERIFY && hasValue(items, type),
      }"
    >
      <div>
        <p>{{ original == null ? '-' : original }}</p>
      </div>
      <span *ngIf="valueQuality === VALUE_QUALITY_TO_VERIFY && !hasValue(items, type)">
        <p class="confirm-btn" (click)="onUpdateValue(original.toString(), type, items)">Confirmer</p>
      </span> 
    </div>
    <div
      class="item-template-new-total" 
      [ngClass]="{
      }" 
      *ngIf="items.childrens">
      <ng-container
        *ngTemplateOutlet="
          tooltip;
          context: {
            type: type,
            contentieux: items,
            value: newValue,
            level: 3,
            updated: updated,
          }
        "
      >
      </ng-container>
      <p [ngClass]="{
        'blue': checkIfBlue(items, type, newValue)
      }" >{{ newValue  || '-' }}</p>
    </div>
    <div class="item-template-new" *ngIf="!items.childrens">
      <ng-container
        *ngTemplateOutlet="
          tooltip;
          context: {
            type: type,
            contentieux: items,
            value: inputElement.value,
            level: 4,
            valueQuality: valueQuality,
            updated: updated,
          }
        "
      >
      </ng-container>
      <input
        #inputElement
        type="number"
        [ngModel]="newValue"
        [placeholder]="original !== null ? original : '-' "
        [ngClass]="{
          'blue-bottom': checkIfBlue(items, type, inputElement.value) && ( updated ? updated.value >= 0 : false) ,
          'blue-txt': checkIfBlue(items, type, inputElement.value),
          'is-not-setted-to-verify':
            valueQuality === VALUE_QUALITY_TO_VERIFY && !hasValue(items, type),
        }"
        [id]="'contentieux-' + items.id +'-' + type " 
        (keyup)="onUpdateValue(inputElement.value, type, items)"
      />
    </div>
  </div>
</ng-template>

<ng-template
  #tooltip
  let-type="type"
  let-contentieux="contentieux"
  let-value="value"
  let-level="level"
  let-valueQuality="valueQuality"
  let-updated="updated"
>
  <i
    class="{{
      ( checkIfBlue(contentieux, type, value) && level === 4) ?
      'ri-lightbulb-flash-fill' : 'ri-lightbulb-flash-line'
    }} 
    cursor-pointer 
    {{  checkIfBlue(contentieux, type, value) ? 'blue' : 'grey' }}"
    #light
    [id]="'tooltip-icon-' + contentieux.id +'-' + type " 
    (click)="$event.stopPropagation()"
  ></i>
  <aj-tooltips
    [onOver]="false"
    [onClick]="light"
    [title]="getTooltipTitle(type, contentieux, value)"
    [content]="getTooltipBody(type, contentieux, value, level)"
    [footer]="getTooltipFooter(type, contentieux, value, level)"
    class="medium"
    [ngClass]="{ 
      black: value === null, 
      left: type === 'stock',
      top:  referentiel && referentiel.childrens && (referentiel.childrens.length <= 4 || referentiel.childrens.indexOf(contentieux) > referentiel.childrens.length - 6 ),
      bottom: referentiel && referentiel.childrens && referentiel.childrens.length > 4 && referentiel.childrens.indexOf(contentieux) <= referentiel.childrens.length - 6,
      large: referentiel && referentiel.childrens && (referentiel.childrens.length <= 4 || referentiel.childrens.indexOf(contentieux) > referentiel.childrens.length - 6 ) && type === 'stock',
    }"
  >
  </aj-tooltips>
</ng-template>
