<aj-popup class="large no-padding-content no-title border-radius">
  <div class="header-popin">
    <div class="title-popin">
      <p>Visualisation du détail des données d'activité du</p>
      <h2>XXXXXXX</h2>
    </div>

    <div class="date-popin">
      <aj-date-select
        title="Voir les donnée de"
        [value]="'2024-05-10'"
        dateType="month"
      >
      </aj-date-select>
    </div>

    <div class="close-popin">
      <i class="ri-close-line"></i>
    </div>
  </div>

  <div class="sub-header">
    <p>Nos ressources :</p>
    <a [href]="DATA_GITBOOK" target="_blank">Le databook</a>
    <a [href]="NOMENCLATURE_DOWNLOAD_URL" target="_blank">La nomenclature</a>
  </div>

  <div class="contentieux-header">
    <div class="contentieux-title-header"><p>Contentieux</p></div>
    <div class="contentieux-title-header-entrees">
      <p>Entrées</p>
      <div>
        <p><span>Logiciel</span></p>
        <p><span>A-JUSTées</span></p>
      </div>
    </div>
    <div class="contentieux-title-header-sorties">
      <p>Sorties</p>
      <div>
        <p><span>Logiciel</span></p>
        <p><span>A-JUSTées</span></p>
      </div>
    </div>
    <div class="contentieux-title-header-stock">
      <p>Stock</p>
      <div>
        <p><span>Logiciel</span></p>
        <p><span>A-JUSTées</span></p>
      </div>
    </div>
  </div>

  <div class="content-popin">
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
    <p>Salut</p>
  </div>

  <div class="bottom-popin">Bottom</div>
</aj-popup>
