@import '../../../styles/utils.scss';

.header-popin {
  display: flex;
  padding: 13px 0 8px 0;

  .title-popin {
    flex: 1;
    margin-left: 24px;

    p {
      font-size: 12px;
    }

    h2 {
      font-size: 18px;
      margin: 0;
      padding: 0;
      line-height: 26px;
    }
  }

  .close-popin {
    width: 88px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 24px;
      color: fColor(cblack);
    }
  }
}

.sub-header {
  background-color: fColor(bgSelect);
  display: flex;
  align-items: center;
  padding: 6px 25px;

  > p {
    font-size: 12px;
  }

  > a {
    margin-left: 16px;
    font-size: 14px;
    color: fColor(primary);
  }
}

.contentieux-header {
  display: flex;
  border-bottom: 2px solid fColor(cblack);

  .contentieux-title-header {
    padding: 16px;
    flex: 1;
    display: flex;
    align-items: center;
    color: fColor(cblack);
    font-weight: bold;
  }

  .contentieux-title-header-entrees,
  .contentieux-title-header-sorties,
  .contentieux-title-header-stock {
    width: 178px;
    border-left: solid 1px fColor(cgraylightv3);

    > p {
      margin: 11px 16px 8px 16px;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
    }

    > div {
      display: flex;
      margin-bottom: 6px;

      > p {
        flex: 1;
        text-align: center;
        font-size: 12px;

        span {
          padding: 2px 8px;
          border-radius: 12px;
          background-color: fColor(cgrayDefault);
        }
      }
    }
  }
}

.content-popin {
  overflow: auto;
}
