@import '../../../styles/utils.scss';

:host {
  display: block;
  margin-bottom: 8px;
  position: sticky;
  top: 0;
  z-index: 100;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: white;
}

.first-row {
  position: relative;
  height: 71px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-style: solid;
  border-bottom-color: fColor(cgrayDefault);
  border-bottom-width: 1px;

  aj-back-button {
    position: absolute;
    left: 16px;
    top: 26px;
    font-size: 14px;
  }
}

.group-first-row {
  height: 85px;
  overflow: hidden;
  position: relative;

  .disk-etp {
    width: 112px;
    height: 112px;
    padding: 6px;
    border-radius: 112px;
    background-color: white;
    position: absolute;
    left: 100px;
    top: 14px;
  }
}

.second-row {
  padding: 0 24px 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  >div {
    display: flex;
    flex-direction: column;

    &.right-second-row {
      align-items: flex-end;
    }

    &.left-second-row {
      display: flex;
      width: 60%;
    }
  }



  .user-name,
  .matricule {

    input {
      border: none;
      font-size: 20px;
      font-weight: bold;
      white-space: wrap;
      outline: none;
      color: fColor(cblack);
      padding: 4px;
      background: none;
      box-sizing: border-box;
      //overflow: hidden;
      height: 30px;
      width: inherit;
      min-width: 110px;
      overflow: hidden;

      /**
      position: relative;
      top: 0;
      left: 0;
      min-width: 120px;

      appearance: none;
      box-sizing: border-box;
      font-size: 20px;
      padding: 0px 0px 6px;
      //border: 0;
      //background: linear-gradient(to right, gray 50%, transparent 50%), linear-gradient(to right, gray 50%, transparent 50%), linear-gradient(to bottom, gray 50%, transparent 50%), linear-gradient(to bottom, gray 50%, transparent 50%);
      background-size: 8px 1px, 8px 1px, 1px 8px, 1px 8px;
      background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
      background-position: 0px 0px, 0px 1em, 0px 0px, 100% 0px;
      box-shadow: inset 0px -10px 0px white;
      outline: none;
*/
      &::placeholder {
        color: #aeaeae;
      }

      &:focus {
        outline: 1px solid #6a6af4 !important;
        background-color: #ededed;
        color: fColor(cblack);
      }
    }

    ;
  }

  .user-name {
    display: flex;
    align-items: center;

    width: 100%;
    flex-wrap: wrap;

    .input-wrapper:first-child {
      margin-right: 6px;
    }

    .input-wrapper {
      min-width: 120px;
      position: relative;
      box-sizing: border-box;
      line-height: 1em;
      padding: 4px 4px 4px 1px;
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
    }


    mat-icon {
      width: 12px;
      height: 12px;
      font-size: 12px;
      margin-left: 10px;
      margin-top: 4px;
      align-self: center;
    }

    aj-help-button {
      margin-left: 22px;
    }
  }

  [id^="input-span"] {
    font-family: inherit;
    white-space: normal; //nowrap;
    height: 1em;
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
    position: relative;
    opacity: 0;
    min-width: 2px;
    user-select: none;
    vertical-align: top;
  }

  .matricule {
    display: flex;
    align-items: center;
    margin-right: 14px;
    padding-left: 1px;

    mat-icon {
      width: 7px;
      height: 7px;
      font-size: 7px;
      margin-left: 5px;
      margin-top: 1px;
    }

    input {
      font-size: 12px !important;
      /**
      position: relative;
      padding-bottom: 0;
      height: 30px;
      overflow: hidden;
*/
    }
  }

  .tags {
    display: flex;
    align-items: center;

    p {
      font-size: 14px;
      color: fColor(cblackdark);
      background-color: fColor(cgrayDefault);
      margin-right: 8px;
      padding: 2px 8px;
      border-radius: 40px;
    }
  }

  .user-updated-at {
    font-size: 12px;
    color: fColor(cgray);
    display: flex;
    align-items: center;
  }

  .dates {
    display: flex;

    aj-date-select {
      margin-left: 8px;
      width: 150px;
    }
  }

  .last-row {
    display: flex;
  }
}