<div id="group-first-row" class="group-first-row">
  <div class="first-row" [style.background-color]="category ? getBgCategoryColor(category && category.label) : null"
    [style.border-bottom-color]="category ? getCategoryColor(category && category.label) : null">
    <div id="backButton">
      <aj-back-button [routerLink]="backUrl" [fragment]="backAnchor" />
    </div>

    <button class="primary light small no-print" (click)="onExport()">
      <mat-icon>save</mat-icon>
      Exporter en PDF
    </button>
  </div>

  <div class="disk-etp">
    <big-etp-preview [etp]="timeWorked === 'Parti' ? 0 : (etp || 0) - indisponibility"
      [realETP]="timeWorked === 'Parti' ? 0 : etp" [indisponibility]="indisponibility"></big-etp-preview>
  </div>
</div>

<div id="second-row" class="second-row">
  <div class="left-second-row">
    <div class="user-name">
      <div class="firstname">
        <div class="input-wrapper" [ngStyle]="{ width: inputsWidth['firstName'] + 'px' }"
          [ngClass]="{ error: humanResourceService.alertList().includes('firstName') }">
          <input id="firstName" #firstNameDom #input [placeholder]="'Prénom'" [ngModel]="currentHR?.firstName"
            (ngModelChange)="completeFormWithDomObject('firstName', $event)" (keydown)="preventSubmit($event)"
            (keyup)="onFocusNext($event)" (input)="adjustInputWidth($event, 'firstName')" />
        </div>
        <aj-alert-small *ngIf="humanResourceService.alertList().includes('firstName')"
          alertMessage="Vous devez saisir un prénom pour valider la création !"
          (onClose)="removeAlertItem('firstName')"></aj-alert-small>
      </div>
      <div class="lastname">
        <div class="input-wrapper" [ngStyle]="{ width: inputsWidth['lastName'] + 'px' }"
          [ngClass]="{ error: humanResourceService.alertList().includes('lastName') }">
          <input id="lastName" #input [placeholder]="'Nom'" [ngModel]="currentHR?.lastName"
            (ngModelChange)="completeFormWithDomObject('lastName', $event)" (keydown)="preventSubmit($event)"
            (keyup)="onFocusNext($event)" (input)="adjustInputWidth($event, 'lastName')" />
        </div>
        <aj-alert-small *ngIf="humanResourceService.alertList().includes('lastName')"
          alertMessage="Vous devez saisir un nom pour valider la création !"
          (onClose)="removeAlertItem('lastName')"></aj-alert-small>
      </div>
      <aj-help-button (click)="openHelpPanel(currentHR && currentHR.situations.length ? 'fix-fiche' : 'add-fiche')"
        class="no-print help-icon" text="Qu'est-ce que c'est ?"></aj-help-button>
    </div>
    <div class="last-row">
      <div class="matricule input-wrapper">
        <input id="matricule" #input #matriculeDom [placeholder]="'Matricule (facultatif)'"
          [ngModel]="currentHR?.matricule" (ngModelChange)="completeFormWithDomObject('matricule', $event)"
          (keydown)="keyPress($event)" (keyup)="onFocusNext($event)" />
      </div>
      <div class="tags">
        <p *ngIf="fonction" class="fonction"
          [style.background-color]="category ? getCategoryColor(category && category.label) : null"
          [style.color]="category ? 'white' : null">
          {{ fonction.code }}
        </p>
        <p *ngIf="timeWorked" class="time-worked">{{ timeWorked }}</p>
      </div>
      <p class="user-updated-at" *ngIf="currentHR && onEditIndex === null">
        {{
        currentHR && currentHR.updatedAt
        ? 'Dernière mise à jour le ' +
        getDate(currentHR.updatedAt) +
        ' ' +
        getMonthString(currentHR.updatedAt) +
        ' ' +
        getFullYear(currentHR.updatedAt)
        : ''
        }}
      </p>
    </div>
  </div>

  <div class="right-second-row">
    <div class="dates">
      <aj-alert-small *ngIf="humanResourceService.alertList().includes('startDate')"
        alertMessage="Vous devez saisir une date d'arrivée !" (onClose)="removeAlertItem('startDate')"></aj-alert-small>
      <aj-date-select title="Date d'arrivée" id="calendar" [value]="currentHR && currentHR.dateStart"
        (valueChange)="updateHuman('dateStart', $event)"
        [ngClass]="{ error: humanResourceService.alertList().includes('startDate') }"></aj-date-select>
      <aj-date-select title="Date de départ" id="calendar" [value]="currentHR && currentHR.dateEnd"
        (valueChange)="updateHuman('dateEnd', $event)" [clearable]="true"></aj-date-select>
    </div>
  </div>
</div>