@import '../../../styles/utils.scss';

:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 100;
  border-radius: 8px;
  background-color: white;

  &.duringPrint {
    position: relative;
  }

  .error {
    // border: 1px solid #0063CB;
    // background-color: #F5F5FE !important;
    background-color: #fef5e8 !important;
    border: solid 1px #f4be30 !important;
  }

  #matricule {
    height: 28px;
  }
}

.first-row {
  position: relative;
  height: 71px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-style: solid;
  border-bottom-color: fColor(cgrayDefault);
  border-bottom-width: 1px;
  background-color: fColor(ventilationDefaultGreyBg);

  aj-back-button {
    position: absolute;
    left: 16px;
    top: 26px;
    font-size: 14px;
  }

  .right-panel {
    width: auto;
    padding: 4px 8px;

    h2 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      line-height: normal;
      font-weight: bold;
      color: fColor(cblack);
    }

    p {
      color: fColor(primary);
      border-bottom: 2px solid fColor(primary);
      font-size: 0.875em;
    }

    .elements {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: fColor(cbluedark);
    }

    .element {
      display: flex;
      align-items: center;
      font-size: 16px;
      position: relative;

      .mat-icon {
        padding: 4px;
        font-size: 0.875em;
      }
    }

    .element :hover {
      cursor: pointer;
    }
  }
}

.group-first-row {
  height: 85px;
  overflow: hidden;
  position: relative;

  .disk-etp {
    width: 112px;
    height: 112px;
    padding: 6px;
    border-radius: 112px;
    background-color: white;
    position: absolute;
    left: 100px;
    top: 14px;
  }
}

.second-row {
  padding: 0 12px 12px 12px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  >div {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &.left-second-row {
      display: flex;
      width: 60%;
    }
  }



  .user-name,
  .last-row {
    position: relative;

    input {
      border: none;
      font-size: 20px;
      font-weight: 700;
      white-space: wrap;
      outline: none;
      color: fColor(cblack);
      background: none;
      box-sizing: border-box;
      height: auto;
      width: inherit;
      min-width: 200px;
      overflow: hidden;
      padding: 4px;
      border-radius: 4px;

      &::placeholder {
        color: #aeaeae;
      }

      &:hover {
        border: 1px solid #DDD;
        background-color: #F6F6F6;
      }

      &:focus {
        border: 1px solid #DDD;
        background-color: #F6F6F6;
      }
    }

    .input-wrapper {
      position: relative;
      min-width: 200px;
      box-sizing: border-box;
      line-height: 1em;
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .user-name {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  .last-row {
    display: flex;
    align-items: center;
    gap: 4px;

    input {
      font-weight: normal;
      font-size: 12px;
    }
  }

  [id^="input-span"] {
    font-family: inherit;
    white-space: normal; //nowrap;
    height: 1em;
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
    position: relative;
    opacity: 0;
    min-width: 2px;
    user-select: none;
    vertical-align: top;
  }

  .tags {
    display: flex;
    align-items: center;
    gap: 4px;

    p {
      display: flex;
      padding: 4px 12px;
      font-size: 14px;
      color: fColor(cblackdark);
      background-color: fColor(cgrayDefault);
      // padding: 2px 8px;
      border-radius: 40px;
      white-space: nowrap;
    }
  }

  .user-updated-at {
    font-size: 12px;
    color: fColor(cgray);
    display: flex;
    align-items: center;
  }

  .dates {
    position: relative;
    display: flex;
    gap: 8px;

    aj-date-select {
      padding: 2px 8px;
      width: 150px;
    }
  }

  .last-row {
    display: flex;
  }

  .firstname,
  .lastname {
    position: relative;
  }

  .lastname {
    .alert {
      left: 25%;
    }
  }
}