<div class="main" *ngIf="showPanel">
  <span class="info-bubble">
    <i class="material-icons">info</i>
  </span>
  <p>
    La justesse des restitutions dépend de l'exhaustivité et de la fraîcheur des données d'effectifs et d'activité de
    la juridiction. Pensez à mettre à jour la situation de vos agents et à vérifier régulièrement vos données d'activité
    !
  </p>
  <div class="close-icon cursor-pointer" (click)="showPanel = false">
    <i class="material-icons ">closes</i>
  </div>
</div>