@use '../../styles/utils.scss' as utils;

:host {
  .logo {
    height: 135px;

    >img {
      height: 90px;
      margin-right: 27px;
    }
  }

  h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 8px;
    text-align: center;
  }

  .back-link {
    margin-bottom: 0;

    a {
      font-size: 18px;
      color: utils.$colors-primary;
      text-decoration: none;
    }
  }

  .block {
    max-width: 685px;
    width: 90%;
    margin: auto;
  }

  .block-info {
    background-color: utils.$colors-bgBlueTag;
    padding: 16px 8px 16px 23px;

    .icon-i {
      font-size: 10px;
      color: white;
      width: 13px;
      min-width: 13px;
      line-height: 13px;
      height: 13px;
      text-align: center;
      background-color: utils.$colors-textBlueTag;
      float: left;
      margin-right: 5px;
      margin-top: 6px;
    }

    p {
      font-size: 16px;
      color: utils.$colors-textBlueTag;
    }
  }

  .block-text {
    padding: 24px 16px;
    border-radius: 8px;
    border: solid 1px utils.$colors-cgraylightv3;
    margin-top: 24px;
    text-align: center;
  }

  #calendly {
    height: 1100px;
    margin-right: -16px;
    margin-left: -16px;
  }
}