<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Changer le mot de passe</h2>
  <p>Email</p>
  <input class="ethics-ui" placeholder="Email" formControlName="email" type="email" />
  <p>Code de vérification</p>
  <input class="ethics-ui" placeholder="Code" formControlName="code" type="text" />
  <p>Nouveau mot de passe</p>
  <input class="ethics-ui" placeholder="Nouveau mot de passe" formControlName="password" type="password" />
  <p>Confirmer le nouveau de passe</p>
  <input class="ethics-ui" placeholder="Confirmer nouveau mot de passe" formControlName="passwordConf"
    type="password" />
  <p></p>
  <input type="submit" class="big" value="Changer mon mot de passe" />

  <div class="actions">
    <p><a routerLink="/signup">Inscription</a></p>
    <p><a routerLink="/login">Connexion</a></p>
    <p><a routerLink="/mot-de-passe-oublie">Mot de passe oublié</a></p>
  </div>
</form>