<aj-wrapper-no-connected
  [title]="'Un outil d\'aide à la décision et<br/>de prospective pour piloter<br/>votre juridiction'"
>
  <div class="logo">
    <img src="/assets/icons/bloc-marque/bloc-marque-white@2x.svg" alt="ministère de la justice" />
    <img src="/assets/icons/logos/white-192x192@1x.svg" alt="a-just" />
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="box-border">
      <h3>Changer son mot de passe</h3>
      <label>Email</label>
      <input class="ethics-ui" placeholder="Email" formControlName="email" type="email" autocomplete="off" />
      <label>Code de vérification</label>
      <input class="ethics-ui" placeholder="Code" formControlName="code" type="text" autocomplete="off" />
      <div class="password-line">
        <label>Nouveau mot de passe</label>
        <span class="cursor-pointer" (click)="oncheck.click(); $event.stopPropagation()">
          <input
            (click)="$event.stopPropagation()"
            class="cursor-pointer"
            #oncheck
            type="checkbox"
            formControlName="checkboxPassword"
          />
          Afficher
        </span>
      </div>
      <input
        class="ethics-ui first-password"
        placeholder="Nouveau mot de passe"
        formControlName="password"
        [type]="form.get('checkboxPassword')?.value ? 'text' : 'password'"
        autocomplete="off"
        (keyup)="checkStrength($event)"
      />
      <label class="sub-title no-margin">Votre mot de passe doit contenir au moins :</label>
      <label class="sub-label password" [ngStyle]="{ color: getParamColor(0) }">
        <span [ngStyle]="{ 'background-color': getParamColor(0) }">i</span>
        &nbsp; {{ MIN_PASSWORD_LENGTH }} caractères minimum
      </label>
      <label class="sub-label password" [ngStyle]="{ color: getParamColor(1) }">
        <span [ngStyle]="{ 'background-color': getParamColor(1) }">i</span>
        &nbsp; 1 caractère spécial
      </label>
      <label class="sub-label password" [ngStyle]="{ color: getParamColor(2) }">
        <span [ngStyle]="{ 'background-color': getParamColor(2) }">i</span>
        &nbsp; 1 chiffre minimum
      </label>
      <label class="sub-label password last" [ngStyle]="{ color: getParamColor(3) }">
        <span [ngStyle]="{ 'background-color': getParamColor(3) }">i</span>
        &nbsp; 1 majuscule
      </label>
      <label>Confirmer le nouveau de passe</label>
      <input
        class="ethics-ui confirm-password"
        placeholder="Confirmer nouveau mot de passe"
        formControlName="passwordConf"
        [type]="form.get('checkboxPassword')?.value ? 'text' : 'password'"
        autocomplete="off"
      />
      <div>
        <input type="submit" class="big-button" value="Changer mon mot de passe" />
      </div>
    </div>

    <div class="login">
      <p><b>Vous avez déjà un compte</b></p>
      <a routerLink="/connexion">
        <button class="outline white strict-border">
          <i class="ri-login-box-line"></i>
          Se connecter
        </button>
      </a>
    </div>

    <div class="signup">
      <p>Vous n’avez pas encore de compte</p>
      <p><b>Rejoindre A-JUST</b></p>
      <a routerLink="/inscription">
        <button class="outline white strict-border">
          <i class="ri-login-box-line"></i>
          Demander votre embarquement
        </button>
      </a>
    </div>
  </form>
</aj-wrapper-no-connected>
