@use '../../styles/utils.scss';

:host ::ng-deep .ql-editing {
  position: absolute;
  left: 16px !important;
}

:host ::ng-deep .ql-toolbar {
  visibility: --display-toolbar;
}

:host {
  --display-toolbar: visible;
  position: relative;
  display: block;
  border-radius: 8px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #ddd;
  background-color: white;

  &.no-main-style {
    border-radius: inherit;
    box-shadow: inherit;
    border: inherit;
    background-color: inherit;
  }
}

.title-editor {
  background-color: fColor(lightBorder);
  padding: 8px 18px;

  p {
    font-size: 16px;
    font-weight: bold;
  }
}

.content-editor {
  padding: 0 16px;
  position: relative;

  &.hideToolbar::ng-deep {
    .ql-toolbar {
      visibility: hidden !important;
    }
  }
}