@use "../../../styles/utils.scss";

:host {
  mat-icon {
    color: white;
    margin-right: 8px;
  }

  .title {
    padding: 24px 24px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    position: relative;
    z-index: 1;

    p {
      font-size: 16px;
      font-weight: bold;
      color: #3a3a3a;
    }

    label {
      font-size: 14px;
      line-height: 1.71;
      color: #929292;
    }
  }

  .exportateur-container {
    position: relative;
    display: flex;
    padding: 36px 16px 36px 16px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

    .space {
      flex: 1
    }

    aj-date-select {
      margin-right: 8px;
    }

    .category-select {
      margin-right: 8px;
      width: 148px;
    }

    .export-button {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      border-radius: 8px;
      background-color: #6a6af4;
      border: 1px solid fColor(borderSelect);
      padding: 4px 8px;
      height: 55px;

      &.disabled {
        cursor: none;
        opacity: 0.3
      }

      p {
        color: white !important;
        font-size: 14px;
      }
    }
  }
}