<div class="title">
  <p>Extracteur de données d'effectifs</p>
</div>
<div class="exportateur-container">
  <aj-date-select class="extend" title="Pour la période du" [value]="dateStart"
    (valueChange)="selectDate('start', $event)"></aj-date-select>
  <aj-date-select class="extend" title="À" [value]="dateStop"
    (valueChange)="selectDate('stop', $event)"></aj-date-select>

  <aj-select title="Catégorie" class="category-select" [defaultRealValue]="'Sélectionner la catégorie'" [value]="null"
    [datas]="categories" [multiple]="true" (valueChange)="updateCategory($event)"></aj-select>

  <div id="export-excel-button" class="export-button {{ classSelected }}" (click)="export()">
    <mat-icon class="shape">save</mat-icon>
    <p>Télécharger le fichier au format Excel</p>
  </div>

  <!--
  <div>
    <form #formVentilations>
      <label>Fichier à importer et modifier</label>
      <input name="file" type="file" accept=".xlsx" />
    </form>
    <button (click)="onSendActivity(formVentilations)">Envoyer</button>
  </div>
-->
</div>