<h3>Les données d'activité à compléter</h3>
<p class="description">
  pour profiter de toutes les fonctionnalités dans les contentieux concernés.
</p>

<div class="tags">
  <span *ngFor="let t of tags; let index = index" [ngClass]="{ selected: t.selected }" (click)="onSelectedTag(index)">{{
    t.label }}</span>
</div>

<div class="referentiel-row" *ngFor="let row of list">
  <div>
    <a routerLink="/donnees-d-activite" [queryParams]="{month: row.lastDateWhithoutData, cont: row.id}"><span
        class="tag" [ngStyle]="{
        'background-color': userService.referentielMappingColorByInterface(row.label)
      }">{{ userService.referentielMappingNameByInterface(row.label)
        }}</span></a>
  </div>
  <div>
    <a *ngFor="let tag of row.childrens" routerLink="/donnees-d-activite"
      [queryParams]="{month: tag.lastDateWhithoutData, cont: tag.id, selectedEmptyValue: true}"><span class="tag"
        [ngStyle]="{
        color: userService.referentielMappingColorByInterface(row.label),
        'background-color': userService.referentielMappingColorByInterface(row.label, 0.2)
      }">{{ userService.referentielMappingNameByInterface(tag.label)
        }}</span></a>
  </div>
</div>