@use "../../../styles/utils.scss" as utils;

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding-bottom: 50px;

  &.button-filter {
    position: relative;
    z-index: initial;
    padding-bottom: 0px !important;
  }
}

.background {
  position: absolute;
  background-color: rgba(utils.$colors-cblackdark, 0.37);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popin {
  position: absolute;
  display: block;
  background-color: white;
  border-radius: 8px;
  position: absolute;
  width: 315px;
  padding: 16px;
}

.panel-title {
  margin-top: 8px;
  font-weight: bold;
  font-size: 20px;
}

.filter-group {
  margin-top: 16px;
  color: utils.$colors-cblack;
  font-weight: bold;
}

.close {
  position: absolute;
  top: 29px;
  right: 17px;
  font-size: 24px;
  cursor: pointer;
}