<div class="background animate__animated animate__fadeIn"></div>

<div class="popin animate__animated animate__fadeIn" #popin (click)="$event.stopPropagation()"
  [ngStyle]="{left: leftPosition+'px',top: topPosition+'px', opacity: leftPosition === 0 ? 0 : 1}">
  <p class="panel-title">Options d'affichage</p>
  <p class="filter-group">Trier par :</p>
  <aj-list-selection title="Critère" [list]="sortList" [value]="sortValue"
    (valueChanged)="sortValue = $event; updateParams()"></aj-list-selection>
  <aj-list-selection [list]="orderList" [value]="orderValue" (valueChanged)="orderValue = $event; updateParams()">
  </aj-list-selection>
</div>