@use '../../../styles/utils.scss' as utils;

:host {
  display: block;
  border-bottom: solid 1px utils.$colors-lightBorder;
  padding: 24px;

  h3 {
    color: utils.$colors-primary;
    font-size: 20px;
    margin-bottom: 15px;
  }

  .tab-month {
    display: flex;
    flex-wrap: wrap;

    >a {
      display: inline-block;
      text-decoration: none;
      height: 20px;
      border-radius: 4px;
      background-color: utils.$colors-bgSelect;
      color: utils.$colors-cgray;
      font-size: 12px;
      font-weight: bold;
      padding: 0 6px;
      margin-right: 8px;
      margin-bottom: 8px;
      text-transform: uppercase;

      &.is-active {
        background-color: utils.$colors-bgBlueTag;
        color: utils.$colors-textBlueTag;
      }

      &.is-current {
        background-color: utils.$colors-bgYellowTag;
        color: utils.$colors-textYellowTag;
      }
    }
  }
}