<div *ngIf="header" class="header-panel">
  <div class="sub-item" *ngFor="let ref of referentiel">
    <div class="text">
      <div class="label">
        <p>
          <b>{{ referentielMappingName(ref.label) }}</b>
        </p>
      </div>
      <div class="etp">
        <p>{{ ref.totalAffected | number: '0.2-2' }}</p>
      </div>
      <div class="flex-1"></div>
    </div>
    <div class="color" [ngStyle]="{ 'background-color': referentielMappingColor(ref.label) }"></div>
  </div>
</div>

<div class="activities-panel">
  <div class="sub-item" *ngFor="let ref of referentiel; trackBy: trackById; let index = index">
    <progression-bar [percent]="ref.percent" [selected]="canSelectedTopReferentiel"
      [color]="referentielMappingColor(ref.label)" (click)="canSelectedTopReferentiel ? null : onTogglePanel(index)"
      (percentChange)="onChangePercent(referentiel[index], $event)" class="dark-mode">
    </progression-bar>
  </div>
</div>

<div *ngIf="!forceToShowContentieuxDetail && refIndexSelected !== -1" class="sub-panel-activites" [ngStyle]="{
    'border-top-color': referentielMappingColor(
      referentiel[refIndexSelected].label
    )
  }">
  <div class="sub-item">
    <progression-bar [percent]="referentiel[refIndexSelected].percent"
      [lockedMessage]="REFERENTIELS_CANT_UPDATED.indexOf(referentiel[refIndexSelected].label) !== -1 ? 'Vous ne pouvez pas modifier le référentiel \''+referentiel[refIndexSelected].label+'\' !' : null"
      [color]=" referentielMappingColor(referentiel[refIndexSelected].label)" [selected]="selected"
      (percentChange)="onChangePercent(referentiel[refIndexSelected], $event)" class="dark-mode">
    </progression-bar>
    <p>{{ referentielMappingName(referentiel[refIndexSelected].label) }}</p>
  </div>
  <div class="sub-item sub-item-or" *ngIf="(referentiel[refIndexSelected].childrens || []).length">
    <p>Dont</p>
  </div>
  <div class="group-sub-item">
    <ng-template ngFor let-ref [ngForOf]="referentiel[refIndexSelected].childrens || []">
      <div *ngIf="ref.label === 'Fonctionnaires affectés au CPH'" class="sub-item"></div>
      <!-- Add element to put the next to an other line -->
      <div class="sub-item">
        <progression-bar [percent]="ref.percent" [color]="referentielMappingColor(referentiel[refIndexSelected].label)"
          [selected]="selected" (percentChange)="
          onChangePercent(ref, $event, referentiel[refIndexSelected])
        " class="dark-mode">
        </progression-bar>
        <p>{{ referentielMappingName(ref.label) }}</p>
      </div>
    </ng-template>
  </div>
  <div class="arrow-block" [ngStyle]="{
      left: (refIndexSelected * 100) / referentiel.length + '%',
      width: 100 / referentiel.length + '%'
    }">
    <div class="arrow" [style.--border-color]="referentielMappingColor(
          referentiel[refIndexSelected].label
        )"></div>
  </div>
</div>

<ng-template [ngIf]="forceToShowContentieuxDetail">
  <ng-template ngFor let-mainReferentiel [ngForOf]="referentiel">
    <ng-template [ngIf]="mainReferentiel.percent">
      <div class="sub-panel-activites" [ngStyle]="{
  'border-top-color': referentielMappingColor(
    mainReferentiel.label
  )
}">
        <div class="sub-item">
          <progression-bar [percent]="mainReferentiel.percent" [color]="referentielMappingColor(mainReferentiel.label)"
            class="dark-mode">
          </progression-bar>
          <p>{{ referentielMappingName(mainReferentiel.label) }}</p>
        </div>
        <div class="sub-item sub-item-or" *ngIf="countNbSubItem(mainReferentiel)">
          <p>Dont</p>
        </div>
        <div class="group-sub-item">
          <ng-template ngFor let-ref [ngForOf]="mainReferentiel.childrens || []">
            <div *ngIf="ref.label === 'Fonctionnaires affectés au CPH'" class="sub-item"></div>
            <!-- Add element to put the next to an other line -->
            <div class="sub-item" *ngIf="ref.percent">
              <progression-bar [percent]="ref.percent" [color]="referentielMappingColor(mainReferentiel.label)"
                class="dark-mode">
              </progression-bar>
              <p>{{ referentielMappingName(ref.label) }}</p>
            </div>
          </ng-template>
        </div>
      </div>
    </ng-template>
  </ng-template>
</ng-template>

<div class="progress-bar" [ngClass]="{ 'low-completion': percentAffected !== 100 }">
  <p>Taux d'affectation du temps disponible : {{ percentAffected | number: '0.0-2' }}%</p>
  <div class="progress-bar-line">
    <div [style.width.%]="percentAffected <= 100 ? percentAffected : 100"></div>
  </div>
</div>