@use '../../styles/utils.scss' as utils;

:host {
  display: block;

  &.dark-mode {
    p {
      color: utils.$colors-grayRow;
    }

    .progress-bar {
      p {
        color: utils.$colors-grayRow;
      }
    }
  }
}

.header-panel {
  display: flex;
  height: 87px;
  // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 8px;

  &.ca {
    min-height: 87px !important;
    height: auto;
    word-break: break-all;
  }

  .sub-item {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;

    // &:first-child div.text {
    //   border-left: 1px solid rgba(0, 0, 0, 0.1);
    // }

    &:last-child div.text {
      border-right: none;
    }


    div.text {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: 1px solid rgba(0, 0, 0, 0.1);

      div {
        display: flex;
        align-items: center;

        &.label {
          flex: 2;
          color: utils.$colors-cblackdark;
          text-transform: uppercase;
          display: flex;
          align-items: flex-end;
        }

        &.etp {
          flex: 1;

          >p {
            color: utils.$colors-headerNumberColor !important;
          }
        }
      }

      p {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        margin: 0 2px;
      }
    }

    div.color {
      height: 8px;
      opacity: 0.2;
    }
  }
}

.activities-panel {
  display: grid;

  .sub-item {
    justify-content: center;
    display: flex;
  }

  >div {
    progression-bar {
      width: 90%;
      cursor: pointer;
    }
  }
}

.progress-bar {
  margin-top: 16px;
  padding: 0px 8px;
  display: flex;
  align-items: center;

  &.low-completion {
    p {
      color: utils.$colors-cred;
    }

    .progress-bar-line>div {
      background-color: utils.$colors-cred;
    }
  }

  &.placeholder {
    p {
      color: utils.$colors-cplaceholder;
    }

    .progress-bar-line,
    .progress-bar-line>div {
      background-color: utils.$colors-cplaceholder;
    }
  }

  p {
    width: 271px;
    font-size: 12px;
    color: utils.$colors-cgray;
  }

  .progress-bar-line {
    flex: 1;
    background-color: utils.$colors-bgProgressBar;
    height: 6px;
    border-radius: 8px;
    margin-left: 8px;

    >div {
      height: 100%;
      background-color: utils.$colors-lineProgressBar;
      border-radius: 8px;
    }
  }
}

.sub-panel-activites {
  display: flex;
  margin-top: 16px;
  padding-top: 8px;
  margin-bottom: 16px;
  border-top: 2px solid utils.$colors-cgray;
  position: relative;

  .arrow-block {
    position: absolute;
    top: -6px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow {
      border: solid var(--border-color);
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      position: relative;

      &::before {
        content: " ";
        position: absolute;
        top: 2px;
        width: 5px;
        background-color: var(--border-color);
        left: 2px;
        height: 4px;
        border-top-left-radius: 3px;
      }
    }
  }

  .group-sub-item {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 25%);

    >div.sub-item {
      width: 100%;
      margin-bottom: 4px;
    }
  }

  div.sub-item {
    width: 18%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    &.sub-item-or {
      width: 9%;
      justify-self: center;
    }

    progression-bar {
      width: 50%;
      height: 62px;
    }

    >p {
      text-align: center;
      font-size: 10px;
      font-weight: 500;
      margin-top: 4px;
    }

    .tooltip {
      position: absolute;
      top: 83%;
      right: 30%;
      width: 150%;
      z-index: 99;
      overflow: hidden;

      .arrow-top {
        width: 15px;
        height: 15px;
        background-color: utils.$colors-cblue;
        display: inline-block;
        margin-left: 75%;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        margin-bottom: -13px;
      }

      .title {
        background-color: utils.$colors-cblue;
        color: utils.$colors-white;
        font-size: 16px;
        padding: 16px;
      }

      .texte {
        //background-color: utils.$colors-bgTooltip;
        color: utils.$colors-cblue;
        padding: 16px;
      }
    }
  }
}