<aj-wrapper-no-connected
  [title]="'Simulateur de vol<br/>pour le pilotage<br/>de votre juridiction'"
  class="small-left-panel"
>
  <div class="logo">
    <img src="/assets/icons/bloc-marque/bloc-marque-white@2x.svg" alt="ministère de la justice" />
    <img src="/assets/icons/logos/white-192x192@1x.svg" alt="a-just" />
  </div>
  <aj-back-button [routerLink]="backLink" />
  <h3>Conditions générales d'utilisation</h3>

  <p>En vigueur à partir du 10 juin 2023</p>

  <p>
    Nous vous invitons à lire avec attention le présent document (ci-après, les « Conditions Générales d'Utilisation »).
  </p>
  <p>
    En accédant au présent site A-JUST (ci-après le « Site »), l'utilisateur du Site (ci-après « l'Utilisateur » ou «
    Vous ») s'engage à respecter les présentes Conditions Générales d'Utilisation.
  </p>
  <p>L'Utilisateur est nécessairement un membre du personnel du ministère de la Justice.</p>
  <p>
    Les présentes conditions générales d’utilisation (dites « CGU ») définissent les conditions d’accès et d’utilisation
    des services par l’Utilisateur.
  </p>

  <h4>Article 1 - Champ d’application</h4>
  <p>L'inscription est gratuite et réservée aux agents des juridictions du ministère de la Justice.</p>

  <h4>Article 2 - Objet</h4>
  <p>
    La start-up d'Etat A-JUST construit un outil numérique de pilotage pour les équipes de direction des tribunaux
    judiciaires, mettant en relation en temps réel leurs données d'effectifs (magistrats du siège, fonctionnaires de
    greffe et équipe autour du juge) et leurs données d'activité.
  </p>

  <h4>Article 3 - Définitions</h4>
  <p><b>« L'Utilisateur » est un agent d’une juridiction du ministère de la Justice.</b></p>

  <p>Les « Services » sont les fonctionnalités offertes par le site pour répondre à ses finalités.</p>
  <p>
    « L’Administrateur » est un membre de l’équipe d’A-JUST habilité pour accorder, modifier ou supprimer les droits des
    utilisateurs.
  </p>

  <h4>Article 4 - Fonctionnalités</h4>
  <p><b>4.1 Création du compte avec mot de passe et adresse électronique</b></p>

  <p>
    Chaque nouvel Utilisateur peut solliciter la création d’un compte en renseignant ses nom, prénom, adresse
    électronique professionnelle, fonction professionnelle et tribunal judiciaire de rattachement.
  </p>
  <p>
    Ses droits sont ouverts par l’administrateur d’A-JUST dans les conditions décrites ci-après : l’ouverture de droits
    est soumise à une validation de l’administrateur d’A-JUST qui se réserve le droit de les refuser ou de les limiter
    s’ils ne sont pas autorisés par le supérieur hiérarchique de l’agent.
  </p>
  <p>Les droits peuvent être limités à l’accès à certaines fonctionnalités seulement.</p>

  <p><b>4.2. Connexion au compte</b></p>
  <p>
    Chaque Utilisateur peut se connecter à son compte en renseignant son adresse électronique et son mot de passe
    personnel.
  </p>

  <p><b>4.3. Accès aux fonctionnalités</b></p>
  <p>
    A-JUST propose à ses Utilisateurs les fonctionnalités suivantes, sous réserve de l’autorisation et de l’étendue des
    droits d’accès accordés par leur supérieur hiérarchique :
  </p>
  <ul>
    <li>visualiser les effectifs disponibles de la juridiction ;</li>
    <li>accéder aux données d’activité de la juridiction ;</li>
    <li>restituer des indicateurs d’activité non nominatifs ;</li>
    <li>
      réaliser des scenarii pour visualiser l’impact de changements de paramètres sur la capacité de traitement des
      contentieux soumis à la juridiction ;
    </li>
    <li>extraire les données d’effectifs et d’activité de la juridiction.</li>
  </ul>

  <h4>Article 5 - Responsabilités</h4>
  <p><b>5.1 L’Éditeur d’« A-JUST »</b></p>
  <p>
    Les sources des informations diffusées sur le site sont réputées fiables mais le site ne garantit pas qu’elles
    soient exemptes de défauts, d’erreurs ou d’omissions.
  </p>
  <p>
    L’Éditeur s’engage à la sécurisation du site, notamment en prenant toutes les mesures nécessaires permettant de
    garantir la sécurité et la confidentialité des informations fournies. Il la réalise dans la limite des capacités
    techniques liées au chiffrement.
  </p>
  <p>Il fournit les moyens nécessaires et raisonnables pour assurer un accès continu au site.</p>
  <p>
    L’Éditeur ne peut être tenu responsable des perturbations du réseau Internet entraînant un dysfonctionnement ou une
    impossibilité d'accéder au site, ni de l'installation et du fonctionnement des terminaux utilisés par l'Utilisateur
    pour accéder aux services disponibles sur le site.
  </p>
  <p>
    Les taux de transfert et les temps de réponse des informations circulant à partir du site vers Internet ne sont pas
    garantis, ceux-ci dépendant exclusivement des réseaux de communication et des modalités de connexion utilisés par
    l'Utilisateur.
  </p>
  <p>
    L’Éditeur se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, le site pour des
    raisons de maintenance ou pour tout autre motif jugé nécessaire.
  </p>

  <p><b>5.2 L’Utilisateur</b></p>
  <p>
    L’Utilisateur s’engage à ne créer qu’un seul compte A-JUST en utilisant sa boîte mail professionnelle et à ne pas
    s’enregistrer au moyen d’une boîte mail partagée avec d’autres personnes (ex. boîtes structurelles).
  </p>
  <p>
    L'Utilisateur s'assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa
    forme, est interdite. Il assume les risques liés à l'utilisation par un tiers de son identifiant et mot de passe.
    Toute utilisation abusive doit être signalée à l’administrateur du site aux coordonnées indiquées dans les mentions
    légales.
  </p>
  <p>L’Utilisateur peut procéder à la modification des données liées à son compte et à sa suppression.</p>
  <p>L’Utilisateur s’engage notamment à :</p>
  <ul>
    <li>
      ne pas mettre en ligne de propos, contenus ou informations illicites, notamment diffamatoires, injurieux,
      insultants, obscènes, offensants, discriminatoires, violents, xénophobes, incitant à la haine raciale, faisant
      l'apologie du terrorisme ou contraire à la législation et réglementation applicables ; ainsi qu'aux bonnes mœurs
      et aux règles de bienséance ;
    </li>
    <li>
      ne pas commercialiser les données reçues et ne pas les communiquer en dehors des cas prévus par la loi et
      autorisés par son supérieur hiérarchique.
    </li>
  </ul>

  <p>Toute information enregistrée ou transmise par l'Utilisateur est de sa seule responsabilité.</p>

  <p><b>5.2.1 Usage du site</b></p>
  <p>
    L’usage du site est soumis aux règles professionnelles et déontologiques applicables à l’Utilisateur et notamment au
    respect des dispositions de l’article L 121-7 du code général de la fonction publique relatives à la discrétion et
    au secret professionnel.
  </p>

  <p>
    Il est rappelé que l’article 226-13 du code pénal punit d'un an d'emprisonnement et de 15 000 euros d'amende la
    révélation d'une information à caractère secret par une personne qui en est dépositaire soit par état ou par
    profession, soit en raison d'une fonction ou d'une mission temporaire.
  </p>

  <p><b>5.2.2 Notifications et messages</b></p>
  <p>
    L'Utilisateur accepte que des notifications, informations et messages lui soient communiqués par les moyens suivants
    : via le Site (compte Utilisateur) ou par mail à l’adresse fournie par l'Utilisateur (adresse électronique).
  </p>

  <h4>Article 6 - Mise à jour des conditions d’utilisation</h4>
  <p>
    Les termes des présentes conditions d’utilisation peuvent être amendés à tout moment, en fonction des modifications
    apportées au site, de l’évolution de la législation ou pour tout autre motif jugé nécessaire. Chaque modification
    donne lieu à une nouvelle version qui est acceptée par les parties.
  </p>
</aj-wrapper-no-connected>
