<h3>Actualisation des fiches</h3>
<table>
  <tr class="header-titles">
    <th class="label">Effectifs</th>
    <th class="percent">% ventilé</th>
    <th class="update-title">Dernière MAJ</th>
    <th class="arrow"></th>
  </tr>
  @for (category of listFormatedFiltered; track category.categoryId) {
  <a routerLink="/ventilations" [queryParams]="{ c: category.categoryId }" class="category">
    <tr class="content-wrapper" [ngStyle]="{
        color: category.textColor,
        'background-color': category.bgColor,
      }">
      <td class="label">{{ category.headerLabel }}</td>
      <td class="percent">{{ category.fullComplete }}%</td>
      <td class="update">
        @if (category.lastUpdated) {
        {{ getDate(category?.lastUpdated) }}
        {{ getShortMonthString(category?.lastUpdated) }}
        {{ getFullYear(category?.lastUpdated) }}
        }
      </td>
      <td class="arrow">
        <mat-icon class="dark-arrow">chevron_right</mat-icon>
      </td>
    </tr>
  </a>
  }
</table>