@use '../../../styles/utils.scss';

:host {
  display: block;
  border-radius: 8px;
  border: solid 1px fColor(lightBorder);
  background-color: #fff;
}

.header-panel {
  display: flex;
  align-items: center;
  height: 56px;
  background-color: fColor(bgSelect);
  border-bottom: solid 1px fColor(lightBorder);
  padding: 0 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  i {
    color: fColor(creddark);
    margin-right: 9px;
    font-size: 22px;
  }

  p {
    color: fColor(cblack);
    font-size: 16px;
    font-weight: bold;
    margin-right: 8px;
  }

  button {
    border-width: 2px;
    font-weight: 400;
  }
}

.indispo-content {
  padding: 8px;
  margin-top: 0;

  .empty {
    text-align: center;
    font-size: 14px;
    color: fColor(grayRow);
  }

  >div {
    margin-right: 0;
    margin-bottom: 4px;
    display: flex;
  }
}

.indispo-error {
  color: fColor(cred);
  font-weight: bold;
  margin: 0 8px 8px 8px;
}