@import "../../styles/utils.scss";

:host {

    .container {
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;
        height: 40px;
        padding: 8px;
        border-radius: 4px;
        margin: 1px;

        p {
            margin: 8px;
            font-size: 14px;
            line-height: 1.71;
            color: #161616;
        }

        .circle {
            margin: 8px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
    }
}