@use "../../styles/utils.scss" as utils;

:host {
    background-color: white;
    position: relative;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);

    display: flex;
    flex-direction: column;

    .print-shadow {
        border: solid 1px rgb(207, 207, 207);
    }

    .print-shadow-bottom {
        border-bottom: solid 1px rgb(207, 207, 207);
    }

    .space-one {
        flex: 1;
    }

    .space-halfone {
        flex: 0.5;
    }

    .title {
        height: 96px;
        padding: 24px 24px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        background-color: utils.$colors-white;
        position: relative;
        z-index: 1;

        p {
            font-size: 16px;
            font-weight: bold;
            color: utils.$colors-cblack;
        }

        label {
            font-size: 14px;
            line-height: 1.71;
            color: utils.$colors-cgray;
        }
    }

    .items {
        background-color: utils.$colors-white;
        position: relative;
        overflow: hidden;

        .circle {
            z-index: 1;
            position: relative;
            width: 196px;
            height: 196px;
            margin: auto;
            padding: 50px 10px;
            text-align: center;
            -webkit-print-color-adjust: exact;
            -webkit-filter: opacity(1);
            box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.04), 0 20px 25px -5px rgba(0, 0, 0, 0.1);
            background-color: utils.$colors-white;
            border-radius: 50%;
            top: -30px;
        }

        .block-container {
            position: relative;
            display: flex;
            padding: 0 16px;
            top: -30px;
            text-align: center;

            .block {
                flex: 1;
                height: 160px;
                border-radius: 8px;
                -webkit-print-color-adjust: exact;
                -webkit-filter: opacity(1);
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
                background-color: utils.$colors-white;
                padding: 21px 8px;

                :first-child {
                    margin-right: 2px;
                }

                :last-child {
                    margin-left: 2px;
                }
            }
        }

        .loader-title {
            margin: 8px 0px;
            font-size: 12px;
            font-weight: bold;
            line-height: 1.67;
            color: utils.$colors-cgray;
        }

        .loader-value {
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            color: utils.$colors-bgColor;
            margin-bottom: 8px;
            font-family: Aldrich;
            font-size: 32px;

            &.medium {
                color: utils.$colors-primary;
            }

            &.hard {
                font-family: Aldrich;
                font-size: 40px;
                color: utils.$colors-primary;
            }
        }
    }

}