<aj-wrapper-no-connected
  [title]="'Simulateur de vol<br/>pour le pilotage<br/>de votre juridiction'"
  class="small-left-panel"
>
  <div class="logo">
    <img src="/assets/icons/bloc-marque/bloc-marque-white@2x.svg" alt="ministère de la justice" />
    <img src="/assets/icons/logos/white-192x192@1x.svg" alt="a-just" />
  </div>
  <aj-back-button routerLink="/" />
  <h3>Accessibilité</h3>

  <p>
    Établie le
    <span>3 mai 2023</span>
    .
  </p>
  <p>
    <span>Le Ministère de la justice</span>
    s'engage à rendre son service accessible, conformément à l'article 47 de la loi n° 2005-102 du 11 février 2005.
  </p>
  <p>
    Cette déclaration d'accessibilité s'applique à
    <strong>A-JUST</strong>
    <span>
      (
      <span>https://a-just.beta.gouv.fr/</span>
      )
    </span>
    .
  </p>
  <h2>État de conformité</h2>
  <p>
    <strong>A-JUST</strong>
    est
    <strong><span data-printfilter="lowercase">non conforme</span></strong>
    avec le
    <abbr title="Référentiel général d'amélioration de l'accessibilité">RGAA</abbr>
    .
    <span>Le site n'a encore pas été audité.</span>
  </p>
  <h2>Contenus non accessibles</h2>
  <h2>Amélioration et contact</h2>
  <p>
    Si vous n'arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable de
    <span>A-JUST</span>
    pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.
  </p>
  <ul class="basic-information feedback h-card">
    <li>
      E-mail&nbsp;:
      <a href="mailto:support-utilisateurs@a-just.fr">support-utilisateurs&#64;a-just.fr</a>
    </li>

    <!-- <li>
      Formulaire de contact&nbsp;: <a href="https://a-just.beta.gouv.fr/contact">https://a-just.beta.gouv.fr/contact</a>
    </li> -->
    <li>
      Adresse&nbsp;:
      <span>Ministère de la Justice 13, Place Vendôme 75042 Paris Cedex 01.</span>
    </li>
  </ul>
  <p>Nous nous engageons à vous répondre sous 2 jours ouvrés.</p>
  <h2>Voie de recours</h2>
  <p>
    Cette procédure est à utiliser dans le cas suivant&nbsp;: vous avez signalé au responsable du site internet un
    défaut d'accessibilité qui vous empêche d'accéder à un contenu ou à un des services du portail et vous n'avez pas
    obtenu de réponse satisfaisante.
  </p>
  <p>Vous pouvez&nbsp;:</p>
  <ul>
    <li>
      Écrire un message au
      <a href="https://formulaire.defenseurdesdroits.fr/" rel="noreferrer" target="_blank">Défenseur des droits</a>
    </li>
    <li>
      Contacter
      <a href="https://www.defenseurdesdroits.fr/saisir/delegues" rel="noreferrer" target="_blank">
        le délégué du Défenseur des droits dans votre région
      </a>
    </li>
    <li>
      Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre)&nbsp;:
      <br />
      Défenseur des droits
      <br />
      Libre réponse 71120 75342 Paris CEDEX 07
    </li>
  </ul>
</aj-wrapper-no-connected>
