<aj-wrapper-no-connected [title]="'Simulateur de vol<br/>pour le pilotage<br/>de votre juridiction'"
  class="small-left-panel">
  <div class="logo">
    <img src="/assets/icons/bloc-marque/bloc-marque-white@2x.svg" alt="ministère de la justice" />
    <img src="/assets/icons/logos/white-192x192@1x.svg" alt="a-just" />
  </div>
  <aj-back-button routerLink="/" />
  <h3>Accessibilité</h3>

  <p>
    <span>Le Ministère de la justice</span>
    s'engage à rendre ses sites internet, intranet, extranet et ses applications mobiles accessibles conformément à
    l'article 47 de la loi n° 2005-102 du 11 février 2005.
  </p>
  <p>
    Cette déclaration d'accessibilité s'applique à
    <strong>A-JUST</strong>
    <span>
      (
      <span>https://a-just.beta.gouv.fr/</span>
      )
    </span>
    .
  </p>
  <h2>État de conformité</h2>
  <p>
    <strong>A-JUST</strong>
    est
    <strong><span data-printfilter="lowercase">non conforme</span></strong>
    avec le
    <abbr title="Référentiel général d'amélioration de l'accessibilité">RGAA</abbr>
    , version 4.1.
  </p>
  <h2>Résultats des tests</h2>
  <p>
    Aucun audit de conformité n'a été réalisé à ce jour sur A-JUST au regard du RGAA version 4.1. Le pourcentage de
    critères respectés n'est donc pas connu à cette étape.
  </p>
  <h2>Contenus non accessibles</h2>
  <p><strong>Non conformité</strong></p>
  <p>
    En l'absence d'audit de conformité, l'ensemble des contenus et fonctionnalités du site est considéré comme non
    accessible au sens du RGAA.
  </p>
  <p><strong>Dérogations pour charge disproportionnée</strong></p>
  <p>Aucune dérogation pour charge disproportionnée n'est invoquée à ce jour.</p>
  <p><strong>Contenus non soumis à l'obligation d'accessibilité</strong></p>
  <p>Aucun contenu non soumis à l'obligation d'accessibilité n'a été identifié à ce jour.</p>
  <h2>Établissement de cette déclaration d'accessibilité</h2>
  <p>
    Cette déclaration a été établie le
    <span>3 mai 2023</span>
    . Elle a été mise à jour le
    <span>11 septembre 2026</span>
    .
  </p>
  <h3>Technologies utilisées pour la réalisation du site web</h3>
  <ul>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>JavaScript</li>
    <li>Angular</li>
  </ul>
  <h2>Environnement de test</h2>
  <p>Aucun audit n'ayant été réalisé à ce jour, l'environnement de test sera précisé lors de la prochaine évaluation.
  </p>
  <h3>Outils utilisés lors de l'évaluation</h3>
  <p>Non applicable, en l'absence d'audit réalisé à ce jour.</p>
  <h3>Pages du site ayant fait l'objet de la vérification de conformité</h3>
  <p>Aucune, en l'absence d'audit réalisé à ce jour.</p>
  <h2>Retour d'information et contact</h2>
  <p>
    Si vous n'arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable de
    <span>A-JUST</span>
    pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.
  </p>
  <ul class="basic-information feedback h-card">
    <li>
      E-mail&nbsp;:
      <a href="mailto:support-utilisateurs@a-just.fr">support-utilisateurs@a-just.fr</a>
    </li>

    <!-- <li>
      Formulaire de contact&nbsp;: <a href="https://a-just.beta.gouv.fr/contact">https://a-just.beta.gouv.fr/contact</a>
    </li> -->
    <li>
      Adresse&nbsp;:
      <span>Ministère de la Justice 13, Place Vendôme 75042 Paris Cedex 01.</span>
    </li>
  </ul>
  <p>Nous nous engageons à vous répondre sous 2 jours ouvrés.</p>
  <h2>Voies de recours</h2>
  <p>
    Cette procédure est à utiliser dans le cas suivant&nbsp;: vous avez signalé au responsable du site internet un
    défaut d'accessibilité qui vous empêche d'accéder à un contenu ou à un des services du portail et vous n'avez pas
    obtenu de réponse satisfaisante.
  </p>
  <p>Vous pouvez&nbsp;:</p>
  <ul>
    <li>
      Écrire un message au
      <a href="https://formulaire.defenseurdesdroits.fr/" rel="noreferrer" target="_blank">Défenseur des droits</a>
    </li>
    <li>
      Contacter
      <a href="https://www.defenseurdesdroits.fr/saisir/delegues" rel="noreferrer" target="_blank">
        le délégué du Défenseur des droits dans votre région
      </a>
    </li>
    <li>
      Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre)&nbsp;:
      <br>
      Défenseur des droits
      <br>
      Libre réponse 71120 75342 Paris CEDEX 07
    </li>
  </ul>
</aj-wrapper-no-connected>