@use '../../styles/utils.scss' as utils;

:host {
    cursor: pointer;
    margin-top: 24px;
    display: flex;
    border: solid 1px utils.$colors-lightBorder;
    background-color: utils.$colors-white;

    .tag {
        font-size: 12px;
        line-height: 1.67;
        color: utils.$colors-cblackdark;
        height: 24px;
        width: auto;
        padding: 2px 8px;
        border-radius: 12px;
        background-color: utils.$colors-borderSelect;
    }

    .title {
        margin: 12px 0;
        height: 28px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.4;
        color: utils.$colors-primary;
    }

    .description {
        margin: 0 0 12px 0;
        font-size: 14px;
        line-height: 1.71;
        color: utils.$colors-cblack;
    }

    .first-col {
        padding: 24px 24px;
        display: flex;
        align-items: center;
        width: 130px;
        border-right: solid 1px utils.$colors-lightBorder;
        justify-content: center;

        img {
            width: 90px;
        }
    }

    .second-col {
        align-items: flex-start;
        padding: 24px 24px;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    mat-icon {
        align-self: flex-end;
        font-size: 16px;
        color: utils.$colors-primary;
        margin-top: 12px;
    }

    &.tools {
        mat-icon {
            margin-top: 8px;
        }
    }
}