:host {
  display: inline;
  width: 25px;
  height: 15px;
  border-radius: 50%;

  &.fit {
    .indicator {
      margin: 1px 1px;
      width: 50%;
      height: calc(100% - 2px);
    }
  }

  .indicator {
    border-radius: 100%;
    width: 50%;
    height: 100%;
    transition: margin-left 0.25s ease;

    &.selected {
      margin-left: 50%;
    }
  }

  /*

    .check {
        background-color: white;
        display: inline-block;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &__check {
            z-index: 1;
            opacity: 0;
            cursor: pointer;
            width: 100%;
            height: 100%;


            &:checked~.check__indicator {
                background: #7befb2
            }

            &:checked~.check__indicator:after {
                transform: translate(10px, 0);
            }
        }

        &__check &__indicator {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0;
        }

        &__indicator {
            background: #ececec;

            transition: background-color .25s ease;

            &:after {
                height: 7.5px;
                width: 7.5px;
                background: var(--boxAfterBackColor, green);
                pointer-events: none;
                content: '';
                position: absolute;
                border-radius: 100%;
                top: 3.5px;
                left: 3.5px;
                transition: transform 0.25s ease
            }
        }

    } */
}
