<div *ngIf="visible" class="animate__animated animate__fadeIn popup">
  <div>
    <div class="title">
      {{ title }}
      <i class="material-icons close pointer" *ngIf="closeIcon" (click)="onClose.emit()">close</i>
    </div>
    <div class="content">
      <ng-content></ng-content>
    </div>
    <div class="actions" *ngIf="actions.length > 0">
      <div class="border-actions"></div>
      <div class="row-actions">
        <div *ngFor="let action of actions" (click)="onSelectAction(action)" class="pointer" [ngClass]="{
            'material-icons': action.type && action.type === 'icon',
            red: action.red && action.red === true,
            fill: action.fill && action.fill === true
          }">
          {{ action.content }}
        </div>
      </div>
    </div>
  </div>
</div>