@import '../../styles/utils.scss';

:host {
  &.fit-content .popup>div {
    width: inherit;
    height: inherit;
    min-width: inherit;
    min-height: inherit;
  }

  &.small .popup > div {
    width: 50%;
  }

  &.large .popup>div {
    width: 80%;
  }

  &.width-500 .popup>div {
    width: 90%;
    max-width: 500px;
  }

  &.extra-large .popup>div {
    width: 90%;
    height: 90% !important;
    max-height: 90% !important;
  }

  &.fix-height .popup>div {
    height: 535px !important;
    width: 700px;
    border-radius: 6px;
  }

  &.fix-height .popup>div>.content {
    flex: unset;
    overflow-y: overlay !important;
  }

  &.custom-height .popup>div>.actions>button {
    height: 40px;
  }

  &.custom-height .popup>div {
    height: 595px !important;
    width: 700px;
    border-radius: 6px;
  }

  &.custom-height .popup>div>.content {
    flex: unset;
    overflow-y: overlay !important;
  }

  &.custom-height .popup>div>.actions>button {
    height: 40px;
  }


  &.extra-large-bottom .popup {
    align-items: flex-end;
    padding-bottom: 48px;

    >div {
      width: 90%;
      height: inherit;
      min-height: inherit;
      max-height: 100%;
    }
  }

  &.no-blur .popup {
    -webkit-backdrop-dokter: none;
    backdrop-filter: none;
  }

  &.center-title {
    .title {
      text-align: center;
    }
  }

  &.blackBackground .popup > div {
    background-color: #303030;
    .title {
      color: #fff;
    }
    .content{
      color: white;
    }

    .close {
      color: fColor(darkModeTitle);
      i {
        color: fColor(darkModeTitle);
      }
    }

    .projected-content {
      border: 1px solid white;
    }

    .actions {
      button {
        color: #8585f6;
        border: solid 1px #8585f6;
        background-color: transparent;

        &.fill {
          color: #000091;
          background-color: #8585f6;
          border: none;
        }
      }
    }
  }

  &.is-mobile {
    .popup {
      background-color: rgba(255, 255, 255, 0.46);

      >div {
        padding: 16px 0 16px 16px;
        border-radius: 6px;
        min-width: auto;
        min-height: auto;

        >* {
          padding-right: 16px;
        }
      }
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(fColor(cblack), 0.37);
  z-index: 200;

  >div {
    background-color: white;
    width: fit-content;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 90%;
    max-height: 90%;
  }

  .title {
    font-size: 20px;
    color: fColor(primary);
    font-weight: 500;
    display: flex;
    margin: 20px 32px;

    .close {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      cursor: pointer;
      color: fColor(primary);
      font-size: 14px;

      i {
        font-size: 16px;
        color: fColor(primary);
        margin-left: 8px;
        position: relative;
        top: 1px;
      }
    }
  }

  .content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 16px 72px 32px 72px;
    min-width: 480px;
  }

  .actions {
    padding: 32px 32px 32px 72px;
    display: flex;
    box-shadow: 0 -8px 16px -16px rgba(0, 0, 0, 0.32),
      0 -8px 8px 0 rgba(0, 0, 0, 0.1);

    &.noShadow {
      box-shadow: initial !important;
    }

    >button {
      margin-left: 8px;
      border-radius: 0;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  :host {
    .popup>div {
      width: 100%;
      height: 100%;
    }
  }
}