<div *ngIf="visible" class="animate__animated animate__fadeIn popup">
  <div>
    <div class="title">
      {{ title }}
      <div class="flex-1"></div>
      <div *ngIf="closeIcon" class="close" (click)="onClose.emit()">Fermer <i class="material-icons pointer">close</i>
      </div>
    </div>
    <div class="content">
      <ng-content></ng-content>
    </div>
    <div class="actions" *ngIf="actions.length + actionsLeft.length > 0">
      <button *ngFor="let action of actionsLeft" (click)="onSelectAction(action)" class="small" [ngClass]="{
            'material-icons': action.type && action.type === 'icon',
            red: action.red && action.red === true,
            primary: !action.red,
            fill: action.fill && action.fill === true,
            outline: !action.fill
          }">
        {{ action.content }}
      </button>
      <div class="flex-1"></div>
      <button *ngFor="let action of actions" (click)="onSelectAction(action)" class="small" [ngClass]="{
            'material-icons': action.type && action.type === 'icon',
            red: action.red && action.red === true,
            primary: !action.red,
            fill: action.fill && action.fill === true,
            outline: !action.fill
          }">
        {{ action.content }}
      </button>
    </div>
  </div>
</div>