@import '../../styles/utils.scss';

:host {
  height: 100%;

  .content-popup {
    margin-top: 16px;
    margin-bottom: 24px;
    display: flex;
    align-self: center;
    :first-child {
      background-color: #000091;
      color: white;
    }
    button {
      width: 80px;
      margin: 0px 4px 0px 4px;
    }
  }

  .logo-ajust {
    cursor: pointer;
  }

  > div {
    display: flex;
    height: 100%;
  }

  .subtitle-name {
    border-radius: 12px;
    background-color: #eee;
    padding: 3px 6px;
  }

  .logo-ajust {
    cursor: pointer;
  }
  .dark-mode {
    display: none;
  }

  &.print {
    .content {
      overflow: inherit !important;
    }
  }

  &.full-screen {
    height: inherit;
  }

  &.removeMenuZindex {
    .menu {
      z-index: 0;
    }
  }

  &.content-margin-top-null {
    .contener .content {
      padding-top: 0px;
    }
  }

  &.content-margin-left-null {
    .contener .content {
      padding-left: 0px;
    }
  }

  &.content-margin-right-null {
    .contener .content {
      padding-right: 0px;
    }
  }

  &.content-margin-bottom-null {
    .contener .content {
      padding-bottom: 0px;
    }
  }

  &.content-margin-null {
    .contener .content {
      padding: 0px;
    }
  }

  &.content-margin-16 {
    .contener .content {
      padding: 16px;
    }
  }

  &.header-border-none {
    .header {
      border-bottom: none;
    }
  }

  &.dark-screen {
    .dark-mode {
      display: inherit;
    }

    .white-mode {
      display: none;
    }

    .menu {
      background-color: fColor(darkModeBgMenuSelected);
      border-right: 1px solid fColor(darkModeBgMenu);
      margin-right: 0px;
      z-index: 200;

      .menu-item {
        &.disconnect,
        a,
        p {
          color: white;
        }

        &.selected {
          background-color: fColor(darkModeBgMenuSelected);

          a,
          p {
            color: white;
          }
        }
      }
    }

    .header {
      background-color: fColor(darkModeBgHeader);

      h3 {
        color: fColor(darkModeTitle);
      }
    }

    .contener {
      .content {
        background-color: fColor(cblackdark);
      }
    }
  }

  &.action-fit-width .actions {
    width: 100%;
  }

  &.no-header .contener .header {
    display: none;
  }
}

.menu {
  width: 222px;
  margin-right: 1px;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;

  .images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 8px;
    margin-top: 8px;

    > div {
      width: 45%;
      height: 80px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .juridiction {
    padding: 19px 10px 23px 10px;
    background-color: fColor(cblue);
    border: 1px solid fColor(cblack);

    .juridiction-title {
      display: flex;

      h6 {
        color: white;
      }

      mat-icon {
        margin-left: 2px;
        margin-top: 4px;
        color: white;
        cursor: pointer;
      }
    }
  }

  .menu-scrollable {
    flex: 1;
    overflow: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    display: flex;
    flex-direction: column;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .menu-item {
    display: block;
    padding: 13px 4px 13px 13px;

    &.disconnect,
    a,
    p {
      cursor: pointer;
      color: fColor(cblack);
      font-weight: semi-bold;
      text-decoration: none;
    }

    &.selected {
      a,
      p {
        color: fColor(cbluedark);
      }
    }

    &.disconnect {
      margin-bottom: 32px;
    }

    &.tools {
      p {
        cursor: inherit;
      }
    }

    ul {
      padding-inline-start: 8px;
      list-style: none;
      position: relative;

      li {
        &:before {
          content: '•';
          position: absolute;
          left: -3px;
          margin-top: -3px;
        }

        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
        font-weight: normal;
      }

      i {
        margin-left: 4px;
        position: relative;
        top: 2px;
      }
    }
  }
}

.contener {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .content {
    position: relative;
    padding: 24px;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: fColor(bgColor);
  }
}

.header {
  //height: 87px;
  //min-height: 87px;
  padding: 16px 16px;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid fColor(bgColor);

  .back-url {
    margin-right: 16px;
  }

  h3 {
    color: fColor(cblack);
    font-size: 22px;
    margin-right: 8px;
  }

  .subtitle {
    font-size: 12px;
    margin-top: -4px;
  }

  .title-with-doc {
    display: flex;
    align-items: center;

    h3 {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .documentation {
    margin-right: 8px;
  }
}

.space {
  flex: 1;
}

.actions {
  display: flex;
  align-items: center;
}

.progress-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 86px;
}

.block-marque-white {
  background-image: url('/assets/icons/bloc-marque/bloc-marque-white@2x.svg');
}

.block-marque-dark {
  background-image: url('/assets/icons/bloc-marque/bloc-marque-dark@2x.svg');
}

.logo-white {
  background-image: url('/assets/icons/logos/white-192x192@1x.svg');
}

.logo-dark {
  background-image: url('/assets/icons/logos/dark-192x192@1x.svg');
}

.panel-helper {
  width: 431px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 110;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  > div.panel-header {
    background-color: fColor(bgHelper);
    padding: 14px 0 84px 0;

    .over-title {
      background-color: fColor(bgHelper);
      height: 85px;
      position: relative;
      z-index: 30;
      padding: 0 14px;
    }

    .panel-header-closing-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        color: white;
        cursor: pointer;
        font-size: 32px;
      }
    }

    h6,
    p {
      color: white;
    }

    p {
      span {
        position: relative;
        top: -2px;
        margin-left: 4px;
      }
    }
  }

  > iframe {
    border-radius: 4px;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.04),
      0 20px 25px -5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: -148px 8px 8px 8px;
    border: none;
    height: calc(100% + 80px);
  }
}
