<aj-news></aj-news>
<div>
  <div class="menu no-print" title="">
    <div class="images">
      <div class="logo white-mode block-marque-white"></div>

      <div class="logo dark-mode block-marque-dark"></div>
      <div class="logo-ajust white-mode logo-white" [title]="'Déconnexion'" (click)="popin = true"></div>

      <aj-popup *ngIf="popin" [closeIcon]="true" (onClose)="popin = false">
        <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
        <div class="content-popup">
          <button (click)="onSelectAction('logout')">Oui</button>
          <button (click)="popin = false">Non</button>
        </div>
      </aj-popup>

      <div class="logo-ajust dark-mode logo-dark" [title]="versionNumber" (click)="popin = true"></div>
    </div>

    <div class="juridiction" *ngIf="hrBackups.length">
      <div class="juridiction-title">
        <h6>{{ hrBackup && hrBackup.label }}</h6>
        <mat-icon *ngIf="hrBackups && hrBackups.length > 1" [matMenuTriggerFor]="menu">expand_more</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let bu of hrBackups" (click)="onChangeHRBackup(bu.id)" [title]="bu.id">
            {{ bu.label }}
          </button>
        </mat-menu>
      </div>
    </div>

    <div class="menu-scrollable">
      <div class="menu-item" *ngFor="let item of menu" [class.selected]="isSelected(item)">
        <ng-container *ngIf="item.label === 'Extracteur'; else other">
          <div class="menu-item tools" (click)="openTools = !openTools">
            <a>Outils</a>
            <mat-icon class="arrow-list">{{
              openTools ? 'expand_less' : 'expand_more'
              }}</mat-icon>
          </div>
        </ng-container>

        <ng-template #other>
          <a [routerLink]="['/' + item.path]" (click)="onSelect('/' + item.path)">
            {{ item.label }}
          </a>
        </ng-template>
      </div>

      <div *ngIf="openTools" class="sub-tools">
        <p (click)="downloadAsset('nomenclature')">
          La nomenclature
          <i (click)="
              $event.stopPropagation(); downloadAsset('nomenclature', true)
            " class="ri-file-download-line"></i>
        </p>
        <p (click)="downloadAsset('calculatrice')">La calculatrice</p>
        <p [routerLink]="['/' + 'dashboard']" (click)="onSelect('/' + '')">
          L'extracteur de données d'effectifs
        </p>
        <p [routerLink]="['/' + 'dashboard']" (click)="onSelect('/' + '')">
          L'extracteur de données d'activité
        </p>
      </div>

      <div class="flex-1"></div>
      <div class="menu-item" [class.selected]="isSelected({ path: 'centre-d-aide' })">
        <a (click)="onSelect('/' + 'centre-d-aide')" [routerLink]="['/centre-d-aide']">
          Aide
        </a>
        <a [routerLink]="['/contact']" [queryParams]="{ backUrl: true }">
          <p class="unselectable">Nous contacter</p>
        </a>
      </div>

      <!-- <div class="menu-item disconnect" (click)="onDisconnect()">
    <p>Déconnexion</p>
  </div> -->
    </div>
  </div>

  <div class="contener" #contener title="">
    <div class="header">
      <div class="top-header"  id="top">
        <div *ngIf="backUrl" class="back-url">
          <a [routerLink]="backUrl" [fragment]="backAnchor">
            <button class="primary small">
              <mat-icon>chevron_left</mat-icon>Retour
            </button>
          </a>
        </div>
        <div>
          <div class="title-with-doc">
            <h3 [innerHTML]="title"></h3>
            <aj-help-button *ngIf="documentation" (click)="onTogglePanelHelper()" class="documentation"></aj-help-button>
          </div>
          <p class="subtitle">
            <ng-container *ngTemplateOutlet="subtitleTemplate || defaultSubtitleTemplate"></ng-container>
          </p>
        </div>
        <ng-template [ngIf]="dateSelector">
          <aj-date-select
            title={{dateSelector.title}}
            dateType={{dateSelector.dateType}}
            value={{dateSelector.value}}
            (valueChange)=changeMonth($event)
            class="date-selector"
          >
          </aj-date-select>
        </ng-template>
        <ng-template [ngIf]="titleTemplate">
          <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
        </ng-template>
        <div *ngIf="!alignLeft" class="space"></div> 
        <div class="actions">
          <ng-container *ngTemplateOutlet="actionTemplate || defaultActionTemplate"></ng-container>
        </div>
      </div>
      <div class="bottom-header">
        <ng-template [ngIf]="actionTemplateBottom" class="actions">
          <ng-container *ngTemplateOutlet="actionTemplateBottom"></ng-container>
        </ng-template>
      </div>
      <div class="progress-bar" *ngIf="isLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
    <div class="content" #content id="content">
      <ng-content></ng-content>
    </div>
  </div>
</div>

<div *ngIf="panelHelper" class="panel-helper animate__animated animate__bounceInLeft">
  <div class="panel-header">
    <div  class="over-title" [ngClass]="{'over-title-small': !documentationToShow?.printSubTitle }">
      <div class="panel-header-closing-row">
        <h6>{{ documentationToShow?.title }}</h6>
        <i class="ri-close-line" (click)="panelHelper = false"></i>
      </div>
      <p *ngIf="documentationToShow?.printSubTitle">
        <i class="ri-lightbulb-flash-line"></i>
        <span>{{
          documentationToShow?.subTitle || 'Comment ça marche ?'
          }}</span>
      </p>
    </div>
  </div>

  <iframe [src]="documentationToShow?.path || '' | sanitizeResourceUrl"></iframe>
</div>

<ng-template #defaultActionTemplate></ng-template>

<ng-template #defaultSubtitleTemplate>{{ subtitle }}
  <label *ngIf="subtitleName !== ''" class="subtitle-name">{{
    subtitleName
    }}</label>
</ng-template>

<aj-popup *ngIf="promptComment" [actions]="[
    { id: 'close', content: 'Annuler' },
    { id: 'export', content: 'Exporter sans commentaire', fill: true },
    {
      id: 'export-with-comment',
      content: 'Export avec le commentaire',
      fill: true
    }
  ]" [closeIcon]="true" (onClose)="onActionComment({ id: 'close', content: 'Annuler' })"
  (selectedAction)="onActionComment($event, editor.value)" title="Export en PDF">
  <aj-text-editor title="Souhaitez-vous ajouter un commentaire ?" #editor></aj-text-editor>
</aj-popup>