@import "../../styles/utils.scss";

:host {
    aj-wrapper {
        background-color: white;
    }

    .top-bar-container {
        height: 99px;
        display: flex;
        align-items: flex-start;
        position: relative;
        border-bottom: 1px solid #f9f6f2;

        p {
            white-space: nowrap;
            padding-top: 24px;
        }

        &::after {
            content: '';
            height: 1px;
            width: 24px;
            background-color: #f9f6f2;
            position: absolute;
            bottom: -1px;
            left: -24px;
        }

        &::before {
            content: '';
            height: 1px;
            width: 24px;
            background-color: #f9f6f2;
            position: absolute;
            bottom: -1px;
            right: -24px;
        }

        .container-timeline {
            display: block;
            flex: 1;
            align-self: flex-start
        }

        .container-timeline-button {
            display: flex;
            flex: 1
        }

        .space {
            flex: 1;
        }
    }

    .contentieux {
        margin: 16px 16px 16px 34px;
    }

    .export-button {
        cursor: pointer;
        position: absolute;
        right: 80px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        background-color: fColor(bgSelect);
        border: 1px solid fColor(borderSelect);
        padding: 4px 8px;
        height: 55px;

        p.title {
            color: fColor(titleSelect);
            white-space: nowrap;
            margin-right: 8px;
            margin-left: 12px;
            font-size: 14px;
        }

        .shape {
            width: 18px;
            height: 20px;
            line-height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background-color: #929292;
            font-weight: bold;
            color: white;
            font-size: 12px;
            margin-left: 8px;
        }

        .shape::before {
            content: '';
            border-bottom: 6px solid transparent;
            border-right: 6px solid fColor(bgSelect);
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    aj-date-select-blue {
        margin: 0 50px; //128px;

        &.future {
            margin-left: 208px;
        }
    }

    .Rectangle {
        height: 4px;
        margin: 2px 4px;
        border-radius: 3px;
        background-color: #ececfe;
        position: relative;
        display: block;
        margin-left: 74px;
        margin-right: 74px;
        margin-top: 18px;

        .blue-line {
            display: none;
            height: 4px;
            margin: 2px 4px;
            border-radius: 3px;
            background-color: #6a6af4;
            position: absolute;
            bottom: -2px;
            left: -3px;
            right: 0px;
            transition-timing-function: ease;

            &.future {
                display: block;
                left: 155.5px
            }
        }

        .dot {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 7.5px;
            background-color: #6a6af4;
            position: absolute;
            bottom: -2px;
            left: -3px;

            &.future {
                left: 155.5px
            }
        }

        &::before {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 7.5px;
            background-color: #6a6af4;
            position: absolute;
            bottom: -2px;
            left: -3px;
        }

        &::after {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 7.5px;
            background-color: #6a6af4;
            position: absolute;
            bottom: -2px;
            right: -3px;
        }
    }
}