@use '../../styles/utils.scss' as utils;


.display-none {
  display: none !important;
}

::ng-deep .mat-mdc-tooltip-panel-left {
  min-width: 100px !important;
  text-align: center;

  .tooltip-gray {
    .mdc-tooltip__surface {
      background-color: utils.$colors-primary;
      border: solid 1px utils.$colors-primary;
      font-size: 12px;
      text-align: center;
    }
  }

  .tooltip-orange {
    display: flex;
    align-items: center;
    justify-content: center;

    .mdc-tooltip__surface {
      background-color: utils.$colors-primary;
      border: solid 1px utils.$colors-primary;
      font-size: 12px;
      text-align: center;
      border-left: 100px;
    }
  }
}

:host {

  aj-dtes-chart,
  aj-etp-chart,
  aj-in-out-chart {
    margin: 16px 24px 0 24px;
  }

  .editable-sim-name {
    margin: 0 4px 0 8px;
    font-size: 20px;
    font-weight: bold;
    color: utils.$colors-cblack;
    position: absolute;
    left: 256px;
    max-width: 50%;
    line-height: 20px;
  }

  .space {
    flex: 1;
  }

  .white-actual-situation-height {

    div.line-title {
      padding: 0 0;
      font-weight: bold;
      width: 160px;

      p {
        font-size: 12px;

      }
    }

    height: 70px !important;
  }

  .white-date-selector {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    justify-content: center;

    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.04),
      0 20px 25px -5px rgba(0, 0, 0, 0.1);

    &.white-action-container {
      width: 100%;
      position: absolute;
      left: 0px;
      margin-top: 16px;
      margin-top: 1px;
      height: 110px;
      background: white;
    }

    p {
      font-size: 16px;
    }

    .aj-date-select-blue {
      margin: 0px !important;
    }

    .init-button {
      pointer-events: all;
      cursor: pointer;
      height: 40px;
      margin: 0 8px 0 0;
      padding: 8px 16px;

      border: solid 1px utils.$colors-primary;
      background-color: white;

      p {
        color: utils.$colors-primary;

      }
    }

    .simulate-button {
      pointer-events: all;
      cursor: pointer;
      width: 91px;
      height: 40px;
      margin: 0 0 0 8px;
      padding: 8px 16px;
      background-color: utils.$colors-primary;

      &.disabled {
        pointer-events: none;
        cursor: auto;
        opacity: 0.5;
      }

      p {
        color: white;
      }
    }
  }

  .white-begin-situation {
    .items {
      top: auto !important;
      height: 60px !important;
    }

    .actual-situation {
      top: auto !important;
    }

    .validate-button {
      background-color: utils.$colors-primary;
      height: 22px;
      border-radius: 6px;
      color: white;
      text-align: center;
    }

    .edit-button {
      background-color: utils.$colors-bgSelect;
      height: 28px;
      margin: 0px 8px;
      border-radius: 6px;
      padding: 0px 6px;
    }
  }

  #comment-area-copy {
    white-space: pre-wrap;
    padding: 8px 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: utils.$colors-bgSelect;
    resize: none;
    border: none;
    border-bottom: 2px solid utils.$colors-cblack;
    font-size: 12px;
    margin: 24px;
    min-height: 40px;
    height: auto;
    display: none;
  }

  .hide-by-category {
    display: none !important;
  }

  .hide {
    display: none !important;
  }


  .date-bar-container {
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    padding-left: 24px;

    aj-period-selector {
      flex: 1
    }

    &.white-border {
      z-index: 1;

      &::before {
        content: '';
        border-bottom: solid 1px utils.$colors-bgSelect;
        left: 0px;
        background-color: white;
        position: absolute;
        height: 128px;
        right: 0px;
        box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.04),
          0 20px 25px -5px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .categories-switch {
    margin-left: 24px;
    margin-right: 53px;
    display: flex;
    align-items: stretch;
    height: 55px;
    position: relative;
    top: 0px;
    z-index: 0;

    >div {
      display: flex;
      align-items: center;
      padding: 0 16px;
      cursor: pointer;
      border: 1px solid utils.$colors-bgSelect;
      background-color: white;
      transition: all 0.2s ease-in-out;

      &.alone {
        border-radius: 4px;
      }

      input[type='radio'] {
        accent-color: utils.$colors-primary;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        margin-left: 8px;
        color: utils.$colors-cblack;
      }
    }

    .magistrats {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;

      .radio-custom {
        width: 23px;
        height: 23px;
        border: 1px solid utils.$colors-primary;
        border-radius: 50%;
        margin-right: 8px;

        .circle {

          top: 4px;
          left: 4px;
          position: relative;
          display: none;
          background-color: utils.$colors-primary;

          &.selected {
            display: block;
            width: 13px;
            height: 13px;
            border: 1px solid utils.$colors-primary;
            border-radius: 50%;
            margin-right: 8px;
          }
        }

      }

      &.selected-magistrat {
        border: 1px solid utils.$colors-primary;
        background-color: utils.$colors-bgSelect;
        color: utils.$colors-primary;

        p {
          color: utils.$colors-primary;
        }
      }
    }

    .fonctionnaires {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

      .radio-custom {
        width: 23px;
        height: 23px;
        border: 1px solid utils.$colors-primary;
        border-radius: 50%;
        margin-right: 8px;

        .circle {

          top: 4px;
          left: 4px;
          position: relative;
          display: none;
          background-color: utils.$colors-primary;

          &.selected {
            display: block;
            width: 13px;
            height: 13px;
            border: 1px solid utils.$colors-primary;
            border-radius: 50%;
            margin-right: 8px;
          }
        }

      }

      &.selected-greffier {
        border: 1px solid utils.$colors-primary;
        background-color: utils.$colors-bgSelect;

        p {
          color: utils.$colors-primary;
        }
      }
    }
  }


  .progress-bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    z-index: 1;

    mat-progress-bar {
      height: 3px;
    }
  }

  .back-button {
    pointer-events: none;
    opacity: 0.5;
    position: relative;
    cursor: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 40px;
    padding: 8px 24px;
    border: solid 1px utils.$colors-primary;
    margin-right: 8px;

    p {
      color: utils.$colors-primary;
      bottom: 2px;
      position: relative;
    }
  }

  .back-button-menu {
    margin-right: 8px;
  }

  .reset-button {
    pointer-events: none;
    opacity: 0.5;
    position: relative;
    cursor: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 40px;
    padding: 8px 24px;
    border: solid 1px utils.$colors-primary;

    &.export-b {

      margin-right: 8px;
      border: solid 1px utils.$colors-primary;
      background-color: utils.$colors-primary;
      color: white !important;

      &.enable {
        opacity: 1;
        cursor: pointer;
        pointer-events: initial;
      }

      mat-icon {
        top: -1px;
        position: relative;
      }

      p {
        color: white;
      }
    }

    &.disabled-date {
      pointer-events: all;
      cursor: pointer;
      opacity: 1;
    }

    &.disabled-only-date {
      pointer-events: all;
      cursor: pointer;
      opacity: 1;
    }

    p {
      color: utils.$colors-primary;
      font-size: 14px;
    }
  }

  #print-title {
    margin: auto;
    align-items: center;
    display: flex;
    left: 160px;
    position: absolute;

    p {
      font-size: 24px;
      font-weight: bold;
      color: utils.$colors-cblack;
    }
  }

  .comment-row {
    display: flex;

    .space {
      width: 24px !important;
      flex: none !important;
    }

    .comment {
      background-color: white;
      flex: 3;
      display: flex;
      flex-direction: column;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);

      >.header-comment {
        display: flex;
        align-items: center;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px 0 rgba(0, 0, 0, 0.06);

        p {
          padding: 24px;
          font-size: 16px;
          font-weight: bold;
          color: utils.$colors-cblack;

          b {
            font-size: 16px;
          }
        }
      }

      >textarea {
        margin: 24px;
        min-height: 200px;
        flex: 1;
      }
    }
  }

  .widgets {
    display: flex;
    margin: 24px;

    aj-loaders-widget,
    aj-figures-widget,
    aj-dial-widget {
      flex: 1;
    }

    aj-figures-widget {
      margin: 0 8px;
    }
  }

  .logger {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    display: block;

    font-weight: bold;
  }

  .simulation-bottom {
    background-color: utils.$colors-bgSelect;
    position: relative;
    margin-top: 108px;

    .header-simulation {
      justify-content: space-between;
      display: flex;
      padding: 0px 24px;
    }

    .simulation-title {
      padding-bottom: 74px;
      padding-top: 30px;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.27;
      color: utils.$colors-primary;
    }

    .simulation-table {
      background-color: white;
      margin: 0px 24px;
    }

    .simulation-situation {
      margin: 0px 24px;
      position: relative;
      display: flex;
      align-items: flex-start;
      background-color: white;
      border-bottom: solid 1px utils.$colors-bgSelect;
      padding: 0px 24px;

      .line-item {
        padding-top: 6px;
        position: relative;

        &.selected {
          mix-blend-mode: multiply;
          background-color: utils.$colors-bgSelect !important;
        }

        input {
          width: 98%;
        }
      }

      .line-title {
        padding: 6px 0px;
        width: 200px;
        margin-bottom: 48px;

        &:first-child {
          font-size: 14px;
          font-weight: bold;
          padding-left: 24px;
        }
      }

      .item-container {
        display: flex;
        flex: 1;
      }
    }

    input {
      font-size: 16px;
      text-align: center;
      height: 40px;
      font-weight: normal;
      background-color: utils.$colors-bgSelect;
      border: none;
      width: 95%;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      position: relative;
      border-bottom: solid 2px utils.$colors-bgSelect;

      &:focus {
        outline: none;
        border-bottom: solid 2px utils.$colors-cblack !important;
      }
    }

    .line-item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      color: utils.$colors-cblack;
      position: relative;

      &.orange-bg {
        background-color: utils.$colors-bgSelect;

        &.selected {
          mix-blend-mode: multiply;
          background-color: utils.$colors-bgSelect !important;
        }
      }

      &.grey-bg-disabled {
        background-color: utils.$colors-bgSelect;
      }

      &.selected {
        mix-blend-mode: multiply;
        background-color: utils.$colors-bgSelect !important;
      }


      &.pink-bg {
        background-color: utils.$colors-bgSelect !important;
      }

      &.no-bg {
        background-color: utils.$colors-bgSelect !important;
      }

      &.grey-bg {
        background-color: utils.$colors-bgSelect;

        &.selected {
          mix-blend-mode: multiply;
          background-color: utils.$colors-bgSelect !important;
        }
      }

      &.blue-bg {
        background-color: utils.$colors-bgSelect;
      }

      &.pink-bg {
        background-color: utils.$colors-bgSelect !important;
      }

      &.no-bg {
        background-color: utils.$colors-bgSelect !important;
      }

      .modified-label {
        pointer-events: all;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        bottom: -15px;
        display: block;
        text-align: center;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px 0 rgba(0, 0, 0, 0.06);
        border: solid 1px utils.$colors-primary;
        background-color: utils.$colors-primary;
        border-radius: 4px;
        min-width: 74px;
        height: 35px;
        line-height: 31px;
        font-size: 16px;
        color: utils.$colors-bgSelect;

        &.simulated {
          bottom: -50px;

          &.blue {
            background-color: utils.$colors-primary;
            border: solid 1px utils.$colors-primary;
          }
        }

        .triangle {
          cursor: pointer;
          height: 0;
          width: 0;
          border-bottom: 4px solid utils.$colors-primary;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
          position: absolute;
          left: 30.5px;
          top: -5px;

          &::before {
            content: '';
            height: 0;
            width: 0;
            border-bottom: 4px solid utils.$colors-primary;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            position: absolute;
            top: 2px;
            left: -4px;
          }

          &.simulated {
            bottom: -40px;

            &.blue {
              border-bottom: 4px solid utils.$colors-primary;

              &::before {
                content: '';
                height: 0;
                width: 0;
                border-bottom: 4px solid utils.$colors-primary;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
                position: absolute;
                top: 2px;
                left: -4px;
              }
            }
          }
        }
      }
    }
  }

  aj-popup {
    #circle {
      width: 70px;
      height: 70px;
      background: utils.$colors-bgSelect;
      border-radius: 70px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 18px;

      img {
        height: 24px;
        width: 24px;
      }
    }

    p {
      font-size: 18px;
      font-weight: bold;
      color: utils.$colors-cblack;
      text-align: center;
      margin-bottom: 23px;
    }

    .content {
      font-weight: normal;
      text-align: left;
    }

    .rectangle {
      width: 496px;
      padding: 12px 24px;
      border-radius: 8px;
      background-color: utils.$colors-bgSelect;
      display: flex;
      align-items: center;
      margin-top: 8px;

      .title {
        flex: 1;
        color: utils.$colors-cblack;
        font-size: 18px;

        span {
          font-size: 14px;
        }
      }

      input,
      aj-input-percentage,
      aj-input-addition {
        width: 120px !important;
        height: 40px;
        font-size: 18px;
        border-bottom: solid 2px utils.$colors-bgSelect !important;

        :focus {
          border: solid 2px utils.$colors-cblack !important;
        }
      }

      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type='number'] {
        -moz-appearance: textfield;
      }

      input {
        &.displayNone {
          display: none;
        }
      }

      &:focus-within {
        border: solid 1px utils.$colors-bgSelect;
        background-color: utils.$colors-bgSelect;
      }
    }
  }

  .choices {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 8px;

    .choice {
      pointer-events: all;
      cursor: pointer;
      flex: 1;
      width: 260px;
      height: 105px;
      border-radius: 8px;
      background-color: utils.$colors-bgSelect;
      font-size: 18px;
      line-height: 1.56;
      text-align: center;
      color: utils.$colors-cblack;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child {
        margin-right: 12px;
      }

      &:hover {
        border: solid 1px utils.$colors-bgSelect;
        background-color: utils.$colors-bgSelect;
      }
    }
  }

  .options {
    left: 0px;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px utils.$colors-bgSelect;
    position: absolute;
    bottom: -84px;
    width: 100%;
    background-color: white;

    .init-button {
      pointer-events: all;
      cursor: pointer;
      width: 122px;
      height: 40px;
      margin: 0 8px 0 0;
      padding: 8px 16px;
      color: utils.$colors-bgSelect;
      border: solid 1px utils.$colors-bgSelect;
    }

    .simulate-button {
      pointer-events: all;
      cursor: pointer;
      width: 91px;
      height: 40px;
      margin: 0 0 0 8px;
      padding: 8px 16px;
      background-color: utils.$colors-primary;

      &.disabled {
        pointer-events: none;
        cursor: auto;
        opacity: 0.5;
      }

      p {
        color: white;
      }
    }

  }

  .actual-situation {
    background-color: utils.$colors-bgSelect;
    position: relative;
    display: flex;
    padding: 0px 24px;

    aj-popup {
      z-index: 200;
    }

    &.actual-situation-white {
      display: block !important;

      .container {
        display: flex;
        height: 70px;

        .popup {
          z-index: 200;
        }
      }
    }

    &.color-white {
      background-color: white;
      border-bottom: solid 1px utils.$colors-bgSelect;

      &::before {
        background-color: white;
        border-bottom: solid 1px utils.$colors-bgSelect;
      }

      &::after {
        background-color: white;
        border-bottom: solid 1px utils.$colors-bgSelect;
      }
    }

    &.color-blue {
      background-color: utils.$colors-bgSelect;

      &::before {
        background-color: utils.$colors-bgSelect;
      }

      &::after {
        background-color: utils.$colors-bgSelect;
      }
    }


    .line-title {
      padding: 30px 0px;
      font-weight: bold;

      width: 200px;

      &:first-child {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
      }
    }

    .line-item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      color: utils.$colors-cblack;
      position: relative;

      &.orange-bg {
        background-color: utils.$colors-bgSelect;

        &.selected {
          mix-blend-mode: multiply;
          background-color: utils.$colors-bgSelect !important;
        }
      }

      &.grey-bg-disabled {
        background-color: utils.$colors-bgSelect;
      }

      &.selected {
        mix-blend-mode: multiply;
        background-color: utils.$colors-bgSelect !important;
      }

      &.pink-bg {
        background-color: utils.$colors-bgSelect !important;
      }

      &.no-bg {
        background-color: utils.$colors-bgSelect !important;
      }

      &.grey-bg {
        background-color: utils.$colors-bgSelect;

        &.selected {
          mix-blend-mode: multiply;
          background-color: utils.$colors-bgSelect !important;
        }
      }

      &.blue-bg {
        background-color: utils.$colors-bgSelect;
      }

      &.pink-bg {
        background-color: utils.$colors-bgSelect !important;
      }

      &.no-bg {
        background-color: utils.$colors-bgSelect !important;
      }

      .modified-label {
        pointer-events: all;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        bottom: -33px;
        display: block;
        text-align: center;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px 0 rgba(0, 0, 0, 0.06);
        border: solid 1px utils.$colors-primary;
        background-color: utils.$colors-primary;
        border-radius: 4px;
        min-width: 74px;
        height: 35px;
        line-height: 31px;
        font-size: 16px;
        color: utils.$colors-bgSelect;

        .triangle {
          height: 0;
          width: 0;
          border-bottom: 4px solid utils.$colors-primary;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
          position: absolute;
          left: 30.5px;
          top: -5px;

          &::before {
            content: '';
            height: 0;
            width: 0;
            border-bottom: 4px solid utils.$colors-primary;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            position: absolute;
            top: 2px;
            left: -4px;
          }
        }
      }

      input {
        font-size: 16px;
        text-align: center;
        height: 40px;
        font-weight: normal;
        background-color: utils.$colors-bgSelect;
        border: none;
        width: 95%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        position: relative;
        border-bottom: solid 2px utils.$colors-bgSelect;

        &:focus {
          outline: none;
          border-bottom: solid 2px utils.$colors-cblack !important;
        }
      }

      .ajusted-button {
        pointer-events: all;
        cursor: pointer;
        border: solid 2px utils.$colors-primary;
        width: 95%;
        height: 32px;
        text-align: center;
        color: utils.$colors-primary;
        font-size: 16px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: transparent;
        padding-bottom: 5px;

        &.greffe {
          border-color: utils.$colors-primary !important;
          color: utils.$colors-primary;
        }

        &.white-button {
          width: 80% !important;
        }

        &.disable {
          pointer-events: none;
          cursor: auto;
          opacity: 0.1;
        }

        &.filled {
          background-color: utils.$colors-bgSelect;
          border: none;
          color: utils.$colors-cblack;
          border-bottom: solid 2px utils.$colors-bgSelect !important;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          position: relative;
          border-bottom: solid 2px utils.$colors-bgSelect;
          background-color: utils.$colors-bgSelect;
          height: 40px;
          width: 95%;

          :focus {
            border: solid 2px utils.$colors-cblack !important;
          }

          &.disable {
            pointer-events: none;
            cursor: auto;
            opacity: 1 !important;
          }
        }
      }
    }
  }

  .items {
    background-color: utils.$colors-bgSelect;
    display: flex;
    position: relative;
    padding: 0px 24px;


    .item:first-child {
      margin-left: 200px;
    }

    .item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      &.pink-bg {
        background-color: utils.$colors-bgSelect !important;
      }

      &.no-bg {
        background-color: utils.$colors-bgSelect !important;
      }

      &.blue-bg {
        background-color: utils.$colors-bgSelect;

        &.selected {
          mix-blend-mode: multiply;
          background-color: utils.$colors-bgSelect !important;
        }
      }

      &.selected {
        mix-blend-mode: multiply;
        background-color: utils.$colors-bgSelect !important;
      }

      p {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: utils.$colors-cblack;
        margin-bottom: 24px;
        margin-top: 24px;
      }
    }
  }

  aj-wrapper {
    background-color: utils.$colors-bgSelect;
  }

  .white-simulator {
    pointer-events: none;
    margin: 0px 8px;
    cursor: auto;
    opacity: 0.5;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: utils.$colors-bgSelect;
    border: 1px solid utils.$colors-borderSelect;
    padding: 4px 8px;
    height: 55px;

    &.enable {
      pointer-events: all;
      cursor: pointer;
      background-color: utils.$colors-primary;
      color: white;
      opacity: 1;

      p.title {
        color: white;
      }

      .shape {
        background-color: utils.$colors-primary;
        color: white;
      }
    }
  }

  .button-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .export-button {
    pointer-events: none;
    cursor: auto;
    opacity: 0.5;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: utils.$colors-bgSelect;
    border: 1px solid utils.$colors-borderSelect;
    padding: 4px 8px;
    height: 55px;
    top: -14px;

    &.bottom {
      display: inline-flex;
    }

    &.enable {
      pointer-events: all;
      cursor: pointer;
      background-color: utils.$colors-primary;
      color: white;
      opacity: 1;
      margin-top: 30px;

      p.title {
        color: white;
      }

      .shape {
        background-color: utils.$colors-primary;
        color: white;
      }
    }

    p.title {
      color: utils.$colors-cblack;
      white-space: nowrap;
      margin-right: 8px;
      margin-left: 8px;
      font-size: 14px;
    }
  }

  aj-date-select-blue {
    transition-timing-function: linear;
    transition-property: margin-left;
    transition-duration: 0.1s;
    pointer-events: all;


    &.start-white-sim {
      pointer-events: none;
      cursor: auto;
    }

    &.aj-date-white {
      margin: 0 30px;

    }

    &.future {
      margin-left: 158px;
    }

    &.disabled {
      pointer-events: none !important;
      cursor: auto !important;
      opacity: 0.5 !important;
    }

    &.disabled-only-date {
      pointer-events: none;
      cursor: auto;
      opacity: 0.5;
    }
  }

  .Rectangle {
    height: 4px;
    margin: 2px 4px;
    border-radius: 3px;
    background-color: utils.$colors-bgSelect;
    position: relative;
    display: block;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 18px;

    .blue-line {
      display: none;
      height: 4px;
      margin: 2px 4px;
      border-radius: 3px;
      background-color: utils.$colors-primary;
      position: absolute;
      bottom: -2px;
      left: -3px;
      right: 0px;

      &.future {
        display: flex;
        left: 155.5px;

        .dot-generated-container {
          display: flex;
          justify-content: flex-end;
          flex: 1;
          position: relative;

          .dot-generated {
            display: inline-block;
            position: absolute;
            right: -6.5px;
            bottom: -2px;
            width: 8px;
            height: 8px;
            border-radius: 7.5px;
            background-color: utils.$colors-primary;
          }
        }
      }

      &.present {
        left: 0px;
        display: flex;

        .dot-generated-container {
          display: flex;
          justify-content: flex-end;
          flex: 1;
          position: relative;

          .dot-generated {
            display: inline-block;
            position: absolute;
            right: -6.5px;
            bottom: -2px;
            width: 8px;
            height: 8px;
            border-radius: 7.5px;
            background-color: utils.$colors-primary;
          }
        }
      }

      &.disabled {
        pointer-events: none;
        cursor: auto;
        opacity: 0.5;
      }
    }

    .dot {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 7.5px;
      background-color: utils.$colors-primary;
      position: absolute;
      bottom: -2px;
      left: -3px;

      &.future {
        left: 155.5px;
      }

      &.present {
        left: -3px;
      }
    }


  }
}