@use '../../styles/utils.scss';

:host {
  display: block;

  &.dark-mode {
    p {
      color: fColor(grayRow);
    }

    .progress-bar {
      p {
        color: fColor(grayRow);
      }
    }
  }
}