@use '../../styles/utils.scss' as utils;

:host {
  display: block;

  &.dark-mode {
    p {
      color: utils.$color-grayRow;
    }

    .progress-bar {
      p {
        color: utils.$color-grayRow;
      }
    }
  }
}