@import '../../styles/utils.scss';

:host {

  .filters-item {
    height: 32px;
    border: solid 1px #ddd;
    background-color: #f6f6f6;
    padding: 0 18px;
    display: flex;
    align-items: center;

    .fonction-values {
      font-size: 12px;
      line-height: 19px;
      display: inline;
      height: 24px;
      padding: 2px 8px;
      border-radius: 12px;
      background-color: #dee5fd;
      color: #6e445a;
    }
  }

  .dates-selector {
    display: flex;
    position: relative;

    mat-icon {
      position: absolute;
      left: 131px;
      top: 11px;
      font-size: 11px;
      color: #929292;

    }
  }


  .grey {
    color: #929292 !important;
  }

  button {
    &.export {
      height: 40px;
      border-radius: 4px;
      border: solid 1px #f6f6f6;
      background-color: #000091;
      line-height: 40px !important;

      i {
        margin-right: 6px;
        font-size: 23px;
        top: 2px;
        position: relative;
      }

      label {
        bottom: 2px;
        position: relative;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;

  .content-list {
    flex: 1;
    overflow: auto;
  }
}

.header-calculator {
  z-index: 1;
}

.contentieux-header-calculator {
  display: flex;

  min-height: 80px;

  .width-contentieux {
    display: flex;
    align-items: flex-end;

    p {
      margin-left: 16px;
      margin-bottom: 40px;
    }
  }

  p {
    line-height: 1.33;
    text-align: center;
    color: #161616;

    font-size: 12px;
    margin-top: 12px;
  }

  .item {
    flex: 1;
    display: flex;
    align-items: stretch;

    &.activity {

      //border-left: 1px solid fColor(bgTag);
      &.tmd {
        flex: 0.5;
      }
    }

    &.activity,
    &.datas {
      //border-right: 1px solid fColor(bgTag);
    }

    >div {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      &.selected {

        //background-color: fColor(bgHeaderSelected);
        i {
          color: fColor(sortIconHeaderSelected);
        }
      }

      i {
        margin-top: 8px;
        margin-bottom: 8px;
        color: fColor(headerColor);

        &.selected {
          color: fColor(bgSelectSelected);
        }
      }

      p {
        text-align: center;
      }
    }
  }
}

aj-select,
aj-options-backup-panel {
  margin-left: 8px;
}

aj-date-select {
  &.date-start {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 8px;
  }

  &.date-stop {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
}

aj-referentiel-calculator:nth-child(even) {
  background-color: fColor(bgRowEvent);
}

.sub-main-header {
  display: flex;
  align-items: center;
  height: 48px;
  min-height: 48px;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.04),
    0 20px 25px -5px rgba(0, 0, 0, 0.1);
  background-color: fColor(bgSelect);
  width: calc(100% - 2px);
  padding: 0px 16px;

  >aj-options-backup-panel {
    margin-right: 24px;
  }
}

.categories-switch,
.switch-tab {
  display: flex;
  align-items: stretch;
  height: 32px;
  background-color: white;
  border-radius: 4px;

  >div {
    display: flex;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;
    border: solid 1px fColor(cgraylightv3);



    &.alone {
      border-radius: 4px;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
      //margin-left: 8px;
      color: #3a3a3a;
    }
  }

  >.magistrats,
  .brut {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0 8px;

    &.selected {
      border: solid 1px fColor(cbluedark);
      background-color: fColor(cbluemiddle);

      p {
        color: fColor(cbluedark);
      }
    }
  }

  >.fonctionnaires {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 8px;

    &.selected {
      border: solid 1px fColor(cpink);
      background-color: fColor(cpinkmiddle);

      p {
        color: fColor(cpink);
      }
    }
  }

  >.brut {
    i {
      font-size: 24px;
      margin-right: 8px;
      color: #666666;

    }

    &.selected {
      border: solid 1px #6a6af4;
      background-color: fColor(cbluemiddle);

      i {
        color: #6a6af4;
      }

      p {
        color: #6a6af4;
      }
    }
  }

  >.analytique {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    i {
      font-size: 24px;
      margin-right: 8px;
      color: #666666;

    }

    &.selected {
      border: solid 1px #6a6af4;
      background-color: fColor(cbluemiddle);

      i {
        color: #6a6af4;
      }

      p {
        color: #6a6af4;
      }
    }
  }
}

// class size
.width-contentieux {
  width: 152px;
}