<aj-wrapper #wrapper title="Cockpit" [documentation]="documentation" [actionTemplate]="actions"
  class="content-margin-null action-fit-width space-help no-scroll" [isLoading]="isLoading"
  [tours]="datasFilted && datasFilted.length ? introSteps : []">
  @if (categorySelected) {
  <div class="container">
    <div class="sub-main-header">
      <div class="categories-switch">
        @if (canViewMagistrat) {
        <div class="magistrats" [ngClass]="{ selected: categorySelected === MAGISTRATS, alone: !canViewGreffier }"
          (click)="$event.stopPropagation(); changeCategorySelected(MAGISTRATS); unselectTemplate()">
          <p>Siège</p>
        </div>
        }
        @if (canViewGreffier) {
        <div class="fonctionnaires"
          [ngClass]="{ selected: categorySelected === FONCTIONNAIRES, alone: !canViewMagistrat }" class="fonctionnaires"
          (click)="$event.stopPropagation(); changeCategorySelected(FONCTIONNAIRES); unselectTemplate()">
          <p>Greffe</p>
        </div>
        }
      </div>
      <aj-select class="large new-fonction" [subTitleTemplate]="subTitleTemplate" title="Choix des fonctions"
        [defaultAllValue]="'Toutes'" [value]="selectedFonctionsIds" [datas]="fonctions"
        (valueChange)="onChangeFonctionsSelected($event)"></aj-select>
      <div class="dates-selector">
        <aj-date-select title="de" [value]="dateStart" (valueChange)="updateReferentielSelected('dateStart', $event)"
          class="bg-white calculator bottom-popin" [max]="dateStop" [dateClass]="dateClass" [dateType]="'month'"
          [min]="minDateSelectable" [icon]="'chevron_left'" (isOpen)="lockLoader.next($event)"></aj-date-select>
        <aj-date-select title="à" [value]="dateStop" (valueChange)="updateReferentielSelected('dateStop', $event)"
          class="bg-white calculator bottom-popin" [dateClass]="dateClass" [dateType]="'month'" [min]="dateStart"
          [max]="limitDate" [icon]="'chevron_right'" (isOpen)="lockLoader.next($event)"></aj-date-select>
      </div>
      <div class="flex-1"></div>
      <div class="switch-tab">
        <div class="brut" [ngClass]="{ selected: tabSelected === 0 && !compareTemplates }"
          (click)="tabSelected = 0; unselectTemplate(); documentation.path = docLinks[0]; $event.stopPropagation(); optionDateStart = null">
          <i class="ri-table-view no-print"></i>
          <p>Données brutes</p>
        </div>
        <div class="fonctionnaires" [ngClass]="{ selected: tabSelected === 1 && !compareTemplates }" class="analytique"
          (click)="
              tabSelected = 1;
              unselectTemplate();
              logChartView();
              documentation.path = docLinks[1];
              optionDateStart = null;
              $event.stopPropagation()
            ">
          <i class="ri-bar-chart-box-line no-print"></i>
          <p>Graphiques</p>
        </div>
      </div>
    </div>
    @if (fonctionRealValue.length > 0 || compareTemplates) {
    <div class="filters-item">
      @if (fonctionRealValue.length) {
      <label class="fonction-values" [ngClass]="{ Greffe: categorySelected === FONCTIONNAIRES }">
        {{ fonctionRealValue }}
        <i class="ri-close-line" (click)="selectAllFct()"></i>
      </label>
      }
      @if (compareTemplates) {
      <label class="fonction-values">
        Comparaison à {{ compareAtString }}
        <i class="ri-close-line" (click)="tabSelected = 1; unselectTemplate()"></i>
      </label>
      }
    </div>
    }
    @if (!compareTemplates) {
    @if (tabSelected === 0) {
    <div class="header-calculator">
      <div class="contentieux-header-calculator window-scrool-width-margin" title="">
        <div class="width-contentieux">
          <p>Contentieux</p>
        </div>
        <div class="item dtes" (click)="onSortBy('realDTESInMonths')"
          [ngClass]="{ selected: sortBy.type === 'realDTESInMonths' }">
          <div class="flex-1"></div>
          <p>
            DTES
            <br />
            instantané
          </p>
          <i [ngClass]="{
                    'ri-sort-asc': sortBy.up === true,
                    'ri-sort-desc': !(sortBy.up === true && sortBy.type === 'realDTESInMonths'),
                  }"></i>
          <aj-tooltips title="DTES À LA FIN DE PÉRIODE" class="medium"
            content="Délai théorique d’écoulement du stock = temps moyen nécessaire au traitement de l’intégralité des affaires en stock compte tenu des sorties mensuelles moyennes des 12 mois précédents."
            footer="Mode de calcul :<br/><b>STOCK/SORTIES</b>"></aj-tooltips>
        </div>
        <div class="item coverage" (click)="onSortBy('realCoverage')"
          [ngClass]="{ selected: sortBy.type === 'realCoverage' }">
          <div class="flex-1"></div>
          <p>
            Taux de
            <br />
            couverture
          </p>
          <i [ngClass]="{
                    'ri-sort-asc': sortBy.up === true,
                    'ri-sort-desc': !(sortBy.up === true && sortBy.type === 'realCoverage'),
                  }"></i>
          <aj-tooltips title="TAUX DE COUVERTURE MOYEN SUR LA PÉRIODE"
            content="SORTIES /ENTREES de la période en %"></aj-tooltips>
        </div>
        <div class="item" (click)="onSortBy('lastStock')" [ngClass]="{ selected: sortBy.type === 'lastStock' }">
          <div class="flex-1"></div>
          <p>Stock</p>
          <i [ngClass]="{
                    'ri-sort-asc': sortBy.up === true,
                    'ri-sort-desc': !(sortBy.up === true && sortBy.type === 'lastStock'),
                  }"></i>
          <aj-tooltips title="Stock" content="Dossiers en stock à la fin de la période choisie"></aj-tooltips>
        </div>
        @if (canViewMagistrat) {
        <div class="tooltip medium item" (click)="onSortBy('etpMag')"
          [ngClass]="{ selected: sortBy.type === 'etpMag', 'bg-magistrats': categorySelected === MAGISTRATS }">
          <div class="flex-1"></div>
          <p>
            ETPT
            <br />
            Siège
          </p>
          <i [ngClass]="{
                      'ri-sort-asc': sortBy.up === true,
                      'ri-sort-desc': !(sortBy.up === true && sortBy.type === 'etpMag'),
                    }"></i>
          <aj-tooltips class="medium" title="ETPT siège"
            content="Moyenne des ETPT travaillés sur la période par les agents du siège affectés au contentieux"></aj-tooltips>
        </div>
        }
        @if (canViewGreffier) {
        <div class="tooltip medium item" (click)="onSortBy('etpFon')" [ngClass]="{
                    selected: sortBy.type === 'etpFon',
                    'bg-fonctionnaires': categorySelected === FONCTIONNAIRES,
                  }">
          <div class="flex-1"></div>
          <p>
            ETPT
            <br />
            Greffe
          </p>
          <i [ngClass]="{
                      'ri-sort-asc': sortBy.up === true,
                      'ri-sort-desc': !(sortBy.up === true && sortBy.type === 'etpFon'),
                    }"></i>
          <aj-tooltips class="medium" title="ETPT greffe"
            content="Moyenne des ETPT travaillés sur la période par les agents du greffe affectés au contentieux"></aj-tooltips>
        </div>
        }
        @if (canViewContractuel) {
        <div class="tooltip medium item" (click)="onSortBy('etpCont')"
          [ngClass]="{ selected: sortBy.type === 'etpCont' }">
          <div class="flex-1"></div>
          <p>
            ETPT
            <br />
            EAM
          </p>
          <i [ngClass]="{
                      'ri-sort-asc': sortBy.up === true,
                      'ri-sort-desc': !(sortBy.up === true && sortBy.type === 'etpCont'),
                    }"></i>
          <aj-tooltips class="medium right" title="ETPT EAM"
            content="Moyenne des ETPT travaillés sur la période par l'équipe autour du magistrat affectés au contentieux"></aj-tooltips>
        </div>
        }
      </div>
    </div>
    <div class="content-list">
      @for (r of datasFilted; track r.contentieux.id) {
      <aj-referentiel-calculator [calculator]="r" [sortBy]="sortBy.type" [categorySelected]="categorySelected"
        [maxDateSelectionDate]="maxDateSelectionDate"></aj-referentiel-calculator>
      }
    </div>
    }
    @if (tabSelected === 1 && !isLoading) {
    <aj-view-analytics [datasFilted]="datasAnalytics" [categorySelected]="categorySelected"
      [maxDateSelectionDate]="maxDateSelectionDate"></aj-view-analytics>
    }
    }
    @if (compareTemplates) {
    <aj-template-analytics [lines]="compareTemplates"></aj-template-analytics>
    }
  </div>
  }
  @if (showPicker === true || dropdownExport === true) {
  <div class="black-opacity" (click)="showPicker = false; dropdownExport = false"></div>
  }
  <!-- POPUP CHOIX COMPARAISON -->
  @if (onEdit === true) {
  <aj-popup [closeIcon]="true" (onClose)="onEdit = false" [removeShadow]="'noShadow'"
    class="border-radius width-575-custom">
    <div id="circle">
      <i class="ri-a-b"></i>
    </div>
    <p class="title">
      Comparer les données du
      <label [ngClass]="{ greffe: categorySelected === 'fonctionnaires' }">
        {{ categorySelected === 'magistrats' ? 'SIÈGE' : 'GREFFE' }}
      </label>
    </p>
    <p class="title">de {{ getRealValue(dateStart) }} - {{ getRealValue(dateStop) }} à :</p>
    <div class="picker">
      <div class="first-section" [ngClass]="{
            selected: compareOption === 1,
            greffe: compareOption === 1 && categorySelected === 'fonctionnaires',
          }" (click)="compareOption = 1; unselectBackup()">
        <div class="header">une autre période de ma juridiction</div>
        <div class="content">
          <div class="action">
            <label>Choisir la période :</label>
            <div class="dates-selector popup" (click)="compareOption = 1">
              <aj-date-select [ngClass]="{
                    selected: compareOption === 1,
                    greffe: compareOption === 1 && categorySelected === 'fonctionnaires',
                  }" title="de" [value]="optionDateStart" (valueChange)="optionDateStart = $event"
                class="bg-white calculator popup bottom-popin" [max]="optionDateStop" [min]="minDateSelectable"
                [dateClass]="dateClass" [dateType]="'month'" [icon]="'none'"></aj-date-select>
              <aj-date-select [ngClass]="{
                    selected: compareOption === 1,
                    greffe: compareOption === 1 && categorySelected === 'fonctionnaires',
                  }" title="à" [value]="optionDateStop" (valueChange)="optionDateStop = $event"
                class="bg-white calculator popup bottom-popin" [dateClass]="dateClass" [dateType]="'month'"
                [min]="optionDateStart" [max]="limitDate" [icon]="'none'"></aj-date-select>
            </div>
          </div>
        </div>
      </div>
      @if (referentielService.referentielIsComplete()) {
      <div class="or"><label>OU</label></div>
      <div class="second-section" [ngClass]="{
              selected: compareOption === 2,
              greffe: compareOption === 2 && categorySelected === 'fonctionnaires',
            }" (click)="compareOption = 2">
        <div class="header">
          un référentiel
          <br />
          de temps moyens
          <label [ngClass]="{ greffe: categorySelected === 'fonctionnaires' }">
            {{ categorySelected === 'magistrats' ? 'SIÈGE' : 'GREFFE' }}
          </label>
        </div>
        <div class="content">
          @if (filteredBackups.length) {
          <div class="ref-list">
            <button class="small full-width" [ngClass]="{
                      'color-greffe': categorySelected === 'fonctionnaires',
                      selected: compareOption === 2,
                      greffe: compareOption === 2 && categorySelected === 'fonctionnaires',
                    }" (click)="goToCreateRef()">
              Créer un référentiel
            </button>
            @for (backup of filteredBackups; track backup.id; let i = $index) {
            <div class="line-item" (click)="selectBackup(backup)" [ngClass]="{
                        selected: backup.selected === true,
                        greffe: categorySelected === 'fonctionnaires' && backup.selected === true,
                      }">
              <p class="element-list">
                <label class="name">{{ trunc(backup.label) }}</label>
                <label>{{ getRealValue(getLastDate(backup)) }}</label>
              </p>
            </div>
            }
          </div>
          } @else {
          <div class="tab-header">
            <label class="name">Nom</label>
            <div class="flex-1"></div>
            <label class="creation">Date de création</label>
          </div>
          <div class="ref-list centered">
            <button class="small" [ngClass]="{ greffe: categorySelected === 'fonctionnaires' }"
              (click)="goToCreateRef()">
              Créer mon premier référentiel
            </button>
          </div>
          }
          <div class="page-picker"></div>
        </div>
      </div>
      }
    </div>
    <div class="actions">
      <div class="save" (click)="onCompare()">Comparer</div>
    </div>
  </aj-popup>
  }
</aj-wrapper>

<ng-template #actions>
  <div class="flex-1"></div>
  <button class="compare" [ngClass]="{ selected: compareTemplates }"
    (click)="showPicker = !showPicker; $event.stopPropagation()">
    <i class="ri-a-b" (click)="showPicker = !showPicker; $event.stopPropagation()"></i>
    <label (click)="showPicker = !showPicker; $event.stopPropagation()">Comparer</label>
    <div (click)="showPicker = !showPicker; $event.stopPropagation()" class="arrow-zone">
      <i [class]="showPicker ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line'"></i>
    </div>

    <!-- DROP DOWN REFERENTIEL DE TEMPS -->
    @if (showPicker === true) {
    <div class="drop-down" (click)="$event.stopPropagation()">
      <label class="header">la période {{ getRealValue(dateStart) }} - {{ getRealValue(dateStop) }} à</label>
      @for (ref of filteredReferentiels; track ref.label) {
      <div class="item"
        (click)="ref.selected === true ? unselectTemplate() : radioSelect(ref); $event.stopPropagation()">
        <i [class]="ref.selected === false ? '' : 'filled'"
          (click)="ref.selected === true ? unselectTemplate() : radioSelect(ref); $event.stopPropagation()"
          class="radio"></i>
        <span>{{ trunc(ref.label, 25) }}</span>
        <div class="flex-1"></div>
        @if (!ref.isLocked) {
        <i class="ri-close-line" (click)="onRemoveSetting(ref.label); $event.stopPropagation()"></i>
        }
      </div>
      }
      <label class="footer" (click)="
            onEdit = true;
            showPicker = false;
            filterBackupsByCategory();
            $event.stopPropagation();
            optionDateStart = null;
            optionDateStop = null
          ">
        + Personnaliser
      </label>
    </div>
    }
  </button>

  <button class="compare save" (click)="dropdownExport = !dropdownExport; $event.stopPropagation()">
    <label (click)="dropdownExport = !dropdownExport; $event.stopPropagation()">Enregistrer</label>
    <div (click)="dropdownExport = !dropdownExport; $event.stopPropagation()" class="arrow-zone">
      <i [class]="dropdownExport ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line'"></i>
    </div>
  </button>
  @if (dropdownExport === true) {
  <div class="drop-down save" (click)="$event.stopPropagation(); dropdownExport = false">
    <div class="primary light export" (click)="onExport()">
      <label>
        <i class="ri-save-fill"></i>
        Enregistrer cet écran en pdf
      </label>
    </div>
    <div (click)="promptRef = true; setDefaultRefName(); dropdownExport = false">
      <i class="ri-file-download-fill"></i>
      <label>Enregistrer ces temps moyens comme référentiel</label>
    </div>
  </div>
  }
  @if (promptRef === true) {
  <aj-popup [removeShadow]="'noShadow'" class="border-radius width-400-custom" [actions]="[
        { id: 'cancel', content: 'Annuler', fill: false },
        { id: 'save', content: 'Enregistrer', fill: true },
      ]" (selectedAction)="actionPopupFollow($event)">
    <div id="circle" class="avg">
      <i class="ri-ball-pen-line"></i>
    </div>
    <p class="title avg">Souhaitez-vous renommer ce référentiel ?</p>
    <input type="text" [(ngModel)]="defaultRefName" />
  </aj-popup>
  }
  @if (displayRouterRef === true) {
  <aj-popup [removeShadow]="'noShadow'" class="border-radius width-420-custom" [actions]="[
        { id: 'location', content: 'Voir les référentiels', fill: false },
        { id: 'cancel', content: 'Poursuivre dans le cockpit', fill: true },
      ]" (selectedAction)="actionPopupEnd($event)">
    <div id="circle" class="avg">
      <i class="ri-save-line"></i>
    </div>
    <p class="title avg">Votre référentiel a bien été enregistré.</p>
    <p>
      Retrouvez-le depuis le menu ”Outils”
      <br />
      rubrique “Référentiels de temps moyens”
    </p>
  </aj-popup>
  }
</ng-template>

<ng-template #subTitleTemplate><label class="grey">(option)</label></ng-template>

@if (calculatorService.showGraphDetailType) {
<aj-popin-graphs-details [compareAtString]="compareAtString" [dateStart]="dateStart" [dateStop]="dateStop"
  [optionDateStart]="optionDateStart" [optionDateStop]="optionDateStop"></aj-popin-graphs-details>
}