@import '../../styles/utils.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;

  .content-list {
    flex: 1;
    overflow: auto;
  }
}

.header-calculator {
  z-index: 1;
}

.title-header-calculator {
  display: flex;
  padding: 24px 0 16px 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  z-index: 1;

  .item {
    flex: 1;
    display: flex;
    justify-content: center;

    &.activity p {
      color: fColor(cyellowdark);
      background-color: fColor(cyellowlight);
    }

    &.calculate p {
      color: fColor(cbluedark);
      background-color: fColor(cbluemiddle);
    }

    p {
      border-radius: 16px;
      padding: 4px 12px;
      background-color: fColor(cgrayDefault);
      color: fColor(cblackdark);
      font-weight: bold;
      font-size: 14px;
      position: relative;

      i {
        font-size: 16px;
        position: relative;
        top: 3px;
        margin-left: 4px;
        cursor: pointer;
      }
    }
  }
}

.contentieux-header-calculator {
  display: flex;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.04),
    0 20px 25px -5px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  .width-contentieux {
    display: flex;
    align-items: flex-end;

    p {
      margin-left: 12px;
      margin-bottom: 30px;
    }
  }

  p {
    font-size: 12px;
    font-weight: bold;
    color: fColor(cblackdark);
    margin-top: 4px;
    letter-spacing: -0.19px;
  }

  .item {
    flex: 1;
    display: flex;
    align-items: stretch;

    &.activity, &.calculate {
      border-left: 1px solid fColor(bgTag);
    }

    &.activity, &.datas {
      border-right: 1px solid fColor(bgTag);
    }

    > div {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      &.selected {
        background-color: fColor(bgHeaderSelected);

        i {
          color: fColor(sortIconHeaderSelected);
        }
      }

      i {
        margin-top: 8px;
        margin-bottom: 8px;
        color: fColor(headerColor);

        &.selected {
          color: fColor(bgSelectSelected);
        }
      }

      p {
        text-align: center;
      }
    }
  }
}

aj-select,
aj-options-backup-panel {
  margin-left: 16px;
}

aj-date-select {
  &.date-start {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 16px;
  }

  &.date-stop {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
}

aj-referentiel-calculator:nth-child(even) {
  background-color: fColor(bgRowEvent);
}

.sub-main-header {
  display: flex;
  align-items: center;
  height: 71px;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.04),
    0 20px 25px -5px rgba(0, 0, 0, 0.1);
  background-color: fColor(bgSelect);
  width: calc(100% - 2px);

  > aj-options-backup-panel {
    margin-right: 24px;
  }
}

.categories-switch {
  display: flex;
  align-items: stretch;
  height: 55px;

  > div {
    display: flex;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;
    border: solid 1px fColor(cgraylightv3);

    &.alone {
      border-radius: 4px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      margin-left: 8px;
      color: fColor(colorTag);
    }
  }

  > .magistrats {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    &.selected {
      border: solid 1px fColor(cbluedark);
      background-color: fColor(cbluemiddle);
    }
  }

  > .fonctionnaires {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    &.selected {
      border: solid 1px fColor(cpink);
      background-color: fColor(cpinkmiddle);
    }
  }
}

// class size
.width-contentieux {
  width: 130px;
}
