@use '../../styles/utils.scss' as utils;

:host {
  .bg-magistrats {
    background-color: utils.$colors-cbluemiddle;
  }

  .bg-fonctionnaires {
    background-color: utils.$colors-cpinkmiddle;
  }

  aj-popup {
    .actions {
      display: flex;
      justify-content: flex-end;

      .save {
        cursor: pointer;
        margin-top: 18px;
        font-size: 16px;
        font-weight: 500;
        line-height: 35px;
        text-align: center;
        color: #f5f5fe;
        height: 40px;
        padding: 0 16px;
        background-color: #000091;
        width: fit-content;
        margin-bottom: 18px;
      }
    }

    .picker {
      display: flex;
      margin-top: 24px;
      position: relative;

      .selected {
        border: solid 1px #6a6af4 !important;

        &.greffe {
          border: solid 1px #a558a0 !important;

          .header {
            border-bottom: solid 1px #a558a0 !important;
            background-color: #fee7fc;
            color: #a558a0;
          }

          .content {
            .action {
              background-color: #fee7fc !important;

              label {
                color: #a558a0 !important;
              }
            }
          }

        }

        .header {
          border-bottom: solid 1px #6a6af4 !important;
          background-color: #e8edff;
          color: #000091;
        }

        .content {
          border-radius: 8px;

          .action {
            background-color: #e3e3fd !important;

            label {
              color: #000091 !important;
            }
          }
        }
      }

      .or {
        position: absolute;
        width: 36px;
        height: 36px;
        padding: 8px 7.5px 8px 8.5px;
        border-radius: 50%;
        border: solid 1px #ddd;
        background-color: #fff;
        left: 15px;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 45px;

        label {
          font-size: 12px;
          line-height: 1.67;
          color: #929292;
          bottom: 4px;
          position: relative;
          left: -1.5px;
        }
      }

      .first-section {
        border-radius: 8px;
        border: solid 1px #ddd;
        margin-right: 7px;
        flex: 1;
        cursor: pointer;
        height: fit-content;

        .content {
          padding: 16px 8px;

          .action {
            border-radius: 8px;
            background-color: #f6f6f6;
            padding: 12px 10px;
            display: block;

            label {
              font-size: 14px;
              font-weight: normal;
              color: #3a3a3a;
              margin-bottom: 8px;
              margin-left: 14px;
            }
          }
        }
      }

      .second-section {
        border-radius: 8px;
        border: solid 1px #ddd;
        margin-left: 7px;
        flex: 1;
        cursor: pointer;

        .content {
          .tab-header {
            height: 40px;
            background-color: #f6f6f6;
            display: flex;
            align-items: center;
            padding: 0 16px;

            label {
              font-size: 12px;
              font-weight: bold;
              color: #929292;
            }
          }

          .ref-list {
            display: block;
            height: 190px;
            overflow: auto;

            @media screen and (max-height: 680px) {
              height: 100px;
            }

            .color-greffe {
              color: #a558a0;
            }

            .greffe {
              color: #a558a0 !important;
              border: solid 1px #a558a0 !important;
            }

            &.centered {
              display: flex;
              align-items: center;
              justify-content: center;
            }

            button {
              color: #000091 !important;
              border: solid 1px #000091;
              background-color: transparent;

              &.color-greffe {
                color: #a558a0 !important;
                border: solid 1px #a558a0;
              }

              &.full-width {
                width: 100%;
                font-size: 12px;
                color: #ddd;
                border: none;
                border-bottom: solid 1px #ddd;

                &.selected {
                  border: none !important;
                  border-bottom: solid 1px #6a6af4 !important;

                  &.greffe {
                    border: none;
                    color: #a558a0 !important;
                    border-bottom: solid 1px #a558a0 !important;
                  }
                }
              }
            }

            .line-item {
              border-top: solid 1px transparent;
              border-bottom: solid 1px #ddd;
              border-left: none !important;
              border-right: none !important;

              &.selected {
                border-left: none !important;
                border-right: none !important;
                border-top: 1px solid #000091;
                border-bottom: 1px solid #000091;

                .element-list {
                  color: #0063cb !important;
                }

                &.greffe {
                  border-top: 1px solid #a558a0;
                  border-bottom: 1px solid #a558a0;

                  .element-list {
                    color: #a558a0 !important;
                  }
                }

              }
            }

            .element-list {
              display: flex;
              height: 40px;
              font-size: 12px;
              display: flex;
              align-items: center;
              padding: 0 16px;
              position: relative;
              color: #929292;

              label {
                &.name {
                  flex: 1;
                  position: relative;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  line-height: auto;
                }
              }
            }
          }

          .page-picker {
            height: 48px;
            background-color: #f6f6f6;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }
      }

      .header {
        color: #3a3a3a;
        padding: 12px 16px;
        background-color: #f6f6f6;
        font-weight: bold;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: solid 1px #ddd !important;

        label {
          padding: 0 8px;
          border-radius: 4px;
          background-color: #e8edff;
          color: #000091;
          font-size: 14px;

          &.greffe {
            background-color: #fee7fc;
            color: #a558a0;
          }
        }
      }
    }

    #circle {
      width: 60px;
      height: 60px;
      min-height: 60px;
      background: #ececfe;
      border-radius: 70px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 18px;

      &.avg {
        margin-bottom: 16px;
      }


      @media screen and (max-height: 680px) {
        display: none;
      }

      i {
        font-size: 24px;
        color: #8585f6;
      }

      img {
        height: 24px;
        width: 24px;
      }
    }

    .title {
      font-size: 18px;
      font-weight: bold;
      text-align: center;

      &.avg {
        margin-bottom: 16px;
        font-size: 16px;
      }

      label {
        padding: 0 8px;
        border-radius: 4px;
        background-color: #e8edff;
        color: #000091;
        font-size: 14px;

        &.greffe {
          background-color: #fee7fc;
          color: #a558a0;
        }
      }
    }

    input {
      width: 100%;
    }
  }

  .drop-down {
    position: absolute;
    right: 0px;
    width: 275px !important;
    z-index: 200;
    top: 50px;
    border-radius: 4px;
    border: solid 1px #ddd;
    background-color: #f5f5fe;
    display: flex;
    flex-direction: column;

    &.save {
      background-color: white;

      margin-right: 2px;
      width: 260px;
      font-size: 14px;

      .export {
        border-bottom: solid 1px #ddd;
      }

      div {
        display: flex;
        min-height: 40px;
        padding: 8px 16px;
        align-items: center;

        i {
          font-size: 18px;
          margin-right: 8px;
        }

        label {
          i {
            margin-right: 8px;
            font-size: 18px;
          }
        }
      }
    }

    label {
      margin-right: inherit !important;
      bottom: 0px !important;
    }

    .header {
      width: 275px;
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
      color: #6a6af4;
      border-bottom: solid 1px #dddddd;
      text-align: justify;
      padding-left: 8px;
    }

    .footer {
      height: 40px;
      font-size: 14px;
      color: #000091;
      bottom: 2px !important;
      position: relative;
      cursor: pointer;
    }

    .item {
      height: 32px;
      width: 100%;
      display: flex;
      border-left: none;
      border-bottom: solid 1px #dddddd;
      justify-content: flex-start;
      background-color: white;
      padding-right: 8px;

      .radio {
        margin-left: 8px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        display: inline-block;
        border: solid 1px #dddddd;

        &.filled {
          background-color: #000091;
        }
      }

      span {
        position: relative;
        bottom: 1px;
        margin-left: 8px;
      }

      .ri-more-line {
        margin-right: 8px;
      }
    }
  }

  .black-opacity {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(utils.$colors-cblack, 0.37);
    z-index: 199;
  }

  .filters-item {
    border-bottom: solid 1px #ddd;
    background-color: #f6f6f6;
    padding: 0 18px;
    display: flex;
    align-items: center;

    i {
      position: relative;
      cursor: pointer;
    }

    .fonction-values {
      margin: 4px 8px 4px 0;
      font-size: 12px;
      line-height: 19px;
      display: inline-flex;
      flex-wrap: nowrap;
      height: 24px;
      padding: 2px 8px;
      border-radius: 12px;
      background-color: #dee5fd;
      color: #6e445a;

      &.Greffe {
        background-color: #fee7fc;
        color: #a558a0;
      }
    }
  }

  .dates-selector {
    display: flex;
    position: relative;

    &.popup {
      margin-top: 8px;
    }

    &.selected {
      aj-date-select {
        border: 1px solid #000091;
      }

      &.greffe {
        aj-date-select {
          border: 1px solid #a558a0;
        }
      }
    }
  }

  .grey {
    color: #929292 !important;
  }

  button {
    &.compare {
      height: 40px;
      border-radius: 4px;
      outline: solid 1px #dddddd;
      background-color: white;
      color: #3a3a3a;
      line-height: 40px !important;
      font-size: 14px;
      margin-right: 10px;
      display: flex;
      padding-right: initial;
      height: 100%;
      position: relative;

      label {
        cursor: pointer;
      }

      &.save {
        margin-right: 0px;

        div {
          i {
            color: #000091;
          }
        }

        label {
          color: #000091;
          font-size: 14px;
          font-weight: 500;
        }
      }

      &.selected {
        border: solid 1px utils.$colors-cbluedark;
        background-color: utils.$colors-cbluemiddle;

        >div.arrow-zone {
          border-left: solid 1px utils.$colors-cbluedark;
        }

        >i,
        >label,
        >div.arrow-zone i {
          color: utils.$colors-cbluedark;
        }
      }

      i {
        color: #6a6af4;
        font-size: 18px;
        bottom: 1px;
        position: relative;
        margin-right: 8px;
      }

      div {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: solid 1px #dddddd;

        i {
          margin-right: 0px;
          top: 1px;
          bottom: initial;
          color: #929292;
          font-size: 16px;
        }
      }

      label {
        bottom: 2px;
        position: relative;
        margin-right: 16px;
      }
    }

    &.export {
      height: 40px;
      border-radius: 4px;
      border: solid 1px #f6f6f6;
      background-color: #000091;
      border: solid 1px #000091;

      line-height: 40px !important;

      i {
        margin-right: 6px;
        font-size: 23px;
        top: 2px;
        position: relative;
      }

      label {
        bottom: 2px;
        position: relative;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;

  .content-list {
    flex: 1;
    overflow-y: scroll;
    padding-bottom: 80px;
  }
}

.header-calculator {
  z-index: 1;
}

.contentieux-header-calculator {
  display: flex;
  font-weight: bold;
  min-height: 80px;

  .width-contentieux {
    display: flex;
    align-items: flex-end;

    p {
      margin-left: 16px;
      margin-bottom: 40px;
    }
  }

  p {
    line-height: 1.33;
    text-align: center;
    color: #161616;

    font-size: 12px;
    margin-top: 12px;
  }

  .item {
    flex: 1;
    display: flex;
    align-items: stretch;
    position: relative;
    flex-direction: column;
    align-items: center;

    &.dtes,
    &.coverage {
      min-width: 85px;
    }

    &.tmd {
      min-width: 135px !important;
      flex: none !important;
    }

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &.selected {
      i {
        color: utils.$colors-sortIconHeaderSelected;
      }
    }

    i {
      margin-top: 8px;
      margin-bottom: 8px;
      color: utils.$colors-headerColor;

      &.selected {
        color: utils.$colors-bgSelectSelected;
      }
    }

    p {
      text-align: center;
    }
  }
}

aj-select,
aj-options-backup-panel {
  margin-left: 8px;
}

aj-date-select {
  margin-left: 8px;

  &.popup {
    margin-left: 1px;
  }
}

aj-referentiel-calculator:nth-child(even) {
  background-color: utils.$colors-bgRowEvent;
}

.sub-main-header {
  display: flex;
  align-items: center;
  height: 48px;
  min-height: 48px;
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;

  background-color: utils.$colors-bgSelect;
  width: calc(100% - 2px);
  padding: 0px 16px;

  >aj-options-backup-panel {
    margin-right: 24px;
  }
}

.categories-switch,
.switch-tab {
  display: flex;
  align-items: stretch;
  height: 32px;
  background-color: white;
  border-radius: 4px;

  >div {
    display: flex;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;
    border: solid 1px utils.$colors-cgraylightv3;

    &.alone {
      border-radius: 4px;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
      color: #3a3a3a;
    }
  }

  >.magistrats,
  .brut {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0 8px;

    &.selected {
      border: solid 1px utils.$colors-cbluedark;
      background-color: utils.$colors-cbluemiddle;

      p {
        color: utils.$colors-cbluedark;
      }
    }
  }

  >.fonctionnaires {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 8px;

    &.selected {
      border: solid 1px utils.$colors-cpink;
      background-color: utils.$colors-cpinkmiddle;

      p {
        color: utils.$colors-cpink;
      }
    }
  }

  >.brut {
    i {
      font-size: 24px;
      margin-right: 8px;
      color: #666666;
    }

    &.selected {
      border: solid 1px #6a6af4;
      background-color: utils.$colors-cbluemiddle;

      i {
        color: #6a6af4;
      }

      p {
        color: #6a6af4;
      }
    }
  }

  >.analytique {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    i {
      font-size: 24px;
      margin-right: 8px;
      color: #666666;
    }

    &.selected {
      border: solid 1px #6a6af4;
      background-color: utils.$colors-cbluemiddle;

      i {
        color: #6a6af4;
      }

      p {
        color: #6a6af4;
      }
    }
  }
}

.width-contentieux {
  min-width: 160px;
  flex: 3;
}