@use '../../../styles/utils.scss' as utils;

:host {
  display: block;
  position: relative;
  padding-top: 16px;

  .preview {
    text-align: center;
    font-size: 12px;
    color: utils.$colors-cgreen;
    font-weight: bold;

    span {
      color: utils.$colors-titleInput;
      position: relative;
      top: 6px;
    }

    p {
      font-size: 26px;

      &.alert {
        color: utils.$colors-cred;
      }
    }
  }

  canvas {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}