@use "../../../styles/utils.scss" as utils;

:host {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: utils.$colors-bgSelect;
  padding: 8px;
  margin: 0 8px;
  gap: 10px;
}

.header-panel {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  .left-side {
    display: flex;
    align-items: center;
    gap: 8px;

    .tags {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 8px;

      p {
        display: flex;
        padding: 2px 8px;
        justify-content: center;
        align-items: center;
        gap: 2px;
        font-size: 12px;
        line-height: 20px;
        border-radius: 12px;
        color: utils.$colors-cbluedark;
        background-color: utils.$colors-cbluemiddle;

        // &.fonction,
        // &.time-worked {
        //   color: fColor(cbluedark);
        //   background-color: fColor(cbluemiddle);
        // }
      }
    }

    .past-tag {
      p {
        background-color: #DFDFDF;
        color: utils.$colors-cblack;
      }
    }


    >.etpt {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 2px 8px;
      border-radius: 24px;
      height: 50px;
      background-color: utils.$colors-cgreenlight;

      &.alert {
        background-color: rgba(utils.$colors-cred, 0.2);

        p {
          color: utils.$colors-cred;
        }
      }

      p {
        font-size: 12px;
        color: utils.$colors-cgreen;
        // margin-right: 10px;
      }
    }
  }
}



.actions-panel {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: 8px;
  padding-bottom: 8px;

  button {
    border-width: 2px;
    font-weight: 400;
  }
}