<div class="header-panel">
  <div class="left-side">
    <div class="tags" [ngClass]="{ 'past-tag': isPast }">
      @if (isPast) {
      @if (dateStart) {
      <p class="date">
        Du {{ dateStart | date: 'dd' }} {{ getShortMonthString(dateStart) }}
        {{ getFullYear(dateStart) }}
      </p>
      }
      @if (dateStop) {
      <p class="date">
        Au {{ dateStop | date: 'dd' }} {{ getShortMonthString(dateStop) }}
        {{ getFullYear(dateStop) }}
      </p>
      }
      }
      @if (!isPast) {
      @if (dateStart) {
      <p class="date">
        {{ dateStart && dateStart.getTime() > getToday().getTime() ? 'À partir du' : 'Depuis le' }}
        {{ dateStart | date: 'dd' }} {{ getShortMonthString(dateStart) }}
        {{ getFullYear(dateStart) }}
      </p>
      }
      @if (dateStop) {
      <p class="date">
        Jusqu'au {{ dateStop | date: 'dd' }} {{ getShortMonthString(dateStop) }}
        {{ getFullYear(dateStop) }}
      </p>
      }
      }
      @if (fonction) {
      <p class="fonction">{{ fonction.code }}</p>
      }
      @if (timeWorked) {
      <p class="time-worked">{{ timeWorked }}</p>
      }
    </div>
    <div [ngClass]="{ alert: warningETP }" class="etpt">
      <p>ETPTravaillé :</p>
      <etp-preview [etp]="(etp || 0) - indisponibility" [realETP]="etp"
        [indisponibility]="indisponibility"></etp-preview>
    </div>
  </div>
  @if(userService.canEditHR()){<div class="actions-panel">
    @if (canEditSituation) {
    <button class="primary light small outline no-print class-export-situation" (click)="exportSituation.emit()">
      <i class="ri-file-excel-2-line"></i>
      Exporter la situation
    </button>
    <button (click)="onEditSituation()" class="outline small primary">Corriger cette situation</button>
    }
    @if (canRemoveSituation) {
    <button (click)="onRemove.emit()" class="outline small red">Supprimer la situation</button>
    }
  </div>}
</div>

@if (indisponibilities.length) {
<div class="indisponibility-panel indispo-content">
  @for (indisp of indisponibilities; track indisp.id) {
  <div class="cursor-pointer" (click)="userService.canEditHR() ? addIndispiniblity.emit(indisp) : null"
    [class.not-clickable]="!userService.canEditHR()">
    <div class="icon">
      <mat-icon>event_busy</mat-icon>
    </div>
    <div class="text">
      <p>{{ indisp.contentieux ? indisp.contentieux.label : indisp.label }} ({{ indisp.percent || 0 }}%)</p>
      <p>
        @if (indisp.dateStart) {
        du {{ indisp.dateStart | date: 'dd' }}
        {{ getShortMonthString(indisp.dateStart) }}
        {{ getFullYear(indisp.dateStart) }}
        }
        @if (indisp.dateStart && indisp.dateStop) {
        au
        }
        @if (!indisp.dateStart && indisp.dateStop) {
        jusqu'au
        }
        @if (indisp.dateStop) {
        {{ indisp.dateStop | date: 'dd' }}
        {{ getShortMonthString(indisp.dateStop) }}
        {{ getFullYear(indisp.dateStop) }}
        }
      </p>
    </div>
    @if(userService.canEditHR()){<div class="action no-print">
      <mat-icon>drive_file_rename_outline</mat-icon>
    </div>}
  </div>
  }
</div>
}
<div class="activities-panel">
  <panel-activities [category]="category" [etp]="(etp || 0) - indisponibility" [activities]="activities"
    [forceToShowContentieuxDetail]="forceToShowContentieuxDetail"></panel-activities>
</div>