@import "../../../styles/utils.scss";

:host {
  display: block;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: fColor(bgSelect);
}

.header-panel {
  display: flex;
  height: 52px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 1px;

  > .tags {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 26px;

    p {
      margin-right: 8px;
      font-size: 14px;
      line-height: 32px;
      height: 32px;
      padding: 0 16px;
      border-radius: 29px;
      background-color: fColor(cgrayDefault);
      color: fColor(cgray);

      &.fonction, &.time-worked {
        color: fColor(cbluedark);
        background-color: fColor(cbluemiddle);
      }
    }
  }

  > .etpt {
    padding: 0 40px 0 26px;
    background-color: fColor(cgreenlight);
    display: flex;
    align-items: center;

    &.alert {
      background-color: rgba(fColor(cred), 0.2);

      p {
        color: fColor(cred);
      }
    }

    p {
      font-size: 12px;
      color: fColor(cgreen);
      margin-right: 10px;
    }
  }
}

.indisponibility-panel {
  margin-bottom: 1px;
  padding: 16px 24px 8px 24px;
  margin-top: 0px;
}

.activities-panel {
  padding: 0 18px 0 18px;
}

.actions-panel {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin: 0 4px;
  }
}