@import "../../styles/utils.scss";

:host {
  display: block;
  height: 55px;
  border-radius: 4px;
  background-color: fColor(bgSelect);
  border: 1px solid fColor(borderSelect);
  padding: 4px 8px;
  cursor: pointer;

  &.bg-white {
    background-color: white;
  }

  &.dark-mode {
    background-color: fColor(darkModeBgMenu);
    border: 1px solid fColor(darkModeBgMenu);

    p,
    mat-icon {
      color: white;
    }

    p.title {
      color: fColor(headerColor);
    }
  }

  p.title {
    color: fColor(titleSelect);
    white-space: nowrap;
    font-size: 14px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      white-space: nowrap;
      flex: 1;
      font-weight: bold;
      height: 24px;
      max-width: 150px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }
  }

  mat-select {
    left: 35px;
    top: 10px;
    position: relative;
  }
}