<p (click)="openDropDown(matSelect)" class="title">{{ title }}</p>
<div (click)="openDropDown(matSelect)">
  <p class="bold-family">{{ realValue || defaultRealValue }}</p>
  <mat-icon>{{ icon }}</mat-icon>
</div>
<mat-select [multiple]="multiple" #matSelect class="hide-visualisation" [ngModel]="value"
  (ngModelChange)="onSelectedChanged($event)" #selectionModel="ngModel">
  <app-select-check-all *ngIf="multiple" [model]="selectionModel"
    [values]="this.subList ? this.subReferentielData : this.datas" check="true">
  </app-select-check-all>
  <div *ngIf="!subList; else subListTemplate">
    <mat-option *ngFor="let ref of datas" [value]="ref.id" class="myMatOptions"
      [innerHTML]="(ref.renderHTML || ref.value) | sanitizeHtml">
    </mat-option>
  </div>
  <ng-template #subListTemplate>
    <mat-option *ngFor="let ref of subReferentielData" [value]="ref.id" [innerHTML]="ref.value | sanitizeHtml">
    </mat-option>
  </ng-template>
</mat-select>