@use '../../../styles/utils.scss' as utils;

:host {
  position: relative;
  display: block;
  width: 100%;

  >div {
    padding: 12px 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    .content-feedback {
      max-width: 800px;
      display: flex;
      align-items: center;
      font-size: 16px;

      p {
        margin: 0 16px;
        position: relative;
        top: -1px;
        color: utils.$colors-primary;
      }

      button {
        background-color: utils.$colors-primary;
        border: 1px solid utils.$colors-primary;
        color: utils.$colors-white;
        border-radius: 1000px;
        transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        font-size: 16px;

        &:hover {
          background-color: transparent;
          color: utils.$colors-primary;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
      }
    }
  }
}

.close {
  position: absolute;
  right: 32px;
  transition: color 0.2s;
  color: inherit;
}