@import '../../../styles/utils.scss';

.main {
  display: flex;
  flex-direction: row;
  border: 1px solid #0063cb;
  padding-right: 4px;
  position: relative;

  p {
    margin: 8px 44px 8px 8px;
  }

  .info-bubble {
    width: 40px;
    padding: 8px;
    background-color: #0063cb;
  
    i {
      color: white;
    }
  }

  .close-icon {
    position: absolute;
    right: 0;
    top: 0;

    color: #000091;

    .material-icons{
      width: 8.5px;
      height: 8.5px;
      font-size: 8.5px !important;
    }
  }
}