<aj-wrapper title="Analyse de données">
  <div class="section">
    <h2>Extracteur de données</h2>
    <form #formExtract>
      <div class="select-juridictions">
        <label>Juridiction:</label>
        <select name="juridiction">
          <option *ngFor="let j of juridictionList" [value]="j.id">{{
            j.label }}</option>
        </select>
      </div>
      <div class="select-period">
        <label>Période d'extraction:</label>
        <div class="date-selectors">
          De
          <input type="month" id='start' name="dateStart" value="dateStart">
          à
          <input type="month" id='start' name="dateStop" value="dateStop">
        </div>
      </div>
    </form>
    <button (click)='onExtractData(formExtract)'>Télécharger le fichier au format Excel</button>
  </div>
  <div class="section">
    <h2>Comparatif A-just / Pharos / TJ </h2>
    <form #formComparatif>
      <div class="select-juridictions">
        <label>Juridiction:</label>
        <select name="juridiction">
          <option *ngFor="let j of juridictionList" [value]="j.id">{{
            j.label }}</option>
        </select>
      </div>
      <div class="select-period">
        <label>Période d'extraction:</label>
        <div class="date-selectors">
          De
          <input type="month" id='start' name="dateStart" value="dateStart">
          à
          <input type="month" id='start' name="dateStop" value="dateStop">
        </div>
      </div>
    </form>
    <button (click)='onCompareData(formComparatif)'>Télécharger le fichier au format Excel</button>
  </div>
</aj-wrapper>