<div class="title">
  <p>Evolution du taux de couverture</p>
  <label
    >{{ dateStart === '' ? "d'aujourd'hui" : 'du' }} {{ dateStart }} au
    {{ dateStop }}</label
  >
</div>
<div class="button-container">
  <div class="buttons">
    <div
      [class.selected]="selectedSituation === 'projected'"
      class="button"
      (click)="selectedSituation = 'projected'"
    >
      Situation projetée
    </div>
    <div
      [class.selected]="selectedSituation === 'simulated'"
      class="button"
      (click)="selectedSituation = 'simulated'"
    >
      Situation simulée
    </div>
  </div>

  <div class="container" *ngIf="selectedSituation === 'projected'">
    <aj-coverage-preview
      [@fadeInOut]
      [coverageRate]="toNumber(valueProjected)"
    ></aj-coverage-preview>
  </div>
  <div class="container" *ngIf="selectedSituation === 'simulated'">
    <aj-coverage-preview
      [@fadeInOut]
      [oldCoverageRate]="toNumber(valueProjected)"
      [coverageRate]="toNumber(valueSimulated)"
    ></aj-coverage-preview>
  </div>
</div>
