<ng-template [ngIf]="title">
    <mat-icon *ngIf="icon" class="title-icon">{{ icon }}</mat-icon>
    <p class="title-list">{{ title }}</p>
    <p class="value-selected">
        <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
    </p>
</ng-template>
<ng-template [ngIf]="!title">
    <p class="value-selected normal">
        <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
    </p>
</ng-template>
<mat-icon class="arrow-list">expand_more</mat-icon>

<ng-template #itemTemplate>
    <div>ici...</div>
</ng-template>