@use '../../styles/utils.scss' as utils;

::ng-deep .mdc-checkbox__ripple {
  display: none;
}

:host {
  .mdc-checkbox .mdc-checkbox__native-control:focus~.mdc-checkbox__ripple {
    display: none !important;
  }

  .mdc-checkbox .mdc-checkbox__native-control:focus:checked~.mdc-checkbox__ripple {
    display: none !important;
  }



  &.button-filter {

    position: relative;
    display: block;
    height: 55px;
    width: 170px;
    border-radius: 4px;
    background-color: utils.$colors-bgSelect;
    border: 1px solid utils.$colors-borderSelect;
    padding: 4px 8px;
    cursor: pointer;

    .ri-filter-2-line {
      display: none;
    }

    >.list-selection {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .ellipis {
        top: initial !important;
        bottom: initial !important;
        right: initial !important;
        left: -8px !important;
        width: 130px !important;
        color: black !important;
        font-weight: bold;
      }

      .title-list {
        color: #666666;
        white-space: nowrap;
        font-size: 14px;
        position: relative;
        left: 0px;
      }

      mat-icon {
        position: absolute;
        font-size: 16px;
        width: 16px;
        height: 16px;
        margin-left: 8px;
        right: 8px;
        bottom: 4px;
      }
    }
  }

  display: block;
  padding: 8px 12px 8px 16px;
  border-radius: 4px;
  background-color: utils.$colors-bgSelect;
  margin-bottom: 4px;
  position: relative;

  &.large-drop {
    .select-area {
      width: 400px;
    }
  }

  >.list-selection {
    display: flex;
    align-items: center;
    cursor: pointer;

    >.title-icon {
      margin-right: 4px;
    }

    .title-list {
      font-size: 16px;
      color: utils.$colors-titleInput;
      margin-right: 8px;
    }

    .value-selected {
      font-size: 16px;
      margin-left: 8px;
      margin-right: 4px;
      display: flex;

      &.stretched {
        flex: 1;
        position: relative;
        align-self: stretch;

        >p {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          color: utils.$colors-titleEtpGraph;
        }

        p {
          width: 100%;
        }
      }

      &.normal {
        flex: 1;

        >div {
          margin-left: 0;
          cursor: pointer;
          flex: 1;

          >p,
          i {
            color: utils.$colors-cblack;
          }
        }
      }

      i {
        margin-right: 4px;
      }

      p {
        text-align: right;
      }

      >div {
        display: flex;
        align-items: center;
        flex: 1;

        >p,
        i {
          color: utils.$colors-titleEtpGraph;
        }
      }
    }
  }
}

.select-area {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 4px;
  border-radius: 4px;
  background-color: utils.$colors-bgSelect;
  overflow: auto;

  &:not(.multiple) {
    .selected {
      background-color: utils.$colors-bgSelectSelected;
      color: white;

      p {
        color: white;
      }
    }
  }

  &.right {
    left: 100%;
    margin-top: 0;
    margin-left: 4px;
    right: inherit;
    top: 0;
    width: 260px;
  }

  >div {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    color: utils.$colors-cblack;
    cursor: pointer;
    transition: background-color 0.5s;

    >div {
      display: flex;
      align-items: center;
    }

    &:hover {
      background-color: rgba(utils.$colors-bgSelectSelected, 0.2);
      color: #0063cb;

      p {
        color: #0063cb;
      }
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    i {
      margin-right: 4px;
    }
  }
}