@use '../../styles/utils.scss' as utils;

.restart {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 16px;
  bottom: 16px;
  height: 64px;
  width: 64px;
  border-radius: 64px;
  background-color: utils.$colors-cblue;
  box-shadow: 0 4px 10px 7px rgba(0, 0, 0, 0.1),
    0 10px 10px 10px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  transition: opacity 0.5s;

  &:hover {
    opacity: 0.8;
  }

  i {
    color: utils.$colors-white;
    font-size: 32px;
  }
}