@use '../../styles/utils.scss' as utils;

.panorama-container {
  background-color: white;
  border-left: solid 1px utils.$colors-lightBorder;

  .header-panorama {
    box-shadow: 0 4px 10px 7px rgba(0, 0, 0, 0.1),
      0 10px 10px 10px rgba(0, 0, 0, 0.04);
    padding: 0 17px;
    display: flex;
    align-items: stretch;
    position: relative;

    &::before {
      content: ' ';
      background-color: white;
      left: -1px;
      top: 0;
      bottom: 0;
      width: 1px;
      position: absolute;
    }

    >div {
      cursor: pointer;
      padding: 9px 16px;
      font-size: 16px;
      font-weight: bold;

      &.selected {
        border-left: solid 1px utils.$colors-lightBorder;
        border-right: solid 1px utils.$colors-lightBorder;
        border-top: solid 2px utils.$colors-primary;
        padding: 7px 16px 9px 16px;
      }
    }
  }

  .container-panorama {
    overflow: auto;
    height: calc(100vh - 133px);
  }
}

.tags {
  display: flex;
  margin-top: 4px;

  >div {
    padding: 0 8px;
    border-radius: 12px;
    margin-right: 8px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    opacity: 0.5;

    &.active {
      opacity: 1;
    }

    &.all {
      background-color: utils.$colors-bgCategoryAll;
      color: utils.$colors-textCategoryAll;
    }

    &.seat {
      background-color: utils.$colors-bgCategorySiege;
      color: utils.$colors-textCategorySiege;
    }

    &.greffe {
      background-color: utils.$colors-bgCategoryGreffe;
      color: utils.$colors-textCategoryGreffe;
    }

    &.arround {
      background-color: utils.$colors-bgCategoryAutour;
      color: utils.$colors-textCategoryAutour;
    }
  }
}

.effectif-title,
.pano-title {
  background-color: utils.$colors-white;
  font-size: 24px;
  font-weight: bold;
  padding: 16px 24px;
  border-bottom: solid 1px utils.$colors-lightBorder;
}

.workforce-panel,
.activities-panel {
  border-bottom: solid 1px utils.$colors-lightBorder;
  background-color: utils.$colors-white;
  display: flex;
  align-items: stretch;

  .left-panel {
    flex: 1;
  }

  workforce-composition {
    flex: 1;
  }

  records-update,
  activities-last-modifications {
    border-left: solid 1px utils.$colors-lightBorder;
  }
}

.workforce-change {
  background-color: utils.$colors-white;
  border-bottom: solid 1px utils.$colors-lightBorder;
  align-items: stretch;
}

panorama-alert {
  display: block;
  border-bottom: solid 1px utils.$colors-lightBorder;
}