<aj-wrapper
  [title]="'Panorama de votre tribunal judiciaire le ' + dateSelected.getDate() + ' ' + getMonthString(dateSelected) + ' ' + dateSelected.getFullYear()"
  [subtitleTemplate]="subTitle" class="content-margin-null">
  <panorama-alert></panorama-alert>
  <ng-template [ngIf]="canViewVentilation">
    <div class="effectif-title">
      Effectifs
    </div>
    <div class="workforce-panel">
      <div class="left-panel">
        <workforce-composition></workforce-composition>
      </div>
      <div class="right-panel">
        <records-update></records-update>
      </div>
    </div>
  </ng-template>
  <ng-template [ngIf]="canViewActivities">
    <div class="pano-title">
      Les données d’activité
    </div>
    <div class="activities-panel">
      <div class="left-panel">
        <activities-last-disponibilities></activities-last-disponibilities>
        <activities-to-complete></activities-to-complete>
      </div>
      <activities-last-modifications></activities-last-modifications>
    </div>
  </ng-template>
</aj-wrapper>

<ng-template #subTitle>
  <div class="tags">
    <div class="tag all" *ngIf="canViewMagistrat && canViewGreffier && canViewContractuel">Tous</div>
    <div class="tag seat" *ngIf="canViewMagistrat">Siège</div>
    <div class="tag greffe" *ngIf="canViewGreffier">Greffe</div>
    <div class="tag arround" *ngIf="canViewContractuel">Autour du magistrat</div>
  </div>
</ng-template>