@import '../../styles/utils.scss';

.panorama-container {
  background-color: white;
  border-left: solid 1px fColor(lightBorder);

  .header-panorama {
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.04);
  }
}

.tags {
  display: flex;
  margin-top: 4px;

  > div {
    padding: 0 8px;
    border-radius: 12px;
    margin-right: 8px;
    height: 24px;
    line-height: 24px;

    &.all {
      background-color: fColor(bgCategoryAll);
      color: fColor(textCategoryAll);
    }

    &.seat {
      background-color: fColor(bgCategorySiege);
      color: fColor(textCategorySiege);
    }

    &.greffe {
      background-color: fColor(bgCategoryGreffe);
      color: fColor(textCategoryGreffe);
    }

    &.arround {
      background-color: fColor(bgCategoryAutour);
      color: fColor(textCategoryAutour);
    }
  }
}

.effectif-title ,.pano-title {
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 24px;
  border-bottom: solid 1px fColor(lightBorder);
}

.workforce-panel, .activities-panel {
  border-bottom: solid 1px fColor(lightBorder);
  background-color: white;
  display: flex;
  align-items: stretch;

  .left-panel {
    flex: 1;
  }

  workforce-composition {
    flex: 1;
  }

  records-update, activities-last-modifications {
    border-left: solid 1px fColor(lightBorder);    
  }
}

.workforce-change {
  background-color: white;
  border-bottom: solid 1px fColor(lightBorder);
  align-items: stretch;
}

panorama-alert {
  display: block;
  border-bottom: solid 1px fColor(lightBorder);
}