@import '../../styles/utils.scss';

aj-wrapper {
  background-color: white;
}

.tags {
  display: flex;
  margin-top: 4px;

  > div {
    padding: 0 8px;
    border-radius: 12px;
    margin-right: 8px;
    height: 24px;
    line-height: 24px;

    &.all {
      background-color: fColor(bgCategoryAll);
      color: fColor(textCategoryAll);
    }

    &.seat {
      background-color: fColor(bgCategorySiege);
      color: fColor(textCategorySiege);
    }

    &.greffe {
      background-color: fColor(bgCategoryGreffe);
      color: fColor(textCategoryGreffe);
    }

    &.arround {
      background-color: fColor(bgCategoryAutour);
      color: fColor(textCategoryAutour);
    }
  }
}

.pano-title {
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 24px;
  border-bottom: solid 1px fColor(lightBorder);
  border-left: solid 1px fColor(lightBorder);
}

.activities-panel {
  border-bottom: solid 1px fColor(lightBorder);
  border-left: solid 1px fColor(lightBorder);
  background-color: white;
  display: flex;
  align-items: stretch;

  .left-panel {
    flex: 1;
  }

  activities-last-modifications {
    border-left: solid 1px fColor(lightBorder);    
  }
}