:host {
  &.is-dark-screen {
    a {
      background-color: #8585f6;
    }

    a,
    i {
      color: white;
    }
  }

  a {
    height: 32px;
    padding: 4px 8px 4px 6px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    text-decoration: none;
    color: #3a3a3a;
  }

  i {
    position: relative;
    top: -1px;
  }
}
