<aj-wrapper title="Liste des juridictions dans la base">

  <div class="duplicata">
    <p class="title">Dupliquer une juridiction (agents, ventillations et indisponibilités) :</p>
    <div class="content">
      <label>Sélectionner une juridiction à dupliquer =></label>
      <form #formExtract>
        <select class="cursor-pointer" name="juridiction">
          @for (j of juridictionList; track j) {
            <option [value]="j.id">{{
            j.label }}</option>
          }
        </select>
        <label>, Copier également les données d'activité</label>
        <input class="copy-activity" name="copyActivity" type="checkbox">
        <label>, Exclure cette juridiction des statistiques</label>
        <input class="copy-activity" name="excludeJuridiction" type="checkbox">
      </form>
      <button class="cursor-pointer" (click)="duplicate(formExtract)">Dupliquer</button>
    </div>
  </div>

  <br />
  <p>Cliquer sur le champ souhaité pour les modifier</p>
  <table (matSortChange)="sortData($event)" matSort>
    <tr>
      <th mat-sort-header="iElst">I ELST</th>
      <th mat-sort-header="label">Nom</th>
      <th mat-sort-header="latitude">Latitude</th>
      <th mat-sort-header="longitude">Longitude</th>
      <th mat-sort-header="population">Population</th>
      <th mat-sort-header="enabled">Actif</th>
    </tr>

    @for (element of datasSource; track element) {
      <tr>
        <td>{{element.iElst}}</td>
        <td class="cursor-pointer" (click)="onUpdate('label', element)">
          {{element.label}}
          <i (click)="selectedJuridiction = element; $event.stopPropagation()">{{element.users && element.users.length ?
            '(' + element.users.length
          + ' utilisateurs)' : ''}}</i>
          <i (click)="selectedJuridiction = element; $event.stopPropagation()">{{element.nbAgents ?
            '(' +
          element.nbAgents + ' agents)' : ''}}</i>
        </td>
        <td class="cursor-pointer" (click)="onUpdate('latitude', element)">
          {{element.latitude || '-'}}
        </td>
        <td class="cursor-pointer" (click)="onUpdate('longitude', element)">
          {{element.longitude || '-'}}
        </td>
        <td class="cursor-pointer" (click)="onUpdate('population', element)">
          {{element.population || '-'}}
        </td>
        <td class="cursor-pointer" (click)="onUpdate('enabled', element)">
          {{element.enabled ? 'Oui' : 'Non'}}
        </td>
      </tr>
    }
  </table>

  @if (selectedJuridiction) {
    <aj-popup [closeIcon]="true" (onClose)="selectedJuridiction = null">
      <h3>Détails de la juridiction</h3>
      <div class="grid-double">
        <div>
          <p><b>Liste des personnes ayant accès :</b></p>
          @for (e of (selectedJuridiction.users || []); track e) {
            <p>
              {{e.firstName}} {{e.lastName}}
            </p>
          }
        </div>
        <div>
          <p><b>Nombre de type d'agents :</b></p>
          @for (e of (selectedJuridiction.categoriesAgents || []); track e) {
            <p>
              {{e.nbAgents}} {{e.label}}
            </p>
          }
        </div>
      </div>
    </aj-popup>
  }
</aj-wrapper>