@use "../../styles/utils.scss";

table {
  width: 100%;
}

tr {
  height: 45px;
}

h3 {
  margin-bottom: 16px;
}

.grid-double p {
  margin-bottom: 8px;
}

.duplicata {
  border: solid 1px black;
  border-radius: 4px;
  padding: 8px;

  .title {
    font-weight: bold;
    margin-bottom: 8px;
  }

  .content {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;

    label {
      align-items: center;
      display: flex;
    }

    form {
      display: flex;

      .copy-activity {
        margin: 8px;
      }
    }
  }
}