@use '../../../../styles/utils.scss';

:host {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 138px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
    position: relative;
    overflow: hidden;

    >div.bar {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        width: 16px;
        max-height: 100%;
    }

    canvas {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}