:host {

    &.path {
        mat-selection-list {
            width: 500px;
        }
    }

    mat-selection-list {
        width: 170px;
        height: 300px;
        overflow: scroll;
        /* Show scrollbars */

    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5);
        box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
}