:host {


    .actual-situation {
        background-color: #fef6e3;
        position: relative;
        display: flex;
        padding: 0px 24px;

        &.actual-situation-white {
            display: block !important;
        }

        &.color-white {
            background-color: white;
            border-bottom: solid 1px #e5e5e5;

            &::before {
                background-color: white;
                border-bottom: solid 1px #e5e5e5;
            }

            &::after {
                background-color: white;
                border-bottom: solid 1px #e5e5e5;
            }
        }

        &.color-blue {
            background-color: #f4f6fe;

            &::before {
                background-color: #f4f6fe;
            }

            &::after {
                background-color: #f4f6fe;
            }
        }

        &.color-pink {
            background-color: #fee7fc7d !important;

            &::before {
                background-color: #fee7fc7d !important;
            }

            &::after {
                background-color: #fee7fc7d !important;
            }
        }

        .line-title {
            padding: 30px 0px;
            font-weight: bold;

            width: 200px;

            &:first-child {
                display: flex;
                align-items: center;
                font-size: 12px;
                font-weight: bold;
            }
        }

        .line-item {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #161616;
            position: relative;

            &.orange-bg {
                background-color: #feecc2;

                &.selected {
                    mix-blend-mode: multiply;
                    background-color: #dcdcfb !important;
                }
            }

            &.grey-bg-disabled {
                background-color: #b9b8b64a;
            }

            &.selected {
                mix-blend-mode: multiply;
                background-color: #ececfe !important;
            }

            &.pink-bg {
                background-color: #fee7fcdc !important;
            }

            &.grey-bg {
                background-color: #e9edfe;

                &.selected {
                    mix-blend-mode: multiply;
                    background-color: #dcdcfb !important;
                }
            }

            &.blue-bg {
                background-color: #f4f6fe;
            }

            .modified-label {
                pointer-events: all;
                cursor: pointer;
                z-index: 1;
                position: absolute;
                bottom: -33px;
                display: block;
                text-align: center;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
                    0 1px 2px 0 rgba(0, 0, 0, 0.06);
                border: solid 1px #fa7a35;
                background-color: #e4794a;
                border-radius: 4px;
                width: 74px;
                height: 35px;
                line-height: 31px;
                font-size: 16px;
                color: #fff;

                .triangle {
                    height: 0;
                    width: 0;
                    border-bottom: 4px solid #fa7a35;
                    border-right: 4px solid transparent;
                    border-left: 4px solid transparent;
                    position: absolute;
                    left: 30.5px;
                    top: -5px;

                    &::before {
                        content: '';
                        height: 0;
                        width: 0;
                        border-bottom: 4px solid #e4794a;
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;
                        position: absolute;
                        top: 2px;
                        left: -4px;
                    }
                }
            }

            input {
                font-size: 16px;
                text-align: center;
                height: 40px;
                font-weight: normal;
                background-color: #eeeeee;
                border: none;
                width: 95%;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                position: relative;
                border-bottom: solid 2px #e5e5e5;

                &:focus {
                    outline: none;
                    border-bottom: solid 2px #3a3a3a !important;
                }
            }

            .ajusted-button {
                pointer-events: all;
                cursor: pointer;
                border: solid 2px #000091;
                width: 95%;
                height: 32px;
                text-align: center;
                color: #000091;
                font-size: 16px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                background-color: transparent;
                padding-bottom: 5px;

                &.white-button {
                    width: 80% !important;
                }

                &.disable {
                    pointer-events: none;
                    cursor: auto;
                    opacity: 0.1;
                }

                &.filled {
                    background-color: #eeeeee;
                    border: none;
                    color: black;
                    border-bottom: solid 2px #e5e5e5 !important;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    position: relative;
                    border-bottom: solid 2px #e5e5e5;
                    background-color: #eeeeee;
                    height: 40px;
                    width: 95%;

                    :focus {
                        border: solid 2px #3a3a3a !important;
                    }

                    &.disable {
                        pointer-events: none;
                        cursor: auto;
                        opacity: 1 !important;
                    }
                }
            }
        }
    }
}