<!-- SIMULATOR STD - Situation projeté -->
<div class="actual-situation {{header.colorClass}}">
  <div class="line-title">
    @if (header.type==='début') {
      <p>
        Situation{{header.label? ' au':''}}<br />
        {{header.label || "à aujourd'hui"}}
      </p>
    }
    @if (header.type==='fin') {
      <p>
        Situation projetée<br />
        au {{header.label}}
      </p>
    }
  </div>

  <div class="line-item {{header.elementColorClass}}" #tooltip="matTooltip"
    [matTooltip]="'Valeur exacte d\'entrées utilisée dans les calculs : '+ trunc('totalIn',situation,false,true)"
    matTooltipPosition="left" matTooltipShowDelay="0" matTooltipHideDelay="0">
    <input [value]="getFieldValue('totalIn',situation)" disabled />
  </div>
  <div class="line-item" #tooltip="matTooltip"
    [matTooltip]="'Valeur exacte de sorties utilisée dans les calculs : '+ trunc('totalOut',situation,false,true)"
    matTooltipPosition="left" matTooltipShowDelay="0" matTooltipHideDelay="0">
    <input [value]="getFieldValue('totalOut',situation)" disabled />
  </div>
  <div class="line-item {{header.elementColorClass}}" #tooltip="matTooltip"
    [matTooltip]="'Valeur exacte de stock utilisée dans les calculs : '+ trunc('lastStock',situation,false,true)"
    matTooltipPosition="left" matTooltipShowDelay="0" matTooltipHideDelay="0">
    <input [value]="getFieldValue('lastStock',situation)" disabled />
  </div>
  @if (canViewMagistrat) {
    <div class="line-item" #tooltip="matTooltip"
      [matTooltip]="'Valeur exacte d\'etp utilisée dans les calculs : '+ trunc('etpMag',situation,false,true)"
      matTooltipPosition="left" matTooltipShowDelay="0" matTooltipHideDelay="0">
      <input [value]="getFieldValue('etpMag',situation)" disabled />
    </div>
  }
  @if (canViewGreffier) {
    <div class="line-item {{header.elementColorClass}}" #tooltip="matTooltip"
      [matTooltip]="'Valeur exacte de d\'etp utilisée dans les calculs : '+ trunc('etpFon',situation,false,true)"
      matTooltipPosition="left" matTooltipShowDelay="0" matTooltipHideDelay="0">
      <input [value]="getFieldValue('etpFon',situation)" disabled />
    </div>
  }
  @if (canViewContractuel) {
    <div class="line-item">
      <input [value]="getFieldValue('etpCont',situation)" disabled />
    </div>
  }
  <div class="line-item {{header.elementColorClass}}" #tooltip="matTooltip"
    [matTooltip]="'Valeur exacte de taux de couverture utilisée dans les calculs : '+ trunc('realCoverage',situation,false,true)"
    matTooltipPosition="left" matTooltipShowDelay="0" matTooltipHideDelay="0">
    <input [value]="getFieldValue('realCoverage',situation)" disabled />
  </div>
  <div class="line-item" #tooltip="matTooltip"
    [matTooltip]="'Valeur exacte de DTES utilisée dans les calculs : '+ trunc('realDTESInMonths',situation,false,true)"
    matTooltipPosition="left" matTooltipShowDelay="0" matTooltipHideDelay="0">
    <input [value]="getFieldValue('realDTESInMonths',situation)" disabled />
  </div>
  <div class="line-item {{header.elementColorClass}}" #tooltip="matTooltip"
    [matTooltip]="'Valeur exacte de temps moyen en heure décimale utilisée dans les calculs : '+ trunc('magRealTimePerCase',situation,false,true)"
    matTooltipPosition="left" matTooltipShowDelay="0" matTooltipHideDelay="0">
    <input [value]="getFieldValue('magRealTimePerCase',situation)" disabled />
  </div>
</div>