<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Inscription</h2>
  <p class="label">Prénom</p>
  <input class="ethics-ui" placeholder="Prénom" formControlName="firstName" />
  <p class="label">Nom</p>
  <input class="ethics-ui" placeholder="Nom" formControlName="lastName" />
  <p class="label">Email</p>
  <input class="ethics-ui" placeholder="Email" formControlName="email" type="email" />
  <p class="label">Mot de passe</p>
  <input class="ethics-ui" placeholder="Mot de passe" formControlName="password" type="password" />
  <p class="label">Confirmation du mot de passe</p>
  <input class="ethics-ui" placeholder="Mot de passe" formControlName="passwordConf" type="password" />
  <div>
    <input type="submit" class="big" value="Inscription" />
  </div>

  <div class="actions">
    <a routerLink="/login">Connexion</a>
  </div>
</form>