<aj-wrapper title="Analyse de données">

  <div class="section">
    <h2>Importer toutes les activités</h2>
    <p>L'import doit contenir une liste de contentieux, stocks et nom de juridiction</p>
    <!-- <div class="form"> -->
    <form #formAllActivities>
      <div>
        <label>Fichier à importer</label>
        <input name="file" type="file" accept=".csv" />
      </div>
    </form>
    <!-- </div> -->
    <div class="action">
      <button (click)="onSendAllActivity(formAllActivities)">Envoyer</button>
    </div>
  </div>

  <div class="section">
    <h2>Importer une liste d'activités</h2>
    <p>L'import doit contenir une liste de contentieux et leurs stocks</p>
    <div class="form">
      <form #formActivities>
        <div>
          <label>Modifier la liste une sauvegarde d'activité</label>
          <select name="backupId">
            @for (o of HRBackupList; track o.id) {
            <option [value]="o.id">
              {{o.label}} du {{o.date | date:"dd/MM/yyyy"}}
            </option>
            }
          </select>
        </div>
        <div>
          <label>Fichier à importer</label>
          <input name="file" type="file" accept=".csv" />
        </div>
      </form>
    </div>
    <div class="action">
      <button (click)="onSendActivity(formActivities)">Envoyer</button>
    </div>
  </div>

  <div class="section">
    <h2>Extracteur de données</h2>
    <form #formExtract>
      <div class="select-juridictions">
        <label>Juridiction:</label>
        <select name="juridiction">
          @for (j of juridictionList; track j.id) {
          <option [value]="j.id">{{
            j.label }}</option>
          }
        </select>
      </div>
      <div class="select-period">
        <label>Période d'extraction:</label>
        <div class="date-selectors">
          De
          <input type="month" id='start' name="dateStart" value="dateStart">
          à
          <input type="month" id='start' name="dateStop" value="dateStop">
        </div>
      </div>
    </form>
    <button (click)='onExtractData(formExtract)'>Télécharger le fichier au format Excel</button>
  </div>
  <div class="section">
    <h2>Comparatif A-just / Pharos / TJ </h2>
    <form #formComparatif>
      <div class="select-juridictions">
        <label>Juridiction:</label>
        <select name="juridiction">
          @for (j of juridictionList; track j.id) {
          <option [value]="j.id">{{
            j.label }}</option>
          }
        </select>
      </div>
      <div class="select-period">
        <label>Période d'extraction:</label>
        <div class="date-selectors">
          De
          <input type="month" id='start' name="dateStart" value="dateStart">
          à
          <input type="month" id='start' name="dateStop" value="dateStop">
        </div>
      </div>
    </form>
    <button (click)='onCompareData(formComparatif)'>Télécharger le fichier au format Excel</button>
  </div>

  @if (printDataImportIssues) {
  <div class="section">
    <h2>Problèmes Import Data</h2>
    <br /><br />
    <table>
      <thead>
        <tr>
          <th>TJ</th>
          <th>Contentieux</th>
          <th>Last</th>
          <th>Periode</th>
          <th>New</th>
          <th>Periode</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        @for (elem of dataIssues; track elem.type) {
        <tr>
          <td>{{ elem.hr_backup_label }}</td>
          <td>{{ elem.contentieux_label }}</td>
          <td>{{ elem.last }}</td>
          <td>{{ elem.lastPeriode }}</td>
          <td>{{ elem.new }}</td>
          <td>{{ elem.newPeriode }}</td>
          <td>{{ elem.type }}</td>
        </tr>
        }
      </tbody>
    </table>
    <div class="action">
      <button
        (click)="sendAll ? onSendAllActivity(formAllActivities, true) : onSendActivity(formActivities, true) ">Importer</button>
      <button (click)="onCancelDataImport()">Annuler</button>
    </div>
  </div>
  }
</aj-wrapper>