<div>
  <div class="panel-logo">
    <img alt="Logo" src="/images/logo.jpg" />
  </div>
  <div class="panel">
    <div>
      <h1>Service momentanément indisponible</h1>
      <p>Nous travaillons pour résoudre le problème le plus rapidement possible.</p>
      <p class="small">Merci de réessayer plus tard ou de contacter l’équipe support par courriel.</p>
    </div>
    <div>
      <img alt="Couverture" src="/images/cover.jpg" />
    </div>
  </div>
</div>

<img alt="marianne" src="/images/marianne.jpg" class="logo-gouv" />