<div *ngIf="referentiel" class="main-referentiel">
  <div class="width-contentieux contentieux" (click)="showChildren = !showChildren">
    <mat-icon *ngIf="referentiel.childrens && referentiel.childrens.length">{{ showChildren ? 'arrow_drop_down' :
      'arrow_right' }}</mat-icon>
    <p>{{ referentielMappingName(referentiel.label) }}</p>
  </div>
  <div class="item actual">
    <div>
      <p>{{ totalIn }}</p>
    </div>
    <div>
      <p>{{ totalOut }}</p>
    </div>
    <div>
      <p>{{ totalStock }}</p>
    </div>
    <div>
      <p>{{ etpAffected.length >= 0 ? etpAffected[0].totalEtp : '' }}</p>
    </div>
    <div>
      <p>{{ etpAffected.length >= 1 ? etpAffected[1].totalEtp : '' }}</p>
    </div>
    <div>
      <p>{{ etpAffected.length >= 2 ? etpAffected[2].totalEtp : '' }}</p>
    </div>
  </div>
  <div class="item activity">
    <div>
      <div class="block">
        <aj-speedometer [percent]="(realCoverage || 0) * 100"></aj-speedometer>
      </div>
    </div>
    <div>
      <div class="block">
        <p>{{ realDTESInMonths || 0 }}</p>
        <p class="unity">mois</p>
      </div>
    </div>
    <div>
      <div class="block">
        <p>{{ realTimePerCase || 0 }}</p>
        <p class="unity">{{ realTimePerCase && realTimePerCase > 1 ? 'heures' :
          'heure'
          }}</p>
      </div>
    </div>
  </div>
  <div class="item calculate">
    <div>
      <div class="block">
        <aj-speedometer [percent]="(calculateCoverage || 0) * 100"></aj-speedometer>
      </div>
    </div>
    <div>
      <div class="block">
        <p>{{ calculateDTESInMonths || 0 }}</p>
        <p class="unity">mois</p>
      </div>
    </div>
    <div>
      <div class="block">
        <ng-template [ngIf]="calculateTimePerCase !== null" [ngIfElse]="nr">
          <p>{{ calculateTimePerCase }}</p>
          <p class="unity">{{ calculateTimePerCase && calculateTimePerCase > 1 ? 'heures' :
            'heure'
            }}</p>
        </ng-template>
      </div>
    </div>
    <div>
      <div class="block">
        <p>{{ calculateOut || 0 }}</p>
        <p class="unity">{{ calculateOut && calculateOut > 1 ? 'dossiers' :
          'dossier'
          }}</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showChildren && referentiel && referentiel.childrens && referentiel.childrens.length" class="childrens">
  <aj-referentiel-calculator *ngFor="let r of referentiel.childrens; trackBy: trackBy" [referentielId]="r.id"
    [dateStart]="dateStart" [dateStop]="dateStop" class="is-child"></aj-referentiel-calculator>
</div>

<ng-template #nr>
  <div class="ref-nr">
    <p>N/R</p>
  </div>
</ng-template>