@import '../../styles/utils.scss';

:host {
  display: block;

  &.show-children > .main-referentiel {
    border-top: solid 1px fColor(bgRowBorderSelected);

    > .contentieux {
      mat-icon,
      p {
        color: fColor(borderProgressBar);
      }
    }

    > .actual {
      background-color: fColor(bgRowSelected);
    }

    > .item.activity {
      background-color: fColor(bgRowSelected);
    }

    > .item.calculate {
      background-color: fColor(bgRowSelected);
    }
  }

  &.is-child {
    > .main-referentiel {
      > .contentieux p {
        text-align: right;
      }

      .item {
        &.activity,
        &.calculate {
          > div {
            box-shadow: none;
            border: solid 1px fColor(cgraylightv3);
          }
        }
      }
    }
  }

  > .main-referentiel {
    display: flex;
    height: 64px;

    > .contentieux {
      display: flex;
      align-items: center;
      cursor: pointer;

      p {
        font-weight: bold;
        text-align: left;
        margin-left: 8px;
        flex: 1;
      }
    }

    > .item {
      flex: 1;
      display: flex;
      align-items: stretch;

      &.actual {
        > div {
          align-self: stretch;
          margin: 0 2px;
          width: calc(100% - 4px);
        }

        .ref-nr {
          margin: 4px 0;
          height: calc(100% - 8px);
        }
      }

      &.activity,
      &.calculate {
        padding: 4px 2px;

        > div {
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
          border-radius: 4px;
          align-items: stretch;

          > div {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:last-child {
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
            }

            > div {
              align-self: stretch;
              padding: 2px;
              display: flex;
              flex-direction: column;
              align-items: center;

              > p {
                color: fColor(cblack);
                font-weight: bold;
                font-size: 14px;

                &.unity {
                  color: fColor(grayRow);
                  font-size: 16px;
                  font-weight: normal;
                }
              }
            }

            .ref-nr {
              height: 52px;
            }
          }
        }
      }

      > div {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &.selected {
          background-color: fColor(bgHeaderSelected);
        }

        p {
          text-align: center;
        }
      }
    }
  }

  > .childrens {
    background-color: fColor(bgProgressBar);

    > aj-referentiel-calculator {
      border-bottom: 1px solid fColor(cgrayDefault);

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

p {
  font-size: 14px;
  text-align: center;
  color: fColor(textColorLight);
}

.ref-nr {
  border: 2px solid fColor(redNRColor);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  p {
    font-size: 12px;
    color: fColor(redNRColor);
  }
}

.bg-magistrats {
  background-color: fColor(cbluemiddle);
}

.bg-fonctionnaires {
  background-color: fColor(cpinkmiddle);
}

// class size
.width-contentieux {
  width: 161px;
}

aj-speedometer {
  width: 70px;
}
