NG_APP_NODE_ENV=
NG_APP_PRODUCTION=
NG_APP_FRONT_URL=
NG_APP_SERVER_URL=
NG_APP_NB_DAYS_BY_MAGISTRAT=
NG_APP_NB_DAYS_BY_FONCTIONNAIRE=
NG_APP_NB_HOURS_PER_DAY_AND_FONCTIONNAIRE=
NG_APP_NB_HOURS_PER_DAY_AND_MAGISTRAT=
NG_APP_VERSION=
NG_APP_MATOMO=
NG_APP_MATOMO_TM=
NG_APP_FORCE_SSL=
NG_APP_SUPPORT_EMAIL=
NG_APP_MAPBOX_TOKEN=
NG_APP_MAPBOX_STYLE=
NG_APP_GITBOOK_TOKEN=
NG_APP_GITBOOK_ID=
NG_APP_ENABLE_SSO=
NG_APP_CRISP=
CYPRESS_BASE_URL=
