<div id="comment-area" [ngClass]="{ close: !showAll, 'drop-down-display': this.comments.length }"
  (click)="showAll = true">
  <div class="header-panel" (click)="$event.stopPropagation()" #target>
    <i id="logo-1" class="ri-message-3-line"></i>
    <div>
      <p class="com">Commentaires</p>
      @if (commentUpdatedAt) {
      <p class="com-at">Enregistré {{ formatDate(commentUpdatedAt) }}</p>
      }
    </div>
    <div class="sep"></div>
    @if (this.comments.length) {
    <div id="logo-4" class="displayer" (click)="showAll = !showAll; $event.stopPropagation(); scrollToTop()">
      {{ showAll ? 'Réduire' : 'Tout déplier' }}
    </div>
    }
  </div>
  @if (isEditing) {
  <div class="properties">
    <div class="number-circle">{{ currentUser.initials }}</div>
    <label>{{ currentUser.firstName + ' ' + currentUser.lastName }}</label>
  </div>
  }
  @if(userService.canEditHR()) {
  <div id="panel-content" class="panel-content">
    @if (!isEditing) {
    <div class="placeholder">
      <mat-icon>drive_file_rename_outline</mat-icon>
      Pour écrire un nouveau commentaire, cliquez ici
    </div>
    }
    <aj-text-editor id="new-comment-editor" #editor [value]="comment || ''" class="no-main-style"
      (valueChange)="updateComment($event)" placeholder="" [hideToolbar]="true" (focusField)="getFocusOn($event)"
      [resetEditor]="resetEditor" (resetField)="resetEditor = false"
      (click)="$event.stopPropagation()"></aj-text-editor>
  </div>
  }
  @if (isEditing && userService.canEditHR()) {
  <div class="footer-panel">
    <div class="back" (click)="back(); $event.stopPropagation()">Annuler</div>
    <div class="save" [ngClass]="{ disabled: !currentComment.length }" (click)="save(); $event.stopPropagation()">
      Enregistrer
    </div>
  </div>
  }
  @for (com of comments; track com) {
  <passed-comment [comment]="com" [currentHR]="currentHR" (deletedComment)="reloadCheck($event)"></passed-comment>
  }
  @if (this.comments.length) {
  <div id="logo-2" class="fixed-button" (click)="showAll = !showAll; $event.stopPropagation(); scrollToTop()">
    <mat-icon class="arrow-list">{{ showAll ? 'expand_less' : 'expand_more' }}</mat-icon>
    {{ showAll ? 'Réduire' : 'Tout déplier' }}
  </div>
  }
</div>