@import '../../../styles/utils.scss';

:host {
  display: block;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px fColor(lightBorder);
  background-color: #fff;
}

.header-panel {
  display: flex;
  height: 56px;
  align-items: center;
  background-color: fColor(bgSelect);
  border-bottom: solid 1px fColor(lightBorder);
  padding: 0 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  i {
    color: fColor(bgSelectSelected);
    margin-right: 9px;
  }

  div {
    margin-right: 8px;

    .com {
      color: fColor(cblack);
      font-size: 16px;
      font-weight: bold;
    }

    .com-at {
      color: fColor(titleSelect);
      font-size: 12px;
    }
  }
}