Sauvegardes <select [ngModel]="backupId" (ngModelChange)="onChangeBackup($event)">
    <option *ngFor="let back of backups; trackBy: trackBy" [value]="back.id">{{back.label}} {{back.date
        | date:"dd/mm/yyyy"}}</option>
</select>
<button (click)="onRemoveBackup()">Supprimer</button>
<button (click)="onDuplicateBackup()">Dupliquer</button>
<button (click)="onCreateEmptyBackup()">Créer une sauvegarde vierge</button>
<button *ngIf="hrIsModify" (click)="onSaveHR()">Sauvegarder cet état</button>