@use '../../styles/utils.scss';

:host {
  .logo {
    height: 135px;

    >img {
      height: 90px;
      margin-right: 27px;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 8px;
  }

  p {
    margin-bottom: 24px;
  }

  iframe {
    margin-top: 10px;
    width: 100%;
  }

  #map-juridictions {
    margin-top: 25px;
    height: 80vh;
    width: 100%;
  }
}