@import '../../styles/utils.scss';

:host {

  .right-panel {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 15px 25px;

    .logo {
      height: 90px;
      >img {
        height: 90px;
        margin-right: 27px;
      }
    }

    .back-link {
      margin-top: 8px;
  
      a {
        font-size: 18px;
        color: fColor(primary);
        text-decoration: none;
      }
    }
  
    iframe {
      margin-top: 8px;
      width: 100%;
      height: 100%;
    }
  }
  
  #map-juridictions {
    width: 40%;
  }
}