<aj-wrapper-no-connected [title]="'Simulateur de vol<br/>pour le pilotage<br/>de votre juridiciton'"
  class="small-left-panel">
  <div class="logo">
    <img src="/assets/icons/bloc-marque/bloc-marque-white@2x.svg" alt="ministère de la justice" />
    <img src="/assets/icons/logos/white-192x192@1x.svg" alt="a-just" />
  </div>
  <p class="back-link"><a routerLink="/">Retour</a></p>
  <iframe src="http://meta.a-just.beta.gouv.fr/public/dashboard/9e73237a-0dee-4680-809e-a9ed54dce278" id="child-iframe"
    frameborder="0" scrolling="yes" (load)='callJavascript($event)'></iframe>
  <div id="map-juridictions"></div>
</aj-wrapper-no-connected>