@use '../../styles/utils.scss';

:host {
  display: block;
  width: 100%;

  &.small-left-panel .main-container>.title-panel {
    flex: 26;
  }
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex: 1;
  align-items: stretch;

  >.title-panel {
    flex: 56;
  }

  >.content-panel {
    flex: 44;
  }
}

.title-panel {
  background-image: url(../../../assets/img_SignIn.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  padding: 56px;

  >h2 {
    margin-top: 208px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-align: right;
  }
}

.content-panel {
  padding: 40px 64px;
}

.no-padding {
  display: flex;
  flex-direction: row;
  padding: 0 !important;
}