 @import "../../styles/utils.scss";

 :host {

     .input-container {
         position: relative;

         .main-input {
             padding-right: 70px;
             text-align: right;
             line-height: 1.5;
             font-size: 16px;
         }

         .percent {
             position: absolute;
             margin-left: -70px;
             z-index: 2;
             line-height: 38px;
         }

         .compute {
             position: absolute;
             font-size: 16px;
             letter-spacing: -0.25px;
             color: #6a6af4;
             font-weight: 500;
             margin-left: -50px;
             z-index: 2;
             line-height: 38px;
         }

         input {
             text-align: center;
             font-weight: normal;
             background-color: #eeeeee;
             border: none;
             border-top-left-radius: 4px;
             border-top-right-radius: 4px;
             position: relative;
             border-bottom: solid 2px #e5e5e5;

             &:focus {
                 outline: none;
                 border-bottom: solid 2px #3a3a3a !important;
             }
         }

         /* Chrome, Safari, Edge, Opera */
         input::-webkit-outer-spin-button,
         input::-webkit-inner-spin-button {
             -webkit-appearance: none;
             margin: 0;
         }

         /* Firefox */
         input[type=number] {
             -moz-appearance: textfield;
         }
     }
 }