@use "../../styles/utils.scss" as utils;

:host {
  display: block;
  border-radius: 8px;
  background-color: utils.$colors-bgSelect;
  border: 1px solid utils.$colors-borderSelect;
  padding: 4px 8px;
  position: relative;
  cursor: pointer;
  margin: auto 0;
  height: 55px;

  &.not-read-only {
    cursor: not-allowed !important;
  }

  &.greffe {
    &.selected {
      .title-select {
        border-right: 1px solid #a558a0 !important;
      }
    }
  }

  &.calculator {
    height: 32px;
    border-radius: 4px;
    border: solid 1px #ddd;
    background-color: #fff;
    display: flex;
    padding: 0px 8px;
    flex-direction: row;

    &.popup {
      width: 114px;
    }

    &.selected {
      .title-select {
        border-right: solid 1px utils.$colors-cbluedark;
        ;
      }
    }

    div {
      display: inline;

      mat-icon {
        display: none;
      }

      p {
        font-size: 14px;
        font-weight: normal;
        width: fit-content;
        line-height: 28px;
        min-width: 62px;
        color: utils.$colors-cblack;
      }
    }

    .title-select {
      border-right: solid 1px utils.$colors-borderSelect;
      line-height: 28px;
      padding: 0 10px 0 2px;
      font-size: 10px;
      margin-right: 8px;
    }
  }

  &.no-label {
    border-left: none;
    height: 32px;
    border-radius: 4px;
    border: solid 1px utils.$colors-borderSelect;
    background-color: #fff;
    padding: 0px 8px;
    width: 130px;

    .title-select {
      display: none;
    }

    div {
      p {
        padding-right: 16px;
        font-weight: normal;
        font-size: 14px;
        width: initial;
        line-height: 28px;
        height: 30px;
        border-right: solid 1px #ddd;
        color: utils.$colors-cblack;
      }

      mat-icon {
        margin-left: 7px;
        margin-right: 0px;
        color: utils.$colors-cgray;
      }
    }

    &.right {
      text-align: right;
      padding-right: 16px !important;
    }

    &.left {
      border: solid 1px utils.$colors-borderSelect;
      border-right: none;

      div {
        flex-direction: row-reverse;

        p {
          padding-left: 16px;
          padding-right: 0px;
          border-right: none;
          border-left: solid 1px utils.$colors-borderSelect;
        }

        mat-icon {
          margin-right: 8px;
          margin-left: 0px;
        }
      }
    }
  }

  &.extend {
    div {
      p {
        width: 130px;
      }
    }
  }

  &.bg-white {
    background-color: white;
  }

  &.dark-mode {
    background-color: utils.$colors-darkModeBgMenu;
    border: 1px solid utils.$colors-darkModeTitle;

    p,
    mat-icon {
      color: white;
    }

    p.title-select {
      color: utils.$colors-headerColor;
    }
  }

  &.read-only {
    cursor: inherit;
    opacity: 0.7;
  }

  &.bottom-popin {
    input {
      left: -20px;
      top: 100%;
    }
  }

  p.title-select {
    color: utils.$colors-titleSelect;
    white-space: nowrap;
    margin-right: 28px;
    font-size: 14px;
  }

  div {
    display: flex;
    align-items: center;

    p {
      white-space: nowrap;
      flex: 1;
      font-weight: bold;
      height: 24px;
      width: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
      margin-left: 8px;

      &.left {
        margin-left: 0;
        margin-right: 8px;
      }
    }
  }

  input {
    width: 0;
    height: 0;
    display: block;
    position: relative;
    left: -5px;
    padding: 0;
    border: 0;
  }

}