@import "../../styles/utils.scss";

:host {
  display: block;
  border-radius: 8px;
  background-color: fColor(bgSelect);
  border: 1px solid fColor(borderSelect);
  padding: 4px 8px;
  cursor: pointer;

  p.title {
    color: fColor(titleSelect);
    white-space: nowrap;
    margin-right: 28px;
    font-size: 14px;
  }

  div {
    display: flex;
    align-items: center;

    p {
      white-space: nowrap;
      flex: 1;
      font-weight: bold;
      height: 24px;
      width: 150px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }
  }

  input {
    width: 0;
    height: 0;
    display: block;
    position: relative;
    left: -5px;
  }
}