<div class="header">
  <p>Commentaires</p>
  <div class="tag" *ngIf="comments.length">
    <mat-icon class="material-icons-outlined">sms</mat-icon>
    <p>{{comments.length}}</p>
  </div>
  <div class="flex-1"></div>
  <mat-icon>close</mat-icon>
</div>
<div class="content">

</div>
<div class="action">
  <div class="properties" *ngIf="userService.userS() as user">
    <div class="number-circle">{{user.initials}}</div>
    <label>{{user.firstName + ' ' + user.lastName}}</label>
  </div>
  <aj-text-editor placeholder="Écrivez un commentaire">
  </aj-text-editor>
  <div class="footer-panel">
    <div class="back">Annuler</div>
    <div class="save">
      Enregistrer</div>
  </div>
</div>