<div class="header">
  <p>Commentaires</p>
  <div class="tag" *ngIf="comments.length">
    <mat-icon class="material-icons-outlined">sms</mat-icon>
    <p>{{comments.length}}</p>
  </div>
  <div class="flex-1"></div>
  <mat-icon class="cursor-pointer" (click)="close.emit()">close</mat-icon>
</div>
<div class="content">
  <one-comment *ngFor="let com of comments; let index = index" [comment]="com"
    (deletedComment)="removeComment(index)"></one-comment>
</div>
<div class="action">
  <div class="properties" *ngIf="userService.userS() as user">
    <div class="number-circle">{{user.initials}}</div>
    <label>{{user.firstName + ' ' + user.lastName}}</label>
  </div>
  <aj-text-editor #editor placeholder="Écrivez un commentaire" (valueChange)="commentContent = $event">
  </aj-text-editor>
  <div class="footer-panel">
    <div class="back" *ngIf="commentContent.length">Annuler</div>
    <div class="save" [ngClass]="{disabled: !commentContent.length}"
      (click)="onSentComment(commentContent, null, editor)">
      Enregistrer</div>
  </div>
</div>