@use "../../../styles/utils.scss" as utils;


:host {
  display: flex;
  width: calc(100% - 32px);
  margin-left: 16px;
  border-radius: 4px;
  margin-top: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  min-height: 140px;
  background-color: white;

  &:last-child {
    margin-bottom: 16px;
  }

  .activities {
    flex-direction: column;
    display: flex;
    padding: 8px 0px;

    .space {
      flex: 1;
      min-height: 16px;
    }
  }

  .actions {
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      padding: 16px;
      color: fColor(titleEtpGraph);
      cursor: pointer;
    }
  }
}


.profil {
  width: 370px;

  &.ca {
    width: auto;
  }

  &.item {
    display: flex;

    .text {
      width: 270px;
      padding: 8px 24px 8px 24px;
      display: flex;
      flex-direction: column;
      text-decoration: none;

      &.ca {
        width: 182px !important;
        flex: none;
      }

      .name {
        margin-bottom: 8px;
        display: flex;

        p {
          font-weight: bold;
          color: utils.$colors-titleSelect;
          flex: 1;
          overflow: hidden;
          word-wrap: break-word;
          color: utils.$colors-cblack;
        }

        .tooltip {
          margin-left: 8px;
          position: relative;

          &:hover .tooltiptext {
            visibility: visible;
          }

          mat-icon {
            color: utils.$colors-borderProgressBar;
          }

          .tooltiptext {
            visibility: hidden;
            background-color: utils.$colors-borderProgressBar;
            color: #fff;
            padding: 8px;
            font-size: 14px;
            border-radius: 6px;
            position: absolute;
            z-index: 10;
            top: -5px;
            left: 105%;
            width: 300px;
          }
        }
      }

      .tags {
        margin-bottom: 8px;

        >p {
          display: inline-block;
          height: 24px;
          padding: 2px 8px;
          border-radius: 40px;
          font-size: 12px;
          margin-right: 8px;
          margin-bottom: 4px;

          &.function {
            color: white;
            background-color: utils.$colors-cbluelight;

            mat-icon {
              color: utils.$colors-white;
            }
          }

          &.etp {
            color: utils.$colors-cblack;
            background-color: utils.$colors-cgrayDefault;

            mat-icon {
              color: utils.$colors-cblack;
            }
          }

          &.unavailable {
            font-size: 14px;

            mat-icon {
              font-size: 17px;
              height: 17px;
              width: 17px;
            }
          }

          mat-icon {
            font-size: 14px;
            width: 14px;
            height: 14px;
            position: relative;
            top: 3px;
          }
        }
      }

      .updated-at {
        font-size: 12px;
        line-height: 20px;
        color: utils.$colors-cgray;
      }
    }

    .read-etp {
      width: 100px !important;
      background-color: utils.$colors-bgSelect;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .label {
        margin: 16px 0px 8px 0px;
        font-size: 14px;
        color: utils.$colors-cgreen;

        &.red {
          color: utils.$colors-cred;
        }
      }
    }
  }
}

.activities {
  flex: 1;
  position: relative;
}

.empty-element {
  flex: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/assets/images/placeholder_agent.svg");
}

.unavailable {
  color: utils.$colors-titleIndisponibilitiesPanel;
  margin-bottom: 8px;

  mat-icon {
    color: utils.$colors-titleIndisponibilitiesPanel;
    width: 20px;
    height: 20px;
    font-size: 20px;
    position: relative;
    top: 5px;
  }
}

.activities-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}