:host {
    &.fix-width div {
        width: 300px;
    }
}

div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 105%;
    left: 0;
    z-index: 90;
    padding: 16px;
    border: 2px solid #CE0500;
    border-radius: 8px;
    background-color: white;
    color: #CE0500;
    font-size: 14px;
    line-height: 24px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 18, 0.16);

    mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        background-color: #FDDEDE;
    }
}