@import '../../styles/utils.scss';

:host {
  height: 26px;
  width: 26px;
  position: relative;

  > div {
    background-color: fColor(bgHelper);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    font-size: 14px;
    color: white;
    line-height: 26px;
    padding: 0 6px;
    border-radius: 26px;
    width: 26px;
    -webkit-transition: width 0.25s ease;
    transition: width 0.25s ease;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      width: 190px;

      > span {
        display: inline;
      }
    }

    > span {
      display: none;
      white-space: nowrap;
      margin-left: 4px;
    }
  }
}
