@use '../../styles/utils.scss' as utils;

:host {
  height: 26px;
  min-width: 26px;
  position: relative;
  z-index: 1;

  >div {
    background-color: utils.$colors-bgHelper;
    position: absolute;
    //z-index: 10;
    top: 0;
    left: 0;
    font-size: 14px;
    color: white;
    line-height: 26px;
    padding: 0 6px;
    border-radius: 26px;
    min-width: 26px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

    >span {
      display: inline;
      white-space: nowrap;
      margin-left: 4px;
      margin-right: 4px;
    }
  }
}