@import '../../styles/utils.scss';

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(fColor(cblackdark), 0.64);
  z-index: 200;

  > div {
    background-color: white;
    padding: 24px 32px;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
}

.alert-message {
  font-size: 16px;
  margin-bottom: 16px;
}

.actions-row {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
