<aj-wrapper-no-connected
  [title]="'Simulateur de vol<br/>pour le pilotage<br/>de votre juridiction'"
  class="small-left-panel"
>
  <div class="logo">
    <img src="/assets/icons/bloc-marque/bloc-marque-white@2x.svg" alt="ministère de la justice" />
    <img src="/assets/icons/logos/white-192x192@1x.svg" alt="a-just" />
  </div>
  <aj-back-button routerLink="/" />
  <h3>Protection des données personnelles</h3>

  <h4>Traitement et responsable</h4>
  <p>
    La start up d'Etat A-JUST construit un outil numérique de pilotage pour les équipes de direction des tribunaux
    judiciaires, mettant en relation en temps réel leurs données d'effectifs (magistrats du siège, fonctionnaires de
    greffe et contractuels) et leurs données d'activité.
  </p>
  <p>
    Le responsable de l’utilisation des données est l’incubateur du ministère de la Justice, représenté par Xavier
    ALBOUY, Chef du service du Numérique.
  </p>

  <h4>Base juridique des traitements de données</h4>
  <p>
    L’incubateur du Ministère de la Justice, en tant que responsable de traitement, s'engage à ce que la collecte et le
    traitement des données à caractère personnel de l'Utilisateur soit effectués de manière licite, loyale et
    transparente, conformément au
    <a href="https://eur-lex.europa.eu/eli/reg/2016/679/oj?locale=fr" rel="noreferrer" target="_blank">
      Règlement (UE) général sur la protection des données (« RGPD »)
    </a>
    et à la
    <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000886460" rel="noreferrer" target="_blank">
      Loi informatique et libertés de 1978 modifiée (« LIL »)
    </a>
    .
  </p>
  <p>
    Cette collecte d'informations se limite au nécessaire, conformément au principe de minimisation des données. Les
    définitions fournies à l'article 4 du
    <a href="https://eur-lex.europa.eu/eli/reg/2016/679/oj?locale=fr" rel="noreferrer" target="_blank">RGPD</a>
    sont applicables aux présentes.
  </p>
  <p>Les données traitées à l’occasion de ce traitement ont plusieurs fondements juridiques :</p>
  <ul>
    <li>l’obligation légale à laquelle est soumis le responsable de traitements au sens de l’article 6-c du RGPD ;</li>
    <li>
      la mission d’intérêt public à laquelle le responsable du traitement est soumis au sens de l’article 6 du
      RGPD.Finalité
    </li>
  </ul>

  <h4>Finalité</h4>
  <p>
    Dans le cadre de l'utilisation de l’outil de pilotage A-JUST (ci-après le « Site »), l’équipe ou l'utilisateur
    (ci-après l’ « Utilisateur ») peuvent être amenés à renseigner sur le site des données à caractère personnel pour :
  </p>
  <p>D'une part :</p>
  <ul>
    <li>actualiser l’état des effectifs du tribunal judiciaire utilisateur d’A-JUST ;</li>
    <li>
      pouvoir bénéficier des services proposés par le Site : visualisation des effectifs disponibles pour la
      juridiction, restitutions d’indicateurs d’activité non nominatifs et simulations d’organisation aux fins de
      déterminer la capacité de traitement des contentieux soumis à la juridiction.
    </li>
  </ul>
  <p>D'autre part :</p>
  <ul>
    <li>inscrire et gérer la liste et les droits des utilisateurs et diffuser les lettres d'information du service.</li>
  </ul>

  <h4>Pourquoi manipulons-nous ces données ?</h4>
  <p>A-JUST manipule des données à caractère personnel pour les raisons suivantes :</p>
  <ul>
    <li>visualiser l'ensemble des ressources magistrats & greffe d’une juridiction ;</li>
    <li>restituer des indicateurs simples de pilotage de l'activité de la juridiction ;</li>
    <li>apprécier la capacité de traitement de la juridiction ;</li>
    <li>
      effectuer des simulations pour mesurer l'impact de changements subis ou choisis par la juridiction sur sa capacité
      de traitement des contentieux.
    </li>
  </ul>

  <h4>Quelles sont les données que nous manipulons ?</h4>
  <p>
    <b><u>S’agissant des utilisateurs de l’outil</u></b>
    , A-JUST manipule les données personnelles suivantes :
  </p>
  <ul>
    <li>prénom ;</li>
    <li>nom ;</li>
    <li>adresse e-mail professionnelle ;</li>
    <li>catégorie professionnelle ;</li>
    <li>fonction professionnelle</li>
    <li>logs de connexion</li>
  </ul>
  <p>
    <b><u>S’agissant des agents des tribunaux judiciaires utilisateurs</u></b>
    , A-JUST manipule les données personnelles suivantes :
  </p>
  <ul>
    <li>prénom ;</li>
    <li>nom ;</li>
    <li>numéro de matricule ;</li>
    <li>catégorie professionnelle ;</li>
    <li>fonction professionnelle</li>
    <li>temps administratif de travail (temps plein ou partiel)</li>
    <li>date d’arrivée et de départ de la juridiction</li>
    <li>types de contentieux traités par l’agent</li>
    <li>indisponibilités temporaires</li>
  </ul>

  <h4>Qu’est-ce qui nous autorise à manipuler ces données ?</h4>
  <p>
    A-JUST manipule ces données personnelles en se basant sur l’exécution d’une mission d’intérêt public ou relevant de
    l’exercice de l’autorité publique dont est investi le ministère de la Justice, en tant que responsable de traitement
    (article 6.1-e du Règlement (UE) 2016/679 du Parlement Européen et du Conseil du 27 avril 2016 dit Règlement général
    sur la protection des données ou RGPD). 
  </p>
  <p>
    Ce traitement a également une finalité statistique pour mesurer l’impact de ce dispositif sur la mission de pilotage
    exercée par les équipes de direction des tribunaux judiciaires.
  </p>

  <h4>Pendant combien de temps conservons-nous ces données ?</h4>
  <p>
    Durée de conservation des données des agents : elles seront conservées 5 ans à compter de leur date de départ de la
    juridiction.
  </p>

  <h4>Qui a accès à ces données ?</h4>
  <p>Les accès aux données sont juridiquement encadrés. Les personnes suivantes ont accès à ces données :</p>
  <ul>
    <li>
      les membres d’A-JUST qui ont besoin des données dans leurs missions ou qui y ont accès de fait (développeurs,
      support utilisateurs etc.) ;
    </li>
    <li>
      les utilisateurs de l'outil ayant un droit d'accès à la rubrique « ventilateur » de la juridiction dont il fait
      partie (président du tribunal judiciaire, directeurs de greffe, chargés de mission pilotage ou secrétaire RH de la
      juridiction), avec la mise en place de droits différenciés selon les besoins des chaque utilisateur de connaître
      de chaque type de données.
    </li>
  </ul>

  <h4>Quelles mesures de sécurité mettons-nous en place ?</h4>
  <p>Nous mettons en place plusieurs mesures pour sécuriser les données :</p>
  <ul>
    <li>mesures de protection des logiciels</li>
    <li>sauvegarde régulières des données</li>
    <li>contrôle d'accès des utilisateurs</li>
    <li>mesures de traçabilité</li>
    <li>contrôle des sous-traitants</li>
    <li>droits d'accès différenciés selon les utilisateurs dans l’espace de chaque juridiction</li>
  </ul>
  <p>Ces données ne sont traitées que par un service interne à A-JUST et en recourant aux sous-traitants suivants :</p>

  <table>
    <tr>
      <th>Sous-traitant</th>
      <th>Pays destinataire</th>
      <th>Traitement réalisé</th>
      <th>Garanties</th>
    </tr>
    <tr>
      <td>Scalingo</td>
      <td>France</td>
      <td>Hébergement</td>
      <td>
        <a
          href="https://scalingo.com/fr/contrat-gestion-traitements-donnees-personnelles"
          rel="noreferrer"
          target="_blank"
        >
          https://scalingo.com/fr/contrat-gestion-traitements-donnees-personnelles
        </a>
      </td>
    </tr>
    <tr>
      <td>Matomo</td>
      <td>France</td>
      <td>Mesure d'audience</td>
      <td>
        <a href="https://fr.matomo.org/privacy-policy/" rel="noreferrer" target="_blank">
          https://fr.matomo.org/privacy-policy/
        </a>
      </td>
    </tr>
  </table>

  <h4>Cookies</h4>
  <p>
    Un cookie est un petit fichier texte déposé sur votre terminal (ordinateur, tablette ou mobile) lors de la visite
    d'un site ou lors de la consultation d'une publicité.
  </p>
  <p>
    Il contient plusieurs données : le nom du serveur qui l'a déposé, un identifiant sous forme de numéro unique,
    éventuellement une date d'expiration.Les cookies ont pour but de collecter des informations relatives à votre
    navigation sur les sites et de vous adresser des services personnalisés.
  </p>
  <p>A-JUST ne collecte pas de cookies.</p>
  <p>
    Mais, afin de mieux vous servir et d’améliorer l’expérience utilisateur sur notre site, nous mesurons son audience
    grâce à une solution externe utilisant la technologie des cookies. Les données collectées permettent de fournir
    uniquement des données statistiques de fréquentation (le nombre de pages vues, le nombre de visites, leur fréquence
    de retour...).
  </p>

  <h4>De quels droits disposez-vous ?</h4>
  <p>Vous disposez, en tant qu’utilisateur ou qu’agent présent dans A-JUST :</p>
  <ul>
    <li>d’un droit d’information et d’un droit d’accès à vos données ;</li>
    <li>d’un droit de rectification, et le cas échéant de suppression des données vous concernant ;</li>
    <li>d’un droit d’opposition ;</li>
    <li>d’un droit à la portabilité de vos données.</li>
  </ul>

  <p>
    Pour les exercer, contactez-nous à :
    <a href="mailto:support-utilisateurs@a-just.fr">support-utilisateurs&#64;a-just.fr</a>
    .
  </p>
  <p>
    Puisque ce sont des droits personnels, nous ne traiterons votre demande que si nous sommes en mesure de vous
    identifier. Dans le cas où nous ne parvenons pas à vous identifier, nous pouvons être amenés à vous demander une
    preuve de votre identité.
  </p>
  <p>
    Pour vous aider dans votre démarche, vous trouverez un modèle de courrier élaboré par la CNIL ici :
    <a href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces" rel="noreferrer" target="_blank">
      https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces
    </a>
  </p>
  <p>
    Nous nous engageons à vous répondre dans un délai raisonnable qui ne saurait dépasser un mois à compter de la
    réception de votre demande.
  </p>
</aj-wrapper-no-connected>
