@use '../../../styles/utils.scss' as utils;

::ng-deep .mdc-form-field {
  font-size: 16px;
  color: utils.$colors-cblack;

  .mdc-label {
    font-size: 16px !important;
    color: black !important;
    font-family: Marianne !important;
  }

}

.mat-option {
  margin-left: 5px;
}