@import '../../styles/utils.scss';

.title {
  margin-right: 16px;

  .page-name {
    font-size: 16px;
    color: fColor(titleSelect);
    font-weight: bold;
  }

  .container-names {
    display: flex;
    margin-right: 8px;

    .form-group-names {
      background-color: white;
      border-bottom: none;
      width: auto;
      font-size: 22px;
      color: #000091;
      font-weight: bold;
      padding: 0;
      height: 32px;

      &::placeholder {
        color: #000091;
      }
    }

    .iconPen {
      top: 8px;
      position: relative;
      font-size: 22px;
      color: #000091;

    }
  }

  form {
    display: flex
  }





  .iconPenSmall {
    font-size: 12px;
    position: relative;
    color: fColor(primary) !important;
    width: 12px;
    height: 12px;
  }


  .user-name {
    font-size: 22px;
    color: fColor(primary);
    font-weight: bold;

    mat-icon {
      position: relative;
      top: 4px;
      margin-left: 8px;
    }
  }
}

.matricule {
  background-color: white;
  border-bottom: none;
  width: auto;
  padding: 0;
  font-size: 12px;
  color: #666666;
  align-items: center;
}

.user-updated-at {
  font-size: 12px;
}

.new-action {
  margin: 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  margin-right: 16px;

  aj-date-select {
    margin-left: 16px;
  }
}

.profil {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.activities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.panel-hsitory-group {
  margin: 16px auto;
  background-color: white;
  border-radius: 8px;

  &.futur {
    background-color: fColor(cgrayDefault);

    .title-history {
      color: fColor(grayRow);
    }

    panel-history-ventilation {
      background-color: fColor(bgProgressBar);
      box-shadow: none;
    }
  }

  .title-history {
    padding: 20px 40px;
    font-size: 20px;
    font-weight: bold;
    color: fColor(cblack);
    background-color: fColor(cgrayDefault);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  panel-history-ventilation {
    margin: 16px;
  }
}

add-ventilation {
  margin: 24px auto;
  z-index: 101;
}

.sticky-action-footer {
  height: 80px;
  padding: 16px;
  box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.04),
    0 -20px 25px -5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0;
  z-index: 102;

  button:first-child {
    margin-right: 16px;
  }
}

.black-screen {
  position: absolute;
  background-color: rgba(fColor(cblackdark), 0.37);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  pointer-events: none;
}

.help-icon {
  margin-left: 8px;
}

.separator-action {
  height: 16px;
  width: 1px;
  background-color: fColor(cgraylightv2);
  margin: 0 16px 0 16px;
}