<aj-wrapper [titleTemplate]="titleTemplate" [actionTemplate]="actions" backUrl="/ventilations"
  [backAnchor]="currentHR && currentHR.id ? ''+currentHR.id : undefined" class="content-margin-null">
  <actual-panel-situation *ngFor="let h of histories.slice(0, 1); trackBy: trackByDate" [id]="h.id"
    [fonction]="h.fonction" [etp]="h.etp" [indisponibilities]="h.indisponibilities" [activities]="h.activities"
    [dateStart]="h.dateStart" [dateStop]="h.dateStop" [RHId]="currentHR && currentHR.id"
    [dateEndToJuridiction]="currentHR && currentHR.dateEnd" (editVentilation)="editVentilation = h">
  </actual-panel-situation>

  <add-ventilation [human]="currentHR"
    [activities]="editVentilation ? editVentilation.activities : (histories.length ? histories[0].activities : [])"
    [indisponibilities]="allIndisponibilities"
    [lastDateStart]="editVentilation ? editVentilation.dateStart : (histories.length ? histories[0].dateStart : null)"
    [onEdit]="editVentilation || histories.length === 0 ? true : false" (close)="editVentilation = null"
    (ventilationChange)="onNewVentilation()">
  </add-ventilation>

  <p *ngIf="histories.length > 1" class="title-history">
    Situations antérieures du {{ categoryName }}
  </p>
  <panel-history-ventilation *ngFor="let h of histories.slice(1); trackBy: trackByDate" [id]="h.id"
    [fonction]="h.fonction" [etp]="h.etp" [indisponibilities]="h.indisponibilities" [activities]="h.activities"
    [dateStart]="h.dateStart" [dateStop]="h.dateStop" [dateEndToJuridiction]="currentHR && currentHR.dateEnd"
    (editVentilation)="editVentilation = h">
  </panel-history-ventilation>

  <div *ngIf="isAdmin()" class="text-center">
    <mat-icon (click)="onDelete()">delete</mat-icon>
  </div>
</aj-wrapper>

<ng-template #actions>
  <div class="actions">
    <aj-date-select title="Date d'arrivée" [value]="currentHR && currentHR.dateStart" [readOnly]="true">
    </aj-date-select>
    <aj-date-select title="Date de départ" [value]="currentHR && currentHR.dateEnd" [readOnly]="true">
    </aj-date-select>
  </div>
</ng-template>

<ng-template #titleTemplate>
  <div class="title">
    <p class="page-name">Fiche individuelle de</p>
    <p class="user-name">
      {{ (currentHR && currentHR.firstName) +' '+ (currentHR &&
      currentHR.lastName) }}
    </p>
  </div>
  <p class="user-updated-at">
    {{ currentHR && currentHR.updatedAt ? 'Dernière mise à jour le ' +
    getDate(currentHR.updatedAt) + ' ' + getMonthString(currentHR.updatedAt) +
    ' ' + getFullYear(currentHR.updatedAt) : '' }}
  </p>
</ng-template>