@use '../../styles/utils.scss' as utils;

.wrapper-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  padding: 0 16px 16px 16px;
  padding: 0px 8px;
  margin-top: 8px;
  gap: 8px;
  overflow: auto;

  &.duringPrint {
    overflow: inherit;
  }
}

.anchor {
  position: absolute;
  top: -200px;
}

.new-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.panel-history-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: utils.$colors-activityBgColor;
  border-radius: 8px;
  padding-bottom: 8px;
  border: 1px solid utils.$colors-lightBorder;

  &.futur {
    .title-history {
      color: utils.$colors-grayRow;
    }

    panel-history-ventilation {
      background-color: utils.$colors-ventilationSituationToCome;
      box-shadow: none;
    }
  }

  &.past {
    panel-history-ventilation {
      background-color: utils.$colors-ventilationPastSituation;
      box-shadow: none;
    }
  }

  .title-history {
    height: 40px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    color: utils.$colors-cblack;
    line-height: 24px;
    background-color: utils.$colors-ventilationCurrentSituationBg;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid utils.$colors-lightBorder;
  }

  panel-history-ventilation {
    //margin: 16px;
  }
}

add-ventilation {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &:not(.empty-user) {
    position: fixed;
    margin: 24px auto;
    z-index: 101;
    top: 0;
    bottom: 0;
    left: calc(50% + 111px);
    transform: translateX(-50%);
    overflow: auto;
  }
}

.sticky-action-footer {
  height: 80px;
  padding: 16px;
  box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.04),
    0 -20px 25px -5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  z-index: 102;
  left: 0;
  right: 0;

  button:first-child {
    margin-right: 16px;
  }
}

.black-screen {
  position: absolute;
  background-color: rgba(utils.$colors-cblackdark, 0.37);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  pointer-events: none;
}

.first-panel {
  display: flex;
  position: relative;
  align-items: stretch;
  gap: 8px;

  >indispo-profil {
    width: 438px;
  }

  >comment-profil {
    flex: 1;
  }
}

mat-form-field {
  width: 100%;
  padding-bottom: 0px;
}

::ng-deep mdc-text-field {
  background-color: #eeeeee;
}

::ng-deep .mdc-text-field--filled {
  background-color: #eeeeee !important;

}

::ng-deep mat-mdc-text-field-wrapper {
  background-color: #eeeeee;
}

::ng-deep .mat-mdc-form-field-infix {
  min-height: 40px !important;
  height: 40px;
  padding-top: 6px !important;
  padding-bottom: 0px !important;

  .mat-mdc-form-field-input-control {
    font-family: "Marianne" !important;
  }

  select {
    font-family: "Marianne" !important;
    letter-spacing: initial !important;
  }
}

::ng-deep .mdc-line-ripple::after {
  border-bottom-color: black !important
}

::ng-deep .mdc-line-ripple::before {
  border-bottom-width: 2px !important;
}

::ng-deep .mat-mdc-form-field-infix::after {
  color: black !important;
}

.first-bloc {
  margin-bottom: 4px;
}