@import "../../styles/utils.scss";

.board {
  display: flex;

  > .actions {
    width: 200px;
    margin-right: 32px;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
	grid-gap: 16px;
  flex: 1;
}
