mat-datepicker-content button {
  font-size: inherit;
}

button {
  height: 57px;
  line-height: 57px;
  padding: 0 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 8px;
  white-space: nowrap;

  &.light {
    font-size: 16px;
  }

  &.medium {
    height: 38px;
    line-height: 40px;
    border-radius: 0px;
    font-size: 16px;

    mat-icon {
      height: 18px;
      width: 18px;
      font-size: 18px;
      position: relative;
      top: 3px;
    }
  }

  &.small {
    height: 32px;
    line-height: 30px;
    border-radius: 0px;
    font-size: 14px;

    mat-icon {
      height: 18px;
      width: 18px;
      font-size: 18px;
      position: relative;
      top: 3px;
    }
  }

  &:focus {
    outline: none;
  }

  &.primary {
    color: white;
    background-color: fColor(cbluedark);
  }

  &.red {
    color: white;
    background-color: fColor(creddark);
  }

  &.blue-light {
    color: fColor(primary);
    background-color: fColor(darkModeTitle);
  }

  &.outline {

    &.blue,
    &.primary {
      color: fColor(primary);
      border: 1px solid fColor(primary);
      background-color: transparent;
    }

    &.red {
      color: fColor(creddark);
      border: 1px solid fColor(creddark);
      background-color: transparent;
    }

    &.blue-light {
      color: fColor(darkModeTitle);
      border: 1px solid fColor(darkModeTitle);
      background-color: transparent;
    }

    &.white {
      color: fColor(cbluedark);
      border: 1px solid fColor(cbluedark);
      background-color: transparent;
    }

    &.gray {
      color: fColor(grayRow);
      border: 1px solid fColor(grayRow);
      background-color: transparent;
    }
  }

  &.strict-border {
    border-radius: 0;
  }

  mat-icon {
    margin-right: 8px;
    position: relative;
    top: 6px;
  }
}


/* INDISPONIBILITIES STYLING */
.indispo-content {


  >div {
    min-height: 56px;
    border-radius: 4px;
    border: solid 1px fColor(creddark);
    background-color: fColor(credlight);
    margin-right: 16px;
    display: inline-flex;
    position: relative;


    div.icon {
      margin-right: 16px;
      margin-left: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
        color: fColor(cgray);
      }
    }

    div.text {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 16px;

      p {
        font-size: 12px;
        color: fColor(cgray);

        &:last-child {
          font-weight: bold;
        }
      }
    }

    div.action {
      border-left: 1px solid fColor(cred);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      cursor: pointer;

      mat-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
        color: fColor(cred);
      }
    }
  }
}