button {
  height: 57px;
  line-height: 57px;
  padding: 0 16px;
  font-size: 16px;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
  border-radius: 8px;
  white-space: nowrap;

  &.small {
    height: 40px;
    line-height: 37px;
  }

	&:focus {
		outline: none;
	}

  &.primary {
    color: white;
    background-color: fColor(cbluedark);
  }

  &.outline {
    &.blue {
      color: fColor(primary);
      border: 1px solid fColor(primary);
      background-color: transparent;
    }
  }

  mat-icon {
    margin-right: 8px;
    position: relative;
    top: 6px;
  }
}