@use './utils.scss' as utils;

.introjs-tooltip {
  max-width: 700px !important;
  min-width: 400px !important;
  max-height: 80vh;
  overflow: auto;
}

.introjs-tooltipReferenceLayer * {
  font-family: "Marianne" !important;
}

.introjs-tooltipbuttons {
  display: flex;
  justify-content: space-between;

  &:after {
    display: none !important;
  }

  >a {
    margin-right: 16px;
    font-size: 14px !important;
    display: flex !important;
    align-items: center !important;
    height: 40px !important;
    padding: 0px 8px !important;
    border-radius: 4px !important;
    color: white !important;
    background-color: utils.$colors-primary !important;
    text-shadow: none !important;
    cursor: pointer;

    &:focus {
      outline: 0;
      text-decoration: none;
      background-color: none;
      box-shadow: none;
      border: none;
      color: inherit;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.intro-js-action {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  align-items: flex-start;

  >button,
  >a {
    margin-bottom: 8px;
    background-color: white;
    border: 1px solid utils.$colors-primary;
    color: utils.$colors-primary;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    padding: 0 16px;
    border-radius: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.introjs-tooltiptext {
  font-size: 14px;

  p {
    margin-bottom: 8px;
  }

  li {
    font-size: 14px;
  }
}

.introjs-bullets ul li a {
  background-color: utils.$colors-primary !important;
}

/*** ****/

.intro-js-video {
  width: 100%;
  min-width: 500px;
  margin-top: 16px;
  height: auto !important;

  &.small-video {
    height: 250px !important;
  }
}