.mat-mdc-form-field-wrapper {
  margin-bottom: -1.25em;
}

.mdc-list-item__primary-text {
  white-space: nowrap !important;
}

.cdk-overlay-pane {
  width: auto !important;
  min-width: 180px;
}

.hide-visualisation {
  height: 0;
  display: block !important;

  .mat-mdc-select-trigger {
    height: 0;
  }

  .mat-mdc-select-value {
    display: none;
  }

  .mat-mdc-select-arrow-wrapper {
    display: none;
  }
}

button.material-date-calendar-no-datas {
  background: orange;
  border-radius: 100%;
}

.mat-mdc-icon-button img,
.mat-mdc-icon-button svg {
  position: relative;
  top: -13px;
}