.ql-container.ql-snow {
  border: none;
}

.ql-toolbar.ql-snow {
  border: none;
  position: absolute;
  right: 0;
  top: -40px;
}

.ql-editor {
  padding: 10px 0px;
  white-space: pre-wrap;
  word-break: break-word;

  p,
  ul,
  li,
  ol {
    font-size: 14px;
  }

  &.hide-place-holder::before {
    display: none;
  }
}

.ql-editor.ql-blank::before {
  font-style: normal;
  left: 0px;
  pointer-events: none;
  position: absolute;
  right: 15px;
  font-size: 14px;
  top: 8px;
  font-family: 'Marianne';
  color: #929292;
}

.ql-tooltip.ql-editing {
  z-index: 100 !important;
}