@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./utils.scss";
@import "./typography.scss";
@import "./form.scss";
@import "./material.scss";
@import "./button.scss";
@import "./popup.scss";
@import "./print.scss";

html,
body {
	height: 100vh;
	padding: 0;
	margin: 0;
	background-color: fColor(bgColor);

	&.remove-height {
		height: fit-content;
	}
}

* {
	box-sizing: border-box;
}

body { margin: 0; font-family: Marianne; }

.flex-1 {
	flex: 1;
}

.cursor-pointer {
	cursor: pointer;
}

.hide {
	display: none;
}

.grid-double {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 8px;
}

.grid-triple {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 8px;
}

.text-center {
	text-align: center;
}

.ellipis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.flex-center {
	display: flex;
	align-items: center;
}

.margin-right-16 {
	margin-right: 16px;
}

.margin-right-8 {
	margin-right: 8px;
}

.color-white {
	color: white;
}

.font-size-12 {
	font-size: 12px;
}

// FOR WINDOWS ONLY

body:not(.iIOS) .window-scrool-with-margin {
	margin-right: 13px;
}