@import "./utils.scss";
@import "./typography.scss";
@import "./form.scss";
@import "./material.scss";
@import "./button.scss";
@import "./popup.scss";

html,
body {
	height: 100vh;
	padding: 0;
	margin: 0;
	background-color: fColor(bgColor);
}

* {
	box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Marianne; }

.flex-1 {
	flex: 1;
}

.cursor-pointer {
	cursor: pointer;
}

.hide {
	display: none;
}

.grid-double {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 8px;
}

.grid-triple {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 8px;
}

.text-center {
	text-align: center;
}