$colors: (
	primary: #000091,
	cblack: #161616,
	cgray: #666666,
	cgraylight: #f9f6f2,
	cbrownlight: #e6d8cb,
	cbluedark: #000091,
	cblue: #5151a1,
	cbluelight: #417dc4,
);
@function fColor($key: "cprimary") {
	@return map-get($colors, $key);
}
