$colors: (
	primary: #000091,
	cblack: #3a3a3a,
	cgray: #666666,
	cgrayDefault: #eeeeee,
	cgraylight: #f9f6f2,
	cbrownlight: #e6d8cb,
	cbluedark: #000091,
	cblue: #5151a1,
	cbluemiddle: #e3e3fd,
	cbluelight: #417dc4,
	cgreen: #3a734f,
	cgreenstrong: #00a95f,
	cgreenlight: #e3fdeb,
	cred: #ff5655,
	credlight: #ffe9e9,
	cpink: #a558a0,
	cyellow: #efcb3a,
	cyellowdark: #796830,
	bgSelect: #f6f6f6,
	borderSelect: #eeeeee,
	titleSelect: #3a3a3a,
	bgEtpGraph: #ececfe,
	titleEtpGraph: #0063cb,
	bgProgressBar: #f5f5fe,
	borderProgressBar: #6a6af4,
	lineProgressBar: #9a9af7,
	bgTag: #e5e5e5,
	colorTag: #161616,
	bgColor: #f9f6f2,
	bgIndisponibilitiesPanel: #fef4f2,
	titleIndisponibilitiesPanel: #e4794a,
);
@function fColor($key: "cprimary") {
	@return map-get($colors, $key);
}
