@use '../../styles/utils.scss' as utils;

:host {

  .headers {
    display: flex;
    border-bottom: 1px solid utils.$colors-lightBorder;
    margin-bottom: 24px;

    .header {
      display: inline-flex;
      height: 40px;
      font-size: 16px;
      font-weight: bold;
      padding: 0px 16px;
      margin-right: 8px;
      border-top: solid 2px utils.$colors-white;
      border-right: 1px solid utils.$colors-white;
      border-left: 1px solid utils.$colors-white;
      cursor: pointer;
      color: utils.$colors-cblackdark;

      &:hover {
        background-color: utils.$colors-bgSelect;
      }

      &.selected {
        position: relative;
        border-top: solid 2px utils.$colors-primary;
        border-right: 1px solid utils.$colors-lightBorder;
        border-left: 1px solid utils.$colors-lightBorder;
        border-bottom: none;
        color: utils.$colors-primary;

        &:hover {
          background-color: transparent;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -1px;
          height: 1px;
          background-color: utils.$colors-white;
          left: 0px;
          right: 0px;
        }
      }

      label {
        margin: auto;
        cursor: pointer;
      }
    }
  }

  .rectangle {
    width: 600px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    border-radius: 6px;
    background-color: utils.$colors-bgSelect;
    margin-top: 8px;
    border: 1px solid utils.$colors-bgSelect;

    &:focus-within {
      border: solid 1px utils.$colors-tooltipBgTitleColor;
      background-color: utils.$colors-bgProgressBar;

    }

    span {
      font-size: 16px;
      color: utils.$colors-cblack;
    }

    input {
      margin: 0px 12px;
      width: 60px;
    }

    .radio-container {
      margin-left: 12px;
      display: flex;

      .radio-button {
        background-color: utils.$colors-white;

        &:hover {
          background-color: utils.$colors-bgSelect;
        }

        &:first-child label {
          border-bottom-left-radius: 6px;
          border-top-left-radius: 6px;
          border-top: 1px solid utils.$colors-primary;
          border-bottom: 1px solid utils.$colors-primary;
          border-left: 1px solid utils.$colors-primary;
        }

        &:nth-child(2) label {
          border: utils.$colors-primary solid 1px;
        }

        &:last-child label {
          border-bottom-right-radius: 6px;
          border-top-right-radius: 6px;
          border-top: 1px solid utils.$colors-primary;
          border-bottom: 1px solid utils.$colors-primary;
          border-right: 1px solid utils.$colors-primary;
        }

        input[type="radio"] {
          display: none;
        }

        label {
          display: inline-block;
          padding: 0px 11px;
          font-size: 16px;
          color: utils.$colors-primary;
          cursor: pointer;
          line-height: 32px;
        }

        input[type="radio"]:checked+label {
          background-color: utils.$colors-primary;
          color: utils.$colors-white;
        }
      }
    }
  }
}