<aj-wrapper title="Imports">
  <div class="import-item">
    <h2>Importer une liste d'agent SANS sa Ventilation</h2>

    <div class="form">
      <form #formHR>
        <label>Fichier à importer</label><br />
        <input name="file" type="file" accept=".csv" />
      </form>
    </div>
    <div class="action">
      <button (click)="onSendHR(formHR)">Envoyer</button>
    </div>
  </div>

  <div class="import-item">
    <h2>Importer le référentiel</h2>
    <p>
      L'import de référentiel écrase l'ancien et oblige de re saisir la totalité
      des ventilations!
    </p>
    <div class="form">
      <input type="file" #refFile accept=".csv" />
    </div>
    <div class="action">
      <button (click)="onSendReferentiel(refFile)">Envoyer</button>
    </div>
  </div>
</aj-wrapper>