<aj-wrapper title="Imports">
  <div class="import-item">
    <h2>Importer toutes les activités</h2>
    <p>L'import doit contenir une liste de contentieux, stocks et nom de juridiction</p>
    <div class="form">
      <form #formAllActivities>
        <div>
          <label>Fichier à importer</label>
          <input name="file" type="file" accept=".csv" />
        </div>
      </form>
    </div>
    <div class="action">
      <button (click)="onSendAllActivity(formAllActivities)">Envoyer</button>
    </div>
  </div>

  <div class="import-item">
    <h2>Importer une liste d'activités</h2>
    <p>L'import doit contenir une liste de contentieux et leurs stocks</p>
    <div class="form">
      <form #formActivities>
        <div>
          <label>Modifier la liste une sauvegarde d'activité</label>
          <select name="backupId">
            <option *ngFor="let o of HRBackupList" [value]="o.id">
              {{o.label}} du {{o.date | date:"dd/MM/yyyy"}}
            </option>
          </select>
        </div>
        <div>
          <label>Fichier à importer</label>
          <input name="file" type="file" accept=".csv" />
        </div>
      </form>
    </div>
    <div class="action">
      <button (click)="onSendActivity(formActivities)">Envoyer</button>
    </div>
  </div>

  <div class="import-item">
    <h2>Importer une liste d'agent SANS sa Ventilation</h2>

    <div class="form">
      <form #formHR>
        <label>Fichier à importer</label><br />
        <input name="file" type="file" accept=".csv" />
      </form>
    </div>
    <div class="action">
      <button (click)="onSendHR(formHR)">Envoyer</button>
    </div>
  </div>

  <div class="import-item">
    <h2>Importer le référentiel</h2>
    <p>
      L'import de référentiel écrase l'ancien et oblige de re saisir la totalité
      des ventilations!
    </p>
    <div class="form">
      <input type="file" #refFile accept=".csv" />
    </div>
    <div class="action">
      <button (click)="onSendReferentiel(refFile)">Envoyer</button>
    </div>
  </div>


  <div>
    <h3>NAC existante</h3>
    <p id="res-json"></p>
  </div>
  <textarea id="json"></textarea>

</aj-wrapper>