<aj-wrapper title="Imports">
  <div class="import-item">
    <h2>Importer une liste d'activités</h2>
    <p>
      L'import doit contenir une liste de contentieux et leurs stocks
    </p>
    <div class="form">
      <form #formActivities>
        <div>
          <label>Modifier la liste une sauvegarde d'activité</label>
          <select name="backupId">
            <option *ngFor="let o of activitiesBackupList" [value]="o.id">
              {{o.label}} du {{o.date | date:"dd/MM/yyyy"}} - {{ o.juridiction &&
              o.juridiction.label }} (id: {{o.id}})
            </option>
          </select>
        </div>
        <div>-- OU --</div>
        <div>
          <label>Créer une sauvegarde</label>
          <input name="backupName" placeholder="Nom de la nouvelle ventilation" />
          <label>Pour la juridiction</label>
          <select name="juridictionId">
            <option *ngFor="let o of juridictionBackupList" [value]="o.id">
              {{o.label}} (id: {{o.id}})
            </option>
          </select>
        </div>
        <div>
          <label>Fichier à importer</label>
          <input name="file" type="file" accept=".csv" />
        </div>
      </form>
    </div>
    <div class="action">
      <button (click)="onSendActivity(formActivities)">Envoyer</button>
    </div>
  </div>

  <div class="import-item">
    <h2>Importer une liste de Magistrat et sa Ventilation</h2>
    <p>
      L'import doit contenir une liste de magistrat ainsi que sa ventilation.
    </p>
    <div class="form">
      <form #formHR>
        <div>
          <label>Modifier la ventilation</label>
          <select name="backupId">
            <option *ngFor="let o of HRBackupList" [value]="o.id">
              {{o.label}} du {{o.date | date:"dd/MM/yyyy"}} - {{ o.juridiction &&
              o.juridiction.label }} (id: {{o.id}})
            </option>
          </select>
        </div>
        <div>-- OU --</div>
        <div>
          <label>Créer une ventilation</label>
          <input name="backupName" placeholder="Nom de la nouvelle ventilation" />
        </div>
        <div>
          <label>Fichier à importer</label>
          <input name="file" type="file" accept=".csv" />
        </div>
      </form>
    </div>
    <div class="action">
      <button (click)="onSendHR(formHR)">Envoyer</button>
    </div>
  </div>

  <div class="import-item">
    <h2>Importer le référentiel</h2>
    <p>
      L'import de référentiel écrase l'ancien et oblige de re saisir la totalité
      des ventilations!
    </p>
    <div class="form">
      <input type="file" #refFile accept=".csv" />
    </div>
    <div class="action">
      <button (click)="onSendReferentiel(refFile)">Envoyer</button>
    </div>
  </div>
</aj-wrapper>