<aj-wrapper #wrapper title="Simulation d’affectations" [actionTemplate]="actions"
  class="content-margin-null header-border-none" [isDarkScreen]="true"
  [tours]="listFormated && listFormated.length ? introSteps : []">
  <div class="container" [ngClass]="{ print: duringPrint }">
    <div class="title">
      <aj-date-select title="A la date d'" class="dark-mode" [value]="dateSelected"
        (valueChange)="onDateChanged($event)"></aj-date-select>
      <aj-select title="Choisir une catégorie" class="dark-mode category-select"
        [value]="reaffectatorService.selectedCategoriesId !== null ? [reaffectatorService.selectedCategoriesId] : []"
        [multiple]="false" [datas]="formFilterSelect" (valueChange)="onSelectedCategoriesIdChanged($event)"></aj-select>
      <aj-select title="Filtrer par fonction" class="dark-mode" [value]="reaffectatorService.selectedFonctionsIds"
        [datas]="formFilterFonctionsSelect" (valueChange)="onSelectedFonctionsIdsChanged($event)"
        [defaultAllValue]="'Toutes'"></aj-select>
      <aj-select title="Filtrer par contentieux" class="dark-mode" [value]="reaffectatorService.selectedReferentielIds"
        [datas]="formReferentiel" (valueChange)="onSelectedReferentielIdsChanged($event)"
        [defaultAllValue]="'Tous'"></aj-select>
      <div class="flex-1"></div>
      <aj-input-button class="dark-mode search-bar" title="Rechercher un agent" placeholder="Rechercher"
        [ngModel]="searchValue" (valueChange)="searchValue = $event; onSearchBy()" (search)="onSearchBy()"
        ngDefaultControl icon=""></aj-input-button>
      @if (valuesFinded !== null) {
      <div class="search-next">
        <mat-icon matSuffix (click)="onFindNext(-1)" class="cursor-pointer">expand_less</mat-icon>
        @if (valuesFinded !== null) {
        <mat-icon matSuffix (click)="onFindNext()" class="cursor-pointer">expand_more</mat-icon>
        }
      </div>
      }
    </div>

    <div class="indicators">
      <div class="profil">
        <div class="label-container">
          <div>
            @if (!showIndicatorPanel) {
            <i class="ri-eye-line" (click)="showIndicatorPanel = true"></i>
            }
            @if (showIndicatorPanel) {
            <i class="ri-eye-off-line" (click)="showIndicatorPanel = false"></i>
            }
            <p>Compteurs</p>
          </div>
          @if (showIndicatorPanel) {
          <button class="no-print" (mousedown)="showReelValues = true" (mouseleave)="showReelValues = false"
            (mouseup)="showReelValues = false">
            Voir avant / après
          </button>
          }
        </div>
        @if (showIndicatorPanel) {
        <div class="contentieux-label">
          <div class="text">
            <div class="taux-row">
              <p>Taux de couverture :</p>
            </div>
            <div class="dtes-row">
              <p>DTES (en mois) :</p>
            </div>
            <div class="etp-target-row">
              <p>ETPT cibles :</p>
            </div>
            <div class="total-etp-row">
              <p>ETPT ventilés :</p>
            </div>
          </div>
        </div>
        }
      </div>
      @if (showIndicatorPanel) {
      <div class="activities">
        @for (ref of referentiel; track ref.id; let index = $index) {
        <div class="sub-item">
          <div class="taux-row">
            @if (referentiel.length > index + 1) {
            <div class="taux"
              [ngClass]="{ 'show-reel-values': !showReelValues && ref.totalAffected !== ref.etpUseToday }">
              <aj-speedometer class="with-auto small-text"
                [classTextBlue]="!showReelValues && ref.totalAffected !== ref.etpUseToday ? true : false"
                [classDarkMode]="true" [percent]="
                        isNaN(ref.coverage)
                          ? null
                          : showReelValues && reaffectatorService.selectedReferentielIds.indexOf(ref.id) !== -1
                            ? round(ref.realCoverage * 100)
                            : ref.coverage
                      "></aj-speedometer>
            </div>
            }
          </div>
          <div class="dtes-row">
            @if (referentiel.length > index + 1) {
            <div class="dtes"
              [ngClass]="{ 'show-reel-values': !showReelValues && ref.totalAffected !== ref.etpUseToday }">
              @if (isInfinity(ref.realDTESInMonths) && showReelValues) {
              <p>N/R</p>
              }
              @else if (isInfinity(ref.dtes)&& !showReelValues){
              <p>N/R</p>
              }
              @else {
              <p>
                {{ (showReelValues ? (ref.realDTESInMonths) : (ref.dtes)) | number:
                '.2-2' }}
              </p>
              }
            </div>
            }
          </div>
          <div class="etp-target-row">
            <input [readonly]="!userService.canEditReaffectator()" [(ngModel)]="firstETPTargetValue[index]"
              placeholder="-" />
          </div>
          <div class="flex-1"></div>
          <div class="total-etp-row">
            <p>{{ ref.etpUseToday | number: '.2-2' }}</p>
          </div>
        </div>
        }
      </div>
      }
      <div class="actions"></div>
    </div>

    <div class="content-list" id="container-list">
      @for (list of listFormated; track list.categoryId; let mainIndex = $index) {
      @if (list.categoryId === reaffectatorService.selectedCategoriesId) {
      <div class="header-list">
        <div class="profil">
          <div class="label-container">
            @if (!duringPrint) {
            <div class="selection-row">
              <div class="check-item" [ngClass]="{ selected: list.personSelected.length }"
                (click)="toogleCheckAllPerson(mainIndex)">
                {{ list.personSelected.length ? list.personSelected.length : '' }}
              </div>
              <p class="label">
                {{ list.personSelected.length > 1 ? 'sélections' : 'sélection' }}
              </p>
            </div>
            }
            @if (!duringPrint) {
            <div class="buttons-row">
              <p class="btn" (click)="onToogleIsolation()" [class.selected]="this.isolatePersons">Isoler</p>
              <p class="btn" (click)="onInitList(list)">Réinitialiser</p>
            </div>
            }
          </div>
          <div class="contentieux-label">
            <div class="label">
              <p>Contentieux :</p>
            </div>
            <div class="etp">
              <p>ETPT simulés :</p>
            </div>
            <div class="filter">
              <p class="etp-header">Trier par :</p>
            </div>
          </div>
        </div>
        <div class="activities">
          @for (ref of list.referentiel; track ref.id; let index = $index) {
          <div class="sub-item" [class.selected]="
                    filterSelected.filter &&
                    filterSelected.filter.id === ref.id &&
                    (filterSelected.up === true || filterSelected.up === false)
                  " (click)="onFilterBy(ref)">
            <div class="label">
              <p>{{ referentielMappingNameByInterface(ref.label) }}</p>
            </div>
            <div class="etp"
              [ngClass]="{ 'show-reel-values': !showReelValues && ref.totalAffected !== ref.etpUseToday }">
              <p>{{ (showReelValues ? ref.etpUseToday : ref.totalAffected) || 0 | number: '0.2-2' }}</p>
            </div>
            <div class="filter">
              <i [ngClass]="{
                        'ri-sort-asc': filterSelected.up === true && filterSelected.filter?.id === ref.id,
                        'ri-sort-desc': !(filterSelected.up === true && filterSelected.filter?.id === ref.id),
                      }"></i>
            </div>
          </div>
          }
        </div>
        <div class="actions"></div>
      </div>
      <div class="sub-content-list">
        @for (hr of list.hrFiltered; track hr.id; let index = $index) {
        @if (canViewAgent(hr)) {
        @if (duringPrint && hr.isModify) {
        <ng-container *ngTemplateOutlet="
                    rowPerson;
                    context: {
                      hr: getOrignalHuman(hr, list),
                      list: list,
                      mainIndex: mainIndex,
                      isCheckable: !duringPrint,
                    }
                  "></ng-container>
        }
        @if ((duringPrint && hr.isModify) || !duringPrint) {
        <ng-container *ngTemplateOutlet="
                    rowPerson;
                    context: { hr: hr, list: list, mainIndex: mainIndex, isCheckable: !duringPrint }
                  "></ng-container>
        }
        }
        }
      </div>
      }
      }
    </div>
  </div>
  @if (isLeaving) {
  <aj-popup class="small blackBackground" [closeIcon]="true" (onClose)="isLeaving = false" title="Quitter la simulation"
    [actions]="popupAction" (selectedAction)="onPopupDetailAction($event)" [removeShadow]="'noShadow'">
    <div>
      <p class="content">
        Vous souhaitez sortir du réaffectateur alors que vous avez effectué une simulation d'affectation. Ces données
        modifiées seront perdues, pensez à effectuer un export afin d'en garder une trace.
      </p>
    </div>
  </aj-popup>
  }
</aj-wrapper>

<ng-template #actions>
  <button class="blue-light light small" (click)="onExport()">
    <mat-icon>save</mat-icon>
    Exporter en PDF
  </button>
</ng-template>

<ng-template #rowPerson let-hr="hr" let-list="list" let-mainIndex="mainIndex" let-isCheckable="isCheckable">
  @if (!isolatePersons || (isolatePersons && (list.personSelected.indexOf(hr.id) !== -1 || hr.isModify))) {
  <div class="item-list" [class.is-modify]="hr.isModify"
    [class.is-selected]="isCheckable ? list.personSelected.indexOf(hr.id) !== -1 : false"
    [style.opacity]="isCheckable ? hr.opacity : 1" [id]="'human-' + hr.id">
    <div class="profil item">
      <div class="text">
        <div class="name">
          <div class="check-item" [ngClass]="{ selected: isCheckable && list.personSelected.indexOf(hr.id) !== -1 }"
            (click)="toogleCheckPerson(mainIndex, hr)"></div>
          <p>{{ hr.firstName }} {{ hr.lastName }}</p>
          @if (hr.comment) {
          <div class="tooltip">
            <mat-icon>message</mat-icon>
            <span class="tooltiptext global-tooltiptext" [innerHTML]="hr.comment | sanitizeHtml"></span>
          </div>
          }
        </div>
        <div class="tags">
          @if(hr.fonction && hr.fonction.code) {<p class="function">
            {{ hr.fonction && hr.fonction.code }}
          </p>}
          @if(hr.etpLabel) {<p class="etp">{{ hr.etpLabel }}</p>}
        </div>
        <div class="flex-1"></div>
        <div class="updated-at">
          MàJ le {{ hr.updatedAt | date: 'dd' }} {{ getMonthString(hr.updatedAt) }} {{ hr.updatedAt | date: 'yyyy' }}
        </div>
      </div>
      <div class="read-etp">
        <p class="label">ETP Travaillé :</p>
        <etp-preview [width]="56" [height]="56" [realETP]="hr.etp" [forceAlert]="false"
          [etp]="(hr.etp || 0) - hr.hasIndisponibility" [indisponibility]="hr.hasIndisponibility"
          [ngClass]="{ 'dark-mode': !hr.isModify }"></etp-preview>
        <div class="flex-1"></div>
        @if (hr.hasIndisponibility) {
        <p class="unavailable">
          <mat-icon>error</mat-icon>
          Indispo
        </p>
        }
      </div>
    </div>
    <div class="activities">
      <div class="flex-1"></div>
      @defer (on viewport; prefetch on idle;) {
      <panel-activities [activities]="hr.currentActivities" [id]="hr.id" [header]="false" [selected]="true"
        class="dark-mode" (referentielChange)="updateHRReferentiel(hr, $event, mainIndex)"
        [updateRefentielOnLoad]="false" [canSelectedTopReferentiel]="true"
        [readonly]="!userService.canEditReaffectator()"></panel-activities>
      } @placeholder {
      <div class="flex-1"></div>
      }
      <div class="flex-1"></div>
    </div>
  </div>
  }
</ng-template>