<aj-wrapper #wrapper title="Simulation d’affectations" [actionTemplate]="actions"
  class="dark-screen content-margin-null header-border-none">
  <div class="container" [ngClass]="{print: duringPrint}">
    <div class="title">
      <aj-date-select title="A la date d'" class="dark-mode" [value]="dateSelected"
        (valueChange)="onDateChanged($event)">
      </aj-date-select>
      <aj-select title="Filtrer par catégorie" class="dark-mode" [value]="reaffectatorService.selectedCategoriesIds"
        [datas]="formFilterSelect" (valueChange)="onSelectedCategoriesIdsChanged($event)">
      </aj-select>
      <aj-select title="Filtrer par fonction" class="dark-mode" [value]="reaffectatorService.selectedFonctionsIds"
        [datas]="formFilterFonctionsSelect" (valueChange)="onSelectedFonctionsIdsChanged($event)">
      </aj-select>
      <aj-select title="Filtrer par contentieux" class="dark-mode" [value]="reaffectatorService.selectedReferentielIds"
        [datas]="formReferentiel" (valueChange)="onSelectedReferentielIdsChanged($event)">
      </aj-select>
      <div class="flex-1"></div>
      <aj-input-button class="dark-mode" title="Rechercher un collaborateur" placeholder="Indiquer le nom"
        [ngModel]="searchValue" (valueChange)="searchValue = $event; updateSearch()" (search)="updateSearch()"
        ngDefaultControl icon="">
      </aj-input-button>
      <div class="search-next" *ngIf="valuesFinded !== null">
        <mat-icon matSuffix (click)="onFindNext(-1)" class="cursor-pointer">expand_less
        </mat-icon>
        <mat-icon matSuffix *ngIf="valuesFinded !== null" (click)="onFindNext()" class="cursor-pointer">
          expand_more
        </mat-icon>
      </div>
    </div>

    <div class="indicators">
      <div class="profil">
        <div class="label-container">
          <i *ngIf="!showIndicatorPanel" class="ri-eye-line" (click)="showIndicatorPanel = true"></i>
          <i *ngIf="showIndicatorPanel" class="ri-eye-off-line" (click)="showIndicatorPanel = false"></i>
          <p>Indicateurs</p>
        </div>
        <ng-template [ngIf]="showIndicatorPanel">
          <div class="contentieux-label">
            <div class="text">
              <div>
                <p>Taux de<br />couverture ajusté :</p>
              </div>
              <div>
                <p class="etp-header">DTES (en mois) :</p>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
      <ng-template [ngIf]="showIndicatorPanel">
        <div class="activities">
          <div class="sub-item" *ngFor="let ref of referentiel">
            <div>
              <div class="taux">
                <aj-speedometer class="with-auto" [percent]="ref.coverage"></aj-speedometer>
              </div>
            </div>
            <div>
              <div class="dtes">
                <p>{{ref.dtes}}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <div class="actions"></div>
    </div>

    <div class="content-list" id="container-list">
      <ng-template ngFor let-list let-i="index" [ngForOf]="listFormated" [ngForTrackBy]="trackById">
        <div class="header-list">
          <div class="profil">
            <div class="label-container">
              <i *ngIf="!list.headerPanel" class="ri-eye-line" (click)="list.headerPanel = true"></i>
              <i *ngIf="list.headerPanel" class="ri-eye-off-line" (click)="list.headerPanel = false"></i>
              <p>{{ list.label }}</p>
            </div>
            <div class="contentieux-label">
              <div class="label">
                <p>Contentieux :</p>
              </div>
              <div class="etp-target">
                <p>ETPT cible :</p>
              </div>
              <div class="etp">
                <p>ETP affectés :</p>
              </div>
              <div class="filter">
                <p class="etp-header">Trier par :</p>
              </div>
            </div>
          </div>
          <div class="activities">
            <div class="sub-item" *ngFor="let ref of list.referentiel"
              [class.selected]="filterSelected && filterSelected.id === ref.id">
              <div class="label">
                <p>{{ referentielMappingName(ref.label) }}</p>
              </div>
              <div class="etp-target">
                <input [value]="ref.totalAffected | number:'0.2-2'" />
              </div>
              <div class="etp">
                <p>{{ ref.totalAffected | number:'0.2-2' }}</p>
              </div>
              <div class="filter" (click)="onFilterBy(ref)">
                <mat-icon>{{ filterSelected && filterSelected.id === ref.id ?
                  'filter_list' : 'filter_list_off' }}
                </mat-icon>
              </div>
            </div>
          </div>
          <div class="actions"></div>
        </div>

        <div class="sub-content-list">

          <div class="header-item">
            <div class="check-item"></div>
            <p class="label">Tout sélectionner</p>
            <p class="btn">Retour à la ventilation actuelle des fiches sélectionnées</p>
          </div>


          <div class="item-list" *ngFor="let hr of list.hr; trackBy: trackById" [style.opacity]="hr.opacity"
            [id]="'human-'+hr.id">
            <div class="profil item">
              <a [routerLink]="['/resource-humaine', hr.id]" class="text">
                <div class="name">
                  <p>{{ hr.firstName}} {{ hr.lastName}}</p>
                  <div *ngIf="hr.comment" class="tooltip">
                    <mat-icon>message</mat-icon>
                    <span class="tooltiptext">{{ hr.comment }}</span>
                  </div>
                </div>
                <div class="tags">
                  <p *ngIf="hr.fonction && hr.fonction.code" class="function" [style.background-color]="list.textColor">
                    {{ hr.fonction && hr.fonction.code}}
                  </p>
                  <p class="etp">{{ hr.etpLabel }}</p>
                </div>
                <p class="unavailable" *ngIf="hr.hasIndisponibility">
                  <mat-icon>error</mat-icon> indisponibilité
                </p>
              </a>
              <div class="read-etp">
                <p class="label">ETP Travaillé :</p>
                <etp-preview [width]="56" [height]="56" [etp]="(hr.etp || 0) - hr.hasIndisponibility"
                  [indisponibility]="hr.hasIndisponibility">
                </etp-preview>
              </div>
            </div>
            <div class="activities">
              <div class="flex-1"></div>
              <panel-activities [activities]="hr.currentActivities" [header]="false" [selected]="false">
              </panel-activities>
              <div class="flex-1"></div>
            </div>
            <div class="actions">
              <a [routerLink]="['/resource-humaine', hr.id]">
                <mat-icon>chevron_right</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</aj-wrapper>

<ng-template #actions>
  <a routerLink="/ventilations" class="reaffectator-page">
    <button class="blue-light light outline">
      Simuler des affectations
      <aj-radio-button [title]="'title'" width="40px" height="20px" bgColor="#8585f6" switchColor="white"
        [indicatorWidth]="20" borderRadius="20px" [indicatorHeight]="20" icon="check-line">
      </aj-radio-button>
    </button>
  </a>

  <button class="primary light" (click)="onExport()">
    <mat-icon>save</mat-icon>
    Exporter en PDF
  </button>
</ng-template>