<h3>Dernières modificiations</h3>

<a *ngFor="let item of list" class="item" routerLink="/donnees-d-activite" [queryParams]="{month: item.activity.periode, cont: item.contentieux.id}">
  <div class="preview">
    <div>
    <span class="tag cont" [ngStyle]="{'color': referentielMappingColor(item.contentieux.label), 'background-color': referentielMappingColor(item.contentieux.label, 0.2)}">{{ referentielMappingName(item.contentieux.label) }}</span>
      <span class="tag month">{{ getShortMonthString(item.activity.periode) }} {{ getFullYear(item.activity.periode) }}</span>
    </div>
    <p>par {{ item.user.firstName }} {{ item.user.lastName }} le {{ getDate(item.history.updatedAt) }} {{ getShortMonthString(item.history.updatedAt) }} {{ getFullYear(item.history.updatedAt) }}</p>
  </div>
  <div>
    <i class="ri-arrow-right-s-line"></i>
  </div>
</a>
