<div class="left-side">
  <div class="title">
    <p>
      Evolution du stock et DTES &nbsp;
      <label
        >{{ dateStart === '' ? "d'aujourd'hui" : 'du' }} {{ dateStart }} au
        {{ dateStop }}</label
      >
    </p>
  </div>
  <div class="container"></div>
</div>
<div class="right-side">
  <aj-legend-label
    [label]="'Stock (projeté)'"
    [dotColor]="'white'"
    [bgColor]="'#c3fad5'"
  ></aj-legend-label>

  <aj-legend-label
    [label]="'Stock (simulé)'"
    [dotColor]="'white'"
    [bgColor]="'#6fe49d'"
  ></aj-legend-label>
</div>
