<div class="left-side">
  <div class="title">
    <p>
      Evolution du stock et DTES &nbsp;
      <label
        >{{ dateStart === '' ? "d'aujourd'hui" : 'du' }} {{ dateStart }} au
        {{ dateStop }}</label
      >
    </p>
  </div>
  <div class="container"></div>
</div>
<div class="right-side">
  <aj-legend-label
    [label]="'Stock (projeté)'"
    [dotColor]="'#62dda7'"
    [bgColor]="'#c3fad5'"
  ></aj-legend-label>

  <aj-legend-label
    [label]="'Stock (simulé)'"
    [dotColor]="'#00a95f'"
    [bgColor]="'#6fe49d'"
  ></aj-legend-label>
<div class="space"></div>
  <aj-legend-label
    [label]="'DTES (projeté)'"
    [dotColor]="'#869ece'"
    [bgColor]="'#bfcdff'"
  ></aj-legend-label>

  <aj-legend-label
    [label]="'DTES (simulé)'"
    [dotColor]="'#dee5fd'"
    [bgColor]="'#7b99e4'"
  ></aj-legend-label>
</div>
