@use "../../styles/utils.scss" as utils;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &.dark-mode {
    .title {
      color: utils.$colors-white !important;

      &.alert {
        color: utils.$colors-white;
      }

      &.good {
        color: utils.$colors-white;
      }
    }
  }

  &.small-text .title {
    font-size: 12px;
  }

  &.text-blue {
    .title {
      color: utils.$colors-bgSelectSelected;

      &.alert {
        color: utils.$colors-bgSelectSelected;
      }

      &.good {
        color: utils.$colors-bgSelectSelected;
      }
    }
  }
}

.title {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: utils.$colors-cyellowdark;

  &.alert {
    color: utils.$colors-cred;
  }

  &.good {
    color: #2aac5c;
  }
}