@import "../../styles/utils.scss";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: fColor(cyellowdark);

  &.alert {
    color: #ce0500;
  }

  &.good {
    color: #2aac5c;
  }
}