@use "../../../../styles/utils.scss";

:host {
    background-color: white;
    position: relative;

    .print-shadow {
        border: solid 1px rgb(207, 207, 207);
    }

    .print-shadow-bottom {
        border-bottom: solid 1px rgb(207, 207, 207);
    }

    .title {
        height: 96px;
        padding: 24px 24px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        background-color: #fff;
        position: relative;
        z-index: 1;

        p {
            font-size: 16px;
            font-weight: bold;
            color: #3a3a3a;
        }

        label {
            font-size: 14px;
            line-height: 1.71;
            color: #929292;
        }
    }

    .loaders {
        padding: 0 0 13px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        background-color: #fff;
        display: flex;
        position: relative;

        .loader {
            flex: 1;
            margin: 13px 10px 0;
            padding: 0px 9px;
            border-radius: 8px;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
            background-color: #fff;
            display: flex;
            flex-direction: column;
            text-align: center;

            .space {
                flex: 1
            }

            .loader-title {
                margin: 8px 0px;
                font-size: 12px;
                font-weight: bold;
                line-height: 1.67;
                color: #666;
            }

            .loader-value {
                font-size: 16px;
                font-weight: bold;
                line-height: 1.5;
                color: #bfcdff;
                margin-bottom: 8px;

                &.medium {
                    color: #2d46e0;
                }

                &.hard {
                    color: #052e97;
                }
            }

            .loader-bar {
                margin: 12px auto;
                width: 24px;
                height: 226px;
                border-radius: 34px;
                border: solid 4px #e5e5e5;
                background-color: #bfcdff;
                position: relative;
                display: flex;
                align-items: flex-start;

                &.medium {
                    background-color: #2d46e0;
                }

                &.hard {
                    background-color: #052e97;
                }

                .bar {
                    position: relative;

                    width: 100%;
                    background-color: #e5e5e5;
                }
            }
        }
    }
}