@use '../../styles/utils.scss' as utils;

@property --percent {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}

@property --temp {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}

@property --v1 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: utils.$colors-activityBgColor;

  .content-list {
    flex: 1;
    overflow: auto;
    width: 100%;

    .column-item {
      >div {
        width: 5.75em;
        display: flex;
        align-items: center;
        padding: 0.625em 0.875em;

        &:first-child {
          align-self: stretch;
        }

        >input,
        >span {
          margin: 0 8px;
        }

        >span {
          position: relative;

          >i {
            position: absolute;
            right: 3px;
            top: 13px;

            &.data-changed {
              color: utils.$colors-darkModeTitle;
            }
          }

          >input {
            padding-right: 180px;
          }
        }

        >p {
          text-align: right;
          width: 100%;
        }

        ;

        p.data-changed {
          height: 100%;
          border-radius: 0;
          color: utils.$colors-textBlueTag;
        }

        p.blue-bottom {
          border-bottom: 3px solid utils.$colors-textBlueTag;
          border-radius: 0;
        }

        p.grey-text {
          color: utils.$colors-dataGreyTxt;
        }

        p.blue-txt {
          color: utils.$colors-dataBlueTxt;
        }
      }

      >div:has(p.to-complete) {
        background-color: utils.$colors-dataToCompleteBg;
        border: 1px solid utils.$colors-textBlueTag !important;
        border-radius: 4px;
      }

      >div:has(p.to-verify) {
        background-color: utils.$colors-dataNotSettedBg;
        border: 1px solid utils.$colors-dataNotSettedBorder;
        border-radius: 4px;
      }
    }

    .nb-comments-zone {
      margin-right: 16px;
      min-width: 30px;

      .nb-comments {
        background-color: white;
        border-radius: 12px;
        height: 20px;
        line-height: 20px;
        display: flex;
        align-items: center;
        padding: 0 4px;

        p {
          font-size: 12px;
        }

        mat-icon {
          font-size: 10px;
          margin-right: 4px;
          width: 10px;
          height: 15px;
          line-height: 15px;
        }
      }
    }
  }

  .grey-txt {

    >p,
    mat-icon {
      color: utils.$colors-dataGreyTxt;
    }
  }

  .yellow-txt {

    >p,
    mat-icon {
      color: utils.$colors-dataYellowTxt;
    }
  }

  .blue-txt {

    >p,
    mat-icon {
      color: utils.$colors-dataBlueTxt;
    }
  }

  .pastille {
    background-color: utils.$colors-pastilleDataToCompleteBg;
    border-radius: 12px;
    padding: 2px 8px;
    color: utils.$colors-pastilleDataToCompleteTxt;
  }
}

.top-right-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .left-panel {
    display: block;
    border-radius: 8px;
    background-color: #f6f6f6;
    border: 1px solid #eeeeee;
    padding: 4px 8px;
    position: relative;
    width: 60%;

    p {
      transition: --percent 1s;
      --temp: var(--percent);
      --v1: max(var(--temp) - 0.5, 0);
      counter-reset: v1 var(--v1);
      font-size: 0.875em;
      font-weight: 400;
      flex: 1;
      height: 100%;
    }

    p::after {
      content: counter(v1) "%";
      font-weight: 800;
    }

    .completion-bar {
      width: 100%;
      position: relative;
    }
  }

  .right-panel {
    width: auto;
    padding: 4px 8px;

    h2 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      line-height: normal;
      font-weight: bold;
      color: utils.$colors-cblack;
    }

    p {
      color: utils.$colors-primary;
      border-bottom: 2px solid utils.$colors-primary;
      font-size: 0.875em;
    }

    .elements {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: utils.$colors-cbluedark;
    }

    .element {
      display: flex;
      align-items: center;
      font-size: 16px;
      position: relative;

      .mat-icon {
        padding: 4px;
        font-size: 0.875em;
      }
    }

    .element :hover {
      cursor: pointer;
    }
  }
}

.header-list,
.content-list {
  .label {
    width: 17.5em;

    &.month {
      display: flex;
    }
  }
}

.tooltip {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: utils.$colors-bgHelper;
  border-radius: 100px;

  >i {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);

    &.blue {
      color: utils.$colors-tooltipIconColor;
    }
  }
}

.item,
.header-list,
.group-item {
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5px;
  gap: 1em;
}

.header-list {
  background-color: white;
  border-bottom: 2px solid utils.$colors-cblack;
  height: 3em;

  .activities.is-not-ios {
    margin-right: 16px;
  }

  .column-item {
    display: flex;
    width: 5.75em;
    justify-content: right;
    padding: 0.625em 0.875em;

    p {
      color: utils.$colors-cgray;
      font-size: 0.875em;
    }
  }

  .label {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    min-width: 17.5em;

    p {
      flex: 1;
      text-align: left;
    }
  }
}



.header-list :nth-child(2) {
  width: 5.75em;
  height: 100%;
}

.header-list div:last-child,
.column-item:last-child {
  width: 16em;
  justify-content: flex-start;
  padding-left: 0;
}

.item {
  height: 3.5em;

  &.selectable {
    cursor: pointer;

    input {
      cursor: pointer;
    }
  }

  .label {
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 17.5em;
    height: 100%;

    p {
      flex: 1;
      margin-left: 8px;
      font-size: 0.875em;
      font-weight: bold;
    }
  }

  .column-item {
    >div {
      display: flex;
      justify-content: right;
      align-items: center;
      height: 100%;
    }
  }

  .completion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5em 0em;
    flex: 1;

    p {
      color: utils.$colors-dataCompletionTextColor;
    }

    p:first-child {
      font-size: 12px;
    }


    p:first-child {
      color: utils.$colors-dataCompletionTextColor;
      transition: --percent 1s;
      --temp: var(--percent);
      --v1: max(var(--temp), 0);
      counter-reset: v1 var(--v1);
    }

    p:first-child::before {
      content: counter(v1)"%";
    }


    p:nth-child(3) {
      font-size: 10px;
      margin: 3px 9px 0 0;
      white-space: pre-wrap;
    }

    .completion-bar {
      width: 100%;
    }
  }


  input {
    border: none;
    border-radius: 0;
    background-color: transparent;
  }
}


.item-grouped {
  margin-bottom: 1px;
  background-color: white;

  &.maximize {
    .item {
      position: relative;
    }

    .group {
      height: inherit;
      overflow: inherit;
    }
  }

  .group {
    height: 0;
    overflow: hidden;
    display: flex;
    width: 100%;

    >div:last-child {
      flex: 1;
    }

    .grey {
      background-color: utils.$colors-dataGreyBg !important;
    }

    .group-item {
      .column-item:nth-child(2) {
        >div {
          justify-content: center;
          text-align: center;
        }
      }
    }

    .group-item {
      &:hover {
        cursor: pointer;
      }

      .label {
        display: flex;
        align-items: center;
        padding: 0 15px;
        width: 17.5em;
        height: 100%;

        p {
          flex: 1;
          margin-left: 33px;
          font-size: 14px;
        }
      }

      .state-optional {
        background-color: utils.$colors-dataNotSettedIsSetBg;
        padding: 0 6px;
        border-radius: 4px;
        justify-content: center;

        p {
          font-size: 12px !important;
          font-weight: bold;
          color: utils.$colors-dataGreyTxt;
        }
      }

      .column-item {
        >div {
          display: flex;
          justify-content: right;
          align-items: center;
          height: 100%;
        }
      }

      .complete-btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 14px;
      }
    }
  }
}

.sub-title {
  font-size: 12px;

  span {
    padding: 2px 8px;
    border-radius: 12px;
    height: 24px;
    line-height: 24px;
    position: relative;
    top: 1px;
  }
}

.in-the-future-text {
  text-align: center;
  margin: 64px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}