<aj-wrapper
  #wrapper
  title="Données d'activité"
  [documentation]="documentation"
  class="content-margin-null title-margin-right-null title-margin-top-null title-margin-bottom-null"
  [actionTemplateBottom]="ressources"
  [alignLeft]="false"
  [dateSelector]="dateSelector"
>
  <div class="container">
    <div class="header-list">
      <!--<ng-template [ngIf]="canEditActivities">-->
        <div class="column-item label">
          <p>Contentieux</p>
        </div>
        <div class="column-item">
        </div>
        <div class="column-item">
          <p>Entrées</p>
        </div>
        <div class="column-item">
          <p>Sorties</p>
        </div>
        <div class="column-item">
          <p>Stock</p>
        </div>
        <div class="column-item">
          <p>Complétude</p>
        </div>
      <!--</ng-template>-->
    </div>
    <div class="content-list">
      <ng-template [ngIf]="!canEditActivities && !isLoadedFirst">
        <p class="in-the-future-text">
          Cet écran sera accessible dès l'import des données logiciel du mois.
        </p>
      </ng-template>

      <ng-template [ngIf]="canEditActivities">
        <div
          *ngFor="let ref of referentiel"
          class="item-grouped"
          [class.maximize]="ref.showActivityGroup"
        >
          <div
            class="item"
            [style.backgroundColor]="referentielMappingColorActivity(ref.label)"
            (click)="(ref.childrens || []).length ? ref.showActivityGroup = !ref.showActivityGroup : null"
            [class.selectable]="(ref.childrens || []).length"
          >
            <div class="label">
                <div
                  class="color-border"
                  [style.backgroundColor]="ref.showActivityGroup ? null : referentielMappingColor(ref.label)"
                ></div>
                <mat-icon *ngIf="(ref.childrens || []).length"
                  >{{ ref.showActivityGroup ? 'expand_more' : 'chevron_right' }}
                </mat-icon>

                <p>{{ref.label}}</p>
                <div class="tooltip">
                  <!--<ng-container
                    *ngTemplateOutlet="tooltip; context: { contentieux: ref }"
                  >
                  </ng-container>-->
                  <i
                    class="ri-lightbulb-flash-line cursor-pointer blue"
                    #light
                    (click)="documentation.title = 'test' "
                  >
                  </i>
                </div>
            </div>
            <div class="column-item">
              <div>
                
              </div>
            </div>
            <div class="column-item">
              <div>
                <input
                  type="number"
                  [ngModel]="ref.in ? ref.in : ref.originalIn"
                  disabled
                  placeholder="-"
                  [ngClass]="{blue: ref.in === null}"
                />
              </div>
            </div>
            <div class="column-item">
              <div>
                <input
                  type="number"
                  [ngModel]="ref.out ? ref.out : ref.originalOut"
                  disabled
                  placeholder="-"
                  [ngClass]="{blue: ref.out !== null}"
                />
              </div>
            </div>
            <div class="column-item">
              <div>
                <input
                  type="number"
                  [ngModel]="ref.stock ? ref.stock : ref.originalStock"
                  disabled
                  placeholder="-"
                  [ngClass]="{blue: ref.stock !== null}"
                />
              </div>
            </div>
            <div class="column-item completion">
              <!--<div class="completion">-->
                <p>{{83}}% disponibles</p>
                <span class='completion-bar'>
                  <aj-completion-bar [value]=83></aj-completion-bar>
                </span>
                <p>{{83 < 100 ?  'il reste des données à compléter' : ''}}</p>
            
              <!--</div>-->
            </div>
          </div>
          <div class="group">
            <div>
              <div
                class="group-item"
                *ngFor="let itemGroup of (ref.childrens || [])"
              >
                <div class="label">
                  <p>{{itemGroup.label}}</p>
                </div>
                <div class="column-item">
                  <div>
                    
                  </div>
                </div>
                <div class="column-item">
                  <div>
                    <input
                      type="number"
                      [ngModel]="itemGroup.in ? itemGroup.in : itemGroup.originalIn"
                      disabled
                      placeholder="-"
                      [ngClass]="{blue: itemGroup.in === null}"
                    />
                    <!--<ng-template [ngIf]="updatedBy && updatedBy.user">-->
                      <aj-tooltips class="medium" title="A-JUSTé"
                        content="par Redwane Zafari le 7 Fev. 2024">
                      </aj-tooltips>
                    <!--</ng-template>-->
                  </div>
                </div>
                <div class="column-item">
                  <div>
                    <input
                      type="number"
                      [ngModel]="itemGroup.out ? itemGroup.out :itemGroup.originalOut"
                      disabled
                      placeholder="-"
                      [ngClass]="{blue: itemGroup.out !== null}"
                    />
                  </div>
                </div>
                <div class="column-item">
                  <div>
                    <input
                      type="number"
                      [ngModel]="itemGroup.stock ? itemGroup.stock : itemGroup.originalStock"
                      disabled
                      placeholder="-"
                      [ngClass]="{blue: itemGroup.stock !== null}"
                    />
                  </div>
                </div>
                <div class="column-item completion">
                    <p>{{83}}% disponibles</p>
                    <span class='completion-bar'>
                      <aj-completion-bar [value]=83></aj-completion-bar>
                    </span>
                    <p>{{83 < 100 ?  'il reste des données à compléter' : ''}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</aj-wrapper>

<ng-template #ressources>
  <div class="bottomHeader">
    <div class="left-panel">
      <p>Complétude globale: <span [ngStyle]="{'color' : getAcivityPercentColor(48)}">{{48}}%</span></p>
      <span class='completion-bar'>
        <aj-completion-bar [value]=48></aj-completion-bar>
      </span>
    </div>
    <div class="right-panel">
      <h2>Ressources:</h2>
      <div class="elements">
        <div class="element">
          <p (click)="downloadAsset('dataBook')">
            Le data-book
          </p>
        </div>
        <div class="element">
          <p (click)="downloadAsset('nomenclature')">
            La nomenclature
          </p>
          <i (click)="
                $event.stopPropagation(); downloadAsset('nomenclature', true)
              " class="ri-file-download-line"></i>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #subTitleTemplate>
  <p *ngIf="updatedBy" class="sub-title">
    Dernière mise à jour le {{ updatedBy.date | date:'dd' }} {{
    getMonthString(updatedBy.date) }} {{ updatedBy.date | date:'YYYY' }}
    <!--<ng-template [ngIf]="updatedBy.user"
      >, par
      <span class="tag"
        >{{ updatedBy.user.firstName }} {{ updatedBy.user.lastName }}</span
      >
    </ng-template>-->
  </p>
</ng-template>

<ng-template
  #tooltip
  let-contentieux="contentieux"
>
  <i
    class="ri-lightbulb-flash-line cursor-pointer blue"
    #light
    (click)="$event.stopPropagation()"
  ></i>
  <aj-tooltips
    [onOver]="false"
    [onClick]="light"
    [title]="getTooltipTitle( contentieux )"
    [content]="getTooltipBody( contentieux )"
    [footer]="getTooltipFooter( contentieux )"
    class="medium"
    [ngClass]=""
  >
  </aj-tooltips>
</ng-template>


<aj-popin-edit-activities *ngIf="contentieuxToUpdate" [referentiel]="contentieuxToUpdate" [activityMonth]="activityMonth" (onClose)="onCloseEditedPopin($event)"></aj-popin-edit-activities>