<aj-wrapper title="Données d'activité">
  <div class="container">
    <div class="header-list">
      <div class="label month">
        <button mat-stroked-button>Précédent</button>
        <div class="current-month">{{activityMonth | date:'MM - YYYY'}}</div>
        <button mat-stroked-button>Suivant</button>
      </div>
      <div class="column-item">Entrées</div>
      <div class="column-item">Sorties</div>
      <div class="column-item">Stocks</div>
    </div>
    <div class="content-list">
      <div *ngFor="let ref of referentiel" class="item-grouped">
        <div class="item" (click)="(ref.childrens || []).length ? ref.showActivityGroup = !ref.showActivityGroup : null"
          [class.selectable]="(ref.childrens || []).length">
          <div class="label">
            <p>{{ref.label}}</p>
            <button *ngIf="(ref.childrens || []).length" mat-icon-button>
              <mat-icon>{{ ref.showActivityGroup ? 'expand_less' : 'expand_more' }}</mat-icon>
            </button>
          </div>
          <div class="column-item">
            <input type="number" [(ngModel)]="ref.in" [attr.disabled]="(ref.childrens || []).length ? true : null"
              (ngModelChange)="onUpdateMainActivity(ref)" min="0" />
          </div>
          <div class="column-item">
            <input type="number" [(ngModel)]="ref.out" [attr.disabled]="(ref.childrens || []).length ? true : null"
              (ngModelChange)="onUpdateMainActivity(ref)" min="0" />
          </div>
          <div class="column-item">
            <input type="number" [(ngModel)]="ref.stock" [attr.disabled]="(ref.childrens || []).length ? true : null"
              (ngModelChange)="onUpdateMainActivity(ref)" min="0" />
          </div>
        </div>
        <div class="group" [class.enable]="ref.showActivityGroup">
          <div class="group-item" *ngFor="let itemGroup of (ref.childrens || [])"
            [style.borderColor]="referentielMappingColor(ref.label)">
            <div class="label">
              <p>{{itemGroup.label}}</p>
            </div>
            <div class="column-item">
              <input type="number" [(ngModel)]="itemGroup.in" (ngModelChange)="onUpdateActivity(ref)" min="0" />
            </div>
            <div class="column-item">
              <input type="number" [(ngModel)]="itemGroup.out" (ngModelChange)="onUpdateActivity(ref)" min="0" />
            </div>
            <div class="column-item">
              <input type="number" [(ngModel)]="itemGroup.stock" (ngModelChange)="onUpdateActivity(ref)" min="0" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aj-wrapper>