<div>
    <div *ngIf="showArrow && title !== '-' && title !== '0' && title !== 'N/R'" class="zone-arrow">
        <div class="background" [class.is-up]="getArrowSide(title)" [class.is-green]="getArrowColor(title)">
            <i class="ri-arrow-up-line up no-print"></i>
            <i class="ri-arrow-down-line down no-print"></i>

        </div>
    </div>
</div>
<div class="text">
    <p *ngIf="subTitle" class="sub-title"
        [style.color]="isWhite && !isTransparent ? 'white' : userService.referentielMappingColorByInterface(referentielName)">
        {{subTitle}}</p>
    <p *ngIf="title" class="title"
        [style.color]="isWhite && !isTransparent ? 'white' : userService.referentielMappingColorByInterface(referentielName)">
        {{title}}
        <aj-tooltips *ngIf="title === 'N/R'" title="Donnée non renseignée" class="small"
            content="Chiffre non calculable à partir des données d’activité enregistrées à ce jour : si vous en disposez, veuillez les compléter dans l'écran “données d’activité”."></aj-tooltips>
        <aj-tooltips *ngIf="title === 'N/A'" title="Non applicable" class="small"></aj-tooltips>
    </p>
</div>