@use '../../../../styles/utils.scss';

:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 6px 8px;
    position: relative;

    &.text-center .text {
        align-items: center;
    }

    &.no-border-bottom {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.no-border-top {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &.is-transparent {
        border-style: solid;
        border-width: 1px;
    }

    .text {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: center;
        flex: 1;
    }

    .zone-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 8px;
        bottom: 4px;

        .background {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            background-color: #e1000f;
            width: 16px;
            height: 16px;
            min-width: 16px;
            min-height: 16px;
            border-radius: 16px;
            text-align: center;
            font-weight: bold;

            &.is-up {
                i.down {
                    display: inline-block;
                }

                i.up {
                    display: none;
                }
            }

            &.is-green {
                i {
                    color: #00a95f;
                }

                background-color: #c3fad5;
            }

            i.up {
                display: inline-block;
            }

            i {
                display: none;
                color: white;
                font-size: 10px;
                line-height: 16px;
            }
        }
    }

    p {
        position: relative;

        &.title {
            font-size: 14px;
            font-weight: bold;
        }

        &.sub-title {
            font-size: 14px;

            &~.title {
                line-height: 0.8;
                margin-top: 2px;
            }
        }
    }
}