@use "../../styles/utils.scss" as utils;

:host {
  display: block;
  border-radius: 8px;
  background-color: utils.$colors-bgSelect;
  border: 1px solid utils.$colors-borderSelect;
  padding: 4px 8px;
  position: relative;
  cursor: pointer;
  margin: auto 0;

  p.title-select {
    color: utils.$colors-titleSelect;
    white-space: nowrap;
    margin-right: 28px;
    font-size: 14px;
  }

  div {
    display: flex;
    align-items: center;

    p {
      white-space: nowrap;
      flex: 1;
      font-weight: bold;
      height: 24px;
      width: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    i {
      font-size: 16px;
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }
  }
}