@font-face {
	font-family: "Marianne";
	src: url("./Marianne-Regular.woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Marianne";
	src: url("./Marianne-Bold.woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Marianne";
	src: url("./Marianne-Medium.woff");
	font-weight: 500;
	font-style: normal;
}