@use "../../styles/utils.scss" as utils;

:host {

  aj-popup {
    .content-popup {
      display: flex;
      flex-direction: column;
      padding-bottom: 16px;

      img {
        width: 70px;
        align-self: center;
        margin-bottom: 24px;
      }

      h3 {
        text-align: center;
        margin-bottom: 16px;
      }

      .email {
        padding-top: 4px;
        padding-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        font-weight: bold;
        color: utils.$colors-cblack;
      }

      p {
        font-size: 16px;
        max-width: 700px;
        color: utils.$colors-cblack;
        text-align: center;

        &:last-child {
          margin-top: 16px;
        }
      }
    }
  }



  .logo {
    height: 7em;

    >img {
      height: 90px;
      margin-right: 27px;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  label {
    margin-bottom: 8px;
    display: block;
  }

  input[type=text],
  input[type=email],
  input[type=password] {
    margin-bottom: 24px;
  }

  .login {
    margin-top: 2em;
    padding: 16px 24px;
    background-color: utils.$colors-bgProgressBar;

    b {
      font-size: 20px;
    }

    a {
      margin-top: 16px;
      display: block;
    }

    button {
      width: 100%;
      font-weight: bold;
      font-size: 20px;
      height: 48px;
      line-height: 48px;

      i {
        margin-right: 12px;
      }
    }
  }

  .signup {
    margin-top: 8px;
    padding: 16px 24px;
    background-color: utils.$colors-bgProgressBar;

    p:last-child {
      margin-top: 2px;
      margin-bottom: 14px;
    }

    b {
      font-size: 20px;
    }

    a {
      margin-top: 16px;
      display: block;
    }

    button {
      width: 100%;
      font-weight: bold;
      height: 48px;
      line-height: 48px;

      i {
        margin-right: 12px;
      }
    }
  }
}

.box-border {
  padding: 1.5em;
  border: solid 1px utils.$colors-bgSelect;
}