<aj-wrapper-no-connected
  [title]="'Un outil d\'aide à la décision et<br/>de prospective pour piloter<br/>votre juridiction'"
>
  <div class="logo">
    <img src="/assets/icons/bloc-marque/bloc-marque-white@2x.svg" alt="ministère de la justice" />
    <img src="/assets/icons/logos/white-192x192@1x.svg" alt="a-just" />
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="box-border">
      <h3>Récupération de mot de passe</h3>
      <label>Email</label>
      <input class="ethics-ui" placeholder="Email" formControlName="email" type="email" autocomplete="off" />
      <div>
        <input type="submit" class="big-button" value="Réinitialiser mon mot de passe" autocomplete="off" />
      </div>
    </div>

    @if (openPopin === true) {
      <aj-popup [closeIcon]="true" (onClose)="openPopin = false; onClosePopin()">
        <div class="content-popup">
          <img src="/assets/icons/logos/lettersent.png" alt="mail envoyé" />
          <h3>Consultez vos courriels</h3>
          <p>Votre code de vérification vous attend à l’adresse mail :</p>
          <b class="email">{{ getEmail() }}</b>
          <p>
            Cliquez sur le lien présent dans le courriel et renseignez le code
            <br />
            de vérification reçu afin de réinitialiser votre mot de passe.
          </p>
          <p>
            Ce courriel peut prendre plusieurs minutes avant d’arriver dans votre boîte de réception. En cas de non
            réception, n’hésitez pas à consulter vos indésirables.
          </p>
        </div>
      </aj-popup>
    }
    <div class="login">
      <p><b>Vous avez déjà un compte</b></p>
      <a routerLink="/connexion">
        <button class="outline white strict-border">
          <i class="ri-login-box-line"></i>
          Se connecter
        </button>
      </a>
    </div>

    <div class="signup">
      <p>Vous n’avez pas encore de compte</p>
      <p><b>Rejoindre A-JUST</b></p>
      <a routerLink="/inscription">
        <button class="outline white strict-border">
          <i class="ri-login-box-line"></i>
          Demander votre embarquement
        </button>
      </a>
    </div>
  </form>
</aj-wrapper-no-connected>
