@use '../../../styles/utils.scss' as utils;

.before-subtitle {
    border-radius: 12px;
    padding: 3px 6px;
    line-height: 35px;
    display: inline;
}

.subtitle-name {
    border-radius: 12px;
    background-color: utils.$colors-bgSelect;
    padding: 3px 6px;
}

.back-button-menu {
    margin-right: 8px;
}

aj-back-button {
    position: absolute;
    left: 16px;
    top: 26px;
    font-size: 14px;
}

.contener {
    overflow: hidden;
}

.div-custom-style {
    position: absolute;
    left: 15px;
    top: 35px;
    border-radius: 3px;
    height: 100%;
    width: 3px;
}

:host {
    position: relative;

    input {
        outline: none;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    input[type='file'] {
        display: none;
    }

    .export-button {
        margin-left: 6px;
        background-color: utils.$colors-primary;
        height: 55px;
        padding: 6px;
        display: flex;
        align-items: center;
        border-radius: 6px;
        cursor: pointer;

        p {
            font-size: 12px;
            color: utils.$colors-bgSelect;
        }
    }

    .empty-separator {
        display: flex;
        padding-left: 300px;
        height: 8px;

        .col {
            .no-margin {
                margin-right: 0px;
            }
        }
    }

    input {
        &.modified {
            color: utils.$colors-primary;
        }
    }

    .separator {
        display: block;
        height: 100px;
    }

    .item-grouped {
        min-height: 56px;
        background-color: white;
        border-bottom: solid 1px white;

        .no-margin {
            margin-right: 0px !important;
        }

        &.maximize {
            .item {
                position: relative;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
                    0 1px 2px 0 rgba(0, 0, 0, 0.06);
            }

            .group {
                height: inherit;
                overflow: inherit;
            }
        }

        .group {
            height: 0;
            overflow: hidden;
            display: flex;

            >div:last-child {
                flex: 1;
            }

            .color-border {
                padding: 12px;
                margin-right: 19px;

                >div {
                    width: 3px;
                    border-radius: 3px;
                    height: 100%;
                }
            }

            .group-item {
                display: flex;
                align-items: center;
                height: 56px;

                .label {
                    &.head {
                        width: 300px;

                        p {
                            font-size: 14px;
                        }
                    }
                }

                .column-item {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-self: stretch;
                }
            }
        }
    }

    aj-select {
        margin-left: 8px;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;

        .content-list {
            flex: 1;
        }
    }

    .sticky-action-footer {
        height: 80px;
        box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.04),
            0 -20px 25px -5px rgba(0, 0, 0, 0.1);
        background-color: utils.$colors-bgSelect;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0px 16px 0px 24px;
        left: 0px;
        bottom: 0;
        width: 100%;
        padding-right: 120px;

        button:first-child {
            margin-right: 16px;
        }
    }

    .categories-switch {
        display: flex;
        align-items: stretch;
        height: 55px;

        >div {
            display: flex;
            align-items: center;
            padding: 0 16px;
            cursor: pointer;
            border: solid 1px utils.$colors-cgraylightv3;

            &.alone {
                border-radius: 4px;
            }

            p {
                font-size: 14px;
                line-height: 1.5;
                margin-left: 8px;
                color: utils.$colors-colorTag;
            }
        }

        >.magistrats {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;

            &.selected {
                border: solid 1px utils.$colors-cbluedark;
                background-color: utils.$colors-cbluemiddle;
            }
        }

        >.fonctionnaires {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;

            &.selected {
                border: solid 1px utils.$colors-cpink;
                background-color: utils.$colors-cpinkmiddle;
            }
        }
    }

    .header-list {
        height: 80px;
        padding: 16px 24px 40px 16px;
        background-color: utils.$colors-bgSelect !important;

        .label {
            &.col {
                height: 80px;
                font-size: 12px;
                font-weight: bold;
                line-height: 2;
                color: utils.$colors-cblack;
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                border-left: solid 1px utils.$colors-bgSelect;
            }
        }
    }

    .content-list {
        overflow: auto;

        .label {
            &.col {
                border-left: solid 1px utils.$colors-bgSelect;

                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.71;
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: 100%;
                padding-right: 18px;
            }
        }
    }

    .header-list,
    .content-list {
        .label {
            position: relative;
            display: flex;

            &.empty {
                width: 300px;
                height: 80px;
                font-size: 12px;
                line-height: 2;
                letter-spacing: normal;
                color: utils.$colors-cblack;
                padding: 16px;
            }

            mat-icon {
                vertical-align: initial;
                top: 1.25px;
                position: relative;
                font-size: 24px;
            }
        }
    }

    .header-list {
        padding: 0px 0px 0px 0px;
        border-bottom: 2px solid utils.$colors-bgSelect;
        display: flex;
        align-items: center;
        background-color: utils.$colors-bgSelect;

        .current-month {
            margin: 0 16px;
        }
    }

    .item {
        display: flex;
        height: 56px;

        &.selectable {
            cursor: pointer;

            input {
                cursor: pointer;
            }
        }

        .label {
            display: flex;
            align-items: center;

            &.head {
                padding-left: 15px;
                width: 300px;
                margin: 25px 0px 25px 0px;

                p {
                    font-size: 14px;
                    margin-left: 24px;
                    font-weight: bold;
                }
            }

            .color-border {
                width: 3px;
                height: 4px;
                border-radius: 3px;
                position: absolute;
                left: 0.5px;
                top: 0;
                bottom: 0;
                margin: auto;
            }

            p {
                flex: 1;
            }
        }
    }

    .column-item {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        p {
            margin-right: 16px;
            width: auto;
        }

        input {
            max-width: 160px;
        }
    }

    .item-grouped {

        .group {
            height: 0;
            overflow: hidden;
            display: grid;

            &.enable {
                height: inherit;
                overflow: inherit;
            }

            .group-item {
                display: flex;
                align-items: center;
                background-color: utils.$colors-bgSelect;

                .label {
                    padding-left: 51px;
                }

                .column-item {
                    flex: 1;
                    text-align: center;
                    border-left: solid 1px utils.$colors-bgSelect;
                }
            }
        }
    }

    .top-left-action {
        margin-right: 16px;
    }


    aj-popup {
        p {
            &.subtitle {
                margin: 0 0 38px;
                font-size: 16px;
                color: utils.$colors-cgray;
            }

            &.content {
                font-size: 16px;
                color: utils.$colors-cblack;
            }
        }
    }

    #circle {
        width: 60px;
        height: 60px;
        background: utils.$colors-bgSelect;
        border-radius: 70px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 18px;

        i {
            font-size: 24px;
            color: utils.$colors-primary;
        }

        img {
            height: 24px;
            width: 24px;
        }
    }

    .comparaison {
        p {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            color: utils.$colors-cblack;
        }

        .content {
            margin-top: 20px;
            padding: 0 20px;

            .subtitle {
                font-size: 18px;
                color: utils.$colors-cgray;
                font-weight: normal;
                text-align: left;
            }

            .text {
                font-size: 18px;
                font-weight: normal;
                text-align: left;
            }
        }
    }
}