<aj-wrapper title="{{backup?.label || ' '}}" class="no-padding" [backUrl]="'/temps-moyens'" [actionTemplate]="actions"
  [isLoading]="isLoading" [actionsLeftTemplate]="actionsLeft" [subtitleTemplate]="subtitleTemplate">
  <div class="container">
    <div class="header-list">
      <div class="label empty"><label>Contentieux</label></div>
      <div class="label col">Temps moyens en heures/minutes</div>
      <div class="label col">Nombre de dossiers par jour</div>
      <div class="label col">Nombre de dossiers par mois</div>
    </div>
    <div class="content-list" *ngIf="categorySelected">
      <div *ngFor="let ref of referentiel" class="item-grouped"
        [style.backgroundColor]="userService.referentielMappingColorActivityByInterface(userService.referentielMappingNameByInterface(ref.label))">
        <div class="item position-relative" (click)="ref.showOptionGroup = !ref.showOptionGroup"
          [class.selectable]="(ref.childrens || []).length">
          <div class="label head">

            <mat-icon *ngIf="(ref.childrens || []).length">{{ ref.showOptionGroup ? 'expand_less' : 'chevron_right' }}
            </mat-icon>
            <p>{{ userService.referentielMappingNameByInterface(ref.label)}}</p>
          </div>
          <div class="column-item">
            <div class="label col">
              <app-time-selector [value]="getInputValue(ref.averageProcessingTime,'hour')"
                (valueChange)="onUpdateOptions(ref, $event,'hour')" [outsideChange]="ref[getCategoryModifStr()]"
                [defaultValue]="ref.defaultValue" [defaultValueFonc]="ref.defaultValueFonc"
                [category]="categorySelected" (click)="$event.stopPropagation();"></app-time-selector>
            </div>
            <div class="label col">
              <input #jour type="number" placeholder="Nb de dossiers"
                [ngClass]="{ modified: ref[getCategoryModifStr()] === true}"
                [ngModel]="fixDecimal(getInputValue(ref.averageProcessingTime,'nbPerDay'),100)"
                (blur)="getField(ref,$event,'nbPerDay')" (keydown.enter)="getField(ref,$event,'nbPerDay')"
                (click)="$event.stopPropagation();" min="0" />
            </div>
            <div class="label col no-margin">
              <input #semaine type="number" placeholder="Nb de dossiers"
                [ngClass]="{ modified: ref[getCategoryModifStr()] === true}"
                [ngModel]="fixDecimal(getInputValue(ref.averageProcessingTime,'nbPerMonth'))"
                (blur)="getField(ref,$event,'nbPerMonth')" (keydown.enter)="getField(ref,$event,'nbPerMonth')"
                (click)="$event.stopPropagation();" min="0" />
            </div>
          </div>

        </div>
        <div class="group" [class.enable]="ref.showOptionGroup">
          <div class="group-item" *ngFor="let itemGroup of (ref.childrens || [])">
            <div class="label head">
              <p>{{itemGroup.label}}</p>
            </div>
            <div class="column-item">
              <div class="label col">
                <app-time-selector [value]="getInputValue(itemGroup.averageProcessingTime,'hour')"
                  (valueChange)="onUpdateOptions(itemGroup, $event,'hour')"
                  [outsideChange]="itemGroup[getCategoryModifStr()]" [defaultValue]="itemGroup.defaultValue"
                  [defaultValueFonc]="itemGroup.defaultValueFonc" [category]="categorySelected"
                  (click)="$event.stopPropagation();"></app-time-selector>
              </div>
              <div class="label col">
                <input type="number" placeholder="Nb de dossiers"
                  [ngClass]="{ modified: itemGroup[getCategoryModifStr()] === true}"
                  [ngModel]="fixDecimal(getInputValue(itemGroup.averageProcessingTime,'nbPerDay'))"
                  (blur)="getField(itemGroup,$event,'nbPerDay')" (keydown.enter)="getField(itemGroup,$event,'nbPerDay')"
                  (click)="$event.stopPropagation();" min="0" />
              </div>
              <div class="label col no-margin">
                <input type="number" placeholder="Nb de dossiers"
                  [ngClass]="{ modified: itemGroup[getCategoryModifStr()] === true}"
                  [ngModel]="fixDecimal(getInputValue(itemGroup.averageProcessingTime,'nbPerMonth'))"
                  (blur)="getField(itemGroup,$event,'nbPerMonth')"
                  (keydown.enter)="getField(itemGroup,$event,'nbPerMonth')" (click)="$event.stopPropagation();"
                  min="0" />
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="sticky-action-footer">
      <aj-options-backup-panel></aj-options-backup-panel>
    </div>
  </div>
</aj-wrapper>

<ng-template #actionsLeft>
</ng-template>


<ng-template #subtitleTemplate>
  <div class="before-subtitle" [ngStyle]="{'background-color': subTitleType === 'GREFFE' ? '#fee7fc' : '#e3e3fd',
  'color': subTitleType === 'GREFFE' ? '#a558a0':'#000091'}"><label>{{subTitleType ===
      'GREFFE'?'Greffe':'Siège'}}</label></div>
  {{this.backup && this.backup.userName ?' Créé par ':'' }}
  <label *ngIf="this.backup && this.backup.userName" class="subtitle-name" [ngStyle]="{'background-color': subTitleType === 'GREFFE' ? '#fee7fc' : '#e3e3fd',
  'color': subTitleType === 'GREFFE' ? '#a558a0':'#000091'}">
    {{this.backup.userName}}</label>
  {{this.backup && this.backup.userName ?', ':'' }}
  {{this.backup && this.backup.userName ?subTitleDate.toLowerCase():subTitleDate }}
  <label *ngIf="subTitleName !== ''" class="subtitle-name" [ngStyle]="{'background-color': subTitleType === 'GREFFE' ? '#fee7fc' : '#e3e3fd',
  'color': subTitleType === 'GREFFE' ? '#a558a0':'#000091'}">
    {{subTitleName}}</label>
</ng-template>
<ng-template #actions>

  <!-- 
  <div class="export-button" (click)="extractionExcel()">
    <p>Exporter</p>
  </div>
  -->
</ng-template>