@use '../../styles/utils.scss' as utils;

:host {
  height: 32px;
  min-width: 32px;
  position: relative;
  z-index: 2;
  margin-right: 4px;

  &.fit-content {
    >div {
      position: relative;
    }
  }

  &.no-cursor>div {
    cursor: default;
  }

  >div {
    background-color: utils.$colors-bgDemoTourButton;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 32px;
    height: 32px;
    padding: 0 6px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    color: utils.$colors-white;
    line-height: 32px;
    border-radius: 32px;
    cursor: pointer;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;

    .icon {
      flex-shrink: 0;
      white-space: nowrap;

      svg {
        display: block;
      }
    }

    .text {
      white-space: nowrap;
      overflow: hidden;
      max-width: 0;
      opacity: 0;
      transform: translateX(-6px);
      margin-left: 0;
      margin-right: 0;

      transition:
        max-width 0.2s ease-in-out,
        opacity 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        margin 0.2s ease-in-out;
    }

    &.expanded {
      .text {
        max-width: 300px;
        opacity: 1;
        transform: translateX(0);
        margin: 0px 4px;
      }
    }
  }
}