@use "../../styles/utils.scss";

table {
  width: 100%;
}

.content-popup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.item {
  margin-bottom: 16px;

  &.item-left {
    margin-top: 16px;
  }

  p {
    line-height: 32px;
    height: 32px;

    input {
      margin-right: 8px;
    }
  }
}

.super-administrateur {
  font-size: 12px;
}

td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;

  &:last-child {
    border-right: none;
  }
}

.grid-double {
  grid-gap: 16px 8px;
}

.access-items {
  display: flex;
  gap: 16px;
}

.access-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;

  label {
    text-align: center;
  }
}

.content-popup {
  h4 {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}