@use "../../styles/utils.scss";

table {
  width: 100%;
}

.content-popup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.item {
  margin-bottom: 16px;

  &.item-left {
    margin-top: 16px;
  }

  p {
    line-height: 32px;
    height: 32px;

    input {
      margin-right: 8px;
    }
  }
}

.super-administrateur {
  font-size: 12px;
}

td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;

  &:last-child {
    border-right: none;
  }
}

.grid-double {
  grid-gap: 16px 8px;
}

.access-items {
  display: flex;
  gap: 16px;
}

.access-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;

  label {
    text-align: center;
  }
}

.content-popup {
  h4 {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

.scrollable-wrapper {
  position: relative;
  max-height: 100px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.9));
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &.has-scroll::after {
    opacity: 1;
  }
}

.scrollable-cell {
  max-height: 100px;
  overflow-y: auto;
  padding: 4px;
}