@use '../../../styles/utils.scss' as utils;

:host {
  display: block;

  &.show-children>.main-referentiel {


    >.contentieux {

      mat-icon,
      p {
        color: #3a3a3a;
      }
    }
  }

  &.is-child {

    >.main-referentiel {
      min-height: 56px;
      height: fit-content;
      position: relative;
      border-top: solid 1px #f6f6f6;

      >div {
        &:first-child {
          cursor: inherit;

          p {
            text-align: right;
          }

          .help {
            display: none;
          }
        }
      }

      .anticipate svg {
        display: none;
      }
    }
  }

  >.main-referentiel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-top: solid 1px #f6f6f6;

    >div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &:not(:first-child) {
        border-left: 3px solid white;
      }

      &:first-child {
        justify-content: flex-start;
        cursor: pointer;

        p {
          font-weight: bold;
          text-align: left;
          width: 100%;
          margin-right: 16px;
        }

        mat-icon {
          min-width: 18px;
          margin-right: 8px;
        }

        .help {
          width: 24px;
          min-width: 24px;
          height: 24px;
          border-radius: 24px;
          background-color: #000091;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          margin-right: 8px;

          span {
            font-size: 12px;
            line-height: 12px;
          }
        }
      }

      &.dtes {
        padding-left: 20%;
        justify-content: flex-start;
      }

      &.stock {
        padding-left: 30%;
        justify-content: flex-start;
      }

      mat-icon {
        margin-left: 8px;
        color: #3a3a3a;
      }

      p {
        position: relative;
        font-size: 14px;
        color: #3a3a3a;
      }

      >.block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
      }

      >.etpt-selected {
        display: flex;
        align-self: stretch;
        width: 100%;

        >span {
          flex: 1;
          border-left: 3px solid white;
          display: flex;
          align-items: center;
          justify-content: center;

          &:first-child {
            border-left: none;
          }
        }
      }
    }
  }

  >.childrens {
    background-color: white;

    >aj-referentiel-calculator {
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

p {
  font-size: 14px;
  text-align: center;
  color: utils.$colors-textColorLight;
}

.ref-nr {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  p {
    color: #CE0500 !important;
    font-weight: 300 !important;
    text-align: center;
    width: 100%;
  }
}

.anticipate {
  border: 1px solid #0063CB;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
  border-radius: 62px;
  color: #0063CB;
  height: 38px;
  cursor: pointer;
  margin: 12px;

  p {
    position: relative;
    top: -1px;
    white-space: nowrap;
  }
}

.bg-magistrats {
  background-color: utils.$colors-cbluemiddle;
}

.bg-fonctionnaires {
  background-color: utils.$colors-cpinkmiddle;
}

aj-speedometer {
  width: 70px;
}

.cockpit-down,
.cockpit-up {
  transform: rotate(180deg);
}

.popin-projection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  .popin-projection-content {
    background-color: white;
    border-radius: 12px;
    border: 1px solid #000;
    width: 75%;
    max-height: 90%;
    display: flex;
    flex-direction: column;

    .popin-projection-content-header {
      padding: 29px 72px 15px 72px;
      border-top-left-radius: 11px;
      border-top-right-radius: 11px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .header-title-alert {
        position: absolute;
        top: 33px;
        left: 72px;

        a {
          color: #000091;
          font-size: 14px;
        }
      }

      .switch-bt {
        position: absolute;
        top: 27px;
        left: 72px;
        cursor: pointer;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #DDD;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(3, 96px);

        >div {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;

          p {
            color: #161616;
          }

          mat-icon {
            color: #161616;
            font-size: 16px;
            width: 16px;
            height: 16px;
            line-height: 16px;
          }

          &.active {
            background-color: #000091;
            color: white;
            border-radius: 4px;

            mat-icon,
            p {
              color: white;
            }
          }
        }
      }

      .header-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        gap: 16px;

        p {
          font-size: 16px;
          font-weight: bold;
          color: #000;
        }

        div {
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            cursor: pointer;
          }
        }
      }

      .close-bt {
        position: absolute;
        top: 36px;
        right: 72px;
        cursor: pointer;
      }
    }

    .popin-projection-content-body {
      margin: 20px 72px 20px 72px;
      border: 1px solid #DDD;
      height: 200px;
      min-height: 200px;
      border-radius: 6px;
      position: relative;

      canvas {
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        position: absolute;
        display: block;
      }

      .preview-date-range {
        position: absolute;
        left: 50px;
        top: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        right: 0;
        gap: 4px;

        p {
          flex: 1;
          text-align: center;
          font-weight: 700;
        }
      }
    }

    .popin-alert-content-body {
      padding: 40px 50px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 100%;
      overflow: auto;
      flex: 1;

      >div:first-child {
        border-right: 1px solid #DDD;
        padding-right: 50px;
      }

      >div:last-child {
        padding-left: 50px;
      }

      .popin-alert-content-body-top {
        display: flex;
        flex-direction: row;

        >p {
          font-size: 24px;
          line-height: 19px;
          font-weight: 700;
          color: #000;
          margin-left: 18px;
          margin-right: 18px;
        }

        a.documentation-link {
          font-size: 14px;
          color: white;
          font-weight: 700;
          text-decoration: none;
          width: 20px;
          height: 20px;
          border-radius: 20px;
          background-color: #000091;
          margin-top: 2px;
          line-height: 20px;
          text-align: center;
          display: block;
        }

        button {
          height: 48px;
          line-height: 46px;
        }
      }

      .popin-alert-content-body-messages {
        display: flex;
        flex-direction: column;
        gap: 14px;

        >div {
          padding: 12px;
          border-radius: 7px;

          &.blue {
            background-color: #EFF3FE;

            >span {
              color: #6978EB;
              background-color: #C9D8FC;
            }
          }

          &.orange {
            background-color: #FEF6EE;

            >span {
              color: #DE5618;
              background-color: #F9D5AF;
            }
          }

          p {
            text-align: left;
            line-height: 36px;
          }

          >span {
            font-size: 14px;
            color: #000091;
            border-radius: 6px;
            padding: 8px 12px;
            float: left;
            margin-right: 10px;
          }
        }
      }
    }

    .popin-alert-content-body-info {
      margin-bottom: 24px;

      &.warning span {
        color: #DE9518;
      }

      p {
        font-size: 14px;
        color: #000;
        font-weight: 700;
        text-align: left;
      }
    }

    .popin-projection-content-footer {
      padding: 0 72px 17px 72px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 34px;

      >div {
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        padding: 16px 24px 26px 16px;

        a {
          text-decoration: none;
          background-color: white;
          border: 1px solid #000091;
          text-align: center;
          padding: 10px 24px;
        }
      }
    }
  }
}