<div *ngIf="calculator" class="main-referentiel"
    [style.backgroundColor]="userService.referentielMappingColorActivityByInterface(userService.referentielMappingNameByInterface(calculator.contentieux.label ==='Autres activités'? 'other': calculator.contentieux.label), OPACITY)">
    <div class="width-contentieux contentieux" (click)="onToggleChildren()">


        <mat-icon class="no-print" *ngIf="calculator.childrens && calculator.childrens.length">{{ showChildren ?
            'expand_more' :
            'chevron_right' }}
        </mat-icon>

        <p>{{userService.isCa()?calculator.contentieux.label:userService.referentielMappingNameByInterface(calculator.contentieux.label)}}
        </p>
    </div>

    <div [ngClass]="{ selected: sortBy === 'realDTESInMonths' }" class="item dtes">
        <div class="block" *ngIf="!isSoutien(calculator.contentieux.id)">
            <ng-template [ngIf]="calculator.realDTESInMonths !== null && checkPastDate()" [ngIfElse]="nr">
                <p>{{ calculator.realDTESInMonths | number: '0.2-2' }} mois</p>
            </ng-template>
        </div>
    </div>
    <div [ngClass]="{ selected: sortBy === 'realCoverage' }" class="item coverage">
        <div class="block left-border" *ngIf="!isSoutien(calculator.contentieux.id)">
            <ng-template [ngIf]="checkPastDate() && calculator.totalOut !== null && calculator.totalIn !== null"
                [ngIfElse]="nr">
                <aj-speedometer [percent]="(calculator.realCoverage || 0) * 100"></aj-speedometer>
            </ng-template>
        </div>


    </div>

    <div [ngClass]="{ selected: sortBy === 'lastStock' }" class="item stock">
        <ng-template [ngIf]="!isSoutien(calculator.contentieux.id)">
            <ng-template [ngIf]="calculator.lastStock !== null && checkPastDate()" [ngIfElse]="nr">
                <div>
                    <p>{{ calculator.lastStock }}</p>
                </div>
            </ng-template>
        </ng-template>
    </div>
    <div [ngClass]="{ selected: sortBy === 'totalIn' }" class="left-border item">
        <ng-template [ngIf]="!isSoutien(calculator.contentieux.id)">
            <ng-template [ngIf]="calculator.totalIn !== null && checkPastDate()" [ngIfElse]="nr">
                <div>
                    <p #tooltip="matTooltip"
                        [matTooltip]="'Valeur exacte d\'entrées utilisée dans les calculs : '+ trunc(calculator.totalIn)"
                        matTooltipPosition="left" matTooltipShowDelay="0" matTooltipHideDelay="0">{{
                        floor(calculator.totalIn) }}</p>
                </div>
            </ng-template>
        </ng-template>
    </div>
    <div [ngClass]="{ selected: sortBy === 'totalOut' }" class="left-border item">
        <ng-template [ngIf]="!isSoutien(calculator.contentieux.id)">
            <ng-template [ngIf]="calculator.totalOut !== null && checkPastDate()" [ngIfElse]="nr">
                <div>
                    <p #tooltip="matTooltip"
                        [matTooltip]="'Valeur exacte de sorties utilisée dans les calculs : '+ trunc(calculator.totalOut)"
                        matTooltipPosition="left" matTooltipShowDelay="0" matTooltipHideDelay="0">{{
                        floor(calculator.totalOut) }}</p>
                </div>
            </ng-template>
        </ng-template>
    </div>
    <div *ngIf="canViewMagistrat" [ngClass]="{
        selected: sortBy === 'etpMag',
        'bg-magistrats': categorySelected === MAGISTRATS
      }" class="left-border item">
        <div>
            <p>{{ calculator.etpMag | number: '0.2-2' }}</p>
        </div>
    </div>
    <div *ngIf="canViewGreffier" [ngClass]="{
        selected: sortBy === 'etpFon',
        'bg-fonctionnaires': categorySelected === FONCTIONNAIRES
      }" class="left-border item">
        <div>
            <p>{{ calculator.etpFon | number: '0.2-2' }}</p>
        </div>
    </div>
    <div *ngIf="canViewContractuel" [ngClass]="{ selected: sortBy === 'etpCont' }" class="left-border item">
        <div>
            <p>{{ calculator.etpCont | number: '0.2-2' }}</p>
        </div>
    </div>

    <div [ngClass]="{
        selected: sortBy === 'magRealTimePerCase'
      }" class="item tmd">
        <div class="block">
            <ng-template [ngIf]="categorySelected === MAGISTRATS && !isSoutien(calculator.contentieux.id)">
                <ng-template [ngIf]="calculator.magRealTimePerCase !== null && checkPastDate()" [ngIfElse]="nr">
                    <p>
                        {{
                        this.decimalToStringDate(calculator.magRealTimePerCase) || 0
                        }}
                    </p>
                </ng-template>
            </ng-template>
            <ng-template [ngIf]="categorySelected === FONCTIONNAIRES && !isSoutien(calculator.contentieux.id)">
                <ng-template [ngIf]="calculator.fonRealTimePerCase !== null && checkPastDate()" [ngIfElse]="nr">
                    <p>
                        {{
                        this.decimalToStringDate(calculator.fonRealTimePerCase) || 0
                        }}
                    </p>
                </ng-template>
            </ng-template>
        </div>

    </div>

</div>
<div *ngIf="
    (showChildren || forceToShowChildren) &&
    calculator &&
    calculator.childrens &&
    calculator.childrens.length
  " class="childrens">
    <aj-referentiel-calculator *ngFor="let r of calculator.childrens; trackBy: trackBy" [calculator]="r"
        [sortBy]="sortBy" class="is-child" [categorySelected]="categorySelected">
    </aj-referentiel-calculator>
</div>

<ng-template #nr>
    <div class="ref-nr">
        <aj-tooltips title="Donnée non renseignée" class="small"
            content="Chiffre non calculable à partir des données d’activité enregistrées à ce jour : si vous en disposez, veuillez les compléter dans l'écran “données d’activité”."></aj-tooltips>
        <p>N/R</p>
    </div>
</ng-template>