@use '../../../styles/utils.scss' as utils;

:host {
  display: block;

  &.show-children>.main-referentiel {


    >.contentieux {

      mat-icon,
      p {
        color: #3a3a3a;
      }
    }
  }

  &.is-child {

    >.main-referentiel {
      min-height: 56px;
      height: fit-content;
      position: relative;
      border-top: solid 1px #f6f6f6;

      >div {
        &:first-child {
          cursor: inherit;

          p {
            text-align: right;
          }

          .help {
            display: none;
          }
        }
      }

      .anticipate svg {
        display: none;
      }
    }
  }

  >.main-referentiel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-top: solid 1px #f6f6f6;

    >div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &:not(:first-child) {
        border-left: 3px solid white;
      }

      &:first-child {
        justify-content: flex-start;
        cursor: pointer;

        p {
          font-weight: bold;
          text-align: left;
          width: 100%;
          margin-right: 16px;
        }

        mat-icon {
          margin-right: 8px;
        }

        .help {
          width: 24px;
          min-width: 24px;
          height: 24px;
          border-radius: 24px;
          background-color: #000091;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          margin-right: 8px;

          span {
            font-size: 12px;
            line-height: 12px;
          }
        }
      }

      &.dtes {
        padding-left: 20%;
        justify-content: flex-start;
      }

      &.stock {
        padding-left: 30%;
        justify-content: flex-start;
      }

      mat-icon {
        margin-left: 8px;
        color: #3a3a3a;
      }

      p {
        position: relative;
        font-size: 14px;
        color: #3a3a3a;
      }

      >.block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
      }

      >.etpt-selected {
        display: flex;
        align-self: stretch;
        width: 100%;

        >span {
          flex: 1;
          border-left: 3px solid white;
          display: flex;
          align-items: center;
          justify-content: center;

          &:first-child {
            border-left: none;
          }
        }
      }
    }
  }

  >.childrens {
    background-color: white;

    >aj-referentiel-calculator {
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

p {
  font-size: 14px;
  text-align: center;
  color: utils.$colors-textColorLight;
}

.ref-nr {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  p {
    color: #CE0500 !important;
    font-weight: 300 !important;
    text-align: center;
    width: 100%;
  }
}

.anticipate {
  border: 1px solid #0063CB;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
  border-radius: 62px;
  color: #0063CB;
  height: 38px;
  cursor: pointer;
  margin: 12px;

  p {
    position: relative;
    top: -1px;
    white-space: nowrap;
  }
}

.bg-magistrats {
  background-color: utils.$colors-cbluemiddle;
}

.bg-fonctionnaires {
  background-color: utils.$colors-cpinkmiddle;
}

aj-speedometer {
  width: 70px;
}

.cockpit-down,
.cockpit-up {
  transform: rotate(180deg);
}