<div class="left-side">
  <div class="title">
    <p>
      Evolution des entrées et sorties &nbsp;
      <label
        >{{ startRealValue === '' ? "d'aujourd'hui" : 'du' }}
        {{ startRealValue }} au {{ stopRealValue }}</label
      >
    </p>
  </div>
  <div class="container">
    <div style="width: 100%">
      <canvas
        id="in-out-chart"
        style="height: 250px; width: content-box"
      ></canvas>
      <div id="chartjs-tooltip">
        <div class="popin-title-content">
          <p class="popin-title">
            <b>Effectifs</b> <br />
            à Janvier 2023
          </p>
          <div class="low">Projetés</div>
          <p class="hard">Simulés</p>
          <p class="white">Variation</p>
        </div>
        <div class="popin-raw" style="display: flex">
          <div class="popin-title">
            <div
              _ngcontent-vmx-c83=""
              class="circle"
              style="background-color: #fcc63a"
            ></div>
            <b style="align-self: center"> Entrées</b>
          </div>
          <p class="low-value first">{{ tooltip.projectedIn }}</p>
          <p class="hard-value first">{{ tooltip.simulatedIn }}</p>
          <div class="white-value">
            <div class="rounded-label">
              <label
                >{{
                  getDeltaInPercent(tooltip.simulatedIn, tooltip.projectedIn) ||
                    0
                }}
                %</label
              >
            </div>
          </div>
        </div>
        <div class="popin-raw" style="display: flex">
          <div class="popin-title">
            <div
              _ngcontent-vmx-c83=""
              class="circle"
              style="background-color: #60e0eb"
            ></div>
            <b>Sorties</b> &nbsp;
          </div>
          <p class="low-value">{{ tooltip.projectedOut }}</p>
          <p class="hard-value">{{ tooltip.simulatedOut }}</p>
          <div class="white-value">
            <div class="rounded-label">
              <label
                >{{
                  getDeltaInPercent(tooltip.simulatedIn, tooltip.projectedIn) ||
                    0
                }}
                %</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="right-side">
  <aj-legend-label
    [title]="'projectedIn'"
    [label]="'Entrées (projeté)'"
    [dotColor]="'#fcc63a'"
    [bgColor]="'#feebd0'"
    (value)="display($event)"
  ></aj-legend-label>

  <aj-legend-label
    [title]="'simulatedIn'"
    [label]="'Entrées (simulé)'"
    [dotColor]="'#feebd0'"
    [bgColor]="'#fcc63a'"
    (value)="display($event)"
  ></aj-legend-label>
  <div class="space"></div>
  <aj-legend-label
    [title]="'projectedOut'"
    [label]="'Sorties (projeté)'"
    [dotColor]="'#60e0eb'"
    [bgColor]="'#c7f6fc'"
    (value)="display($event)"
  ></aj-legend-label>

  <aj-legend-label
    [title]="'simulatedOut'"
    [label]="'Sorties (simulé)'"
    [dotColor]="'#c7f6fc'"
    [bgColor]="'#60e0eb'"
    (value)="display($event)"
  ></aj-legend-label>
</div>
