<p><b>{{groupName}}</b></p>
<p>Entrées actuel : {{datasFormated.now.in}} ({{datasFormated.evolution.in * 100}}%)</p>
<p>Stock actuel : {{datasFormated.now.stock}} ({{datasFormated.evolution.stock * 100}}%)</p>
<p>Sorties actuel : {{datasFormated.now.out}}</p>
<p>Entrées avant : {{datasFormated.before.in}}</p>
<p>Stock avant : {{datasFormated.before.stock}}</p>
<p>Sorties avant : {{datasFormated.before.out}}</p>
<p>ETP affectés : {{datasFormated.etpAffected}}</p>
<p>Délai d'attente moyen, en mois : {{datasFormated.averageDelay.month}}</p>
<p>Taux de couverture : {{datasFormated.now.coverageRate * 100}}%</p>
<p>Taux de couverture calculé : {{datasFormated.averageDelay.coverageRateEstimate * 100}}%</p>

<!-- <aj-speedometer></aj-speedometer> -->