<aj-wrapper-no-connected [title]="'Simulateur de vol<br/>pour le pilotage<br/>de votre juridiction'">
  <div class="logo">
    <img src="/assets/icons/bloc-marque/bloc-marque-white@2x.svg" alt="ministère de la justice" />
    <img src="/assets/icons/logos/white-192x192@1x.svg" alt="a-just" />
  </div>
  <aj-back-button routerLink="/" />
  <h3>Qui sommes-nous ?</h3>

  <p>
    <b>A-JUST est un outil d’aide à la décision et de prospective</b>
    conçu pour les équipes de direction des tribunaux judiciaires afin de mettre en relation leurs données d’effectifs
    et d’activité pour leur permettre de
    <b>visualiser et d’anticiper</b>
    leur capacité de traitement des contentieux.
  </p>
  <p>
    Il est le fruit des travaux d’une petite équipe pluridisciplinaire autonome constituée en
    <b>start-up d’État</b>
    portée par l’inspection générale de la Justice, pilotée par l’impact pour les juridictions.
  </p>
  <p>
    Co-construit en mode agile avec ses futurs utilisateurs, ce site connaît des
    <b>évolutions continues</b>
    : nous vous remercions donc de votre indulgence pour les fonctionnalités non encore finalisées et de vos retours
    permettant son amélioration au plus proche de vos besoins !
  </p>
</aj-wrapper-no-connected>
