@use "../../../styles/utils.scss" as utils;

:host {
  display: block;
  position: relative;
  height: 62px;
  width: 41px;
  z-index: 0;

  &.dark-mode>div.white-background {
    visibility: visible;
  }

  &.no-opacity-to-background {
    >div.background-bar {
      opacity: 1;
    }
  }

  .ddg {
    opacity: 1 !important;
    z-index: 1;
    transform: rotate(-45deg);
    position: absolute;
    left: -16px;
    top: 4px;
    font-weight: bold;
    font-size: 7px;
    line-height: 12px;
    width: 50px;
    text-align: center;
    color: utils.$colors-white;
  }

  >div.white-background {
    overflow: hidden;
    background-color: utils.$colors-white;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    visibility: hidden;
  }

  >div {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    border-width: 2px;

    &.readonly {
      opacity: 0.8;
      cursor: not-allowed !important;
    }

    &.seleted {
      cursor: pointer;
    }

    &.progress-bar {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        color: utils.$colors-white;

        &.top {
          position: relative;
          color: utils.$colors-cblack;
          top: -20px;
        }
      }
    }
  }
}