<div class="white-background">
  <div *ngIf="ddg" class="ddg" [style.backgroundColor]="color">DDG</div>
</div>
<div class="background-bar" [style.backgroundColor]="colorOpacity" (click)="changePercent()" [class.seleted]="selected">
</div>
<div class="progress-bar" [style.height.%]="percent && percent > 100 ? 100 : percent || 0"
  [style.backgroundColor]="color" (click)="changePercent()" [class.seleted]="selected">
  <p *ngIf="percent && percent >= 30" class="s inside">
    {{ percent || 0 | number: '.0-2' }}%
  </p>
  <p *ngIf="percent && percent < 30" [style.color]="color" class="s top">
    {{ percent || 0 | number: '.0-2' }}%
  </p>
</div>