@use "../../styles/utils.scss" as utils;

::ng-deep .mdc-list-item__primary-text {
  font-size: 16px !important;
  color: black !important;
}

:host {
  position: relative;
  display: block;
  height: 34px;
  width: 170px;
  border-radius: 4px;
  background-color: utils.$colors-bgSelect;
  border: 1px solid utils.$colors-borderSelect;
  padding: 4px 8px;
  cursor: pointer;

  &.new-fonction {
    border-color: #dddddd;
    display: flex;
    height: 32px;
    padding: 0;
    border: solid 1px #ddd;
    background-color: #fff;

    p {
      margin-right: 7px;
    }

    .title {
      padding: 4px 4px 4px 8px;
      color: #3a3a3a;
      font-size: 14px;
    }

    .value {
      display: none;
    }

    div {
      position: relative;
      left: 0px;
      border-left: solid 1px #dddddd;

      mat-icon {
        margin-left: 0px;
        color: #929292;
        margin: 8px;
      }
    }
  }

  &.large {
    width: auto;
  }

  .bold-family {
    font-weight: bold;
  }

  &.bg-white {
    background-color: white;
  }

  &.dark-mode {
    background-color: utils.$colors-darkModeBgMenu;
    border: 1px solid utils.$colors-darkModeBgMenu;

    p,
    mat-icon {
      color: white;
    }

    p.title {
      color: utils.$colors-headerColor;
    }
  }

  p.title {
    color: utils.$colors-titleSelect;
    white-space: nowrap;
    font-size: 14px;
  }

  div {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    left: -8px;

    p {
      padding-left: 16px;
      white-space: nowrap;
      flex: 1;
      font-weight: bold;
      height: 24px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }
  }

  mat-select {
    position: relative;
  }
}