<div>
  <div class="properties">
    <div class="number-circle">{{currentUser.initials}}</div>
    <label *ngIf="currentUser.firstName!==null && currentUser.lastName!==null">{{currentUser.firstName + ' ' +
      currentUser.lastName}}</label>
    <p *ngIf="commentCreatedAt" class="com-at">{{ compareCommentsDates()? 'Créé ':''}}{{
      compareCommentsDates()? formatDate(commentCreatedAt):capitalize(formatDate(commentCreatedAt)) }}</p>
  </div>
  <p *ngIf="commentUpdatedAt && compareCommentsDates()" class="com-mod">
    (Modifié {{formatDate(commentUpdatedAt)}})</p>

  <div class="panel-content" [ngClass]="{'editing': isEditing}"> <aj-text-editor #editor
      [ngClass]="{'editing': isEditing}" [value]="commentContent || ''" class="no-main-style"
      (valueChange)="updateComment($event)" placeholder="Écrivez un commentaire" [hideToolbar]="true"
      (focusField)="getFocusOn($event)" [previousValue]="valueToReset" [askToModify]="isEditing" (resetField)="reset()"
      [defaultReadOnly]="false"></aj-text-editor>
    <div class="footer-panel" *ngIf="isEditing">
      <div class="unsave" (click)="setOldValue()">Annuler</div>
      <div class="save" (click)="save()">Enregistrer</div>
    </div>
  </div>

  <div class="actions" *ngIf="!isEditing">
    <label class="modify" (click)="getFocusOn(true)">Modifier</label><span class="dot">•</span><label class="delete"
      (click)="removeComment()">Supprimer</label>
  </div>
</div>