<aj-wrapper title="Référentiel">
  <div>
    <input type="checkbox" [(ngModel)]="isJirs" (ngModelChange)="onLoad()" />Afficher les Jirs
  </div>
  <div class="item not-margin">
    <p></p>
    <div class="input">Compter</div>
    <div class="select">Qualité des Entrées</div>
    <div class="select">Qualité des Sorties</div>
    <div class="select">Qualité du Stock</div>
    <div class="input">Url de l'aide</div>
    <div class="select-big">Pour tous</div>
  </div>
  @for (ref of referentiels; track ref) {
    <div>
    <ng-container *ngTemplateOutlet="
            itemTemplate;
            context: {
              $implicit: ref
            }
          "></ng-container>
  </div>
}
</aj-wrapper>

<ng-template #itemTemplate let-items>
  <div class="item">
    <p>({{items.code_import}}) {{items.label}}</p>
    <input type="checkbox" id="compter" name="compter" [(ngModel)]="items.compter"
      (ngModelChange)="onUpdateElement(items, 'compter', $event.target?.checked ? $event.target?.checked : items.compter)" />
    <select #selectIn (change)="onUpdateElement(items, 'valueQualityIn', selectIn.value)">
      <option value="" selected>-</option>
      @for (i of QUALITY_LIST; track i) {
        <option [selected]="i.key === items.valueQualityIn" [value]="i.key">{{i.label}}
        </option>
      }
    </select>
    <select #selectOut (change)="onUpdateElement(items, 'valueQualityOut', selectOut.value)">
      <option value="" selected>-</option>
      @for (i of QUALITY_LIST; track i) {
        <option [selected]="i.key === items.valueQualityOut" [value]="i.key">{{i.label}}
        </option>
      }
    </select>
    <select #selectStock (change)="onUpdateElement(items, 'valueQualityStock', selectStock.value)">
      <option value="" selected>-</option>
      @for (i of QUALITY_LIST; track i) {
        <option [selected]="i.key === items.valueQualityStock" [value]="i.key">{{i.label}}
        </option>
      }
    </select>
    <input placeholder="Url d'aide" [ngModel]="items.helpUrl || ''"
      (ngModelChange)="onUpdateElement(items, 'helpUrl', $event)" />
    <div class="select-big">
      <div
        (click)="onUpdateElement(items, 'onlyToHrBackup', items.backups === null ? [] : null); items.backups = items.backups === null ? [] : null; items.onlyToHrBackup = []">
        <input type="checkbox" [checked]="items.backups !== null ? '': 'checked'" />
        Pour tous
      </div>
      @if (items.backups !== null) {
        <div>
          <aj-select [datas]="backups" [value]="items.onlyToHrBackup || []"
          (valueChange)="onUpdateElement(items, 'onlyToHrBackup', $event)"></aj-select>
        </div>
      }
    </div>
  </div>
  @if (items.childrens) {
    <div class="list">
      @for (item of items.childrens; track item) {
        <div>
      <ng-container *ngTemplateOutlet="
            itemTemplate;
            context: {
              $implicit: item
            }
          "></ng-container>
      </div>
    }
  </div>
}
</ng-template>