<aj-wrapper title="Référentiel">
  <div>
    <input type="checkbox" [(ngModel)]="isJirs" (ngModelChange)="onLoad()" />Afficher les Jirs
  </div>
  <div class="item not-margin">
    <p></p>
    <div class="input">Compter</div>
    <div class="select">Qualité des Entrées</div>
    <div class="select">Qualité des Sorties</div>
    <div class="select">Qualité du Stock</div>
    <div class="input">Url de l'aide</div>
    <div class="select-big">Pour tous</div>
  </div>
  <div *ngFor="let ref of referentiels">
    <ng-container *ngTemplateOutlet="
            itemTemplate;
            context: {
              $implicit: ref
            }
          "></ng-container>
  </div>
</aj-wrapper>

<ng-template #itemTemplate let-items>
  <div class="item">
    <p>({{items.code_import}}) {{items.label}}</p>
    <input type="checkbox" id="compter" name="compter" [(ngModel)]="items.compter"
      (ngModelChange)="onUpdateElement(items.id, 'compter', $event.target?.checked ? $event.target?.checked : items.compter)" />
    <select #selectIn (change)="onUpdateElement(items.id, 'valueQualityIn', selectIn.value)">
      <option value="" selected>-</option>
      <option *ngFor="let i of QUALITY_LIST" [selected]="i.key === items.valueQualityIn" [value]="i.key">{{i.label}}
      </option>
    </select>
    <select #selectOut (change)="onUpdateElement(items.id, 'valueQualityOut', selectOut.value)">
      <option value="" selected>-</option>
      <option *ngFor="let i of QUALITY_LIST" [selected]="i.key === items.valueQualityOut" [value]="i.key">{{i.label}}
      </option>
    </select>
    <select #selectStock (change)="onUpdateElement(items.id, 'valueQualityStock', selectStock.value)">
      <option value="" selected>-</option>
      <option *ngFor="let i of QUALITY_LIST" [selected]="i.key === items.valueQualityStock" [value]="i.key">{{i.label}}
      </option>
    </select>
    <input placeholder="Url d'aide" [ngModel]="items.helpUrl || ''"
      (ngModelChange)="onUpdateElement(items.id, 'helpUrl', $event)" />
    <div class="select-big">
      <div
        (click)="onUpdateElement(items.id, 'onlyToHrBackup', items.backups === null ? [] : null); items.backups = items.backups === null ? [] : null; items.onlyToHrBackup = []">
        <input type="checkbox" [checked]="items.backups !== null ? '': 'checked'" />
        Pour tous
      </div>
      <div *ngIf="items.backups !== null">
        <aj-select [datas]="backups" [value]="items.onlyToHrBackup || []"
          (valueChange)="onUpdateElement(items.id, 'onlyToHrBackup', $event)"></aj-select>
      </div>
    </div>
  </div>
  <div class="list" *ngIf="items.childrens">
    <div *ngFor="let item of items.childrens">
      <ng-container *ngTemplateOutlet="
            itemTemplate;
            context: {
              $implicit: item
            }
          "></ng-container>
    </div>
  </div>
</ng-template>