@use "../../styles/utils.scss";


:host {
  .disable {
    opacity: 0.1;
    cursor: none;
    pointer-events: none;
  }

  button {
    margin-left: 8px;
  }

  #yml {
    width: 100%;
    height: 300px;
  }

  #json {
    height: 300px;
    width: 350px;
    position: relative;
  }

  .textarea {
    display: flex;
    width: 100%;

    .step-2 {
      flex: 1;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;

      button {
        width: 100px;
        margin-top: 18px;
        margin-left: 0px;
      }
    }

    .step-3 {
      width: 400px;
      flex-direction: column;
      display: flex;
      align-items: center;

      aj-select {
        margin: auto;
      }
    }

    .step-4 {
      flex: 1;
      margin-left: 30px;
    }
  }
}