@use '../../styles/utils.scss' as utils;

:host {
  &.flex-center .progression-bar {
    display: flex;
    align-items: center;
  }

  &.height-24 .progression-bar {
    height: 24px;
  }

  .progression-bar {
    width: 100%;

    .bar {
      width: 100%;
      height: 8px;
      border-radius: 4px;
      background-color: utils.$colors-progressionBarBg;
    }

    .level {
      height: 100%;
      border-radius: 4px;
      transition: all 3s ease;
    }

    .rouge {
      background-color: #ce0500;
    }

    .jaune {
      background-color: #ffe552;
    }

    .bleu {
      background-color: #0a76f6;
    }

    .vert {
      background-color: #2fc368;
    }
  }
}