<aj-wrapper-no-connected
  [title]="'Simulateur de vol<br/>pour le pilotage<br/>de votre juridiction'"
  class="small-left-panel"
>
  <div class="logo">
    <img src="/assets/icons/bloc-marque/bloc-marque-white@2x.svg" alt="ministère de la justice" />
    <img src="/assets/icons/logos/white-192x192@1x.svg" alt="a-just" />
  </div>
  <aj-back-button routerLink="/" />
  <h3>Mentions légales</h3>

  <p>Dernière mise à jour le 30 mai 2023</p>

  <h4>Editeur de la Plateforme</h4>
  <p>La Plateforme A-JUST est éditée par le Ministère de la Justice situé 13 Place Vendôme 75001 PARIS.</p>

  <h4>Directeur de la publication</h4>
  <p>La Directrice de la publication est Madame Carine Chevrier, secrétaire générale du Ministère de la Justice.</p>

  <h4>Hébergement de la Plateforme</h4>
  <p>Ce site est hébergé en propre par Scalingo, plateforme française située 3 Pl. de Haguenau 67000 STRASBOURG.</p>
  <p>Scalingo a reçu la qualification SecNumCloud en 2020.</p>

  <h4>Accessibilité</h4>
  <p>
    La conformité aux normes d’accessibilité numérique est un objectif ultérieur mais nous tâchons de rendre ce site
    accessible à toutes et à tous.
  </p>

  <h4>Signaler un dysfonctionnement</h4>
  <p>
    Si vous rencontrez un défaut d’accessibilité vous empêchant d’accéder à un contenu ou une fonctionnalité du site,
    nous vous invitons à nous en faire part. Si vous n’obtenez pas de réponse rapide de notre part, vous êtes en droit
    de faire parvenir vos doléances ou une demande de saisine au Défenseur des droits.
  </p>
  <p><b>En savoir plus</b></p>
  <p>
    Pour en savoir plus sur la politique d’accessibilité numérique de l’État: 
    <a href="http://references.modernisation.gouv.fr/accessibilite-numerique" rel="noreferrer" target="_blank">
      http://references.modernisation.gouv.fr/accessibilite-numerique
    </a>
  </p>

  <h4>Sécurité</h4>
  <p>
    Le site est protégé par un certificat électronique, matérialisé pour la grande majorité des navigateurs par un
    cadenas. Cette protection participe à la confidentialité des échanges. En aucun cas les services associés à la
    plateforme ne seront à l’origine d’envoi de courriels pour demander la saisie d’informations personnelles, autres
    que les données que vous aurez renseignées lors de votre inscription (nom, prénom, e-mail professionnel et
    fonction).
  </p>

  <h4>Responsabilités</h4>
  <p>
    Les informations pré-alimentées par l’équipe A-JUST sur les données d’effectifs et d’activité de chaque tribunal
    judiciaire utilisateur sont issues d’autres logiciels métier du Ministère de la Justice, sans garantie d’exactitude,
    d’actualisation ni d’exhaustivité.
  </p>
  <p>
    Elles sont mises à disposition afin de faciliter la mission de pilotage des équipes de direction des tribunaux
    judiciaires et doivent être régulièrement vérifiées, complétées et corrigées si besoin par les utilisateurs.
  </p>
  <p>
    Les calculs et restitutions opérés sont fournis à titre indicatif : leur fiabilité dépend de la qualité des données
    utilisées, qui suppose ces vérifications régulières.
  </p>
  <p>
    Afin de faciliter ces opérations et de fiabiliser la qualité des informations renseignées ou corrigées manuellement
    par les utilisateurs, un guide méthodologique et des « bulles d’aide » et alertes sur des points particuliers de
    vigilance sont disponibles dans l’outil.
  </p>
  <p>
    L’équipe A-JUST ne saurait donc être tenue pour responsable d’inexactitudes, incomplétudes ou incorrections des
    données utilisées ou restituées ni des conséquences qui pourraient en résulter lors de leur libre exploitation par
    les utilisateurs.
  </p>

  <h4>Gestion des cookies</h4>
  <p>
    Un cookie est un petit fichier texte déposé sur votre terminal (ordinateur, tablette ou mobile) lors de la visite
    d'un site ou lors de la consultation d'une publicité.
  </p>
  <p>
    Il contient plusieurs données : le nom du serveur qui l'a déposé, un identifiant sous forme de numéro unique,
    éventuellement une date d'expiration.
  </p>
  <p>
    Les cookies ont pour but de collecter des informations relatives à votre navigation sur les sites et de vous
    adresser des services personnalisés.
  </p>
  <p>A-JUST ne collecte pas de cookies.</p>
  <p>
    Mais, afin de mieux vous servir et d’améliorer l’expérience utilisateur sur notre site, nous mesurons son audience
    grâce à une solution externe utilisant la technologie des cookies. Les données collectées permettent de fournir
    uniquement des données statistiques de fréquentation (le nombre de pages vues, le nombre de visites, leur fréquence
    de retour...).
  </p>
</aj-wrapper-no-connected>
